.eq-btn-white {
    appearance: none;
    border: none;
    font-family: $font-sans !important;
    background-color: $neutralBase;
    color: $neutral000;
    display: inline-block;
    font-size: rem(15);
    font-weight: 600;
    line-height: calc(20/15);
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: rem(10) rem(20);
    box-shadow: 0 rem(3) rem(5) 0 rgba($neutral000, 0.19);
    transition: all .2s linear;
    cursor: pointer;

    &:hover {
        color: $neutralBase;
        background-color: $neutral000;
    }
}

.eq-btn-black {
    appearance: none;
    border: none;
    font-family: $font-sans;
    background-color: $neutral900;
    color: $neutralBase;
    display: inline-block;
    font-size: rem(15);
    font-weight: 600;
    line-height: calc(20/15);
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: rem(10) rem(20);
    transition: all .2s linear;
    min-width: 200px;
    text-align: center;
    cursor: pointer;

    &:hover {
        color: $neutralBase;
        background-color: $neutral700;
    }
}

.eq-btn-border {
    appearance: none;
    border: 1px solid $neutral000;
    border-radius: 3px;
    font-family: $font-sans !important;
    background-color: transparent;
    color: $neutral000;
    display: inline-block;
    font-size: rem(15);
    font-weight: 600;
    line-height: calc(20/15);
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: rem(10) rem(20);
    transition: all .2s linear;
    cursor: pointer;

    &:hover {
        color: $neutralBase;
        background-color: $neutral000;
    }
}

.eq-btn-block {
    display: block;
    width: 100%;
}

.btn {
    text-decoration: none;
    text-align: center;
}