.eq-slider {

    .owl-prev,
    .owl-next {
        position: absolute;
        top: 50%;
        display: block;
        width: 16px;
        height: 16px;
        border-radius: 0;
        border: none !important;
        border-top: 2px solid $neutral000 !important;
        border-left: 2px solid $neutral000 !important;
        font-size: 0;
        margin-top: -8px;
        &:not(.disabled):hover {
            background: transparent;
            border-color: $magenta;
        }
    }

    .owl-prev {
        left: 5px;
        transform: rotate(-45deg);
    }

    .owl-next {
        right: 5px;
        transform: rotate(135deg);
    }

    .owl-dots {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        text-align: center;
        display: block;
    }

    .owl-dot {
        display: inline-block;
        width: 10px;
        height: 10px;
        border: 1px solid $neutral000;
        border-radius: 50%;

        &:only-child {
            display: none;
        }

        span {
            display: none;
        }

        &.active {
            background: $neutral000;
        }
    }

    .owl-dot + .owl-dot {
        margin-left: 10px;
    }
}