<!-- START: RESPONSIVE IMAGE -->
<picture>
    <source media="(min-width: 768px)" srcset="{{basePath}}{{lang}}/{{src}}" sizes="{{sizes}}" />
    <source srcset="{{basePath}}{{lang}}/{{mobile}}" />
    <img src="{{basePath}}{{lang}}/{{src}}" alt="{{alt}}" {% if class %}class="{{className}}"{% endif %} />
</picture>
<!-- START: RESPONSIVE IMAGE -->