.eq-best-sellers {

    &__title {
        font-family: $font-sans;
        font-size: 24px;
        line-height: calc(28/24);
        text-transform: uppercase;
        margin: 0 auto 30px;
        text-align: center;
    }

}