.eq-categoria-icons {

    &__title {
        margin: 0 auto 20px;
        font-family: $font-sans;
        font-weight: 600;
        font-size: 24px;
        line-height: 1;
        text-align: center;
        text-transform: uppercase;
    }

    .eq-categoria__items {
        list-style: none;
        padding: 0;
        margin: 60px auto;
        grid-row-gap: 20px;
        justify-items: center;

        @include bp(xs) {
            grid-template-columns: repeat(3, 1fr);
            max-width: 300px;
        }

        @include bp(sm) {
            max-width: 750px;
            grid-template-columns: repeat(6, 1fr);
        }
    }

}

.eq-categorias {

    display: grid;

    @include bp(xs) {
        grid-template-rows: auto;
        grid-row-gap: 0;
    }

    @include bp(sm) {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;
    }
}

.eq-categoria {

    &__header {

        position: relative;
        height: 0;

        img,
        h2 {
            position: absolute;
            top: 0;
            left: 0;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        h2 {
            margin: 0;
            font-family: $font-sans;
            font-weight: 700;
            font-size: 36px;
            line-height: calc(38/36);
            z-index: 1;
        }

        @include bp(xs) {
            padding-top: 137%;
            h2 {
                padding: 20px 40px;
            }
        }

        @include bp(sm) {
            padding-top: 39.62%;
            h2 {
                padding: 40px 50px;
                max-width: 400px;
            }
        }

        &--grey {
            background-color: #979797;
        }

        &--brown {
            background-color: #CDA29A;
        }

    }

    & > .eq-categoria__items {

        @include bp(xs) {
            margin: 20px 0;
            grid-auto-flow: column;
            grid-template-rows: 1fr;
            grid-column-gap: 15px;
            overflow: scroll;
            max-width: 100vw;
            padding: 0 20px;
        }

        @include bp(sm) {
            margin: 60px auto;
            grid-template-columns: repeat(4, 1fr);
            grid-row-gap: 20px;
            grid-column-gap: 0;
            max-width: 450px;
        }

    }

}

.eq-categoria__items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;

    > li > a {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: $neutral000;

        &:hover {
            color: inherit;
        }

        img {
            width: 75px;
            height: auto;
            border-radius: 50%;
            overflow: hidden;
        }

        span {
            display: inline-block;
            margin-top: 10px;
            font-family: $font-sans;
            font-weight: 300;
            font-size: 12px;
            line-height: calc(14/12);
            text-align: center;
            text-transform: uppercase;
        }
    }

    @include bp(xs) {
        > li {
            width: 18vw;
            > a > img {  
               width: 100%;
            }
        }
    }

    @include bp(sm) {
        grid-column-gap: 50px; 
    }
}