.eq-check-list {
    padding: 0;
    margin: 0;

    * {
        font-family: $font-sans;
    }

    &__item {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        margin-bottom: 10px;

        @include bp(sm) {
            margin-bottom: 20px;
        }

        > span {
            font-size: 16px;
            font-weight: 200;
            line-height: calc(22/16);
            strong {
                font-weight: 600;
            }

            @include bp(sm) {
                font-size: 20px;
                line-height: calc(24/20);
            }
        }

        .eq-check-pink {
            margin-right: 10px;
            width: 32px;
            height: 30px;

            @include bp(sm) {
                width: 37px;
                height: 35px;
            }
        }
    }
}