.eq-copy {

    text-align: center;
    color: $neutral000;
    padding: 0 10px;

    &__title,
    &__text,
    &__section {
        font-family: $font-sans;
        color: $neutral000;
    }

    *:only-child {
        margin: 0 auto;
    }

    &__title {
        font-weight: 600;
        font-size: 23px;
        line-height: calc(40/36);
        letter-spacing: -.04em;
        margin: 0 auto 10px;

        a {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
            gap: 6px;
            color: inherit;
            &:hover {
                text-decoration: none;
            }
        }

        img {
            width: auto;
            height: 23px;
            aspect-ratio: 1;
        }

        .h {
            color: $orange;
        }

        @include bp(sm) {
            font-size: 32px;
            line-height: calc(36/32);
            margin: 0 auto 10px;

            a {
                gap: 12px;
            }

            img {
                height: 32px;
            }
        }
    }

    &__text {
        font-weight: 200;
        font-size: 16px;
        line-height: calc(22/16);
        max-width: 1000px;
        margin: 0 auto;

        strong,
        a {
            font-family: $font-sans;
            font-weight: 600;
            color: inherit;
        }

        a:hover {
            text-decoration: underline;
        }

        @include bp(sm) {
            font-size: 22px;
            line-height: calc(32/22);
        }
    }

    &__section {
        font-weight: 700;
        font-size: 18px;
        line-height: calc(27/18);
        text-transform: uppercase;
        margin: 0 auto 10px;
        @include bp(sm) {
            font-size: 24px;
            line-height: calc(27/24);
        }
    }

    &__image {
        width: 440px;
        max-width: 100%;
        height: auto;
    }
}

.eq-moneta .eq-copy {
    .eq-copy__title {
        font-family: 'Moneta';
        font-size: 48px;

        @include bp(xs) {
            font-size: 32px;
        }
    }
}