.eq-emociones {
    display: grid;
    list-style: none;
    margin: 0;
    padding: 0;

    @include bp(sm) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 10px;
    }

    &__item {
        position: relative;
        display: flex;
        flex-flow: column nowrap;

        &--alegria-radiante {
            background: #EA5E40;
        }

        &--energia-vital {
            background: #00B683;
        }

        &--seduccion-magnetica {
            background: #73277E;
        }

        &--equilibrio-interior {
            background: #04BFD0;
        }

        .pic {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .content {
            position: relative;
            color: $neutralBase;
            z-index: 1;
            flex: 1;
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;

            .title {
                margin: 0;
                font-family: $font-sans;
                font-weight: 600;
                font-size: 36px;
                line-height: calc(39/36);
                text-transform: uppercase;
            }

            .text {
                margin: 10px auto 30px;
                font-family: $font-sans;
                font-weight: 300;
                font-size: 22px;
            }

            .eq-btn-white {
                margin-top: auto;
            }
        }

        @include bp(xs) {
            .content {
                padding: 30px 20px;
                max-width: 280px;
            }
        }

        @include bp(sm) {
            height: 0;
            padding-top: 78%;

            .content {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                max-width: 340px;
                padding: 30px 50px;

                .text {
                    margin-top: 20px;
                }
            }
        }
    }
}