.eq-footer-landing {

    list-style: none;
    margin: 0;
    padding: 30px 0;
    display: flex;

    &__item {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        padding: 0 10px;

        > * {
            display: block;
        }
    
        span {
            margin-top: 10px;
            font-family: $font-sans;
            font-size: 22px;
            font-weight: 300;
            line-height: calc(24/22);
            text-align: center;
            letter-spacing: -.05em;

            strong {
                display: block;
                font-weight: 600;
            }
        }
    }

    @include bp(xs) {
        flex-flow: column nowrap;

        .eq-footer-landing__item + .eq-footer-landing__item {
            margin-top: 30px;
        }
    }

    @include bp(sm) {
        flex-flow: row nowrap;
        justify-content: space-evenly;
    }
}