.eq-form {
    > * + * {
        margin-top: 10px;
    }

    [type="submit"] {
        margin-top: 30px;
    }
}

.eq-formgroup {

    position: relative;
    line-height: initial;

    &.focused {
        label:not([class]) {
            top: 5px;
            font-size: 13px;
        }

        input[type="text"],
        input[type="email"],
        input[type="tel"] {
            border-color: $neutral000;
            outline: none;
        }
    }

    label:not([class]) {
        display: block;
        position: absolute;
        font-family: $font-sans;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px !important;
        left: 16px;
        top: 17px;
        color: $neutral800;
        transition: all .2s linear;
        pointer-events: none;
        margin: 0 !important;
    }

    label.error {
        color: $red;
        font-family: $font-sans;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px !important;
        margin: 0 !important;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"] {
        appearance: none;
        border: 1px solid $neutral600;
        border-radius: 3px;
        width: 100%;
        height: 50px;
        padding: 20px 16px 4px;
        transition: all .2s linear;
        font-family: $font-sans;
        font-size: 16px;
        line-height: 1;
        &.error {
            border-color: $red;
        }
    }
}

.eq-check {
    position: relative;

    input {
        opacity: 0;
        width: 1em;
        width: 1em;
        position: absolute;
        &:checked ~ label:not([class]):after {
            opacity: 1;
        }
    }

    label:not([class]) {
        display: block;
        padding-left: 25px;
        font-family: $font-sans;
        font-size: 15px;
        line-height: 19px;
        font-weight: 200;
        color: $neutral900;

        &:before {
            content: "";
            display: block;
            width: 19px;
            height: 19px;
            background: $neutralBase;
            position: absolute;
            left: 0;
            border-radius: 3px;
            border: 1px solid $neutral600;
        }

        &:after {
            content: "\2714";
            position: absolute;
            left: 0;
            width: 19px;
            height: 19px;
            line-height: 19px;
            opacity: 0;
            display: inline-flex;
            align-content: center;
            justify-content: center;
            transition: all .2s linear;
            pointer-events: none;
        }

        a {
            color: inherit;
            font-weight: 600;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    label.error {
        color: $red;
        font-family: $font-sans;
        font-size: 13px;
        font-weight: 400;
        line-height: calc(20/13);
        position: absolute;
        left: 0;
        top: 100%;  
    }
}

.eq-radio {
    position: relative;

    input {
        opacity: 0;
        width: 1em;
        width: 1em;
        position: absolute;
        &:checked ~ label:not([class]):after {
            opacity: 1;
        }
    }

    label:not([class]) {
        display: block;
        padding-left: 25px;
        font-family: $font-sans;
        font-size: 15px;
        line-height: 19px;
        font-weight: 200;
        color: $neutral900;
        margin: 0;

        &:before {
            content: "";
            display: block;
            width: 19px;
            height: 19px;
            background: $neutralBase;
            position: absolute;
            left: 0;
            border: 1px solid $neutral600;
            border-radius: 50%;
        }

        &:after {
            content: "";
            position: absolute;
            left: 4px;
            top: 4px;
            width: 11px;
            height: 11px;
            opacity: 0;
            display: inline-flex;
            align-content: center;
            justify-content: center;
            transition: all .2s linear;
            pointer-events: none;
            background: $neutral900;
            border-radius: 50%;
        }
    }

    label.error {
        color: $red;
        font-family: $font-sans;
        font-size: 13px;
        font-weight: 400;
        line-height: calc(20/13);
        position: absolute;
        left: 0;
        top: 100%;  
    }
}

.eq-radiogroup {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    & > * + * {
        margin-left: 15px;
    }

    &__label {
        font-family: $font-sans;
        font-size: 15px;
        line-height: 19px;
        font-weight: 200;
        color: $neutral900;
    }

    label.error {
        white-space: nowrap;
    }
}