.eq-hero {

    &__item {
        position: relative;
        height: 0;

        @include bp(xs) {
            height: calc(100vh - 202px);
            .eq-btn-black {
                margin-top: auto;
                align-self: center;
            }
        }

        @include bp(sm) {
            padding-top: 35%;
            .eq-btn-black {
                align-self: flex-start;
            }
        }
    }

    &__bg,
    &__content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__content {
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        
        @include bp(xs) {
            align-items: stretch;
        }
    }

    &__inner {
        flex: 1;
        width: 1200px;
        max-width: calc(100vw - 20px);
        display: flex;
        flex-flow: column nowrap;
        padding: 20px 30px;
        color: $neutral000;

        @include bp(xs) {
            padding: 20px 20px 60px;
        }
    }

    &__bg {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__title {
        margin: 0;
        font-family: $font-sans;
        font-weight: 700;
        font-size: calc(10px + 5vw);
        line-height: calc(74/72);
        text-transform: uppercase;

        em {
            display: block;
            font-style: inherit;
            font-size: 0.8em;
            color: #F26646;
        }

        @include bp(xs) {
            max-width: 60%;
        }

        @include bp(sm) {
            font-size: 50px;
        }
    }

    &__copy {
        margin: 10px 0 40px;
        font-family: $font-sans;
        font-weight: 300;
        font-size: calc(8px + 4vw);
        line-height: calc(70/64);
        
        @include bp(xs) {
            max-width: 60%;
        }

        @include bp(sm) {
            font-size: 40px;
        }
    }

    &__link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &--alt {

        .eq-hero {

            &__content {
                align-items: flex-end;
            }

            &__inner {
                align-items: center;
                padding: 20px;
                @include bp(sm) {
                    padding: 60px 30px;
                }
            }

            &__title,
            &__copy {
                color: $neutralBase;
                text-align: center;
                max-width: 100%;
            }

            &__copy {
                @include bp(sm) {
                    font-size: 36px;
                }
            }

        }

        [class*="eq-btn"] {
            width: 270px;
            @include bp(sm) {
                width: 400px;
            }
        }

        [class*="eq-arrow"] {
            width: 17px;
            height: 44px;
            margin-top: 20px;
        }

    }
}