.eq-icons {

    &__item {

        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        padding: 0 10px;

        @include bp(sm) {
            padding: 0 20px;
        }

        img {
            display: block;
            height: 45px;
            width: auto !important;
        }

        span {
            margin-top: 20px;
            font-family: $font-sans;
            font-weight: 300;
            font-size: 20px;
            line-height: calc(25/20);
            text-align: center;
        }

    }

}