.eq-legal {

    padding: 0 10px;

    #terms-nav {
        display: none;
        @include bp(sm) {
            display: block;
        }
    }

    @include bp(sm) {
        display: grid;
        grid-template-columns: 200px auto;
        grid-column-gap: 30px;
    }

    @include bp(md) {
        grid-template-columns: 345px auto;
        grid-column-gap: 60px;
    }

    &__content {
        > div#datos-personales {
            counter-reset: section;
            h3::before {
                counter-increment: section;
                content: counter(section) ". ";
            }
        }
        
        > div {
            padding-top: 10px;
        }

        > div + div {
            margin-top: 80px;
        }

        h2,h3,h4,p,ol,ul,li {
            font-family: $font-sans;
            color: $neutral000;
        }

        h2 {
            font-weight: 700;
            font-size: 16px;
            line-height: calc(24/16);
            text-transform: uppercase;
            margin: 0 auto 24px;
        }

        h3 {
            font-weight: 600;
            font-size: 20px;
            line-height: calc(24/20);
            text-transform: uppercase;
            margin: 0 auto 24px;
        }

        p,ol,ul {
            font-size: 16px;
            font-weight: 200;
            line-height: calc(24/16);
            margin: 0 auto 24px;
            strong {
                font-weight: 700;
            }
        }

        ul,ol {
            padding-left: 15px;
            list-style: initial !important;
        }

        ol.abc {
            list-style: lower-alpha !important;
        }
    }

    &__nav {
        margin: 0;
        padding: 15px 30px;
        list-style: none;
        background-color: $salmon;
        align-self: flex-start;

        &.affix {
            position: fixed;
            top: 10px;

            @include bp(sm) {
                width: 200px;
            }
        
            @include bp(md) {
                width: 345px;
            }
        }

        > li {
            display: block;
            width: 100%;
            > a {
                display: block;
                padding: 15px 0;
                font-family: $font-sans;
                font-size: 19px;
                line-height: calc(24/19);
                text-transform: uppercase;
                color: $neutral000;
                text-decoration: none;
                &:hover {
                    background: transparent;
                }
                &:active,
                &:focus {
                    outline: none;
                    background: transparent;
                }
            }

            &.active > a {
                font-weight: 700;
            }
        }

        > li + li {
            border-top: 1px solid $neutral000;
        }
    }

    &__title {
        margin: 0;
        font-family: $font-sans;
        font-weight: 700;
        font-size: 30px;
        text-align: center;
        text-transform: uppercase;

        @include bp(sm) {
            font-size: 40px;
        }
    }

}
