.eq-popup-newsletter {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    background-color: $salmon;
    width: 100%;
    max-width: 726px;
    box-sizing: border-box;

    * {
        box-sizing: border-box;
    }

    &__close {
        position: absolute;
        appearance: none;
        top: 10px;
        right: 10px;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background: transparent;
        color: $neutral000;
        font-family: sans-serif;
        font-size: 32px;
        font-weight: 400;
        line-height: 1;
        padding: 0;
    }

    &__image,
    &__content {
        flex: 0 1 50%;
    }

    &__image {
        img {
            display: block;
            max-width: 100%;
            height: auto;
        }
    }

    &__content {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        padding: 24px;
        text-align: center;

        .title {
            margin: auto auto 30px;
            font-family: $font-sans;
            font-size: 26px;
            font-weight: 700;
            line-height: 1;
            color: $neutral000;
        }

        .text {
            color: $neutral000;
            margin: 0;
            font-family: $font-sans;
            font-size: 20px;
            font-weight: 200;
            line-height: calc(26 / 20);
            strong {
                font-family: $font-sans;
                font-weight: 400;
            }
        }

        .eq-checkboxgroup {
            margin: auto auto 0;
        }

        .eq-check {
            label:not([class]) {
                font-size: 14px !important;
                text-align: left;
                margin: 0;
            }
        }

        .eq-check + .eq-check {
            margin-top: 10px;
        }
    }

    &__wrapper {
        display: none;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 99999;
        background: rgba($neutral000, 0.75);
    }

    @include bp(xs) {
        flex-direction: column;
        max-width: calc(100vw - 20px);
        &__image {
            max-height: 40vh;
            overflow: hidden;
            > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

}

.eq-landing .eq-popup-newsletter {
    [type="submit"] {
        margin: 30px auto 15px;
        width: 100%;
        color: $salmon;
        border-radius: 20px;
        &:hover {
            background-color: $neutralBase;
            color: $neutral000;
        }
    }
}

.eq-popup-newsletter--show {
    overflow: hidden;
    .eq-popup-newsletter__wrapper {
        display: flex;
    }
}