  // Slider "Más vendidos"
  .content-block {
    > .tabbable {
      @include bp(sm) {
        padding: 0 45px;
      }
      
      .product-item {
        text-align: center;
      }

      .product-item-info {
        width: 100%;
        margin: 0 0 10px;
      }

      .product-item-name {
        a {
          color: $neutral000;
          font-family: $font-sans;
          font-size: 17px;
          line-height: calc(22 / 17);
          color: $neutral000;
          &:hover {
            color: $magenta;
          }
        }
      }

      .price-box .price {
        color: $neutral000;
        font-family: $font-sans;
        font-weight: 600;
        font-size: 18px;
        line-height: calc(25 / 18);
      }

      .owl-carousel .owl-nav {
        > div {
          opacity: 1;
          visibility: visible;
          border-color: transparent;
          width: 48px;
          height: 48px;
          line-height: 48px;
          margin-top: -24px;
          i {
            font-size: 48px;
          }

          &:hover {
            background-color: transparent;
            color: $magenta;
          }
        }
        > div.owl-prev {
          left: -48px;
        }
        > div.owl-next {
          right: -48px;
        }
      }

      .owl-stage {
        display: flex;
        > .owl-item {
          display: flex;
          flex-flow: column nowrap;
          > .product-item {
            flex: 1;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;

            > .btn {
              margin-top: auto;
              width: 175px;
              text-align: center;
            }
          }
        }
      }

    }
  }