.eq-refill {
    .eq-refill__item {
        display: grid;

        .pic img {
            display: block;
            max-width: 100%;
            height: auto;
        }

        .title {
            margin: 0;
            font-family: $font-sans;
            &:empty {
                display: none;
            }
        }

        .text {
            margin: 0;
            font-family: $font-sans;
            font-weight: 300;
            line-height: 1;

            strong {
                font-weight: 600;
            }

            em {
                font-weight: 600;
                font-style: normal;
                color: $green;
            }
        }


        .title + .text {
            margin-top: 30px;
        }

        @include bp(xs) {
            grid-template-rows: auto;
            grid-row-gap: 0;

            .content {
                padding: 30px 0 60px;
                width: 100%;
                max-width: calc(100vw - 60px);
                margin: 0 auto;
            }

            .text {
                font-size: 24px;
            }
        }

        @include bp(sm) {
            grid-template-columns: 1fr 1fr;

            .content {
                max-width: 550px;
                margin: 0 auto;
                align-self: center;
                justify-self: center;
            }

            .pic {
                max-width: 540px;
                margin: 0 auto;
            }

            .text {
                font-size: 50px;
            }
        }

        &--1 {
            .title {
                font-weight: 300;
                strong {
                    display: block;
                    font-weight: 700;
                    text-transform: uppercase;
                }
            }

            .text {
                font-weight: 300;
                font-size: 18px;
                strong {
                    margin-bottom: 5px;
                    font-weight: 600;
                    display: block;
                    color: $green;
                }
            }

            @include bp(xs) {
                .title {
                    font-size: 18px;
                    line-height: 1;
                    strong {
                        font-size: 30px;
                    }
                }
            }

            @include bp(sm) {
                .title {
                    font-size: 30px;
                    line-height: 1;
                    strong {
                        font-size: 50px;
                    }
                }

                .text {
                    font-size: 22px;
                    strong {
                        font-size: 30px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}

.eq-refill--single {
    .eq-refill__item {
        @include bp(xs) {
            grid-template-rows: auto;
            grid-row-gap: 0;
        }
    }

    .eq-refill__item--1 {
        .text {
            font-size: 30px;
            strong { color: $neutral000; }
        }

        .small {
            font-family: $font-sans;
            font-size: 22px;
            font-weight: 300;
            line-height: calc(28/22);
        }

        @include bp(xs) {
            .text {
                font-size: 20px;
            }

            .small {
                margin: 10px auto 0;
                font-size: 18px
            }
        }
    }
}