.eq-ventajas {

    display: flex;
    flex-flow: column nowrap;
    list-style: none;
    margin: 0;
    padding: 0;

    @include bp(xs) {
        margin: 0 auto;
        width: 280px;

        .eq-ventajas__item + .eq-ventajas__item {
            margin-top: 16px;
        }
    }

    @include bp(sm) {
        flex-flow: row;
        justify-content: space-evenly;
    }

    &__item {
        & > * {
            display: inline-block;
        }

        span {
            font-family:  $font-sans;
            font-size: 16px;
            line-height: calc(20 / 16);
        }

        img {
            width: auto;
        }

        @include bp(xs) {
            display: grid;
            grid-template-columns: 64px 1fr;

            img {
                height: 16px;
                align-self: center;
                justify-self: center;
                grid-column: unset;
            }

            span:last-child {
                grid-column: unset;
                text-align: unset;
            }
        }

        @include bp(sm) {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
            
            img {
                height: 24px;
                margin-bottom: 16px;
            }
        }

    }

}