// Utilities
// ----------------------------------------------------------------------------

// Unitless function to convert px to em
@function em($pixels, $context: $browser-context) {
    @if (unitless($pixels)) {
        $pixels: $pixels * 1px;
    }
    @if (unitless($context)) {
        $context: $context * 1px;
    }
    @return $pixels / $context * 1em;
}
  
// Unitless function to convert px to rem
@function rem($pixels, $context: $browser-context) {
    // @if (unitless($pixels)) {
    //     $pixels: $pixels * 1px;
    // }
    // @if (unitless($context)) {
    //     $context: $context * 1px;
    // }
    // @return $pixels / $context * 1rem;
    @return $pixels * 1px;
}

// Return z-index layer
@function z($layer) {
    @return map-get($z-layers, $layer);
}

// Layout
// ----------------------------------------------------------------------------
// Layers index map
$z-layers: (
  "top": 9001,
  "high": 8001,
  "over": 7001,
  "default": 1,
  "below": -1,
  "bottom": -9999
);