//
// Responsive Utilities
// ----------------------------------------------------------------------------
@mixin bp($min: 0, $max: 0) {
    $type: type-of($min);
    $base: 16;
  
    @if $type == string {
      $class: $min;
  
      @if $class == xs {
        @media (max-width: $screen-xs-max*1px) {
          @content;
        }
      } @else if $class == sm {
        @media (min-width: $screen-sm*1px) {
          @content;
        }
      } @else if $class == md {
        @media (min-width: $screen-md*1px) {
          @content;
        }
      } @else if $class == lg {
        @media (min-width: $screen-lg*1px) {
          @content;
        }
      } @else if $class == xl {
        @media (min-width: $screen-xl*1px) {
          @content;
        }
      } @else {
        @warn "Breakpoint mixin supports: xs, sm, md, lg, xl";
      }
    } @else if $type == number {
      $query: "all" !default;
  
      @if $min != 0 and $max != 0 {
        $min: em($min, $base);
        $max: em($max, $base);
        $query: "(min-width: #{$min}) and (max-width: #{$max})";
      } @else if $min != 0 and $max == 0 {
        $min: em($min, $base);
        $query: "(min-width: #{$min})";
      } @else if $min == 0 and $max != 0 {
        $max: em($max, $base);
        $query: "(max-width: #{$max})";
      }
  
      @media #{$query} {
        @content;
      }
    }
  }