//
// Define
// ----------------------------------------------------------------------------

// Colors
// ----------------------------------------------------------------------------
$green: #50AF86;
$ivory: #FFEFD9;
$magenta: #F02858;
$red: #CA272C;
$orange: #D05211;
$yellow: #FDEB7F;
$salmon: #F8DCCB;
$gold: #FFD671;

// Grey palette
$neutralBase: #ffffff;
$neutral100: #f9f9fa;
$neutral200: #f4f5f6;
$neutral300: #e5e5e5;
$neutral400: #dfe2e5;
$neutral500: #d4d8dc;
$neutral600: #a9b1b9;
$neutral700: #808080;
$neutral800: #526373;
$neutral900: #222222;
$neutral000: #000000;

// Typography
// ----------------------------------------------------------------------------
$browser-context: 16;

$font-script: 'Playlist Script';
$font-sans: 'Source Sans Pro', sans-serif;

// Layout
// ----------------------------------------------------------------------------
$content-width: 1360;
$gutter-h: 24;
$gutter-v: 30;

// Layers index map
$z-layers: (
  "top": 9001,
  "high": 8001,
  "over": 7001,
  "default": 1,
  "below": -1,
  "bottom": -9999
);

// Responsive breakpoints
$screen-xs: 544;
$screen-sm: 768;
$screen-md: 992;
$screen-lg: 1200;
$screen-xl: 1600;

$screen-xs-min: $screen-xs;
$screen-sm-min: $screen-sm;
$screen-md-min: $screen-md;
$screen-lg-min: $screen-lg;
$screen-xl-min: $screen-xl;

$screen-xs-max: $screen-sm-min - 1;
$screen-sm-max: $screen-md-min - 1;
$screen-md-max: $screen-lg-min - 1;
$screen-lg-max: $screen-xl-min - 1;

$mobile-toggle-breakpoint: $screen-md;
$mobile-toggle-breakpoint-max: $mobile-toggle-breakpoint - 1;