{# home.twig #}
{% set lang="fr" %}
{% set basePath='https://equivalenza.com/landings_media/images/home-xmas-2022/' %}

{% extends 'layouts/default-no-cro.twig' %}

{% block meta %}
    {{ parent() }}
    <title>Home Xmas 2022 - FR</title>
{% endblock %}

{% block content %}

{% include 'components/css-home-fr-xmas-2022.twig' %}

<!-- START: HERO -->
<section class="eq-section eq-section--nopadding">
    <div class="eq-section__inner">
        <div class="eq-xm-hero">
            <div class="eq-xm-hero__pic">
                {% include "common/image.twig" with {
                    alt: '',
                    src: 'magical-xmas/magical-christmas-20221207.png',
                    sizes: '100vw',
                    mobile: 'magical-xmas/res-magical-christmas.jpg'
                } %}
            </div>
            <div class="eq-xm-hero__wrapper">
                <div class="eq-xm-hero__content">
                    <img src="{{basePath}}{{lang}}/magical-xmas/logo-xmas.png" alt="Magical Christmas" class="logo" />
                    <p class="claim">Pour les fêtes, offrez du bonheur et de la magie</p>
                    <p class="text">Des parfums exclusifs à d’incroyables lots de beauté et cosmétique naturelle : trouvez le cadeau parfait parmi une formidable sélection d’idées et faites la différence pour ces fêtes.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END: HERO -->

<!-- START: IDEAS DE REGALO -->
<section class="eq-section eq-section--nopadding eq-section--xmas">
    <div class="eq-section__inner">
        <div class="eq-xm-ideas">
            <div class="eq-xm-ideas__header">
                <p class="title">Cadeaux de Noël</p>
                <!-- <a href="#" class="more">Ver todos los regalos</a> -->
            </div>
            {% include "components/xmas-ideas.twig" with {
                className: 'eq-xm-ideas__cards--col3',
                cards: [
                    {
                        title: 'Pour elle',
                        srcset: {
                            alt: '',
                            src: 'ideas/desktop-para-ella-IT-FR.jpg',
                            sizes: '100vw',
                            mobile: 'ideas/res-para-ella-2.jpg',
                        },
                        btn: {
                            text: 'Ajouter au panier',
                            href: 'https://equivalenza.fr/magical-christmas/pour-elle.html',
                        }
                    },
                    {
                        title: 'Pour lui',
                        srcset: {
                            alt: '',
                            src: 'ideas/desktop-para-el-IT-FR.jpg',
                            sizes: '100vw',
                            mobile: 'ideas/res-para-el-2.jpg',
                        },
                        btn: {
                            text: 'Ajouter au panier',
                            href: 'https://equivalenza.fr/magical-christmas/pour-lui.html',
                        }
                    },
                    {
                        title: 'Cosmétique',
                        srcset: {
                            alt: '',
                            src: 'ideas/desktop-cosmetica-IT-FR.jpg',
                            sizes: '100vw',
                            mobile: 'ideas/res-cosmetica-2.jpg',
                        },
                        btn: {
                            text: 'Ajouter au panier',
                            href: 'https://equivalenza.fr/magical-christmas/pour-se-faire-plaisir.html',
                        }
                    },
                    {
                        title: 'Parfums d\'intérieur',
                        srcset: {
                            alt: '',
                            src: 'ideas/desktop-aromatics-IT-FR.jpg',
                            sizes: '100vw',
                            mobile: 'ideas/res-aromatics-fr.jpg',
                        },
                        btn: {
                            text: 'Ajouter au panier',
                            href: 'https://equivalenza.fr/magical-christmas/pour-la-maison.html',
                        }
                    },
                    {
                        srcset: {
                            alt: '',
                            src: 'ideas/desktop-lessecrets-IT-FR.jpg',
                            sizes: '100vw',
                            mobile: 'ideas/res-lessecrets-2.jpg',
                        },
                        btn: {
                            text: 'Ajouter au panier',
                            href: 'https://equivalenza.fr/magical-christmas/les-secrets.html',
                        }
                    },
                    {
                        srcset: {
                            alt: '',
                            src: 'ideas/desktop-glow-joy-IT-FR.jpg',
                            sizes: '100vw',
                            mobile: 'ideas/res-glow-joy-2.jpg',
                        },
                        btn: {
                            text: 'Ajouter au panier',
                            href: 'https://equivalenza.fr/maquillage/glow-joy.html',
                        }
                    },
                ]
            } %}
        </div>
    </div>
</section>
{% include 'components/copy.twig' with {
    title: 'Cadeaux magiques',
    text: 'Des lots de beauté et de parfum d\'ambiance personnalisés et prêts à offrir',
} %}
<!-- END: IDEAS DE REGALO -->

<!-- START: LES SECRETS -->
<section class="eq-section eq-section--nopadding eq-section--les-secrets">
    <div class="eq-section__inner">
        {% include 'components/xmas-featured.twig' with {
            className: 'eq-xm-featured--les-secrets',
            images: {
                bg: 'les-secrets/les-secrets-bg-optim.jpg',
                bgRes: 'les-secrets/res-lesecrets-optim.jpg',
                title: 'les-secrets/les-secrets-logo.png',
                figure: 'les-secrets/les-secrets-producto-optim.png',
            },
            claim: 'OFFREZ L’EXCLUSIVITÉ AU MEILLEUR PRIX',
            copy: 'Les Secrets. La collection avec laquelle vous ferez toute la différence',
            link: {
                text: 'Découvrez notre gamme premium',
                href: 'https://equivalenza.fr/parfums/les-secrets.html',
            },
            products: [
                {
                    imgSrc: 'les-secrets/product-1-fixed.jpg',
                    title: 'Pack Les Secrets - Parfum 50 ml + 100 ml',
                    price: '51,95',
                    btn: {
                        text: 'Ajouter au panier',
                        href: 'https://equivalenza.fr/pack-les-secrets-perfume-50-ml-100-ml.html',
                    },
                },
                {
                    imgSrc: 'les-secrets/product-2.jpg',
                    title: 'Oud 283',
                    price: '23,95',
                    btn: {
                        text: 'Ajouter au panier',
                        href: 'https://equivalenza.fr/parfums/boise-ambre-283.html',
                    },
                },
                                {
                    imgSrc: 'les-secrets/product-3.jpg',
                    title: 'Fleur d\'oranger 484',
                    price: '23,95',
                    btn: {
                        text: 'Ajouter au panier',
                        href: 'https://equivalenza.fr/parfums/fleur-d-oranger-484.html',
                    },
                },
                {
                    imgSrc: 'les-secrets/product-4.jpg',
                    title: 'Monoi 710',
                    price: '23,95',
                    btn: {
                        text: 'Ajouter au panier',
                        href: 'https://equivalenza.fr/parfum-monoi-710.html',
                    },
                },
                {
                    imgSrc: 'les-secrets/product-5.jpg',
                    title: 'Tonka 584',
                    price: '23,95',
                    btn: {
                        text: 'Ajouter au panier',
                        href: 'https://equivalenza.fr/parfums/tonka-584.html',
                    },
                },
                {
                    imgSrc: 'les-secrets/product-6.jpg',
                    title: 'Cachemire 784',
                    price: '23,95',
                    btn: {
                        text: 'Ajouter au panier',
                        href: 'https://equivalenza.fr/parfums/les-secrets/cachemire-784.html',
                    },
                },
                {
                    imgSrc: 'les-secrets/product-7.jpg',
                    title: 'Cuir 383',
                    price: '23,95',
                    btn: {
                        text: 'Ajouter au panier',
                        href: 'https://equivalenza.fr/parfums/cuir-especiado-383.html',
                    },
                },
            ]
        } %}
    </div>
</section>
<!-- END: LES SECRETS -->

<!-- START: SEARCH -->
{% include 'components/copy.twig' with {
    title: 'DÉCOUVREZ EQUIVALENZA',
    text: 'Des produits uniques à la portée de tous.',
} %}
<section class="eq-section eq-section--nopadding eq-section--search">
    <div class="eq-section__inner">
        <div class="eq-search">
            <div class="eq-search__pic">
                <img src="{{basePath}}{{lang}}/EQZ_01_shorter.jpg" alt="" />
            </div>
            <div class="eq-search__content">
                <p class="title">DES PARFUMS QUI EN DISENT LONG SUR VOUS</p>
                <p class="copy">Nos parfumeurs ont créé plus de 130 parfums inoubliables à partir d’ingrédients de qualité. Trouvez votre parfum préféré dans notre catalogue!</p>
                <ul class="links">
                    <li><a href="https://equivalenza.fr/parfums/femme.html">Parfums pour femme</a></li>
                    <li><a href="https://equivalenza.fr/parfums/homme.html">Parfums pour homme</a></li>
                </ul>
                <form id="eq-search" class="eq-search__form">
                    <fieldset>
                        <legend>Vous êtes fidèle à votre parfum et vous savez quel numéro vous définit. <strong>Trouvez-le ici!</strong></legend>
                        <div class="eq-search__group">
                            <div class="eq-search__field">
                                <input class="form-control" id="searchperfume" name="search" placeholder="Mon numéro est..." type="search">
                                <div class="inner-addon right-addon spinsearchperf" style="display: none;">
                                    <i class="fa fa-spinner fa-pulse"></i>
                                </div>
                                <div class="inner-addon right-addon errorsearchperf" style="display: none; color: red;">
                                    <i class="fa fa-exclamation-circle"></i>
                                </div>
                            </div>
                            <button type="submit">CHERCHER</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- END: SEARCH -->

<!-- START: NOVEDADES -->
{% include 'components/copy.twig' with {
    title: 'NOUVEAUTÉS',
    text: 'Ne manquez pas nos derniers lancements !',
} %}
<section class="eq-section eq-section--nopadding-top">
    <div class="eq-section__inner">
        <div class="eq-new eq-slider owl-carousel">
            <div class="eq-new__item item">
                <a href="https://equivalenza.fr/cosmetique/soin-corporel/body-mist.html"><img src="https://equivalenza.fr/media/wysiwyg/FR/home/MicrosoftTeams-image_49_.png" alt="" /></a>
                <p class="title">NOUVEAUX SPRAYS ILLUMINATEURS !</p>
                <p class="description">Rayonnez en toute occasion ! Ces paillettes subtiles apporteront un éclat rayonnant à votre peau.</p>
                {% include 'common/button-black.twig' with { href: 'https://equivalenza.fr/cosmetique/soin-corporel/body-mist.html', text: 'Découvrir' } %}
            </div>
            <div class="eq-new__item item">
                <a href="https://equivalenza.fr/parfums-d-interieur/mikados.html"><img src="https://equivalenza.fr/media/wysiwyg/FR/home/6-septiembre-mail-1.jpg" alt="" /></a>
                <p class="title">BACK HOME</p>
                <p class="description">Mikados : créez une atmosphère d'harmonie et de détente avec les meilleurs arômes et profitez de votre retour à la maison comme jamais auparavant.</p>
                {% include 'common/button-black.twig' with { href: 'https://equivalenza.fr/parfums-d-interieur/mikados.html', text: 'Découvrir' } %}
            </div>
            <div class="eq-new__item item">
                <a href="https://equivalenza.fr/parfums/les-secrets.html"><img src="https://equivalenza.com/landings_media/images/home/fr/25-MAR_LesSecrets.jpg" alt="" /></a>
                <p class="title">LES SECRETS</p>
                <p class="description">Notre ligne de produits cosmétiques la plus sophistiquée.</p>
                {% include 'common/button-black.twig' with { href: 'https://equivalenza.fr/parfums/les-secrets.html', text: 'Découvrir' } %}
            </div>
        </div>
    </div>
</section>
<!-- END: NOVEDADES -->

<!-- START: GLOW & JOY -->
<section class="eq-section eq-section--nopadding eq-section--glow-joy">
    <div class="eq-section__inner">
        {% include 'components/xmas-featured.twig' with {
            className: 'eq-xm-featured--glow-joy',
            images: {
                bg: 'glow-joy/glow-joy-bg-optim.jpg',
                bgRes: 'glow-joy/glow-joy-res-optim.jpg',
                title: 'glow-joy/glow-joy-logo.png',
                figure: 'glow-joy/glow-joy-girl-optim.png',
                product: 'glow-joy/glow-joy-product.png',
            },
            claim: 'Découvrez le maquillage qui vous fera briller ce Noël',
            link: {
                text: 'Amusez-vous pendant les fêtes en arborant un look éblouissant',
                href: 'https://equivalenza.fr/maquillage/glow-joy.html',
            },
            products: [
                {
                    imgSrc: 'glow-joy/product-1.jpg',
                    title: 'Parfum 100 ml + Rouge à lèvres liquide + Illuminateur',
                    price: '39,95',
                    btn: {
                        text: 'Ajouter au panier',
                        href: 'https://equivalenza.fr/rituel-beaute-pour-elle-parfum-100-ml-lotion-black-label-22.html',
                    },
                },
                {
                    imgSrc: 'glow-joy/product-2.jpg',
                    title: 'Eyeliner + Mascara + Ombre à paupières',
                    price: '29,95',
                    btn: {
                        text: 'Ajouter au panier',
                        href: 'https://equivalenza.fr/rituel-beaute-pour-elle-parfum-100-ml-lotion-black-label-23.html',
                    },
                },
            ]
        } %}
    </div>
</section>
<!-- END: GLOW & JOY -->

<!-- START: ICONS -->
{% include 'components/copy.twig' with {
    text: 'Chez Equivalenza, nous concevons des <strong>produits de qualité</strong> à partir d’<strong>ingrédients naturels</strong>, respectueux de l’environnement et à des prix très <strong>abordables</strong>.',
} %}

{% include 'components/icon-gallery.twig' with {
    items: [
        {
            icon: 'icon-1.png',
            label: 'Récipient réutilisable',
        },
        {
            icon: 'icon-2.png',
            label: 'Éco-conception: packaging minimum',
        },
        {
            icon: 'icon-3.png',
            label: 'Ingrédients d’origine naturelle',
        },
        {
            icon: 'icon-4.png',
            label: 'Des formules qui conviennent aux végans',
        },
        {
            icon: 'icon-5.png',
            label: 'Nous connectons avec vos émotions',
        },
        {
            icon: 'icon-6.png',
            label: 'Nous ne testons pas sur les animaux',
        },
    ],
} %}
<!-- END: ICONS -->

<!-- START: FOOTER -->
{% include 'components/footer-landing.twig' with {
    items: [
        {
            image: {
                src: 'footer-1.png',
                alt: '',
            },
            title: '<strong>98 personnes sur 100</strong> recommanderaient Equivalenza à un ami.',
        },
        {
            image: {
                src: 'footer-2.png',
                alt: '',
            },
            title: '<strong>4,8/5</strong> 38 000 opinions de clients réels.',
        },
        {
            image: {
                src: 'footer-3.png',
                alt: '',
            },
            title: '<strong>500 000</strong> foyers utilisent Equivalenza au quotidien',
        },
    ]
} %}

{% include 'components/ventajas.twig' with {
    items: [
        {
            image: {
                src: 'ventajas-1.png',
                alt: '',
            },
            label: '<strong>Paiement sécurisé</strong>',
        },
        {
            image: {
                src: 'ventajas-3.png',
                alt: '',
            },
            label: '<strong>Envois gratuits à partir de 29,95 €</strong>',
        },
        {
            image: {
                src: 'ventajas-4.png',
                alt: '',
            },
            label: '<strong>Assistance personnalisée</strong>',
        },
    ]
} %}
<!-- END: FOOTER -->

{% include 'components/popup-newsletter.twig' with {
    image: 'popup-newsletter-generic.jpg',
    title: '¡CONSIGUE UN 10% DE DESCUENTO!',
    text: [
        '¿Quieres estar al día de todas nuestras ofertas y novedades?',
        '¡Suscríbete a nuestra <strong>newsletter</strong> ahora y <strong>llévate un 10%</strong> de descuento en tu próxima compra!'
    ],
    form: {
        inputPlaceholder: 'Email',
        button: 'Recibir mi cupón',
    },
    checkboxGroup: [
        {
            id: 'opt-out',
            label: 'No volver a mostrar este mensaje.',
            value: 'opt-out',
        },
    ]
} %}

{% include 'components/scripts-home-fr-xmas-2022.twig' %}

{% endblock %}