{# home-2022.twig #}
{% extends 'layouts/default-no-cro.twig' %}
{% set lang="fr" %}
{% set basePath='https://equivalenza.com/landings_media/images/home/' %}

{% block meta %}
    {{ parent() }}
    <title>Homepage FR 2022</title>
{% endblock %}

{% block content %}

{% include 'components/css-home-fr-2022.twig' %}

<!-- START: GREY BAR -->
<div class="eq-greybar hidden-sm">
    <p class="eq-greybar__shipping">
        <img src="https://equivalenza.com/img_home/iconosenvios/envios_gratis_blanco.png">
        <span><strong>Envois gratuits</strong> à partir de 29,95 € &nbsp;·&nbsp; <strong>Envois</strong> 24h - 72h</span>
    </p>
    <ul class="eq-greybar__links">
        <li><a href="/ouvrez-votre-magasin-equivalenza/">Ouvrez votre magasin</a></li>
        <li><a href="/stores/">Trouvez votre magasin</a></li>
    </ul>
</div>
<!-- END: GREY BAR -->

{% include 'components/hero.twig' with {
    items: [
        {
            srcset: {
                alt: '',
                src: 'BANNER-RUTINA-FR.jpg',
                sizes: '100vw',
                mobile: 'BANNER-RUTINA-FR.jpg'
            },
            link: '/summer.html',
        },       
        {
            srcset: {
                alt: '',
                src: '1920x680_LesSecrets_FR.jpg',
                sizes: '100vw',
                mobile: '1920x680_LesSecrets_FR.jpg'
            },
            link: '/parfums/les-secrets.html',
        },       
    ]
} %}

{% include 'components/copy.twig' with {
    text: 'Chez Equivalenza, nous concevons des <strong>produits de qualité</strong> à partir d’<strong>ingrédients naturels</strong>, respectueux de l’environnement et à des prix très <strong>abordables</strong>.',
} %}

{% include 'components/icon-gallery.twig' with {
    items: [
        {
            icon: 'icon-1.png',
            label: 'Récipient réutilisable',
        },
        {
            icon: 'icon-2.png',
            label: 'Éco-conception: packaging minimum',
        },
        {
            icon: 'icon-3.png',
            label: 'Ingrédients d’origine naturelle',
        },
        {
            icon: 'icon-4.png',
            label: 'Des formules qui conviennent aux végans',
        },
        {
            icon: 'icon-5.png',
            label: 'Nous connectons avec vos émotions',
        },
        {
            icon: 'icon-6.png',
            label: 'Nous ne testons pas sur les animaux',
        },
    ],
} %}

{% include 'components/copy.twig' with {
    title: 'NOUVEAUTÉS',
    text: 'Ne manquez pas nos derniers lancements ! ',
} %}

<!-- START: NOVEDADES -->
<section class="eq-section eq-section--nopadding-top">
    <div class="eq-section__inner">
        <div class="eq-new eq-slider owl-carousel">
            <div class="eq-new__item item">
                <a href="https://equivalenza.fr/huile-pour-le-corps-illuminatrice.html"><img src="{{basePath}}{{lang}}/novedades-1.jpg" alt="" /></a>
                <p class="title">OSEZ BRILLER</p>
                <p class="description">Huile pour le Corps Parfumée effet nacré et hydratante.</p>
                {% include 'common/button-black.twig' with { href: 'https://equivalenza.fr/huile-pour-le-corps-illuminatrice.html', text: 'JE LE VEUX' } %}
            </div>
            <div class="eq-new__item item">
                <a href="https://equivalenza.fr/diffusor-d-aromes-mix-deco-cactus.html"><img src="{{basePath}}{{lang}}/novedades-2.jpg" alt="" /></a>
                <p class="title">DIFFUSOR D'ARÔMES MIX&DECO CACTUS</p>
                <p class="description">Parce que ce diffuseur d'arômes par ultrasons est personnalisable. Utilisez le cache en forme de ananas pour illuminer votre intérieur.</p>
                {% include 'common/button-black.twig' with { href: 'https://equivalenza.fr/diffusor-d-aromes-mix-deco-cactus.html', text: 'JE LE VEUX' } %}
            </div>
            <div class="eq-new__item item">
                <a href="https://equivalenza.fr/parfums/les-secrets.html"><img src="{{basePath}}{{lang}}/25-MAR_LesSecrets.jpg" alt="" /></a>
                <p class="title">LES SECRETS</p>
                <p class="description">Notre ligne de produits cosmétiques la plus sophistiquée.</p>
                {% include 'common/button-black.twig' with { href: 'https://equivalenza.fr/parfums/les-secrets.html', text: 'JE LE VEUX' } %}
            </div>
        </div>
    </div>
</section>
<!-- END: NOVEDADES -->

{% include 'components/copy.twig' with {
    title: 'DÉCOUVREZ EQUIVALENZA',
    text: 'Des produits uniques à la portée de tous.',
} %}

<!-- START: SEARCH -->
<section class="eq-section eq-section--nopadding eq-section--search">
    <div class="eq-section__inner">
        <div class="eq-search">
            <div class="eq-search__pic">
                <img src="{{basePath}}{{lang}}/EQZ_01_shorter.jpg" alt="" />
            </div>
            <div class="eq-search__content">
                <p class="title">DES PARFUMS QUI EN DISENT LONG SUR VOUS</p>
                <p class="copy">Nos parfumeurs ont créé plus de 130 parfums inoubliables à partir d’ingrédients de qualité. Trouvez votre parfum préféré dans notre catalogue!</p>
                <ul class="links">
                    <li><a href="https://equivalenza.fr/parfums/femme.html">Parfums pour femme</a></li>
                    <li><a href="https://equivalenza.fr/parfums/homme.html">Parfums pour homme</a></li>
                </ul>
                <form id="eq-search" class="eq-search__form">
                    <fieldset>
                        <legend>Vous êtes fidèle à votre parfum et vous savez quel numéro vous définit. <strong>Trouvez-le ici!</strong></legend>
                        <div class="eq-search__group">
                            <div class="eq-search__field">
                                <input class="form-control" id="searchperfume" name="search" placeholder="Mon numéro est..." type="search">
                                <div class="inner-addon right-addon spinsearchperf" style="display: none;">
                                    <i class="fa fa-spinner fa-pulse"></i>
                                </div>
                                <div class="inner-addon right-addon errorsearchperf" style="display: none; color: red;">
                                    <i class="fa fa-exclamation-circle"></i>
                                </div>
                            </div>
                            <button type="submit">CHERCHER</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- END: SEARCH -->

<!-- START: CATEGORIES -->
<section class="eq-section">
    <div class="eq-section__inner">
        <div class="eq-categories">
            <div class="eq-categories__inner">
                <a href="https://equivalenza.fr/cosmetique/soin-visage.html" class="eq-categories__item">
                    <img src="{{basePath}}{{lang}}/categorias-1.jpg" alt="" class="eq-categories__pic" />
                    <span class="title">Visage</span>
                </a>
                <a href="https://equivalenza.fr/cosmetique/soin-corporel.html" class="eq-categories__item">
                    <img src="{{basePath}}{{lang}}/categorias-2.jpg" alt="" class="eq-categories__pic" />
                    <span class="title">Corps</span>
                </a>
                <a href="https://equivalenza.fr/parfums-d-interieur.html" class="eq-categories__item">
                    <img src="{{basePath}}{{lang}}/categorias-3.jpg" alt="" class="eq-categories__pic" />
                    <span class="title">Parfum d'Ambiance</span>
                </a>
                <a href="https://equivalenza.fr/maquillage.html" class="eq-categories__item">
                    <img src="{{basePath}}{{lang}}/categorias-4.jpg" alt="" class="eq-categories__pic" />
                    <span class="title">Maquillage</span>
                </a>
                <a href="https://equivalenza.fr/parfums.html" class="eq-categories__item">
                    <img src="{{basePath}}{{lang}}/categorias-5.jpg" alt="" class="eq-categories__pic" />
                    <span class="title">Parfums</span>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- END: CATEGORIES -->

{% include 'components/copy.twig' with {
    title: 'LES PLUS TOP',
    text: 'Voici vos favoris!',
} %}

<!-- START: CAROUSEL PRODUCTOS -->
<div class="eq-section eq-section--nopadding-top">
    <div class="eq-section__inner">
        <div class="eq-product-carousel eq-slider owl-carousel">
            <div class="eq-product-carousel__item item">
                <img src="{{basePath}}{{lang}}/producto-1.jpg" alt="" class="pic" />
                <div class="content">
                    <p class="title">BB Cream illuminatrice teinte moyenne</p>
                    <p class="price">11,95 €</p>
                    <a href="https://equivalenza.fr/bb-cream-illuminatrice-teinte-moyenne.html" class="btn">Ajouter au panier</a>
                </div>
            </div>
            <!-- /.item -->
            <div class="eq-product-carousel__item item">
                <img src="{{basePath}}{{lang}}/producto-2.jpg" alt="" class="pic" />
                <div class="content">
                    <p class="title">Parfum d'intérieur Classic Cologne (Arôme cologne enfantin)</p>
                    <p class="price">6,95 €</p>
                    <a href="https://equivalenza.fr/parfum-d-interieur-arome-cologne-enfantin.html" class="btn">Ajouter au panier</a>
                </div>
            </div>
            <!-- /.item -->
            <div class="eq-product-carousel__item item">
                <img src="{{basePath}}{{lang}}/crema_sedosa2_1.jpg" alt="" class="pic" />
                <div class="content">
                    <p class="title">Crème soyeuse raffermissante</p>
                    <p class="price">16,95 €</p>
                    <a href="https://equivalenza.fr/creme-soyeuse-raffermissante.html" class="btn">Ajouter au panier</a>
                </div>
            </div>
            <!-- /.item -->
            <div class="eq-product-carousel__item item">
                <img src="{{basePath}}{{lang}}/producto-4.jpg" alt="" class="pic" />
                <div class="content">
                    <p class="title">Sérum embellisseur</p>
                    <p class="price">14,95 €</p>
                    <a href="https://equivalenza.fr/serum-embellisseur.html" class="btn">Ajouter au panier</a>
                </div>
            </div>
            <!-- /.item -->
            <div class="eq-product-carousel__item item">
                <img src="{{basePath}}{{lang}}/086_2.jpg" alt="" class="pic" />
                <div class="content">
                    <p class="title">Oriental Floral 086</p>
                    <p class="price">
                        <span class="from">Aussi bas que</span>
                        <span>13,95 €</span>
                    </p>
                    <a href="https://equivalenza.fr/oriental-floral-086.html" class="btn">Ajouter au panier</a>
                </div>
            </div>
            <!-- /.item -->
            <div class="eq-product-carousel__item item">
                <img src="{{basePath}}{{lang}}/144fr.jpg" alt="" class="pic" />
                <div class="content">
                    <p class="title">Oriental Épicé 144</p>
                    <p class="price">
                        <span class="from">Aussi bas que</span>
                        <span>13,95 €</span>
                    </p>
                    <a href="https://equivalenza.fr/oriental-epice-144.html" class="btn">Ajouter au panier</a>
                </div>
            </div>
            <!-- /.item -->
            <div class="eq-product-carousel__item item">
                <img src="{{basePath}}{{lang}}/219_2_1.jpg" alt="" class="pic" />
                <div class="content">
                    <p class="title">Oriental Ambré 219</p>
                    <p class="price">
                        <span class="from">Aussi bas que</span>
                        <span>13,95 €</span>
                    </p>
                    <a href="https://equivalenza.fr/oriental-ambre-219.html" class="btn">Ajouter au panier</a>
                </div>
            </div>
            <!-- /.item -->
            <div class="eq-product-carousel__item item">
                <img src="{{basePath}}{{lang}}/3_167_3_703_rm0832tyegjoyk88.jpg" alt="" class="pic" />
                <div class="content">
                    <p class="title">Boisé Épicé 269</p>
                    <p class="price">
                        <span class="from">Aussi bas que</span>
                        <span>13,95 €</span>
                    </p>
                    <a href="https://equivalenza.fr/boise-epice-269.html" class="btn">Ajouter au panier</a>
                </div>
            </div>
            <!-- /.item -->
        </div>          
    </div>
</div>
<!-- END: CAROUSEL PRODUCTOS -->

{% include 'components/copy.twig' with {
    title: 'NOUVELLE LIGNE DE PRODUITS <span class="h">COSMÉTIQUES</span>',
    text: 'Sensorielle, naturelle et durable.',
} %}

{% include 'components/new-line.twig' with {
    slides: [
        {
            img: {
                src: 'slide-1.jpg',
                alt: '',
            },
            title: 'JOIE RAYONNANTE',
            copy: 'Des textures fraîches et revitalisantes avec le pouvoir et la luminosité de la <span class="highlight">VITAMINE C</span>.',
            products: [
                {
                    img: {
                        src: 'slide-1__1.jpg',
                        alt: '',
                    },
                    title: 'Crème légère rajeunissante',
                    price: '17,95 €',
                    btn: {
                        text: 'Ajouter au panier',
                        href: 'https://equivalenza.fr/creme-legere-rajeunissante.html',
                    },
                },
                {
                    img: {
                        src: 'slide-1__2.jpg',
                        alt: '',
                    },
                    title: 'Sérum illuminateur',
                    price: '15,95 €',
                    btn: {
                        text: 'Ajouter au panier',
                        href: 'https://equivalenza.fr/serum-illuminateur.html',
                    },
                },
                {
                    img: {
                        src: 'slide-1__3.jpg',
                        alt: '',
                    },
                    title: 'Lot de 5 ampoules de 2 ml de Vitamine C et Protéoglycanes',
                    price: '9,95 €',
                    btn: {
                        text: 'Ajouter au panier',
                        href: 'https://equivalenza.fr/pack-de-5-ampoules-de-2ml-a-la-vitamine-c-et-aux-proteoglycanes.html',
                    },
                },
            ]
        },
        {
            img: {
                src: 'slide-2.jpg',
                alt: '',
            },
            title: 'Énergie vitale',
            copy: 'Sentez la protection et la vitalité de l’<span class="highlight highlight--green">ALOE VERA</span> grâce à ses textures légères et énergisantes.',
            products: [
                {
                    img: {
                        src: 'slide-2__1.jpg',
                        alt: '',
                    },
                    title: 'Crème exfoliante détoxifiante pour le corps',
                    price: '11,95 €',
                    btn: {
                        text: 'Ajouter au panier',
                        href: 'https://equivalenza.fr/creme-exfoliante-detoxifiante-pour-le-corps.html',
                    },
                },
                {
                    img: {
                        src: 'slide-2__2.jpg',
                        alt: '',
                    },
                    title: 'Roll-on anti-cellulite détox 75ml',
                    price: '9,45 €',
                    btn: {
                        text: 'Ajouter au panier',
                        href: 'https://equivalenza.fr/roll-on-soin-anti-cellulite-hydratant-75ml.html',
                    },
                },
                {
                    img: {
                        src: 'slide-2__3.jpg',
                        alt: '',
                    },
                    title: 'Nettoyant détoxifiant 3 en 1',
                    price: '7,95 €',
                    btn: {
                        text: 'Ajouter au panier',
                        href: 'https://equivalenza.fr/nettoyant-detoxifiant-3-en-1.html',
                    },
                },
            ]
        },
        {
            img: {
                src: 'slide-3.jpg',
                alt: '',
            },
            title: 'Séduction magnétique',
            copy: 'Des textures onctueuses et nutritives qui renforcent l’intensité nourrissante des <span class="highlight highlight--purple">HUILES ÉLIXIR</span>.',
            products: [
                {
                    img: {
                        src: 'slide-3__1.jpg',
                        alt: '',
                    },
                    title: 'Huile de massage embellissante',
                    price: '9,95 €',
                    btn: {
                        text: 'Ajouter au panier',
                        href: 'https://equivalenza.fr/huile-de-massage-embellissante.html',
                    },
                },
                {
                    img: {
                        src: 'slide-3__2.jpg',
                        alt: '',
                    },
                    title: 'Crème soyeuse raffermissante',
                    price: '16,95 €',
                    btn: {
                        text: 'Ajouter au panier',
                        href: 'https://equivalenza.fr/creme-soyeuse-raffermissante.html',
                    },
                },
                {
                    img: {
                        src: 'slide-3__3.jpg',
                        alt: '',
                    },
                    title: 'Contour des yeux raffermissant',
                    price: '11,95 €',
                    btn: {
                        text: 'Ajouter au panier',
                        href: 'https://equivalenza.fr/contour-des-yeux-raffermissant.html',
                    },
                },
            ]
        },
        {
            img: {
                src: 'slide-4.jpg',
                alt: '',
            },
            title: 'Équilibre intérieur',
            copy: 'Trouvez la quiétude grâce à cette ligne réconfortante qui intensifie la pureté que procure l’<span class="highlight highlight--blue">ACIDE HYALURONIQUE</span>.',
            products: [
                {
                    img: {
                        src: 'slide-4__1.jpg',
                        alt: '',
                    },
                    title: 'Beurre exfoliant pour le corps équilibrant',
                    price: '11,95 €',
                    btn: {
                        text: 'Ajouter au panier',
                        href: 'https://equivalenza.fr/beurre-pour-le-corps-nourrissant.html',
                    },
                },
                {
                    img: {
                        src: 'slide-4__2.jpg',
                        alt: '',
                    },
                    title: 'Crème de douche réconfortante',
                    price: '5,95 €',
                    btn: {
                        text: 'Ajouter au panier',
                        href: 'https://equivalenza.fr/creme-de-douche-reconfortante.html',
                    },
                },
                {
                    img: {
                        src: 'slide-4__3.jpg',
                        alt: '',
                    },
                    title: 'Sérum hydratant aqua bomb',
                    price: '15,95 €',
                    btn: {
                        text: 'Ajouter au panier',
                        href: 'https://equivalenza.fr/serum-hydratant-aqua-bomb.html',
                    },
                },
            ]
        },
    ]
} %}

<section class="eq-section eq-section--green">
    <div class="eq-section__inner">
        <div class="eq-sostenible">
            <div class="eq-sostenible__pic">
                <img src="{{basePath}}{{lang}}/sostenible.jpg" alt="" />
            </div>
            <div class="eq-sostenible__content">
                <p class="title">LA COSMÉTIQUE DU FUTUR <span class="highlight">EST DURABLE</span></p>
                <p class="subtitle">Nous prenons soin de votre peau et de l’environnement.</p>
                <ul class="items">
                    <li>
                        <strong>NATURELLE</strong>
                        <span>Jusqu’à <strong>99 % des ingrédients sont d’origine naturelle</strong> et plus de 80 % des formules conviennent aux végans.</span>
                    </li>
                    <li>
                        <strong>DURABLE</strong>
                        <span>Les <strong>éco-recharges</strong> innovantes pour les pots de crème <strong>réduisent l’utilisation de plastique de près de 90 % à chaque recharge</strong>.</span>
                    </li>
                </ul>
                {% include 'common/button-black.twig' with { href: 'https://equivalenza.fr/cosmetique.html', text: 'DÉCOUVREZ LA COSMÉTIQUE DURABLE' } %}
            </div>
        </div>
    </div>
</section>

{% include 'components/footer-landing.twig' with {
    items: [
        {
            image: {
                src: 'footer-1.png',
                alt: '',
            },
            title: '<strong>98 personnes sur 100</strong> recommanderaient Equivalenza à un ami.',
        },
        {
            image: {
                src: 'footer-2.png',
                alt: '',
            },
            title: '<strong>4,8/5</strong> 38 000 opinions de clients réels.',
        },
        {
            image: {
                src: 'footer-3.png',
                alt: '',
            },
            title: '<strong>500 000</strong> foyers utilisent Equivalenza au quotidien',
        },
    ]
} %}

{% include 'components/ventajas.twig' with {
    items: [
        {
            image: {
                src: 'ventajas-1.png',
                alt: '',
            },
            label: '<strong>Paiement sécurisé</strong>',
        },
        {
            image: {
                src: 'ventajas-3.png',
                alt: '',
            },
            label: '<strong>Envois gratuits à partir de 29,95 €</strong>',
        },
        {
            image: {
                src: 'ventajas-4.png',
                alt: '',
            },
            label: '<strong>Assistance personnalisée</strong>',
        },
    ]
} %}

{% include 'components/popup-newsletter.twig' with {
    image: 'popup-newsletter-generic.jpg',
    title: 'OBTENEZ 10% DE RÉDUCTION !',
    text: [
        'Vous voulez être au courant de toutes nos offres et nouveautés ?',
        'Inscrivez-vous à notre <strong>newsletter</strong> maintenant et <strong>bénéficiez de 10%</strong> de réduction lors de votre prochain achat!'
    ],
    form: {
        inputPlaceholder: 'Email',
        button: 'Recevoir mon bon de réduction',
    },
    checkboxGroup: [
        {
            id: 'opt-out',
            label: 'Ne plus afficher ce message.',
            value: 'opt-out',
        },
    ]
} %}

{% include 'components/scripts-home-fr-2022.twig' %}

{% endblock %}
