{# landing-cosmetica.twig #}
{% extends 'layouts/default-no-cro.twig' %}
{% set lang="fr" %}

{% block meta %}
    {{ parent() }}
    <title>Homepage FR</title>
{% endblock %}

{% block content %}

{% include 'components/css-home-fr.twig' %}

{% include 'components/hero.twig' with {
    items: [
        {
            srcset: {
                alt: '',
                src: 'home/1920x680_BannerCactus_DESKTOP_FR.jpg',
                sizes: '100vw',
                mobile: 'home/1920x680_BannerCactus_DESKTOP_FR.jpg'
            },
            link: '/parfums-d-interieur.html',
        },       
        {
            srcset: {
                alt: '',
                src: 'home/1920x680_RealGlow_FR.jpg',
                sizes: '100vw',
                mobile: 'home/1200X1200_RealGlow_FR.jpg'
            },
            link: '/maquillage/real-glow.html',
        },       
    ]
} %}


{% include 'components/copy.twig' with {
    className: 'eq-section--narrow',
    text: 'EQUIVALENZA conçoit des produïts <strong>naturels, sans substances toxiques et durables</strong> à des <strong>prix très abordables</strong>.',
} %}

{% include 'components/icon-grid.twig' with {
    items: [
        {
            icon: 'home/icon-2.png',
            label: 'Écoconception: packaging minimum',
        },
        {
            icon: 'home/icon-3.png',
            label: 'Des ingrédients durables',
        },
        {
            icon: 'home/icon-4.png',
            label: 'Des formules d\'origine végétale',
        },
        {
            icon: 'home/icon-5.png',
            label: 'Nous connectons avec vos émotions',
        },
    ],
} %}

{% include 'components/footer-landing.twig' with {
    items: [
        {
            image: {
                src: 'home/footer-1.png',
                alt: '',
            },
            title: '<strong>98 personnes sur 100</strong> recommanderaient Equivalenza à un ami.',
        },
        {
            image: {
                src: 'home/footer-2.png',
                alt: '',
            },
            title: '<strong>4,8/5</strong> 38 000 opinions de clients réels.',
        },
        {
            image: {
                src: 'home/footer-3.png',
                alt: '',
            },
            title: '<strong>500 000</strong> foyers utilisent Equivalenza au quotidien',
        },
    ]
} %}

{% include 'components/ventajas.twig' with {
    items: [
        {
            image: {
                src: 'home/ventajas-1.png',
                alt: '',
            },
            label: '<strong>Paiement sécurisé</strong>',
        },
        {
            image: {
                src: 'home/ventajas-3.png',
                alt: '',
            },
            label: '<strong>Envois gratuits à partir de 29,95 €</strong>',
        },
        {
            image: {
                src: 'home/ventajas-4.png',
                alt: '',
            },
            label: '<strong>Assistance personnalisée</strong>',
        },
    ]
} %}

{% include 'components/scripts-home-fr.twig' %}

{% endblock %}
