{# landing-cosmetica.twig #}
{% extends 'layouts/default-no-cro.twig' %}
{% set lang="fr" %}

{% block meta %}
    {{ parent() }}
    <title>Homepage FR</title>
{% endblock %}

{% block content %}

{% include 'components/css-home-fr.twig' %}

{% include 'components/hero.twig' with {
    items: [
        {
            srcset: {
                alt: '',
                src: 'home/hero-1.jpg',
                sizes: '100vw',
                mobile: 'home/hero-1--mobile.jpg'
            },
            link: '#',
        },       
    ]
} %}

<!-- START: BANNERS -->
<section class="eq-section eq-section--nopadding-bottom">
    <div class="eq-section__inner">
        <div class="eq-banners">
            <div class="eq-banners__item">
                <a href="#">
                    {% include 'common/image.twig' with {
                        alt: '',
                        src: 'home/banner-1.jpg',
                        sizes: '100vw',
                        mobile: 'home/banner-1--mobile.jpg'
                    }%}
                </a>
            </div>
            <div class="eq-banners__item">
                <a href="#">
                    {% include 'common/image.twig' with {
                        alt: '',
                        src: 'home/banner-2.jpg',
                        sizes: '100vw',
                        mobile: 'home/banner-2--mobile.jpg'
                    }%}
                </a>
            </div>
        </div>
    </div>
</section>
<!-- END: BANNERS -->

{% include 'components/copy.twig' with {
    className: 'eq-section--narrow',
    text: 'EQUIVALENZA conçoit des produïts <strong>naturels, sans substances toxiques et durables</strong> à des <strong>prix très abordables</strong>.',
} %}

{% include 'components/icon-grid.twig' with {
    items: [
        {
            icon: 'home/icon-2.png',
            label: 'Écoconception: packaging minimum',
        },
        {
            icon: 'home/icon-3.png',
            label: 'Des ingrédients durables',
        },
        {
            icon: 'home/icon-4.png',
            label: 'Des formules d\'origine végétale',
        },
        {
            icon: 'home/icon-5.png',
            label: 'Nous connectons avec vos émotions',
        },
    ],
} %}

<!-- START: CATEGORIES -->
<section class="eq-section">
    <div class="eq-section__inner">
        <div class="eq-categories">
            <div class="eq-categories__inner">
                <a href="#" class="eq-categories__item">
                    <img src="{{basePath}}{{lang}}/home/categoria-1.jpg" alt="" class="pic" />
                    <span class="text">Pdte traducir</span>
                </a>
                <a href="#" class="eq-categories__item">
                    <img src="{{basePath}}{{lang}}/home/categoria-2.jpg" alt="" class="pic" />
                    <span class="text">Pdte traducir</span>
                </a>
                <a href="#" class="eq-categories__item">
                    <img src="{{basePath}}{{lang}}/home/categoria-3.jpg" alt="" class="pic" />
                    <span class="text">Pdte traducir</span>
                </a>
                <a href="#" class="eq-categories__item">
                    <img src="{{basePath}}{{lang}}/home/categoria-4.jpg" alt="" class="pic" />
                    <span class="text">Pdte traducir</span>
                </a>
                <a href="#" class="eq-categories__item">
                    <img src="{{basePath}}{{lang}}/home/categoria-5.jpg" alt="" class="pic" />
                    <span class="text">Pdte traducir</span>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- END: CATEGORIES -->

{% include 'components/copy.twig' with {
    section: 'Les essentiels d\'automne',
} %}

<!-- START: CAROUSEL PRODUCTOS -->
<div class="eq-section eq-section--nopadding-top">
    <div class="eq-section__inner">
        <div class="eq-product-carousel eq-slider owl-carousel">
            <div class="eq-product-carousel__item item">
                <img src="{{basePath}}{{lang}}/home/producto-1.jpg" alt="" class="pic" />
                <div class="content">
                    <p class="title">BB Cream iluminante de tom médio</p>
                    <p class="price">9,95 €</p>
                    <a href="#" class="btn">Acheter</a>
                </div>
            </div>
            <!-- /.item -->
            <div class="eq-product-carousel__item item">
                <img src="{{basePath}}{{lang}}/home/producto-2.jpg" alt="" class="pic" />
                <div class="content">
                    <p class="title">Ambientador spray Classic Cologne (limão e tangerina)</p>
                    <p class="price">6,95 €</p>
                    <a href="#" class="btn">Acheter</a>
                </div>
            </div>
            <!-- /.item -->
            <div class="eq-product-carousel__item item">
                <img src="{{basePath}}{{lang}}/home/producto-3.jpg" alt="" class="pic" />
                <div class="content">
                    <p class="title">Creme hidratante 24h</p>
                    <p class="price">11,95 €</p>
                    <a href="#" class="btn">Acheter</a>
                </div>
            </div>
            <!-- /.item -->
            <div class="eq-product-carousel__item item">
                <img src="{{basePath}}{{lang}}/home/producto-4.jpg" alt="" class="pic" />
                <div class="content">
                    <p class="title">Sérum de beleza</p>
                    <p class="price">13,95 €</p>
                    <a href="#" class="btn">Acheter</a>
                </div>
            </div>
            <!-- /.item -->
        </div>          
    </div>
</div>
<!-- END: CAROUSEL PRODUCTOS -->

<section class="eq-section eq-section--grey eq-section--nopadding">
    <div class="eq-section__inner">
        {% include 'components/copy.twig' with {
            section: 'À ne pas manquer!',
        } %}
        <div class="eq-featured eq-slider owl-carousel">
            <div class="eq-featured__item item">
                <a href="#"><img src="{{basePath}}{{lang}}/home/dontmissit-1.jpg" alt="" /></a>
                <div class="content">
                    <p class="title">Pdte contenido</p>
                    <p class="text">Pdte contenido</p>
                    {% include 'common/button-black.twig' with {
                        href: '#',
                        text: 'Pendiente cta',
                    } %}
                </div>
            </div><!-- /.item -->
            <div class="eq-featured__item item">
                <a href="#"><img src="{{basePath}}{{lang}}/home/dontmissit-2.jpg" alt="" /></a>
                <div class="content">
                    <p class="title">Détoxifiez-vous</p>
                    <p class="text">Redonnez à votre peau tout son éclat en 10 minutes.</p>
                    {% include 'common/button-black.twig' with {
                        href: '#',
                        text: 'Pendiente cta',
                    } %}
                </div>
            </div><!-- /.item -->
            <div class="eq-featured__item item">
                <a href="#"><img src="{{basePath}}{{lang}}/home/dontmissit-3.jpg" alt="" /></a>
                <div class="content">
                    <p class="title">Pdte contenido</p>
                    <p class="text">Pdte contenido</p>
                    {% include 'common/button-black.twig' with {
                        href: '#',
                        text: 'Pendiente cta',
                    } %}
                </div>
            </div><!-- /.item -->
        </div>
    </div>
</section>

{% include 'components/copy.twig' with {
    section: 'Les plus vendus',
} %}

<!-- START: CAROUSEL PRODUCTOS -->
<div class="eq-section eq-section--nopadding-top">

    <div class="eq-section__inner">
        <div class="eq-product-carousel eq-slider owl-carousel">
            <div class="eq-product-carousel__item item">
                <img src="{{basePath}}{{lang}}/home/producto-1.jpg" alt="" class="pic" />
                <div class="content">
                    <p class="title">BB Cream iluminante de tom médio</p>
                    <p class="price">9,95 €</p>
                    <a href="#" class="btn">Acheter</a>
                </div>
            </div>
            <!-- /.item -->
            <div class="eq-product-carousel__item item">
                <img src="{{basePath}}{{lang}}/home/producto-2.jpg" alt="" class="pic" />
                <div class="content">
                    <p class="title">Ambientador spray Classic Cologne (limão e tangerina)</p>
                    <p class="price">6,95 €</p>
                    <a href="#" class="btn">Acheter</a>
                </div>
            </div>
            <!-- /.item -->
            <div class="eq-product-carousel__item item">
                <img src="{{basePath}}{{lang}}/home/producto-3.jpg" alt="" class="pic" />
                <div class="content">
                    <p class="title">Creme hidratante 24h</p>
                    <p class="price">11,95 €</p>
                    <a href="#" class="btn">Acheter</a>
                </div>
            </div>
            <!-- /.item -->
            <div class="eq-product-carousel__item item">
                <img src="{{basePath}}{{lang}}/home/producto-4.jpg" alt="" class="pic" />
                <div class="content">
                    <p class="title">Sérum de beleza</p>
                    <p class="price">13,95 €</p>
                    <a href="#" class="btn">Acheter</a>
                </div>
            </div>
            <!-- /.item -->
        </div>          
    </div>
</div>
<!-- END: CAROUSEL PRODUCTOS -->

<!-- START: SUBSCRIBE FORM -->
<div class="eq-section eq-section--salmon">
    <div class="eq-section__inner">
        <div class="eq-subscribe-form">
            <div class="eq-subscribe-form__copy">
                <p class="eq-subscribe-form__title">Inscrivez-vous et obtenez 5 € de réduction!</p>
                <p class="eq-subscribe-form__text">Inscrivez-vous et nous vous tiendrons au courant des nouveautés et des réductions</p>
            </div>
            <form class="eq-subscribe-form__form" novalidate="novalidate" action="https://equivalenza.com/es/subscribe/" method="get" id="eq-laraform-form">
                <input type="hidden" name="referer" value="fr">
                <input name="email" type="email" id="email" placeholder="Email">
                <button type="submit">Subscribe</button>       
            </form> 
        </div>
    </div>
</div>
<!-- END: SUBSCRIBE FORM -->

{% include 'components/footer-landing.twig' with {
    items: [
        {
            image: {
                src: 'home/footer-1.png',
                alt: '',
            },
            title: '<strong>98 personnes sur 100</strong> recommanderaient Equivalenza à un ami.',
        },
        {
            image: {
                src: 'home/footer-2.png',
                alt: '',
            },
            title: '<strong>4,8/5</strong> 38 000 opinions de clients réels.',
        },
        {
            image: {
                src: 'home/footer-3.png',
                alt: '',
            },
            title: '<strong>500 000</strong> foyers utilisent Equivalenza au quotidien',
        },
    ]
} %}

{% include 'components/ventajas.twig' with {
    items: [
        {
            image: {
                src: 'home/ventajas-1.png',
                alt: '',
            },
            label: '<strong>Paiement sécurisé</strong>',
        },
        {
            image: {
                src: 'home/ventajas-3.png',
                alt: '',
            },
            label: '<strong>Envois gratuits à partir de 29,95 €</strong>',
        },
        {
            image: {
                src: 'home/ventajas-4.png',
                alt: '',
            },
            label: '<strong>Assistance personnalisée</strong>',
        },
    ]
} %}

{% include 'components/scripts-home-fr.twig' %}

{% endblock %}
