{# landing-cosmetica.twig #}
{% extends 'layouts/default-no-cro.twig' %}
{% set lang="fr" %}
{% set basePath='https://equivalenza.com/landings_media/images/franquicias/' %}

{% block meta %}
    {{ parent() }}
    <title>Landing Franquicias (FR)</title>
{% endblock %}

{% block content %}

{% include 'components/css-landing-franquicias-fr.twig' %}

{% include 'components/hero.twig' with {
    className: 'eq-hero--alt',
    items: [
        {
            title: 'Ouvrez votre magasin Equivalenza',
            text: 'Rejoignez une chaîne leader de la parfumerie et des cosmétiques',
            srcset: {
                alt: '',
                src: 'hero-franquicias.jpg',
                sizes: '100vw',
                mobile: 'hero-franquicias--mobile.jpg'
            },
            button: {
                href: '#trouver',
                text: 'Trouver',
            },
        },     
    ]
} %}

{% include 'components/copy.twig' with {
    text: 'Chez Equivalenza, nous sommes spécialistes des <strong>parfums, cosmétiques</strong> et <strong> parfums</strong> d\'intérieur <strong>de la plus haute qualité</strong> fabriqués avec des <strong>ingrédients naturels</strong>, respectueux de l\'environnement et étonnamment <strong>abordables</strong>.',
} %}

<!-- START: ICON GALLERY -->
<section class="eq-section eq-section--nopadding-top eq-section--nopadding-bottom">
    <div class="eq-section__inner">
        <div class="eq-fr-icons">
            <div class="eq-fr-icons__item">
                {% include "common/icon-inversion.twig" %}
                <span>Investissement à partir de <strong>30.000€</strong></span>
            </div>
            <div class="eq-fr-icons__item">
                {% include "common/icon-rentabilidad.twig" %}
                <span>Modèle économique consolidé à <strong>forte rentabilité</strong></span>
            </div>
            <div class="eq-fr-icons__item">
                {% include "common/icon-tiendas.twig" %}
                <span>Plus de <strong>600 magasins</strong> dans <strong>22 pays</strong> et <strong>75M€</strong> de CA</span>
            </div>
        </div>
    </div>
</section>
<!-- END: ICON GALLERY -->

<!-- START: BANNER -->
<section class="eq-section">
    <div class="eq-section__inner">
        <div class="eq-fr-banner-cta">
            <div class="eq-fr-banner">
                <span class="eq-fr-banner__copy"><span>Nº<strong>1</strong></span> en Espagne de la parfumerie monomarque par zone commerciale </span>
                <span class="eq-fr-banner__small">(Magazine Alimarket, avril 2019)</span>
            </div>
            {% include "common/button-border.twig" with {
                href: '#trouver',
                text: 'Il fait partie de notre équipe',
            } %}
            {% include "common/arrow-black.twig" %}
        </div>
    </div>
</section>
<!-- END: BANNER -->

<!-- START: LARA -->
<section class="eq-section eq-section--grey eq-section--nopadding-top eq-section--nopadding-bottom">
    <div class="eq-section__inner">
        <div class="eq-fr-lara">
            <div class="eq-fr-lara__col eq-fr-lara__col--1">
                <img class="logo-equivalenza" src="https://equivalenza.com/pub/media/logo/default/logoequivalenza.png" alt="Equivalenza" />
                <p class="eq-fr-lara__title">La révolution dans<br />parfum et cosmétique</p>
                <p class="eq-fr-lara__copy"><strong>Nous avons fondé Equivalenza en 2011 pour révolutionner le monde de la parfumerie:</strong> nous voulions mettre à la disposition de tous des parfums de haute qualité à des prix abordables.</p>
            </div><!-- /.eq-fr-lara__col -->
            <div class="eq-fr-lara__col eq-fr-lara__col--2">
                <img src="{{basePath}}franquicias-generica.jpg" alt="" />
            </div><!-- /.eq-fr-lara__col -->
            <div class="eq-fr-lara__col eq-fr-lara__col--3">
                <div id="more-info">
                    <p class="eq-fr-lara__copy">De plus, <strong>soucieux de l'environnement</strong>, nous encourageons depuis nos débuts la réutilisation <strong>du contenant en verre</strong> de nos plus de <strong>130 parfums</strong>.</p>
                    <p class="eq-fr-lara__copy">Cette philosophie basée sur la <strong>plus haute qualité et le souci de la planète</strong> continue d'être à la base des nouvelles lignes de produits cosmétiques que nous avons intégrées ces dernières années.</p>
                </div>
                <a href="#more-info" class="toggle">Lire la suite</a>
            </div><!-- /.eq-fr-lara__col -->
        </div>
    </div>
</section>
<!-- END: LARA -->

<!-- START: MOTIVOS -->
<section class="eq-section eq-section--nopadding-xs">
    <div class="eq-section__inner">
        <div class="eq-fr-motivos">
            <p class="eq-fr-motivos__title">VOUS VOULEZ OUVRIR UNE FRANCHISE EQUIVALENZA POUR...</p>
            <div class="eq-fr-motivos__slider eq-slider owl-carousel">
                <div class="eq-fr-motivos__items item">
                    <div class="eq-fr-motivo sostenibilidad">
                        <div class="eq-fr-motivo__content">
                            <div class="eq-fr-motivo__header">
                                <div class="inner">
                                    {% include "common/icon-sostenibilidad.twig" %}
                                    <p class="eq-fr-motivo__title" data-to="1">Durabilité</p>
                                    <p class="eq-fr-motivo__copy">Un modèle d'affaires respectueux de l'environnement</p>
                                </div>
                                {% include "common/image.twig" with {
                                    src: 'franquicias-motivo-1.jpg',
                                    sizes: '100vw',
                                    mobile: 'franquicias-motivo-1--mobile.png'
                                } %}
                            </div>
                            <a href="#toggle-1" class="toggle hidden-sm"></a>
                            <div id="toggle-1" class="toggable hidden-sm">
                                <p class="eq-fr-motivo__copy ">La société apprécie de plus en plus les  <strong>politiques responsables</strong> des marques lors de ses achats, et même l'utilisation d'emballages <strong>plus durables</strong>. C'est précisément la philosophie de notre modèle d'affaires:</p>
                                <ul class="eq-fr-motivo__list">
                                    <li>
                                        {% include "common/check-pink.twig" %}
                                        <span><strong>Vente de produit en vrac</strong></span>
                                    </li>
                                    <li>
                                        {% include "common/check-pink.twig" %}
                                        <span>Cosmétique avec <strong>système de recharge</strong></span>
                                    </li>
                                    <li>
                                        {% include "common/check-pink.twig" %}
                                        <span><strong>Nous ne testons pas sur les animaux</strong></span>
                                    </li>
                                    <li>
                                        {% include "common/check-pink.twig" %}
                                        <span><strong>Nous évitons les produits chimiques nuisibles</strong></span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div><!-- /.eq-fr-motivo -->
                    <div class="eq-fr-motivo smart">
                        <div class="eq-fr-motivo__content">
                            <div class="eq-fr-motivo__header">
                                <div class="inner">
                                    {% include "common/icon-smartchoice.twig" %}
                                    <p class="eq-fr-motivo__title" data-to="2">Choix intelligent</p>
                                    <p class="eq-fr-motivo__copy">Des produits d'excellente qualité à des prix accessibles</p>
                                </div>
                                {% include "common/image.twig" with {
                                    src: 'franquicias-motivo-2.jpg',
                                    sizes: '100vw',
                                    mobile: 'franquicias-motivo-2--mobile.jpg'
                                } %}
                            </div>
                            <a href="#toggle-2" class="toggle hidden-sm"></a>
                            <div id="toggle-2" class="toggable hidden-sm">
                                <p class="eq-fr-motivo__copy">Nous visons l'<strong>excellence</strong> dans nos produits et nos processus, tout en maintenant des <strong>prix abordables</strong>.</p>
                                <ul class="eq-fr-motivo__list">
                                    <li>
                                        {% include "common/check-pink.twig" %}
                                        <span>Nous investissons dans <strong>la recherche, le développement et l'innovation</strong>.</span>
                                    </li>
                                    <li>
                                        {% include "common/check-pink.twig" %}
                                        <span>Nous nous entourons de professionnels et de fournisseurs qui sont fidèles à nos  <strong>normes de qualité</strong>.</span>
                                    </li>
                                    <li>
                                        {% include "common/check-pink.twig" %}
                                        <span>Nous nous conformons aux critères de l'International Fragrance Association pour une <strong>utilisation sûre des parfums.</strong>.</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- /.eq-fr-motivo -->
                    <div class="eq-fr-motivo empatia">
                        <div class="eq-fr-motivo__content">
                            <div class="eq-fr-motivo__header">
                                <div class="inner">
                                    {% include "common/icon-empatia.twig" %}
                                    <p class="eq-fr-motivo__title" data-to="3">Empathie</p>
                                    <p class="eq-fr-motivo__copy">Nous nous engageons vis-à-vis de nos clients et de nos franchisés</p>
                                </div>
                                {% include "common/image.twig" with {
                                    src: 'franquicias-motivo-3.jpg',
                                    sizes: '100vw',
                                    mobile: 'franquicias-motivo-3--mobile.jpg'
                                } %}
                            </div>
                            <a href="#toggle-3" class="toggle hidden-sm"></a>
                            <div id="toggle-3" class="toggable hidden-sm">
                                <p class="eq-fr-motivo__copy">Nous offrons à nos franchisés tout ce dont ils ont besoin à tout moment: du lancement de la franchise à sa gestion quotidienne.</p>
                                <ul class="eq-fr-motivo__list">
                                    <li>
                                        {% include "common/check-pink.twig" %}
                                        <span><strong>Soutien</strong> par l'intermédiaire de notre département de service clientèle et des responsables de zone.</span>
                                    </li>
                                    <li>
                                        {% include "common/check-pink.twig" %}
                                        <span><strong>Formation continue </strong> en parfumerie, produit, ventes et direction et management d'équipes.</span>
                                    </li>
                                    <li>
                                        {% include "common/check-pink.twig" %}
                                        <span><strong>Campagnes de marketing</strong> avec promotions et apparitions dans les médias.</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- /.eq-fr-motivo -->
                    <div class="eq-fr-motivo menosesmas">
                        <div class="eq-fr-motivo__content">
                            <div class="eq-fr-motivo__header">
                                <div class="inner">
                                    {% include "common/icon-menosesmas.twig" %}
                                    <p class="eq-fr-motivo__title" data-to="4">Moins, c'est plus</p>
                                    <p class="eq-fr-motivo__copy">Nous investissons dans le produit, pas dans le superficiel.</p>
                                </div>
                                {% include "common/image.twig" with {
                                    src: 'franquicias-motivo-4.jpg',
                                    sizes: '100vw',
                                    mobile: 'franquicias-motivo-4--mobile.jpg'
                                } %}
                            </div>
                            <a href="#toggle-4" class="toggle hidden-sm"></a>
                            <div id="toggle-4" class="toggable hidden-sm">
                                <p class="eq-fr-motivo__copy">La qualité est ce qui compte vraiment pour nous, c'est pourquoi nous avons un <strong>concept d'entreprise révolutionnaire</strong> dans le secteur de la beauté, qui allie  <strong>excellence</strong> et <strong>durabilité</strong> à une large gamme de produits capables de répondre aux besoins de chaque client.</p>
                                <ul class="eq-fr-motivo__list">
                                    <li>
                                        {% include "common/check-pink.twig" %}
                                        <span>Nous nous passons des récipients exclusifs : nous préférons  <strong>investir dans la qualité</strong> de nos essences et dans des emballages réutilisables.</span>
                                    </li>
                                    <li>
                                        {% include "common/check-pink.twig" %}
                                        <span><strong>Plus de 130 parfums</strong> pour hommes et femmes et des parfums pour la maison.</span>
                                    </li>
                                    <li>
                                        {% include "common/check-pink.twig" %}
                                        <span>Nouvelles lignes de <strong>produits cosmétiques pour le visage et le corps</strong>.</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- /.eq-fr-motivo -->
                </div>
                <div class="eq-fr-mslide eq-fr-mslide--1 hidden-xs">
                    <div class="eq-fr-mslide__content">
                        {% include "common/icon-sostenibilidad.twig" %}
                        <p class="eq-fr-motivo__title">Durabilité</p>
                        <p class="eq-fr-motivo__copy">Un modèle d'affaires respectueux de l'environnement</p>
                        <p class="eq-fr-motivo__copy">La société apprécie de plus en plus les  <strong>politiques responsables</strong> des marques lors de ses achats, et même l'utilisation d'emballages <strong>plus durables</strong>. C'est précisément la philosophie de notre modèle d'affaires:</p>
                        <ul class="eq-fr-motivo__list">
                            <li>
                                {% include "common/check-pink.twig" %}
                                <span><strong>Vente de produit en vrac</strong></span>
                            </li>
                            <li>
                                {% include "common/check-pink.twig" %}
                                <span>Cosmétique avec <strong>système de recharge</strong></span>
                            </li>
                            <li>
                                {% include "common/check-pink.twig" %}
                                <span><strong>Nous ne testons pas sur les animaux</strong></span>
                            </li>
                            <li>
                                {% include "common/check-pink.twig" %}
                                <span><strong>Nous évitons les produits chimiques nuisibles</strong></span>
                            </li>
                        </ul>
                    </div>
                    <img src="{{basePath}}franquicias-motivo-1-slide.jpg" alt="" class="eq-fr-mslide__pic" />
                </div>
                <div class="eq-fr-mslide eq-fr-mslide--2 hidden-xs">
                    <div class="eq-fr-mslide__content">
                        {% include "common/icon-smartchoice.twig" %}
                        <p class="eq-fr-motivo__title">Choix intelligent</p>
                        <p class="eq-fr-motivo__copy">Des produits d'excellente qualité à des prix accessibles</p>
                        <p class="eq-fr-motivo__copy">Nous visons l'<strong>excellence</strong> dans nos produits et nos processus, tout en maintenant des <strong>prix abordables</strong>.</p>
                        <ul class="eq-fr-motivo__list">
                            <li>
                                {% include "common/check-pink.twig" %}
                                <span>Nous investissons dans <strong>la recherche, le développement et l'innovation</strong>.</span>
                            </li>
                            <li>
                                {% include "common/check-pink.twig" %}
                                <span>Nous nous entourons de professionnels et de fournisseurs qui sont fidèles à nos  <strong>normes de qualité</strong>.</span>
                            </li>
                            <li>
                                {% include "common/check-pink.twig" %}
                                <span>Nous nous conformons aux critères de l'International Fragrance Association pour une <strong>utilisation sûre des parfums.</strong>.</span>
                            </li>
                        </ul>
                    </div>
                    <img src="{{basePath}}franquicias-motivo-2-slide.jpg" alt="" class="eq-fr-mslide__pic" />
                </div>
                <div class="eq-fr-mslide eq-fr-mslide--3 hidden-xs">
                    <div class="eq-fr-mslide__content">
                        {% include "common/icon-empatia.twig" %}
                        <p class="eq-fr-motivo__title">Empathie</p>
                        <p class="eq-fr-motivo__copy">Nous nous engageons vis-à-vis de nos clients et de nos franchisés</p>
                        <p class="eq-fr-motivo__copy">Nous offrons à nos franchisés tout ce dont ils ont besoin à tout moment: du lancement de la franchise à sa gestion quotidienne.</p>
                        <ul class="eq-fr-motivo__list">
                            <li>
                                {% include "common/check-pink.twig" %}
                                <span><strong>Soutien</strong> par l'intermédiaire de notre département de service clientèle et des responsables de zone.</span>
                            </li>
                            <li>
                                {% include "common/check-pink.twig" %}
                                <span><strong>Formation continue </strong> en parfumerie, produit, ventes et direction et management d'équipes.</span>
                            </li>
                            <li>
                                {% include "common/check-pink.twig" %}
                                <span><strong>Campagnes de marketing</strong> avec promotions et apparitions dans les médias.</span>
                            </li>
                        </ul>
                    </div>
                    <img src="{{basePath}}franquicias-motivo-3-slide.jpg" alt="" class="eq-fr-mslide__pic" />
                </div>
                <div class="eq-fr-mslide eq-fr-mslide--4 hidden-xs">
                    <div class="eq-fr-mslide__content">
                        {% include "common/icon-menosesmas.twig" %}
                        <p class="eq-fr-motivo__title">Moins, c'est plus</p>
                        <p class="eq-fr-motivo__copy">Nous investissons dans le produit, pas dans le superficiel.</p>
                        <p class="eq-fr-motivo__copy">La qualité est ce qui compte vraiment pour nous, c'est pourquoi nous avons un <strong>concept d'entreprise révolutionnaire</strong> dans le secteur de la beauté, qui allie  <strong>excellence</strong> et <strong>durabilité</strong> à une large gamme de produits capables de répondre aux besoins de chaque client.</p>
                        <ul class="eq-fr-motivo__list">
                            <li>
                                {% include "common/check-pink.twig" %}
                                <span>Nous nous passons des récipients exclusifs : nous préférons  <strong>investir dans la qualité</strong> de nos essences et dans des emballages réutilisables.</span>
                            </li>
                            <li>
                                {% include "common/check-pink.twig" %}
                                <span><strong>Plus de 130 parfums</strong> pour hommes et femmes et des parfums pour la maison.</span>
                            </li>
                            <li>
                                {% include "common/check-pink.twig" %}
                                <span>Nouvelles lignes de <strong>produits cosmétiques pour le visage et le corps</strong>.</span>
                            </li>
                        </ul>
                    </div>
                    <img src="{{basePath}}franquicias-motivo-4-slide.jpg" alt="" class="eq-fr-mslide__pic" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END: MOTIVOS -->

<!-- START: QUE TE OFRECEMOS -->
<section class="eq-section eq-section--salmon">
    <div class="eq-section__inner">
        <div class="eq-fr-ofrecemos">
            <p class="eq-fr-ofrecemos__title">QUE VOUS OFFRONS-NOUS ?</p>
            {% include "components/check-list.twig" with {
                items: [
                    '<strong>Le soutien</strong> d\'une entreprise leader en expansion <strong>ldans le secteur</strong> avec une présence dans plus de <strong>22 pays.</strong>',
                    'Un business model consolidé et en <strong>croissance constante</strong>.',
                    '<strong>Des articles de haute qualité</strong> pour tous les budgets <strong>et des clients faciles à fidéliser</strong>.',
                ],
                moreItems: [
                    'Renouveler périodiquement et lancer de <strong>nouveaux produits</strong> grâce à notre <strong>investissement en R+D+i</strong>.',
                    '<strong>Récupérez votre investissement initial</strong> en 2 ans en moyenne.',
                    '<strong>Marge commerciale plus élevée</strong> que les autres secteurs de la distribution.',
                    'Contrat initial de <strong>5 ans</strong> pouvant être prolongé.',
                    'Mettez votre <strong>magasin en service en 6 à 8 semaines</strong>.',
                    '<strong>Formation continue gratuite à 360º</strong>.',
                ],
            } %}
            {% include "common/button-border.twig" with {
                text: 'Parlons!',
                href: '#trouver',
            } %}
            {% include "common/arrow-black.twig" %}
        </div>
    </div>
</section>
<!-- END: QUE TE OFRECEMOS -->

<!-- START: ¿QUE ESTAMOS BUSCANDO? -->
{% include 'components/copy.twig' with {
    title: 'QUE RECHERCHONS-NOUS ?',
    text: 'Si vous êtes passionné par le <strong>monde de la beauté</strong> et partagez <strong>nos valeurs</strong>, nous aimerions que vous fassiez partie de notre équipe et rejoigniez ce projet.',
} %}
<section class="eq-section eq-section--nopadding">
    <div class="eq-section__inner">
        {% include "components/image-slider.twig" with {
            items: [
                {
                    alt: '',
                    src: 'franquicias-local.jpg',
                    sizes: '100vw',
                    mobile: 'franquicias-local--mobile.jpg'                    
                },
            ]
        } %}
    </div>
</section>
<section class="eq-section">
    <div class="eq-section__inner">
        <div class="eq-fr-buscamos">
            <div class="eq-fr-buscamos__col eq-fr-buscamos__col--1">
                <p class="eq-fr-buscamos__copy">Nous recherchons des entrepreneurs passionnés par le monde de la beauté et ayant des compétences en affaires.</p>
            </div>
            <div class="eq-fr-buscamos__col eq-fr-buscamos__col--2">
                {% include "components/check-list.twig" with {
                    items: [
                        "<strong>Investissement initial de 30 000 € + TVA</strong>, qui comprend la <strong>conception</strong> de votre magasin, le <strong>mobilier</strong> et <strong>l'image de l'entreprise</strong>, le <strong>stock initial</strong> du produit et du <strong>matériel informatique</strong> (POS) et la <strong>licence</strong>.",
                        '<strong>Locaux entre 20 et 50 m2 dans les rues stratégiques et les centres commerciaux des villes de plus de 30 000 habitants ou présentant une particularité</strong>.',
                    ]
                } %}
            </div>
            <div class="eq-fr-buscamos__col eq-fr-buscamos__col--3">
                <p class="eq-fr-buscamos__copy eq-fr-buscamos__small">SI VOUS AVEZ L'ESPRIT ENTREPRENEURIAL ET QUE NOTRE PROJET VOUS PLAIT, NOUS SERONS L'ÉQUIPE PARFAITE !</p>
                {% include "common/arrow-black.twig" %}
            </div>
        </div>
    </div>
</section>
<!-- END: ¿QUE ESTAMOS BUSCANDO? -->

<!-- START: FORM -->
<section  id="trouver">
    {% include "components/copy.twig" with {
        className: 'eq-section--salmon',
        title: 'CONTACTEZ-NOUS',
        text: "Expliquez-nous votre cas particulier et nous vous accompagnerons dans toutes les phases du processus, de la recherche de locaux jusqu'à l'ouverture. <strong>Nous comptons sur toi.</strong>"
    } %}
    <section class="eq-section eq-section--nopadding eq-section--salmon">
        <div class="eq-section__inner">
            <form
                id="franquicias-form"
                action="https://news.equivalenza.com/add_subscriber.html"
                accept-charset="utf-8"
                method="post"
                class="eq-form"
            >
                <div class="eq-formgroup">
                    <label for="first_name">Nom *</label>
                    <input type="text" id="first_name" name="first_name" />
                </div>
                <div class="eq-formgroup">
                    <label for="last_name">Noms de famille *</label>
                    <input type="text" id="last_name" name="last_name" />
                </div>
                <div class="eq-formgroup">
                    <label for="custom_telefono">Teléphone</label>
                    <input type="tel" id="custom_telefono" name="custom_telefono" />
                </div>
                <div class="eq-formgroup">
                    <label for="email">E-mail *</label>
                    <input type="email" id="email" name="email" />
                </div>
                <div class="eq-formgroup">
                    <label for="custom_ciudad">Ville *</label>
                    <input type="text" id="custom_ciudad" name="custom_ciudad" />
                </div>
                <div class="eq-radiogroup">
                    <span class="eq-radiogroup__label">Avez-vous des locaux? *</span>
                    <div class="eq-radio">
                        <input type="radio" id="local-0" name="custom_local" value="Sí" />
                        <label for="local-0">Oui</label>
                    </div>
                    <div class="eq-radio">
                        <input type="radio" id="local-1" name="custom_local" value="No" />
                        <label for="local-1">Non</label>
                    </div>
                </div>
                <div class="eq-check">
                    <input type="checkbox" id="webform_consent#f_0" name="webform[consent#f-ver#f]" value="true" />
                    <label for="webform_consent#f_0">J'accepte les <a href="https://equivalenza.fr/politique-de-confidentialite/" target="_blank">termes et conditions</a></label>
                </div>
                <!-- Get the token at: https://news.equivalenza.com/campaign_list.html -->
                <input type="hidden" name="campaign_token" value="69" />
                <!-- Thank you page (optional) -->
                <input type="hidden" name="thankyou_url" value="https://equivalenza.com/es/gracias-por-contactar"/>
                <!-- Add subscriber to follow-up sequence -->
                <input type="hidden" name="start_day" value="0" />
                <button type="submit" class="eq-btn-black eq-btn-block">Envoyer</button>
            </form>
        </div>
    </section>
    {% include "components/copy.twig" with {
        className: 'eq-section--salmon',
        text: 'Vous pouvez également nous contacter par téléphone <a href="tel:+34932635733">+34 932 635 733</a> ou nous envoyer un e-mail à <a href="mailto:expansion@equivalenza.com">expansion@equivalenza.com</a>'
    } %}
</section>
<!-- END: FORM -->

{% include 'components/scripts-landing-franquicias-fr.twig' %}

{% endblock %}