{# landing-cosmetica.twig #}
{% extends 'layouts/default.twig' %}
{% set lang="fr" %}

{% block meta %}
    {{ parent() }}
    <title>Landing Cosmetica</title>
{% endblock %}

{% block content %}

{% include 'components/hero.twig' with {
    items: [
        {
            title: '<em>NOUVELLE LIGNE</em> COSMÉTIQUE POUR LE CORPS',
            text: 'Sensorielle, naturelle<br>et durable',
            srcset: {
                alt: '',
                src: 'cosmetica-hero-1-IT-FR.png',
                sizes: '100vw',
                mobile: 'cosmetica-hero-1-mobile-IT-FR.png'
            },
            button: {
                href: 'https://equivalenza.com/fr/cosmetiques/soin-corporel/',
                text: 'DÉCOUVREZ-LA',
            },
        },        
        {
            title: 'COSMÉTIQUE POUR LE VISAGE',
            text: 'Cosmétique naturelle créée pour vous',
            srcset: {
                alt: '',
                src: 'cosmetica-hero-2-IT-FR.png',
                sizes: '100vw',
                mobile: 'cosmetica-hero-2-mobile-IT-FR.png'
            },
            button: {
                href: 'https://equivalenza.com/fr/cosmetics/',
                text: 'DÉCOUVREZ-LA',
            },
        },        
        {
            title: '<em>NOUVELLE LIGNE</em> PROTÉGEZ LA PLANÈTE',
            text: 'Réutilisez vos récipients',
            srcset: {
                alt: '',
                src: 'cosmetica-hero-3-IT-FR.png',
                sizes: '100vw',
                mobile: 'cosmetica-hero-3-mobile-IT-FR.png'
            },
            button: {
                href: 'https://equivalenza.com/fr/cosmetiques/soin-corporel/#refill',
                text: 'DÉCOUVREZ LES ÉCO-RECHARGES',
            },
        },        
    ]
} %}

{% include 'components/copy.twig' with {
    text: 'Cosmétique à base d’ingrédients <strong>d\'origine naturelle qui prennent soin de la planète et de votre peau</strong>.<br>Cosmétique <strong>créée pour vous</strong>.',
} %}

{% include 'components/icon-gallery.twig' with {
    items: [
        {
            icon: 'icon-1.png',
            label: 'Récipient réutilisable',
        },
        {
            icon: 'icon-2.png',
            label: 'Écoconception : packaging minimum',
        },
        {
            icon: 'icon-3.png',
            label: 'Ingrédients d’origine naturelle',
        },
        {
            icon: 'icon-4.png',
            label: 'Formules vegan',
        },
        {
            icon: 'icon-5.png',
            label: 'Nous connectons vos émotions',
        },
    ],
} %}

{% include 'components/categorias.twig' with {
    items: [
        {
            className: 'grey',
            title: 'Prenez soin de votre corps et de votre peau',
            srcset: {
                alt: '',
                src: 'categoria-1.png',
                sizes: '100vw',
                mobile: 'categoria-1-mobile.png'
            },
            items: [
                {
                    image: {
                        src: '300x300_Geles_Bano.jpg',
                        alt: '',
                    },
                    label: 'GELS<br>DOUCHE',
                    href: 'https://equivalenza.com/fr/cosmetiques/soin-corporel/gels-douche',
                },
                {
                    image: {
                        src: '300x300_Hidratantes.jpg',
                        alt: '',
                    },
                    label: 'HYDRATANTS',
                    href: 'https://equivalenza.com/fr/cosmetiques/soin-corporel/hydratants',
                },
                {
                    image: {
                        src: '300x300_Exfoliantes.jpg',
                        alt: '',
                    },
                    label: 'EXFOLIANTS',
                    href: 'https://equivalenza.com/fr/cosmetiques/soin-corporel/exfoliants',
                },
                {
                    image: {
                        src: '300x300_Tratamientos.jpg',
                        alt: '',
                    },
                    label: 'TRAITEMENTS',
                    href: 'https://equivalenza.com/fr/cosmetiques/soin-corporel/traitements',
                },
                {
                    image: {
                        src: '300x300_Desodorantes.jpg',
                        alt: '',
                    },
                    label: 'DÉODORANTS',
                    href: 'https://equivalenza.com/fr/cosmetiques/soin-corporel/deodorants',
                },
                {
                    image: {
                        src: '300x300_Crema_Manos.jpg',
                        alt: '',
                    },
                    label: 'CRÈMES POUR LES MAINS',
                    href: 'https://equivalenza.com/fr/cosmetiques/soin-corporel/cremes-mains',
                },
                {
                    image: {
                        src: '300x300_Crema_Pies.jpg',
                        alt: '',
                    },
                    label: 'CRÈMES POUR LES PIEDS',
                    href: 'https://equivalenza.com/fr/cosmetiques/soin-corporel/cremes-pieds',
                },
                {
                    image: {
                        src: '300x300_Limpieza_Manos.jpg',
                        alt: '',
                    },
                    label: 'NETTOYAGE POUR LES MAINS',
                    href: 'https://equivalenza.com/fr/cosmetiques/soin-corporel/nettoyage-des-mains',
                },
                {
                    image: {
                        src: '300x300_Body_mist.jpg',
                        alt: '',
                    },
                    label: 'BRUMES PARFUMÉES',
                    href: 'https://equivalenza.com/fr/cosmetiques/soin-corporel/body-mist/',
                },
                {
                    image: {
                        src: '300x300_Black_Label.jpg',
                        alt: '',
                    },
                    label: 'BLACK LABEL',
                    href: 'https://equivalenza.com/fr/cosmetiques/soin-corporel/black-label/ ',
                },
                {
                    image: {
                        src: '300x300_Accesorios_Corporal.jpg',
                        alt: '',
                    },
                    label: 'ACCESSOIRES',
                    href: 'https://equivalenza.com/fr/cosmetiques/soin-corporel/accessoires',
                },
            ]
        },
        {
            className: 'brown',
            title: 'Illuminez votre visage, prenez soin de votre peau',
            srcset: {
                alt: '',
                src: 'categoria-2.png',
                sizes: '100vw',
                mobile: 'categoria-2-mobile.png'
            },
            items: [
                {
                    image: {
                        src: '300x300_Limpieza_facial.jpg',
                        alt: '',
                    },
                    label: 'NETTOYAGE',
                    href: 'https://equivalenza.com/fr/cosmetica/cosmetics/limpieza-facial/',
                },
                {
                    image: {
                        src: '300x300_Exfoliante_facial.jpg',
                        alt: '',
                    },
                    label: 'EXFOLIANTS',
                    href: 'https://equivalenza.com/fr/cosmetica/cosmetics/exfoliantes-faciales/ ',
                },
                {
                    image: {
                        src: '300x300_Mascarillas.jpg',
                        alt: '',
                    },
                    label: 'MASQUES',
                    href: 'https://equivalenza.com/fr/cosmetica/cosmetics/mascarillas/',
                },
                {
                    image: {
                        src: '300x300_Contorno_Ojos.jpg',
                        alt: '',
                    },
                    label: 'CONTOUR<br>DES YEUX',
                    href: 'https://equivalenza.com/fr/cosmetica/cosmetics/contornos-de-ojos/',
                },
                {
                    image: {
                        src: '300x300_Serums.jpg',
                        alt: '',
                    },
                    label: 'SÉRUMS',
                    href: 'https://equivalenza.com/fr/cosmetica/cosmetics/serums/',
                },
                {
                    image: {
                        src: '300x300_Crema_hidratante.jpg',
                        alt: '',
                    },
                    label: 'CRÈMES<br>HYDRATANTES',
                    href: 'https://equivalenza.com/fr/cosmetica/cosmetics/cremas-hidratantes/',
                },
                {
                    image: {
                        src: '300x300_Antiarrugas.jpg',
                        alt: '',
                    },
                    label: 'CRÈMES<br>ANTI-RIDES',
                    href: 'https://equivalenza.com/fr/cosmetica/cosmetics/cremas-antiarrugas/',
                },
                {
                    image: {
                        src: '300x300_Bruma_facial.jpg',
                        alt: '',
                    },
                    label: 'BRUME POUR<br>LE VISAGE',
                    href: 'https://equivalenza.com/fr/cosmetica/cosmetics/bruma-facial/',
                },
                {
                    image: {
                        src: '300x300_Accesorios_Facial.jpg',
                        alt: '',
                    },
                    label: 'ACCESSOIRES',
                    href: 'https://equivalenza.com/fr/cosmetica/cosmetics/accessoires',
                },
            ]
        },
    ]
} %}

{% include 'components/copy.twig' with {
    title: 'Connectez votre peau à vos émotions',
    text: 'Plongez dans votre monde intérieur des émotions positives à travers les textures, les parfums et les ingrédients principaux de notre cosmétique.',
} %}

{% include 'components/emociones.twig' with {
    className: 'eq-section--nopadding-xs',
    items: [
        {
            image: {
                src: 'emociones-1.png',
                alt: '',
            },
            title: 'JOIE RAYONNANTE',
            text: 'Textures fraîches et revitalisantes avec la puissance et la luminosité de la <strong>VITAMINE C</strong>.',
            button: {
                text: 'VOIR TOUS LES PRODUITS',
                href: 'https://equivalenza.com/fr/cosmetiques/alegria-radiante',
            },
            className: 'alegria-radiante',
        },
        {
            image: {
                src: 'emociones-2.png',
                alt: '',
            },
            title: 'ÉNERGIE VITALE',
            text: 'Ressentez la protection et la vitalité de l\'<strong>ALOE VERA</strong> de par ses textures légères et énergisantes.',
            button: {
                text: 'VOIR TOUS LES PRODUITS',
                href: 'https://equivalenza.com/fr/cosmetiques/energia-vital',
            },
            className: 'energia-vital',
        },
        {
            image: {
                src: 'emociones-3.png',
                alt: '',
            },
            title: 'SÉDUCTION MAGNÉTIQUE',
            text: 'Textures crémeuses et nutritives qui accentuent l\'intensité nutritionnelle des <strong>HUILES ÉLIXIR</strong>.',
            button: {
                text: 'VOIR TOUS LES PRODUITS',
                href: 'https://equivalenza.com/fr/cosmetiques/seduccion-magnetica',
            },
            className: 'seduccion-magnetica',
        },
        {
            image: {
                src: 'emociones-4.png',
                alt: '',
            },
            title: 'ÉQUILIBRE INTÉRIEUR',
            text: 'Retrouvez le calme avec cette ligne réconfortante qui renforce les effets de l’<strong>ACIDE HYALURONIQUE</strong>.',
            button: {
                text: 'VOIR TOUS LES PRODUITS',
                href: 'https://equivalenza.com/fr/cosmetiques/equilibrio-interior',
            },
            className: 'equilibrio-interior',
        },
    ]
} %}

{% include 'components/refill.twig' with {
    className: 'eq-refill--single',
    items: [
        {
            srcset: {
                alt: '',
                src: 'sistema_refill_single.png',
                sizes: '100vw',
                mobile: 'sistema_refill_single-mobile.png'
            },
            title: '<strong>SYSTÈME RECHARGE</strong> Plus économique, plus écologique',
            text: '<strong>Découvrez notre innovant<br>système d’éco-recharges.</strong>',
            list: [
                '<strong>90%</strong> de plastique en moins',
                '<strong>Économise de 1,50€ à 3€</strong> à chaque recharge',
            ],
        },
    ]
} %}

{# include 'components/best-sellers.twig' with {
    title: 'Les plus vendus',
    content: '{{block class="MGS\Mpanel\Block\Products\Attributes" mgs_panel_title="" mgs_panel_note="" limit="15" ratio="1" category_ids="298,320,385" attribute="mas_vendido" use_slider="1" loadmore="0" template="products/attribute/category-tabs.phtml" perrow="4" autoplay="1" stop_auto="1" navigation="1" pagination="0" number_row="1"}}',
} #}

{% include 'components/footer-landing.twig' with {
    items: [
        {
            image: {
                src: 'footer-1.png',
                alt: '',
            },
            title: '<strong>98 personnes sur 100</strong> recommanderaient Equivalenza à un ami.',
        },
        {
            image: {
                src: 'footer-2.png',
                alt: '',
            },
            title: '<strong>4,8/5</strong> 38 000 opinions des clients réels.',
        },
        {
            image: {
                src: 'footer-3.png',
                alt: '',
            },
            title: '<strong>+500 000</strong> foyers utilisent Equivalenza au quotidien',
        },
    ]
} %}

{# include 'components/ventajas.twig' with {
    items: [
        {
            image: {
                src: 'ventajas-1.png',
                alt: '',
            },
            label: '<strong>Paiement sécurisé</strong>',
        },
        {
            image: {
                src: 'ventajas-2.png',
                alt: '',
            },
            label: '<strong>Remboursements</strong> jusqu’à 15 jours',
        },
        {
            image: {
                src: 'ventajas-3.png',
                alt: '',
            },
            label: '<strong>Envois gratuits</strong> dès 24,95€',
        },
        {
            image: {
                src: 'ventajas-4.png',
                alt: '',
            },
            label: '<strong>Attention personnalisée</strong>',
        },
    ]
} #}

{% include 'components/scripts-landings-cosmetica.twig' %}

{% endblock %}
