{# landing-cosmetica.twig #}
{% extends 'layouts/default.twig' %}
{% set lang="fr" %}

{% block meta %}
    {{ parent() }}
    <title>Landing Cosmetica / Body</title>
{% endblock %}

{% block content %}

{% include 'components/hero.twig' with {
    items: [
        {
            title: '<em>NOUVELLE LIGNE</em> COSMÉTIQUE POUR LE CORPS',
            text: 'Sensorielle, naturellez<br>et durable',
            srcset: {
                alt: '',
                src: 'body-hero-1-IT-FR.png',
                sizes: '100vw',
                mobile: 'body-hero-1-mobile-IT-FR.png'
            },
        },        
        {
            title: 'PRENEZ SOIN DE VOTRE PEAU',
            text: 'Laissez-vous surprendre par nos nouvelles textures.',
            srcset: {
                alt: '',
                src: 'body-hero-2-IT-FR.png',
                sizes: '100vw',
                mobile: 'body-hero-2-mobile-IT-FR.png'
            },
        },        
        {
            title: '<em>PROMOTION DE LANCEMENT</em> ÉPONGE EN CADEAU',
            text: 'Recevez-la pour des achats<br>supérieurs à 20€,<br>incluant un produit cosmétique de<br>notre nouvelle ligne de soin corporel.',
            srcset: {
                alt: '',
                src: 'body-hero-3-IT-FR.png',
                sizes: '100vw',
                mobile: 'body-hero-3-mobile-IT-FR.png'
            },
        },        
    ]
} %}

{% include 'components/copy.twig' with {
    text: 'Formules de grande qualité, <strong>avec des ingrédients d’origine naturelle</strong>, testées dermatologiquement et offrant une <strong>efficacité prouvée</strong>.<br /><br />Pour que vous puissiez prendre soin de votre peau <strong>comme il se doit</strong>.',
} %}

{% include 'components/categorias-icons.twig' with {
    title: 'QUE RECHERCHEZ-VOUS?',
    items: [
        {
            image: {
                src: '300x300_Geles_Bano.jpg',
                alt: '',
            },
            label: 'GELS<br>DOUCHE',
            href: 'https://equivalenza.com/fr/cosmetiques/soin-corporel/gels-douche',
        },
        {
            image: {
                src: '300x300_Hidratantes.jpg',
                alt: '',
            },
            label: 'HYDRATANTS',
            href: 'https://equivalenza.com/fr/cosmetiques/soin-corporel/hydratants',
        },
        {
            image: {
                src: '300x300_Exfoliantes.jpg',
                alt: '',
            },
            label: 'EXFOLIANTS',
            href: 'https://equivalenza.com/fr/cosmetiques/soin-corporel/exfoliants',
        },
        {
            image: {
                src: '300x300_Tratamientos.jpg',
                alt: '',
            },
            label: 'TRAITEMENTS',
            href: 'https://equivalenza.com/fr/cosmetiques/soin-corporel/traitements',
        },
        {
            image: {
                src: '300x300_Desodorantes.jpg',
                alt: '',
            },
            label: 'DÉODORANTS',
            href: 'https://equivalenza.com/fr/cosmetiques/soin-corporel/deodorants',
        },
        {
            image: {
                src: '300x300_Crema_Manos.jpg',
                alt: '',
            },
            label: 'CRÈMES POUR LES MAINS',
            href: 'https://equivalenza.com/fr/cosmetiques/soin-corporel/cremes-mains',
        },
        {
            image: {
                src: '300x300_Crema_Pies.jpg',
                alt: '',
            },
            label: 'CRÈMES POUR LES PIEDS',
            href: 'https://equivalenza.com/fr/cosmetiques/soin-corporel/cremes-pieds',
        },
        {
            image: {
                src: '300x300_Limpieza_Manos.jpg',
                alt: '',
            },
            label: 'NETTOYAGE POUR LES MAINS',
            href: 'https://equivalenza.com/fr/cosmetiques/soin-corporel/nettoyage-des-mains',
        },
        {
            image: {
                src: '300x300_Body_mist.jpg',
                alt: '',
            },
            label: 'BRUMES PARFUMÉES',
            href: 'https://equivalenza.com/fr/cosmetiques/soin-corporel/body-mist/',
        },
        {
            image: {
                src: '300x300_Black_Label.jpg',
                alt: '',
            },
            label: 'BLACK LABEL',
            href: 'https://equivalenza.com/fr/cosmetiques/soin-corporel/black-label/ ',
        },
        {
            image: {
                src: '300x300_Accesorios_Corporal.jpg',
                alt: '',
            },
            label: 'ACCESSOIRES',
            href: 'https://equivalenza.com/fr/cosmetiques/soin-corporel/accessoires',
        },
    ]
} %}

{% include 'components/refill.twig' with {
    items: [
        {
            srcset: {
                alt: '',
                src: 'sistema_refill.png',
                sizes: '100vw',
                mobile: 'sistema_refill-mobile.png'
            }, 
            title: '<strong>SYSTÈME RECHARGE</strong> Plus économique, plus écologique',
            text: '<strong>Voulez-vous économiser tout en préservant la planète?</strong> Découvrez notre innovant système d’éco-recharges.',
        },
        {
            srcset: {
                alt: '',
                src: 'envase_rollon_tarro.png',
                sizes: '100vw',
                mobile: 'envase_rollon_tarro-mobile.png'
            }, 
            text: '<strong>Achetez votre cosmétique</strong> <em>en récipient roll-on ou en pot de 200 ml</em>.',
        },
        {
            srcset: {
                alt: '',
                src: 'envase_reutilizable.png',
                sizes: '100vw',
                mobile: 'envase_reutilizable-mobile.png'
            }, 
            text: '<strong>Conservez le récipient réutilisable et revenez pour votre</strong> <em>éco-recharge</em>.',
        },
        {
            srcset: {
                alt: '',
                src: 'envase_tarro.png',
                sizes: '100vw',
                mobile: 'envase_tarro-mobile.png'
            }, 
            text: '<strong>Avec chaque éco-recharge en pot de 200 ml, nous réduisons la consommation de plastique de près de 91%.</strong><br /><br /><em>Et vous économisez 3€ sur chaque recharge!</em>',
        },
        {
            srcset: {
                alt: '',
                src: 'envase_rollon.png',
                sizes: '100vw',
                mobile: 'envase_rollon-mobile.png'
            }, 
            text: 'Chaque fois que vous utilisez une éco-recharge de roll-on, <strong>nous réduisons la consommation de plastique de près de 68%.</strong><br /><br /><em>Et vous économisez 1,5€ sur chaque recharge!</em>',
        },
        {
            srcset: {
                alt: '',
                src: 'modelo_envases.png',
                sizes: '100vw',
                mobile: 'modelo_envases-mobile.png'
            }, 
            text: '<strong>Félicitations!</strong><br />En prenant soin de votre peau avec Equivalenza, vous protégez <em>l\'environnement</em>.',
        },
    ]
} %}

{% include 'components/copy.twig' with {
    title: 'Connectez votre peau à vos émotions',
    text: 'Plongez dans votre monde intérieur des émotions positives à travers les textures, les parfums et les ingrédients principaux de notre cosmétique.',
} %}

{% include 'components/emociones.twig' with {
    className: 'eq-section--nopadding-xs',
    items: [
        {
            image: {
                src: 'emociones-1.png',
                alt: '',
            },
            title: 'JOIE RAYONNANTE',
            text: 'Textures fraîches et revitalisantes avec la puissance et la luminosité de la <strong>VITAMINE C</strong>.',
            button: {
                text: 'VOIR TOUS LES PRODUITS',
                href: 'https://equivalenza.com/fr/cosmetiques/alegria-radiante',
            },
            className: 'alegria-radiante',
        },
        {
            image: {
                src: 'emociones-2.png',
                alt: '',
            },
            title: 'ÉNERGIE VITALE',
            text: 'Ressentez la protection et la vitalité de l\'<strong>ALOE VERA</strong> de par ses textures légères et énergisantes.',
            button: {
                text: 'VOIR TOUS LES PRODUITS',
                href: 'https://equivalenza.com/fr/cosmetiques/energia-vital',
            },
            className: 'energia-vital',
        },
        {
            image: {
                src: 'emociones-3.png',
                alt: '',
            },
            title: 'SÉDUCTION MAGNÉTIQUE',
            text: 'Textures crémeuses et nutritives qui accentuent l\'intensité nutritionnelle des <strong>HUILES ÉLIXIR</strong>.',
            button: {
                text: 'VOIR TOUS LES PRODUITS',
                href: 'https://equivalenza.com/fr/cosmetiques/seduccion-magnetica',
            },
            className: 'seduccion-magnetica',
        },
        {
            image: {
                src: 'emociones-4.png',
                alt: '',
            },
            title: 'ÉQUILIBRE INTÉRIEUR',
            text: 'Retrouvez le calme avec cette ligne réconfortante qui renforce les effets de l’<strong>ACIDE HYALURONIQUE</strong>.',
            button: {
                text: 'VOIR TOUS LES PRODUITS',
                href: 'https://equivalenza.com/fr/cosmetiques/equilibrio-interior',
            },
            className: 'equilibrio-interior',
        },
    ]
} %}

{# include 'components/best-sellers.twig' with {
    title: 'Les plus vendus',
    content: '{{block class="MGS\Mpanel\Block\Products\Attributes" mgs_panel_title="" mgs_panel_note="" limit="15" ratio="1" category_ids="298,320,385" attribute="mas_vendido" use_slider="1" loadmore="0" template="products/attribute/category-tabs.phtml" perrow="4" autoplay="1" stop_auto="1" navigation="1" pagination="0" number_row="1"}}',
} #}

{% include 'components/footer-landing.twig' with {
    items: [
        {
            image: {
                src: 'footer-1.png',
                alt: '',
            },
            title: '<strong>98 personnes sur 100</strong> recommanderaient Equivalenza à un ami.',
        },
        {
            image: {
                src: 'footer-2.png',
                alt: '',
            },
            title: '<strong>4,8/5</strong> 38 000 opinions des clients réels.',
        },
        {
            image: {
                src: 'footer-3.png',
                alt: '',
            },
            title: '<strong>+500 000</strong> foyers utilisent Equivalenza au quotidien',
        },
    ]
} %}

{# include 'components/ventajas.twig' with {
    items: [
        {
            image: {
                src: 'ventajas-1.png',
                alt: '',
            },
            label: '<strong>Paiement sécurisé</strong>',
        },
        {
            image: {
                src: 'ventajas-2.png',
                alt: '',
            },
            label: '<strong>Remboursements</strong> jusqu’à 15 jours',
        },
        {
            image: {
                src: 'ventajas-3.png',
                alt: '',
            },
            label: '<strong>Envois gratuits</strong> dès 24,95€',
        },
        {
            image: {
                src: 'ventajas-4.png',
                alt: '',
            },
            label: '<strong>Attention personnalisée</strong>',
        },
    ]
} #}

{% include 'components/scripts-landings-cosmetica.twig' %}

{% endblock %}
