{# home.twig #}
{% extends 'layouts/default.twig' %}
{% set lang="pt" %}
{% set basePath='https://equivalenza.com/landings_media/images/home-20230605/' %}

{% block meta %}
    {{ parent() }}
    <title>Home Equivalenza 2022 - PT</title>
{% endblock %}

{% block content %}

{% include 'components/css-home-2022.twig' %}

<section class="eq-section eq-section--nopadding">
    <div class="eq-section__inner">
    {{ '{{block class="Magento\Cms\Block\Block" block_id="banners"}}' | escape }}
    </div>
</section>

{% include 'components/copy.twig' with {
    text: 'Na Equivalenza, concebemos produtos da <strong>mais alta qualidade</strong>, feitos com <strong>ingredientes naturais</strong>, amigos do ambiente e a preços muito <strong>acessíveis</strong>.',
} %}

{% include 'components/icon-gallery.twig' with {
    items: [
        {
            icon: 'icon-1.png',
            label: 'Embalagem reutilizável ',
        },
        {
            icon: 'icon-2.png',
            label: 'Ecodesign: packaging mínimo',
        },
        {
            icon: 'icon-3.png',
            label: 'Ingredientes de origem natural',
        },
        {
            icon: 'icon-4.png',
            label: 'Fórmulas adequadas para vegans',
        },
        {
            icon: 'icon-5.png',
            label: 'Ligamos com as suas emoções',
        },
        {
            icon: 'icon-6.png',
            label: 'Não realizamos testes em animais',
        },
    ],
} %}

<!-- START: AMBIENTADORES -->
<section class="eq-section eq-section--pink">
    <div class="eq-section__inner">
        <div class="eq-ambientadores">
            <p class="eq-ambientadores__title">Qual é a fragrância da casa dos teus sonhos?</p>
            <p class="eq-ambientadores__subtitle">Uma nova forma sustentável e pessoal de perfumar a tua casa.</p>
            <div class="eq-ambientadores__wrap">
                <div class="eq-ambientadores__pic">
                    <img src="{{basePath}}{{lang}}/ambientadores.png" alt="" />
                </div>
                <div class="eq-ambientadores__content">
                    <div class="eq-topventas-cosmetica ambientadores eq-slider owl-carousel">
                        <div class="eq-topventas-cosmetica__item item item-1">
                            <div class="pic"><img src="{{basePath}}{{lang}}/ambientadores-1.png" alt="" /></div>
                            <div class="content">
                                <p class="title">Mikado Sensual
Sandalwood (pachulí e sândalo)</p>
                                <p class="price"><strong>9,95 €</strong></p>
                                <a href="https://equivalenza.com/pt/ambientacion/mikados/mikado-sensual-sandalwood/" class="btn">Comprar</a>
                            </div>
                        </div>
                        <!-- /.item -->
                        <div class="eq-topventas-cosmetica__item item item-2">
                            <div class="pic"><img src="{{basePath}}{{lang}}/ambientadores-2.png" alt="" /></div>
                            <div class="content">
                                <p class="title">Mikado Relaxing Lavender (lavanda
e alecrim)</p>
                                <p class="price"><strong>9,95 €</strong></p>
                                <a href="https://equivalenza.com/pt/ambientacion/mikados/mikado-relaxing-lavender/" class="btn">Comprar</a>
                            </div>
                        </div>
                        <!-- /.item -->
                        <div class="eq-topventas-cosmetica__item item item-3">
                            <div class="pic"><img src="{{basePath}}{{lang}}/ambientadores-3-edited.png" alt="" /></div>
                            <div class="content">
                                <p class="title">Mikado White Flowers (flores brancas e flor de laranjeira)</p>
                                <p class="price"><strong>9,95 €</strong></p>
                                <a href="https://equivalenza.com/pt/ambientacion/mikados/mikado-white-flowers/" class="btn">Comprar</a>
                            </div>
                        </div>
                        <!-- /.item -->
                    </div> 
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END: AMBIENTADORES -->

<!-- START: DIFUSORES -->
{% include 'components/copy.twig' with {
    className: 'eq-section--grey',
    section: 'Difusores de aroma',
    title: 'Descubra o que melhor se adapta a si',
    text: 'Com coluna <em><strong>bluetooth</strong></em>, acabamento em cerâmica, com a suavidade da madeira ou tão compacto que poderá levá-lo para qualquer lugar. Qual é o seu difusor de aromas ideal?',
} %}

<div class="eq-section eq-section--grey">
    <div class="eq-section__inner">
        <div class="eq-difusores">
            <div class="eq-difusores-item eq-difusores-item--1">
                <a href="https://equivalenza.com/pt/ambientacion/difusor-de-aromas/drop-xs/"><img src="{{basePath}}{{lang}}/difusor-1.jpg" alt="" class="eq-difusores-item__pic" /></a>
                <p class="eq-difusores-item__title">Drop XS</p>
                <ul class="eq-difusores-item__specs">
                    <li>Capacidade: 20 m<sup>2</sup></li>
                    <li>Autonomia: 5 horas</li>
                    <li>Ideal pela sua portabilidade</li>
                </ul>
                <p class="eq-difusores-item__price">
                    <span class="price">23,95 €</span>
                </p>
                <a href="https://equivalenza.com/pt/ambientacion/difusor-de-aromas/drop-xs/" class="eq-btn">Comprar</a>
            </div><!-- /.eq-difusores-item -->
            <div class="eq-difusores-item eq-difusores-item--2">
                <a href="https://equivalenza.com/pt/ambientacion/difusor-de-aromas/drop/"><img src="{{basePath}}{{lang}}/difusor-2.jpg" alt="" class="eq-difusores-item__pic" /></a>
                <p class="eq-difusores-item__title">Drop</p>
                <ul class="eq-difusores-item__specs">
                    <li>Capacidade: 70 m<sup>2</sup></li>
                    <li>Autonomia: 13 horas</li>
                    <li>Ideal pela sua capacidade</li>
                </ul>
                <p class="eq-difusores-item__price">
                    <span class="tag">Envio grátis!</span>
                    <span class="price">41,95 €</span>
                </p>
                <a href="https://equivalenza.com/pt/ambientacion/difusor-de-aromas/drop/" class="eq-btn">Comprar</a>
            </div><!-- /.eq-difusores-item -->

            <div class="eq-difusores-item eq-difusores-item--3">
                <a href="https://equivalenza.com/pt/ambientacion/difusor-de-aromas/difusor-mix-deco-diamond/"><img src="{{basePath}}{{lang}}/difusor-3.jpg" alt="" class="eq-difusores-item__pic" style="margin-top: -10px; margin-bottom: 15px; transform: scale(1.2);" /></a>
                <p class="eq-difusores-item__title">Diamond</p>
                <ul class="eq-difusores-item__specs">
                    <li>Capacidade: 40 m<sup>2</sup></li>
                    <li>Autonomia: 7 horas</li>
                    <li>Ideal pelo seu design</li>
                </ul>
                <p class="eq-difusores-item__price">
                    <span class="tag">Envio grátis!</span>
                    <span class="price">51,95 €</span>
                </p>
                <a href="https://equivalenza.com/pt/ambientacion/difusor-de-aromas/difusor-mix-deco-diamond/" class="eq-btn">Comprar</a>
            </div><!-- /.eq-difusores-item -->
            <div class="eq-difusores-item eq-difusores-item--4">
                <a href="https://equivalenza.com/pt/ambientacion/difusor-de-aromas/cube/"><img src="{{basePath}}{{lang}}/difusor-4.jpg" alt="" class="eq-difusores-item__pic" /></a>
                <p class="eq-difusores-item__title">Cube</p>
                <ul class="eq-difusores-item__specs">
                    <li>Capacidade: 50 m<sup>2</sup></li>
                    <li>Autonomia: 10 horas</li>
                    <li>Ideal pela sua coluna bluetooth</li>
                </ul>
                <p class="eq-difusores-item__price">
                    <span class="tag">Envio grátis!</span>
                    <span class="price">59,95 €</span>
                </p>
                <a href="https://equivalenza.com/pt/ambientacion/difusor-de-aromas/cube/" class="eq-btn">Comprar</a>
            </div><!-- /.eq-difusores-item -->
        </div>
    </div>
</div>
<!-- END: DIFUSORES -->

<!-- START: TOP VENTAS -->
<div class="eq-section">
    <div class="eq-section__inner">
        <div class="eq-topventas-cosmetica eq-slider owl-carousel">
            <div class="eq-topventas-cosmetica__item item item-1">
                <div class="pic"><img src="{{basePath}}{{lang}}/top-ventas-1.jpg" alt="" /></div>
                <div class="content">
                    <p class="title">Óleo perfumado hidrossolúvel
Ocean Breeze (pinho e limão)</p>
                    <p class="price"><strong>9,50 €</strong></p>
                    <a href="https://equivalenza.com/pt/ambientacion/aceite-perfumado-hidrosoluble/aceite-perfumado-hidrosoluble-ocean-brezze-limon-y-pino/" class="btn">Comprar</a>
                </div>
            </div>
            <!-- /.item -->
            <div class="eq-topventas-cosmetica__item item item-2">
                <div class="pic"><img src="{{basePath}}{{lang}}/top-ventas-2.jpg" alt="" /></div>
                <div class="content">
                    <p class="title">Óleo perfumado hidrossolúvel
Green Spa (eucalipto e alecrim)</p>
                    <p class="price"><strong>9,50 €</strong></p>
                    <a href="https://equivalenza.com/pt/ambientacion/aceite-perfumado-hidrosoluble/aceite-perfumado-hidrosoluble-green-spa-eucalipto-y-romero/" class="btn">Comprar</a>
                </div>
            </div>
            <!-- /.item -->
            <div class="eq-topventas-cosmetica__item item item-3">
                <div class="pic"><img src="{{basePath}}{{lang}}/top-ventas-3.jpg" alt="" /></div>
                <div class="content">
                    <p class="title">Óleo perfumado hidrossolúvel
Black Vanilla (baunilha e ébano)</p>
                    <p class="price"><strong>9,50 €</strong></p>
                    <a href="https://equivalenza.com/pt/ambientacion/aceite-perfumado-hidrosoluble/aceite-hidrosoluble-vainilla/" class="btn">Comprar</a>
                </div>
            </div>
            <!-- /.item -->
            <div class="eq-topventas-cosmetica__item item item-4">
                <div class="pic"><img src="{{basePath}}{{lang}}/top-ventas-4.jpg" alt="" /></div>
                <div class="content">
                    <p class="title">Óleo perfumado hidrossolúvel Sensual Sandalwood (patchouli e sândalo)</p>
                    <p class="price"><strong>9,50 €</strong></p>
                    <a href="https://equivalenza.com/pt/ambientacion/aceite-perfumado-hidrosoluble/aceite-perfumado-hidrosoluble-sensual-sandalwood-pachuli-y-sandalo/" class="btn">Comprar</a>
                </div>
            </div>
            <!-- /.item -->
            <div class="eq-topventas-cosmetica__item item item-5">
                <div class="pic"><img src="{{basePath}}{{lang}}/top-ventas-5.jpg" alt="" /></div>
                <div class="content">
                    <p class="title">Óleo perfumado hidrossolúvel Oriental Wood (cedro e tonka)</p>
                    <p class="price"><strong>9,50 €</strong></p>
                    <a href="https://equivalenza.com/pt/ambientacion/aceite-perfumado-hidrosoluble/aceite-perfumado-hidrosoluble-oriental-wood-cedro-y-tonka/" class="btn">Comprar</a>
                </div>
            </div>
            <!-- /.item -->
            <div class="eq-topventas-cosmetica__item item item-6">
                <div class="pic"><img src="{{basePath}}{{lang}}/top-ventas-6.jpg" alt="" /></div>
                <div class="content">
                    <p class="title">Óleo perfumado Juicy Berries (romã e framboesa)</p>
                    <p class="price"><strong>9,50 €</strong></p>
                    <a href="https://equivalenza.com/pt/ambientacion/aceite-perfumado-hidrosoluble/aceite-perfumado-hidrosoluble-juicy-berries-granada-y-frambuesa/" class="btn">Comprar</a>
                </div>
            </div>
            <!-- /.item -->
        </div>          
    </div>
</div>
<!-- END: TOP VENTAS -->

<!-- START: REVIEWS DIFUSORES -->
{% include 'components/copy.twig' with {
    className: 'eq-section--nopadding eq-difusores-review-copy',
    section: 'OS NOSSOS CLIENTES NÃO TÊM DÚVIDAS',
} %}

<div class="eq-section eq-section--nopadding-top">
    <div class="eq-section__inner">
        <div class="eq-difusores-review eq-slider owl-carousel">
            <div class="eq-difusores-review-item item">
                <p class="text">Drop é fantástico, deixa um aroma incrível. Adorei, foi um presente. Uso-o muito, pois o aroma fica por toda a casa.</p>
                <img src="{{basePath}}{{lang}}/stars.png" alt="" class="stars" />
                <p class="byline">Virginia Buendía (23/04/21)</p>
            </div><!-- /.item -->
            <div class="eq-difusores-review-item item">
                <p class="text">Adoro o Drop. Normalmente uso a fragrância Oceano. A sensação é de frescura. Coloco o máximo de água e umas 8 gotas de óleo e dura muitíssimo.</p>
                <img src="{{basePath}}{{lang}}/stars.png" alt="" class="stars" />
                <p class="byline">Inmaculada (04/04/20)</p>
            </div><!-- /.item -->
            <div class="eq-difusores-review-item item">
                <p class="text">O modelo Cube parece-me ótimo!</p>
                <img src="{{basePath}}{{lang}}/stars.png" alt="" class="stars" />
                <p class="byline">Pnicola2001 (09/01/20)</p>
            </div><!-- /.item -->
            <div class="eq-difusores-review-item item">
                <p class="text">Adoro como difunde o aroma por toda a sala, o Drop é o segundo aparelho que compro. Tenho o Drop XS e adoro ter os dois a difundir este aroma maravilhoso. Recomendo.</p>
                <img src="{{basePath}}{{lang}}/stars.png" alt="" class="stars" />
                <p class="byline">Ana Oliveira (31/08/20)</p>
            </div><!-- /.item -->
        </div>
    </div>
</div>
<!-- END: REVIEWS DIFUSORES -->

{% include 'components/copy.twig' with {
    title: 'OS ESSENCIAIS PARA O VERÃO',
    text: 'Ilumina, bronzeia, hidrata. A rotina para uma pele radiante.',
} %}

<!-- START: NOVEDADES -->
<section class="eq-section eq-section--nopadding-top">
    <div class="eq-section__inner">
        <div class="eq-new eq-slider owl-carousel">
            <div class="eq-new__item item">
                <a href="https://equivalenza.com/pt/cosmetica/cuidado-corporal/tratamentos/aceite-corporal-iluminador/"><img src="{{basePath}}{{lang}}/aceite_corporal_lifestyle_1_.jpg" alt="" /></a>
                <p class="title">ÓLEO COPORAL ILUMINADOR</p>
                <p class="description">As suas perlites são ideais para iluminar o seu decote, braços, pernas e qualquer outra zona que queira destacar.</p>
                {% include 'common/button-black.twig' with { href: 'https://equivalenza.com/pt/cosmetica/cuidado-corporal/tratamentos/aceite-corporal-iluminador/', text: 'VER MAIS' } %}
            </div>
            <div class="eq-new__item item">
                <a href="https://equivalenza.com/pt/summer/booster-facial-autobronceador/"><img src="{{basePath}}{{lang}}/booster_facial_autobronceador_1_.jpg" alt="" /></a>
                <p class="title">BOOSTER FACIAL AUTOBRONZEADOR</p>
                <p class="description">Para um bronzeado uniforme, sem manchas e com resultados visíveis desde a primeira aplicação.</p>
                {% include 'common/button-black.twig' with { href: 'https://equivalenza.com/pt/summer/booster-facial-autobronceador/', text: 'DESCOBRIR!' } %}
            </div>
            <div class="eq-new__item item">
                <a href="https://equivalenza.com/pt/summer/agua-autobronceadora-corporal/"><img src="{{basePath}}{{lang}}/autobronceadores.jpg" alt="" /></a>
                <p class="title">ÁGUA AUTOBRONZEADORA CORPORAL</p>
                <p class="description">Formulação ultraleve que penetra na pele, com uma fragrância tropical de extrato de água de coco.</p>
                {% include 'common/button-black.twig' with { href: 'https://equivalenza.com/pt/summer/agua-autobronceadora-corporal/', text: 'COMPRAR' } %}
            </div>
        </div>
    </div>
</section>
<!-- END: NOVEDADES -->

{% include 'components/copy.twig' with {
    title: 'DESCUBRA A EQUIVALENZA',
    text: 'Produtos únicos ao alcance de todos.',
} %}

<!-- START: SEARCH -->
<section class="eq-section eq-section--nopadding eq-section--search">
    <div class="eq-section__inner">
        <div class="eq-search">
            <div class="eq-search__pic">
                <img src="{{basePath}}{{lang}}/EQZ_01_shorter.jpg" alt="" />
            </div>
            <div class="eq-search__content">
                <p class="title">FRAGRÂNCIAS QUE FALAM DE SI</p>
                <p class="copy">Os nossos perfumistas criaram mais de 130 fragrâncias inesquecíveis a partir de ingredientes da mais alta qualidade. Encontre a sua preferida no nosso catálogo!</p>
                <ul class="links">
                    <li><a href="https://equivalenza.com/pt/perfumes/perfumes-mujer/ ">Perfumes para mulher </a></li>
                    <li><a href="https://equivalenza.com/pt/perfumes/perfumes-hombre/">Perfumes para homem</a></li>
                </ul>
                <form id="eq-search" class="eq-search__form">
                    <fieldset>
                        <legend>É fiel ao seu perfume e sabe qual é o número que a define. <strong>Procure-o aqui!</strong></legend>
                        <div class="eq-search__group">
                            <div class="eq-search__field">
                                <input class="form-control" id="searchperfume" name="search" placeholder="O meu número é..." type="search">
                                <div class="inner-addon right-addon spinsearchperf" style="display: none;">
                                    <i class="fa fa-spinner fa-pulse"></i>
                                </div>
                                <div class="inner-addon right-addon errorsearchperf" style="display: none; color: red;">
                                    <i class="fa fa-exclamation-circle"></i>
                                </div>
                            </div>
                            <button type="submit">PESQUISAR</button>
                        </div>
                    </fieldset>
                </form>
                <p class="copy"><strong>Não sabe qual escolher?</strong> Não se preocupe; iremos ajudar a encontrar o seu perfume ideal.</p>
                {% include 'common/button-black.twig' with { href: 'https://equivalenza.com/pt/buscador-perfumes/', text: 'DESCUBRA O SEU PERFUME' } %}
            </div>
        </div>
    </div>
</section>
<!-- END: SEARCH -->

<!-- START: CATEGORIES -->
<section class="eq-section">
    <div class="eq-section__inner">
        <div class="eq-categories">
            <div class="eq-categories__inner">
                <a href="https://equivalenza.com/pt/cosmetics/" class="eq-categories__item">
                    <img src="{{basePath}}{{lang}}/categorias-1.jpg" alt="" class="eq-categories__pic" />
                    <span class="title">ROSTO</span>
                </a>
                <a href="https://equivalenza.com/pt/cosmetica/cuidado-corporal/" class="eq-categories__item">
                    <img src="{{basePath}}{{lang}}/categorias-2.jpg" alt="" class="eq-categories__pic" />
                    <span class="title">CORPO</span>
                </a>
                <a href="https://equivalenza.com/pt/ambientacion/" class="eq-categories__item">
                    <img src="{{basePath}}{{lang}}/categorias-3.jpg" alt="" class="eq-categories__pic" />
                    <span class="title">AMBIENTAÇÃO</span>
                </a>
                <a href="https://equivalenza.com/pt/maquillaje/" class="eq-categories__item">
                    <img src="{{basePath}}{{lang}}/categorias-4.jpg" alt="" class="eq-categories__pic" />
                    <span class="title">MAQUILHAGEM</span>
                </a>
                <a href="https://equivalenza.com/pt/perfumes/" class="eq-categories__item">
                    <img src="{{basePath}}{{lang}}/categorias-5.jpg" alt="" class="eq-categories__pic" />
                    <span class="title">PERFUMES</span>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- END: CATEGORIES -->

{% include 'components/copy.twig' with {
    title: 'O MAIS FANTÁSTICO',
    text: 'Estes são os vossos preferidos!',
} %}

<!-- START: TOP VENTAS -->
<section class="eq-section eq-section--nopadding">
    <div class="eq-section__inner">
        <div class="eq-topsales">
            <div class="eq-topsales__item">{{ '{{block class="MGS\Mpanel\Block\Products\Attributes" mgs_panel_title="" mgs_panel_note="" limit="15" ratio="1" category_ids="298" attribute="mas_vendido" use_slider="1" loadmore="0" template="products/attribute/category-tabs.phtml" perrow="2" autoplay="1" stop_auto="1" navigation="1" pagination="0" number_row="1"}}' | escape }}</div>
            <div class="eq-topsales__item">{{ '{{block class="MGS\Mpanel\Block\Products\Attributes" mgs_panel_title="" mgs_panel_note="" limit="15" ratio="1" category_ids="320" attribute="mas_vendido" use_slider="1" loadmore="0" template="products/attribute/category-tabs.phtml" perrow="2" autoplay="1" stop_auto="1" navigation="1" pagination="0" number_row="1"}}' | escape }}</div>
            <div class="eq-topsales__item">{{ '{{block class="MGS\Mpanel\Block\Products\Attributes" mgs_panel_title="" mgs_panel_note="" limit="15" ratio="1" category_ids="385" attribute="mas_vendido" use_slider="1" loadmore="0" template="products/attribute/category-tabs.phtml" perrow="2" autoplay="1" stop_auto="1" navigation="1" pagination="0" number_row="1"}}' | escape }}</div>
        </div>
    </div>
</section>
<!-- END: TOP VENTAS -->

{% include 'components/copy.twig' with {
    title: 'NOVA LINHA DE <span class="h">COSMÉTICA</span>',
    text: 'Sensorial, natural e sustentável.',
} %}

{% include 'components/new-line.twig' with {
    slides: [
        {
            img: {
                src: 'slide-1.jpg',
                alt: '',
            },
            title: 'Alegria radiante',
            copy: 'Texturas frescas e revitalizantes com o poder e a luminosidade da <span class="highlight">VITAMINA C</span>.',
            link: {
                text: 'Ver todos os productos',
                href: 'https://equivalenza.com/pt/cosmetica/ingrediente-emocion/alegria-radiante/',
            },
            products: [
                {
                    img: {
                        src: 'slide-1__1.jpg',
                        alt: '',
                    },
                    title: 'Sorvete hidratante',
                    price: '17,95 €',
                    btn: {
                        text: 'Comprar',
                        href: 'https://equivalenza.com/pt/cosmetica/cosmetics/cremas-hidratantes/sorbete-hidratante/',
                    },
                },
                {
                    img: {
                        src: 'slide-1__2.jpg',
                        alt: '',
                    },
                    title: 'Sérum iluminador',
                    price: '15,95 €',
                    btn: {
                        text: 'Comprar',
                        href: 'https://equivalenza.com/pt/catalog/product/view/id/4542/s/serum-iluminador/category/619/',
                    },
                },
                {
                    img: {
                        src: 'slide-1__3.jpg',
                        alt: '',
                    },
                    title: 'Pack de 5 ampolas de 2ml de vitamina C e proteoglicanos',
                    price: '9,95 €',
                    btn: {
                        text: 'Comprar',
                        href: 'https://equivalenza.com/pt/cosmetica/ingrediente-emocion/alegria-radiante/pack-de-5-ampollas-de-2ml-con-vitamina-c-y-proteoglicanos/',
                    },
                },
            ]
        },
        {
            img: {
                src: 'slide-2.jpg',
                alt: '',
            },
            title: 'Energía vital',
            copy: 'Sinta a proteção e vitalidade do <span class="highlight highlight--green">ALOÉ VERA</span> através de suas texturas leves e energizantes.',
            link: {
                text: 'Ver todos os productos',
                href: 'https://equivalenza.com/pt/cosmetica/ingrediente-emocion/energia-vital/',
            },
            products: [
                {
                    img: {
                        src: 'slide-2__1.jpg',
                        alt: '',
                    },
                    title: 'Creme exfoliante corporal detoxificante',
                    price: '11,95 €',
                    btn: {
                        text: 'Comprar',
                        href: 'https://equivalenza.com/pt/catalog/product/view/id/5895/s/crema-exfoliante-corporal-detoxificante/category/640/',
                    },
                },
                {
                    img: {
                        src: 'slide-2__2.jpg',
                        alt: '',
                    },
                    title: 'Roll-on Tratamento hidratante anticelulítico 75ml',
                    price: '9,45 €',
                    btn: {
                        text: 'Comprar',
                        href: 'https://equivalenza.com/pt/cosmetica/ingrediente-emocion/energia-vital//roll-on-anticelulitico-detox-75ml/',
                    },
                },
                {
                    img: {
                        src: 'slide-2__3.jpg',
                        alt: '',
                    },
                    title: 'Limpador detoxificante 3 em 1',
                    price: '7,95 €',
                    btn: {
                        text: 'Comprar',
                        href: 'https://equivalenza.com/pt/catalog/product/view/id/4569/s/limpiador-detoxificante-3-en-1/category/640/',
                    },
                },
            ]
        },
        {
            img: {
                src: 'slide-3.jpg',
                alt: '',
            },
            title: 'Sedução Magnetica',
            copy: 'Texturas cremosas e nutritivas que acentuam a intensidade da nutrição dos <span class="highlight highlight--purple">ÓLEOS DE ELIXIR</span>.',
            link: {
                text: 'Ver todos os productos',
                href: 'https://equivalenza.com/pt/cosmetica/ingrediente-emocion/seduccion-magnetica/',
            },
            products: [
                {
                    img: {
                        src: 'slide-3__1.jpg',
                        alt: '',
                    },
                    title: 'Óleo de massagem embelezedor',
                    price: '9,95 €',
                    btn: {
                        text: 'Comprar',
                        href: 'https://equivalenza.com/pt/catalog/product/view/id/5813/s/aceite-de-masaje-embellecedor/category/646/',
                    },
                },
                {
                    img: {
                        src: 'slide-3__2.jpg',
                        alt: '',
                    },
                    title: 'Creme sedoso reafirmante',
                    price: '11,95 €',
                    btn: {
                        text: 'Comprar',
                        href: 'https://equivalenza.com/pt/catalog/product/view/id/4556/s/crema-sedosa-reafirmante/category/646/',
                    },
                },
                {
                    img: {
                        src: 'slide-3__3.jpg',
                        alt: '',
                    },
                    title: 'Contorno de olhos refirmante',
                    price: '11,95 €',
                    btn: {
                        text: 'Comprar',
                        href: 'https://equivalenza.com/pt/catalog/product/view/id/4567/s/contorno-de-ojos-reafirmante/category/646/',
                    },
                },
            ]
        },
        {
            img: {
                src: 'slide-4.jpg',
                alt: '',
            },
            title: 'Equilíbrio Interior',
            copy: 'Encontre a calma com esta linha reconfortante que valoriza a força dada pelo <span class="highlight highlight--blue">ÁCIDO HIALURÓNICO</span>.',
            link: {
                text: 'Ver todos os productos',
                href: 'https://equivalenza.com/pt/cosmetica/ingrediente-emocion/equilibrio-interior/',
            },
            products: [
                {
                    img: {
                        src: 'slide-4__1.jpg',
                        alt: '',
                    },
                    title: 'Manteiga exfoliante corporal equilibrante',
                    price: '11,95 €',
                    btn: {
                        text: 'Comprar',
                        href: 'https://equivalenza.com/pt/catalog/product/view/id/5838/s/manteca-exfoliante-corporal-equilibrante/category/643/',
                    },
                },
                {
                    img: {
                        src: 'slide-4__2.jpg',
                        alt: '',
                    },
                    title: 'Creme de duche reconfortante',
                    price: '5,95 €',
                    btn: {
                        text: 'Comprar',
                        href: 'https://equivalenza.com/pt/catalog/product/view/id/5816/s/crema-de-ducha-reconfortante/category/643/',
                    },
                },
                {
                    img: {
                        src: 'slide-4__3.jpg',
                        alt: '',
                    },
                    title: 'Sérum hidratante aqua bomb',
                    price: '15,95 €',
                    btn: {
                        text: 'Comprar',
                        href: 'https://equivalenza.com/pt/catalog/product/view/id/4564/s/serum-hidratante-aqua-bomb/category/643/',
                    },
                },
            ]
        },
    ]
} %}

<section class="eq-section eq-section--green">
    <div class="eq-section__inner">
        <div class="eq-sostenible">
            <div class="eq-sostenible__pic">
                <img src="{{basePath}}{{lang}}/sostenible.jpg" alt="" />
            </div>
            <div class="eq-sostenible__content">
                <p class="title">A COSMÉTICA DO FUTURO <span class="highlight">É SUSTENTÁVEL</span></p>
                <p class="subtitle">Cuidamos da sua pele e do ambiente.</p>
                <ul class="items">
                    <li>
                        <strong>NATURAL</strong>
                        <span>Até <strong>99% dos ingredientes são de origem natural</strong> e mais de 80% das fórmulas adequadas para veganos.</span>
                    </li>
                    <li>
                        <strong>SUSTENTÁVEL</strong>
                        <span>As inovadoras <strong>recargas ecológicas</strong> para cremes em frasco <strong>reduzem o consumo de plástico em quase 90% por recarga</strong>.</span>
                    </li>
                </ul>
                {% include 'common/button-black.twig' with { href: 'https://equivalenza.com/pt/cosmetica/', text: 'DESCUBRA A COSMÉTICA SUSTENTÁVEL' } %}
            </div>
        </div>
    </div>
</section>

{% include 'components/copy.twig' with {
    title: 'RECOMENDAM-NOS',
    text: 'Aqui está o que dizem sobre os nossos produtos',
} %}

{% include 'components/reviews.twig' with {
    items: [
        {
            product: {
                img: {
                    src: 'review-1.jpg',
                    alt: '',
                },
                name: 'Floral Doce 150',
                rating: 5,
                href: 'https://equivalenza.com/pt/catalog/product/view/id/3628/s/floral-dulce-150/category/537/',
            },
            review: {
                title: 'Um verdadeiro paraíso para os sentidos',
                text: 'Uso à 4 anos e é o meu cartão de visita: sabem quando estou',
                by: 'Opinião por Albertina Nogueira 19/03/21',
            },
        },
        {
            product: {
                img: {
                    src: 'review-2.jpg',
                    alt: '',
                },
                name: 'Oriental Amadeirado 033',
                rating: 5,
                href: 'https://equivalenza.com/pt/catalog/product/view/id/3456/s/oriental-amaderado-033/category/540/',
            },
            review: {
                title: 'Aroma fantástico que nunca cansa e assenta muito bem no corpo. Dura o dia inteiro!!',
                text: 'Usu-o desde que a Equivalenza o fabrica e não abdico do mesmo. Posso experimentar mil e uma fragrâncias, mas sempre fiel ao 033.',
                by: 'Opinião por Mónica 08/01/22',
            },
        },
        {
            product: {
                img: {
                    src: 'review-3.jpg',
                    alt: '',
                },
                name: 'Herbáceo Aromático 233',
                rating: 5,
                href: 'https://equivalenza.com/pt/catalog/product/view/id/3792/s/herbaceo-aromatico-233/category/542/',
            },
            review: {
                title: 'Muito bom',
                text: 'Um excelente amadeirado de bergamota e âmbar, intenso, com uma grande personalidade, fixação e duração acima da média, fragância masculina muito bem desenhada para a noite.',
                by: 'Opinião de Francisco Gouveia 03/12/20',
            },
        },
        {
            product: {
                img: {
                    src: 'review-4.jpg',
                    alt: '',
                },
                name: 'Amadeirado com Especiarias 269',
                rating: 5,
                href: 'https://equivalenza.com/pt/catalog/product/view/id/3864/s/amaderado-especiado-269/category/543/',
            },
            review: {
                title: 'Incomparável 269',
                text: 'Ainda não encontrei melhor.',
                by: 'Opinião de Ramiro Júnior 27/07/21',
            },
        },
        {
            product: {
                img: {
                    src: 'review-5.jpg',
                    alt: '',
                },
                name: 'Creme sedoso reafirmante',
                rating: 5,
                href: 'https://equivalenza.com/pt/cosmetica/cuidado-facial/cremas-antiarrugas/crema-sedosa-reafirmante/',
            },
            review: {
                title: 'MA-RA-VI-LHO-SO!!!',
                text: 'Usava o creme de rosas e fiquei muito triste quando descontinuaram mas afinal valeu a pena, pois tinham preparado algo ainda melhor! Sou fã de toda a cosmética mas este creme é mesmo o meu queridinho!
PS: Adoro o conceito das recargas.',
                by: 'Opinião de Liz 18/03/22',
            },
        },
        {
            product: {
                img: {
                    src: 'review-6.jpg',
                    alt: '',
                },
                name: 'Limpador detoxificante 3 em 1',
                rating: 5,
                href: 'https://equivalenza.com/pt/cosmetica/cuidado-facial/exfoliantes-faciales/limpiador-detoxificante-3-en-1/',
            },
            review: {
                title: 'Adoro!',
                text: 'Provavelmente o melhor exfoliante que já experimentei. Geralmente faço a exfoliação e deixo atuar por 10min. Como me foi sugerido na loja e realmente faz toda a diferença.',
                by: 'Opinião de Ana Maria 18/03/22',
            },
        },
        {
            product: {
                img: {
                    src: 'review-7.jpg',
                    alt: '',
                },
                name: 'Difusor de aromas por ultrassom Drop',
                rating: 5,
                href: 'https://equivalenza.com/pt/ambientacion/difusor-de-aromas/difusor-de-aromas/drop/',
            },
            review: {
                title: 'Melhor investimento',
                text: 'Um grande investimento que vale toda a pena fazer!! Adoro como espalha o cheirinho por toda a minha sala, é a segunda maquina que compro. Tenho a maquina pequena branquinha e adoro ter as duas a deitar o cheirinho maravilhoso. Recomendo!!! Óptimo investimento.',
                by: 'Opinião de Ana Oliveira 31/08/20',
            },
        },
        {
            product: {
                img: {
                    src: 'review-8.jpg',
                    alt: '',
                },
                name: 'Mikado Mystic Garden (dama da noite e flor de laranjeira)',
                rating: 5,
                href: 'https://equivalenza.com/pt/ambientacion/hogar/mikados/mikado-mystic-garden-dama-de-noche-y-azahar/',
            },
            review: {
                title: 'Adoro',
                text: 'Dá um ambiente maravilhoso à nossa casa.',
                by: 'Opinião por Isabel moreira 23/04/21',
            },
        },
        {
            product: {
                img: {
                    src: 'review-9.jpg',
                    alt: '',
                },
                name: 'Óleo perfumado hidrossolúvel Ocean Breeze (pinho e limão)',
                rating: 5,
                href: 'https://equivalenza.com/pt/ambientacion/difusor-de-aromas/aceite-perfumado-hidrosoluble/aceite-perfumado-hidrosoluble-ocean-brezze-limon-y-pino/',
            },
            review: {
                title: 'Adoro este aroma',
                text: 'Tenho varios em casa e sao uma maravilha.',
                by: 'Opinião por Ana Cristina Freitas 20/01/22',
            },
        },
    ],
} %}

<!-- START: EQUILOVERS -->
<section class="eq-section eq-section--pink">
    <div class="eq-section__inner">
        <div class="eq-equilovers">
            <img src="{{basePath}}{{lang}}/logo-equilovers.png" alt="" class="pic" />
            <div class="content">
                <p class="title">O Beauty Club da Equivalenza</p>
                <p class="copy">Queremos estar perto de si. Junte-se ao nosso clube de beleza e desfrute de <strong>descontos, recargas gratuitas</strong> e outras <strong>recompensas</strong>.</p>
            </div>
            {% include 'common/button-white.twig' with { href: 'https://equivalenza.com/pt/equilovers/', text: 'TORNE-SE EQUILOVER' } %}
        </div>
    </div>
</section>
<!-- END: EQUILOVERS -->

{% include 'components/footer-landing.twig' with {
    items: [
        {
            image: {
                src: 'footer-1.png',
                alt: '',
            },
            title: '<strong>98 em 100 pessoas</strong> recomendariam a Equivalenza a um amigo',
        },
        {
            image: {
                src: 'footer-2.png',
                alt: '',
            },
            title: '<strong>4,8/5</strong> 38 000 opiniões de clientes reais',
        },
        {
            image: {
                src: 'footer-3.png',
                alt: '',
            },
            title: '<strong>+500.000</strong> lares usam a Equivalenza diariamente',
        },
    ]
} %}

{% include 'components/ventajas.twig' with {
    items: [
        {
            image: {
                src: 'ventajas-1.png',
                alt: '',
            },
            label: '<strong>Pagamento seguro</strong>',
        },
        {
            image: {
                src: 'ventajas-3.png',
                alt: '',
            },
            label: '<strong>Envios grátis</strong> a partir de 29,95 €',
        },
        {
            image: {
                src: 'ventajas-4.png',
                alt: '',
            },
            label: '<strong>Atendimento personalizado</strong>',
        },
    ]
} %} 

{% include 'components/popup-newsletter.twig' with {
    image: 'popup-newsletter-generic.jpg',
    title: 'OBTÉM 10% DE DESCONTO!',
    text: [
        'Queres manter-te a par de todas as nossas ofertas e novidades?',
        'Subscreve o nosso <strong>boletim informativo</strong> agora e <strong>recebe um desconto de 10%</strong> na tua próxima compra!'
    ],
    form: {
        inputPlaceholder: 'E-mail',
        button: 'RECEBER O MEU CUPÃO',
    },
    checkboxGroup: [
        {
            id: 'opt-out',
            label: 'Não mostrar esta mensagem novamente.',
            value: 'opt-out',
        },
    ]
} %}

{% include 'components/scripts-home-2022.twig' %}

{% endblock %}