{# home.twig #}
{% set lang="pt" %}
{% set basePath='https://equivalenza.com/landings_media/images/home-xmas-2022/' %}

{% extends 'layouts/default.twig' %}

{% block meta %}
    {{ parent() }}
    <title>Home Xmas 2022 - PT</title>
{% endblock %}

{% block content %}

{% include 'components/css-home-xmas-2022.twig' %}

<!-- START: HERO -->
<section class="eq-section eq-section--nopadding">
    <div class="eq-section__inner">
        <div class="eq-xm-hero alt">
            <div class="eq-xm-hero__pic">
                {% include "common/image.twig" with {
                    alt: '',
                    src: 'magical-xmas/magical-christmas-20221207.png',
                    sizes: '100vw',
                    mobile: 'magical-xmas/res-magical-christmas.jpg'
                } %}
            </div>
            <div class="eq-xm-hero__wrapper">
                <div class="eq-xm-hero__content">
                    <img src="{{basePath}}{{lang}}/magical-xmas/logo-xmas.png" alt="Magical Christmas" class="logo" />
                    <p class="claim">Partilhe felicidade e magia neste Natal</p>
                    <p class="text">Desde exclusivos perfumes até incríveis packs de beleza e cosmética natural: encontras o teu presente perfeito entre a melhor seleção de ideias para marcares a diferença neste Natal. Porque neste Natal tudo volta a brilhar de forma mágica.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END: HERO -->

<!-- START: IDEAS DE REGALO -->
<section class="eq-section eq-section--nopadding eq-section--xmas">
    <div class="eq-section__inner">
        <div class="eq-xm-ideas">
            <div class="eq-xm-ideas__header">
                <p class="title">Presentes de Natal</p>
                <!-- <a href="#" class="more">Ver todos los regalos</a> -->
            </div>
            {% include "components/xmas-ideas.twig" with {
                className: 'eq-xm-ideas__cards--col4',
                cards: [
                    {
                        title: 'Para ela',
                        srcset: {
                            alt: '',
                            src: 'ideas/desktop-para-ella-2.jpg',
                            sizes: '100vw',
                            mobile: 'ideas/res-para-ella-2.jpg',
                        },
                        btn: {
                            text: 'Comprar',
                            href: 'https://equivalenza.com/pt/magical-christmas/para-ella/',
                        }
                    },
                    {
                        title: 'Para ele',
                        srcset: {
                            alt: '',
                            src: 'ideas/desktop-para-el-2.jpg',
                            sizes: '100vw',
                            mobile: 'ideas/res-para-el-2.jpg',
                        },
                        btn: {
                            text: 'Comprar',
                            href: 'https://equivalenza.com/pt/magical-christmas/para-el/',
                        }
                    },
                    {
                        title: 'Cosmética',
                        srcset: {
                            alt: '',
                            src: 'ideas/desktop-cosmetica-2.jpg',
                            sizes: '100vw',
                            mobile: 'ideas/res-cosmetica-2.jpg',
                        },
                        btn: {
                            text: 'Comprar',
                            href: 'https://equivalenza.com/pt/magical-christmas/para-mimar/',
                        }
                    },
                    {
                        title: 'Ambientação',
                        srcset: {
                            alt: '',
                            src: 'ideas/desktop-aromatics-2.jpg',
                            sizes: '100vw',
                            mobile: 'ideas/res-aromatics-2.jpg',
                        },
                        btn: {
                            text: 'Comprar',
                            href: 'https://equivalenza.com/pt/magical-christmas/para-el-hogar/',
                        }
                    },
                    {
                        title: 'Mais<br/>Vendidos',
                        srcset: {
                            alt: '',
                            src: 'ideas/desktop-topventas-2.jpg',
                            sizes: '100vw',
                            mobile: 'ideas/res-topventas-2.jpg',
                        },
                        btn: {
                            text: 'Comprar',
                            href: 'https://equivalenza.com/pt/magical-christmas/top-ventas/',
                        }
                    },
                    {
                        srcset: {
                            alt: '',
                            src: 'ideas/desktop-just-bright.jpg',
                            sizes: '100vw',
                            mobile: 'ideas/res-just-bright.jpg',
                        },
                        btn: {
                            text: 'Comprar',
                            href: 'https://equivalenza.com/pt/just-bright',
                        }
                    },
                    {
                        srcset: {
                            alt: '',
                            src: 'ideas/desktop-lessecrets-2.jpg',
                            sizes: '100vw',
                            mobile: 'ideas/res-lessecrets-2.jpg',
                        },
                        btn: {
                            text: 'Comprar',
                            href: 'https://equivalenza.com/pt/magical-christmas/les-secrets/',
                        }
                    },
                    {
                        srcset: {
                            alt: '',
                            src: 'ideas/desktop-glow-joy-2.jpg',
                            sizes: '100vw',
                            mobile: 'ideas/res-glow-joy-2.jpg',
                        },
                        btn: {
                            text: 'Comprar',
                            href: 'https://equivalenza.com/pt/magical-christmas/para-brilhar/',
                        }
                    },
                ]
            } %}
        </div>
    </div>
</section>
{% include 'components/copy.twig' with {
    title: 'Presentes Mágicos',
    text: 'Packs de beleza e ambientação à tua medida e prontos para oferecer',
} %}
<!-- END: IDEAS DE REGALO -->

<!-- START: BRAND AMBASSADOR -->
<section class="eq-section eq-section--nopadding">
    <div class="eq-section__inner">
        {% include 'components/xmas-featured.twig' with {
            className: 'eq-xm-featured--just-bright',
            images: {
                bg: 'just-bright/just-bright-bg-optim.jpg',
                bgRes: 'just-bright/res-just-bright-bg.jpg',
                title: 'just-bright/just-bright-logo.png',
                figure: 'just-bright/just-bright-fixed.png',
            },
            claim: 'REGALA JUST BRIGHT',
            copy: 'Uma fragrância luminosa, sensual e sofisticada',
            link: {
                text: 'Descubre o perfume da Sofia Ribeiro',
                href: 'https://equivalenza.com/pt/just-bright',
            },
            products: [
                {
                    imgSrc: 'just-bright/product-1.jpg',
                    title: 'JUST BRIGHT 50ml',
                    price: '24,95',
                    btn: {
                        text: 'Comprar',
                        href: 'https://equivalenza.com/pt/just-bright-by-sofia/',
                    },
                },
                {
                    imgSrc: 'just-bright/product-2.jpg',
                    title: 'GIFT SET',
                    price: '26,50',
                    btn: {
                        text: 'Comprar',
                        href: 'https://equivalenza.com/pt/gift-set-perfume-50ml-roll-on-10ml-just-bright-by-sofia-ribeiro/',
                    },
                },
            ]
        } %}
    </div>
</section>
<!-- END: BRAND AMBASSADOR -->

<!-- START: LES SECRETS -->
<section class="eq-section eq-section--nopadding eq-section--les-secrets">
    <div class="eq-section__inner">
        {% include 'components/xmas-featured.twig' with {
            className: 'eq-xm-featured--les-secrets',
            images: {
                bg: 'les-secrets/les-secrets-bg-optim.jpg',
                bgRes: 'les-secrets/res-lesecrets-optim.jpg',
                title: 'les-secrets/les-secrets-logo.png',
                figure: 'les-secrets/les-secrets-producto-optim.png',
            },
            claim: 'OFERECE EXCLUSIVIDADE<br>AO MELHOR PREÇO',
            copy: 'Les Secrets. A coleção com que marcará a diferença.',
            link: {
                text: 'Conhece a nossa linha premium',
                href: 'https://equivalenza.com/pt/magical-christmas/les-secrets/',
            },
            products: [
                {
                    imgSrc: 'les-secrets/product-1.jpg',
                    title: 'Pack Les Secrets - Perfume Le Secrets 50ml + Perfume para ela/ele 100ml',
                    price: '34,95',
                    btn: {
                        text: 'Comprar',
                        href: 'https://equivalenza.com/pt/magical-christmas/les-secrets/set-les-secrets-perfume-50ml-perfume-100ml-1/',
                    },
                },
                {
                    imgSrc: 'les-secrets/product-2.jpg',
                    title: 'Oud 283',
                    price: '18,95',
                    btn: {
                        text: 'Comprar',
                        href: 'https://equivalenza.com/pt/catalog/product/view/id/6794/s/amaderado-ambarado-283-100ml/category/950/',
                    },
                },
                                {
                    imgSrc: 'les-secrets/product-3.jpg',
                    title: 'Fleur d\'oranger 484',
                    price: '18,95',
                    btn: {
                        text: 'Comprar',
                        href: 'https://equivalenza.com/pt/magical-christmas/les-secrets/fleur-oranger-484/',
                    },
                },
                {
                    imgSrc: 'les-secrets/product-4.jpg',
                    title: 'Vanille Noire 684',
                    price: '18,95',
                    btn: {
                        text: 'Comprar',
                        href: 'https://equivalenza.com/pt/catalog/product/view/id/6547/s/vanille-noire-684/category/950/',
                    },
                },
                {
                    imgSrc: 'les-secrets/product-5.jpg',
                    title: 'Tonka 584',
                    price: '18,95',
                    btn: {
                        text: 'Comprar',
                        href: 'https://equivalenza.com/pt/magical-christmas/les-secrets/oriental-tonka-584/',
                    },
                },
                {
                    imgSrc: 'les-secrets/product-6.jpg',
                    title: 'Cachemire 784',
                    price: '18,95',
                    btn: {
                        text: 'Comprar',
                        href: 'https://equivalenza.com/pt/catalog/product/view/id/6071/s/cachemire784/category/950/',
                    },
                },
                {
                    imgSrc: 'les-secrets/product-7.jpg',
                    title: 'Cuir 383',
                    price: '18,95',
                    btn: {
                        text: 'Comprar',
                        href: 'https://equivalenza.com/pt/magical-christmas/les-secrets/cuero-especiado-383/',
                    },
                },
            ]
        } %}
    </div>
</section>
<!-- END: LES SECRETS -->

<!-- START: SEARCH -->
{% include 'components/copy.twig' with {
    title: 'DESCOBRE A EQUIVALENZA',
    text: 'Produtos únicos ao alcance de todos.',
} %}
<section class="eq-section eq-section--nopadding eq-section--search">
    <div class="eq-section__inner">
        <div class="eq-search">
            <div class="eq-search__pic">
                <img src="{{basePath}}{{lang}}/EQZ_01_shorter.jpg" alt="" />
            </div>
            <div class="eq-search__content">
                <p class="title">FRAGRÂNCIAS QUE FALAM DE TI</p>
                <p class="copy">Os nossos perfumistas criaram mais de 130 fragrâncias inesquecíveis a partir de ingredientes da mais alta qualidade. Encontre a tua preferida no nosso catálogo!</p>
                <ul class="links">
                    <li><a href="https://equivalenza.com/pt/perfumes/perfumes-mujer/ ">Perfumes para mulher </a></li>
                    <li><a href="https://equivalenza.com/pt/perfumes/perfumes-hombre/">Perfumes para homem</a></li>
                </ul>
                <form id="eq-search" class="eq-search__form">
                    <fieldset>
                        <legend>És fiel ao teu perfume e sabes qual é o número que te define? <strong>Procura-o aqui!</strong></legend>
                        <div class="eq-search__group">
                            <div class="eq-search__field">
                                <input class="form-control" id="searchperfume" name="search" placeholder="O meu número é..." type="search">
                                <div class="inner-addon right-addon spinsearchperf" style="display: none;">
                                    <i class="fa fa-spinner fa-pulse"></i>
                                </div>
                                <div class="inner-addon right-addon errorsearchperf" style="display: none; color: red;">
                                    <i class="fa fa-exclamation-circle"></i>
                                </div>
                            </div>
                            <button type="submit">PESQUISAR</button>
                        </div>
                    </fieldset>
                </form>
                <p class="copy"><strong>Não sabes qual escolher?</strong> Não te preocupes, iremos ajudar-te a encontrares o teu perfume ideal.</p>
                {% include 'common/button-black.twig' with { href: 'https://equivalenza.com/pt/buscador-perfumes/', text: 'Descubra o seu perfume' } %}
            </div>
        </div>
    </div>
</section>
<!-- END: SEARCH -->

<!-- START: NOVEDADES -->
{% include 'components/copy.twig' with {
    title: 'NOVIDADES',
    text: 'Não percas os nossos últimos lançamentos!',
} %}
<section class="eq-section eq-section--nopadding-top">
    <div class="eq-section__inner">
        <div class="eq-new eq-slider owl-carousel">
            <div class="eq-new__item item">
                <a href="https://equivalenza.com/pt/ambientacion/"><img src="https://equivalenza.com/pub/media/wysiwyg/home_2022/EQZ_Aromatics_001_1.jpg" alt="" /></a>
                <p class="title">3 NOVOS AROMAS DE OUTONO</p>
                <p class="description">Cedro e tonka, patchouli e sândalo, vinho e violeta... deixe-se cativar pelos novos aromas e transforme a sua casa.</p>
                {% include 'common/button-black.twig' with { href: 'https://equivalenza.com/pt/ambientacion/', text: 'VER MAIS' } %}
            </div>
            <div class="eq-new__item item">
                <a href="https://equivalenza.com/pt/catalog/category/view/s/black-label/id/324/"><img src="https://equivalenza.com/pub/media/wysiwyg/home_2022/EQZ-05BOD-1892_3.jpg" alt="" /></a>
                <p class="title">OS TEUS NOVOS ALIADOS PARA O CUIDADO DO CABELO</p>
                <p class="description">Cuida do teu cabelo e desfruta da tua fragrância favorita com os novos shampoos e amanciadores 086 e 144.</p>
                {% include 'common/button-black.twig' with { href: 'https://equivalenza.com/pt/catalog/category/view/s/black-label/id/324/', text: 'DESCOBRIR!' } %}
            </div>
            <div class="eq-new__item item">
                <a href="https://equivalenza.com/pt/just-bright"><img src="https://equivalenza.com/pub/media/wysiwyg/home_2022/1200x1200_justbright_shooting5.jpg" alt="" /></a>
                <p class="title">JUST BRIGHT by Sofia Ribeiro</p>
                <p class="description">Uma fragrância luminosa, sensual e sofisticada</p>
                {% include 'common/button-black.twig' with { href: 'https://equivalenza.com/pt/just-bright', text: 'COMPRAR' } %}
            </div>
        </div>
    </div>
</section>
<!-- END: NOVEDADES -->

<!-- START: GLOW & JOY -->
<section class="eq-section eq-section--nopadding eq-section--glow-joy">
    <div class="eq-section__inner">
        {% include 'components/xmas-featured.twig' with {
            className: 'eq-xm-featured--glow-joy',
            images: {
                bg: 'glow-joy/glow-joy-bg-optim.jpg',
                bgRes: 'glow-joy/glow-joy-res-optim.jpg',
                title: 'glow-joy/glow-joy-logo.png',
                figure: 'glow-joy/glow-joy-girl-optim.png',
                product: 'glow-joy/glow-joy-product.png',
            },
            claim: 'Descubre a maquilhagem com que brilhará neste Natal',
            link: {
                text: 'Apaixona-te pela nossa gama de maquilhagem',
                href: 'https://equivalenza.com/pt/magical-christmas/para-brilhar/',
            },
            products: [
                {
                    imgSrc: 'glow-joy/product-1.jpg',
                    title: 'Perfume 50 ml + Batom líquido + Iluminador',
                    price: '24,95',
                    btn: {
                        text: 'Comprar',
                        href: 'https://equivalenza.com/pt/magical-christmas/para-brilhar/para-las-mas-coquetas-perfume-50-ml-iluminador-labial-liquido/',
                    },
                },
                {
                    imgSrc: 'glow-joy/product-2.jpg',
                    title: 'Delineador de Olhos Líquido + Máscara + Sombra de Olhos',
                    price: '21,95',
                    btn: {
                        text: 'Comprar',
                        href: 'https://equivalenza.com/pt/magical-christmas/para-brilhar/ojos-magicos-delineador-mascara-delineador-liquido-sombra/',
                    },
                },
            ]
        } %}
    </div>
</section>
<!-- END: GLOW & JOY -->

<!-- START: REVIEWS -->
{% include 'components/copy.twig' with {
    title: 'RECOMENDAM-NOS',
    text: 'Aqui está o que dizem sobre os nossos produtos',
} %}

{% include 'components/reviews.twig' with {
    items: [
        {
            product: {
                img: {
                    src: 'review-1.jpg',
                    alt: '',
                },
                name: 'Floral Doce 150',
                rating: 5,
                href: 'https://equivalenza.com/pt/catalog/product/view/id/3628/s/floral-dulce-150/category/537/',
            },
            review: {
                title: 'Um verdadeiro paraíso para os sentidos',
                text: 'Uso à 4 anos e é o meu cartão de visita: sabem quando estou',
                by: 'Opinião por Albertina Nogueira 19/03/21',
            },
        },
        {
            product: {
                img: {
                    src: 'review-2.jpg',
                    alt: '',
                },
                name: 'Oriental Amadeirado 033',
                rating: 5,
                href: 'https://equivalenza.com/pt/catalog/product/view/id/3456/s/oriental-amaderado-033/category/540/',
            },
            review: {
                title: 'Aroma fantástico que nunca cansa e assenta muito bem no corpo. Dura o dia inteiro!!',
                text: 'Usu-o desde que a Equivalenza o fabrica e não abdico do mesmo. Posso experimentar mil e uma fragrâncias, mas sempre fiel ao 033.',
                by: 'Opinião por Mónica 08/01/22',
            },
        },
        {
            product: {
                img: {
                    src: 'review-3.jpg',
                    alt: '',
                },
                name: 'Herbáceo Aromático 233',
                rating: 5,
                href: 'https://equivalenza.com/pt/catalog/product/view/id/3792/s/herbaceo-aromatico-233/category/542/',
            },
            review: {
                title: 'Muito bom',
                text: 'Um excelente amadeirado de bergamota e âmbar, intenso, com uma grande personalidade, fixação e duração acima da média, fragância masculina muito bem desenhada para a noite.',
                by: 'Opinião de Francisco Gouveia 03/12/20',
            },
        },
        {
            product: {
                img: {
                    src: 'review-4.jpg',
                    alt: '',
                },
                name: 'Amadeirado com Especiarias 269',
                rating: 5,
                href: 'https://equivalenza.com/pt/catalog/product/view/id/3864/s/amaderado-especiado-269/category/543/',
            },
            review: {
                title: 'Incomparável 269',
                text: 'Ainda não encontrei melhor.',
                by: 'Opinião de Ramiro Júnior 27/07/21',
            },
        },
        {
            product: {
                img: {
                    src: 'review-5.jpg',
                    alt: '',
                },
                name: 'Creme sedoso reafirmante',
                rating: 5,
                href: 'https://equivalenza.com/pt/cosmetica/cuidado-facial/cremas-antiarrugas/crema-sedosa-reafirmante/',
            },
            review: {
                title: 'MA-RA-VI-LHO-SO!!!',
                text: 'Usava o creme de rosas e fiquei muito triste quando descontinuaram mas afinal valeu a pena, pois tinham preparado algo ainda melhor! Sou fã de toda a cosmética mas este creme é mesmo o meu queridinho!
PS: Adoro o conceito das recargas.',
                by: 'Opinião de Liz 18/03/22',
            },
        },
        {
            product: {
                img: {
                    src: 'review-6.jpg',
                    alt: '',
                },
                name: 'Limpador detoxificante 3 em 1',
                rating: 5,
                href: 'https://equivalenza.com/pt/cosmetica/cuidado-facial/exfoliantes-faciales/limpiador-detoxificante-3-en-1/',
            },
            review: {
                title: 'Adoro!',
                text: 'Provavelmente o melhor exfoliante que já experimentei. Geralmente faço a exfoliação e deixo atuar por 10min. Como me foi sugerido na loja e realmente faz toda a diferença.',
                by: 'Opinião de Ana Maria 18/03/22',
            },
        },
        {
            product: {
                img: {
                    src: 'review-7.jpg',
                    alt: '',
                },
                name: 'Difusor de aromas por ultrassom Drop',
                rating: 5,
                href: 'https://equivalenza.com/pt/ambientacion/difusor-de-aromas/difusor-de-aromas/drop/',
            },
            review: {
                title: 'Melhor investimento',
                text: 'Um grande investimento que vale toda a pena fazer!! Adoro como espalha o cheirinho por toda a minha sala, é a segunda maquina que compro. Tenho a maquina pequena branquinha e adoro ter as duas a deitar o cheirinho maravilhoso. Recomendo!!! Óptimo investimento.',
                by: 'Opinião de Ana Oliveira 31/08/20',
            },
        },
        {
            product: {
                img: {
                    src: 'review-8.jpg',
                    alt: '',
                },
                name: 'Mikado Mystic Garden (dama da noite e flor de laranjeira)',
                rating: 5,
                href: 'https://equivalenza.com/pt/ambientacion/hogar/mikados/mikado-mystic-garden-dama-de-noche-y-azahar/',
            },
            review: {
                title: 'Adoro',
                text: 'Dá um ambiente maravilhoso à nossa casa.',
                by: 'Opinião por Isabel moreira 23/04/21',
            },
        },
        {
            product: {
                img: {
                    src: 'review-9.jpg',
                    alt: '',
                },
                name: 'Óleo perfumado hidrossolúvel Ocean Breeze (pinho e limão)',
                rating: 5,
                href: 'https://equivalenza.com/pt/ambientacion/difusor-de-aromas/aceite-perfumado-hidrosoluble/aceite-perfumado-hidrosoluble-ocean-brezze-limon-y-pino/',
            },
            review: {
                title: 'Adoro este aroma',
                text: 'Tenho varios em casa e sao uma maravilha.',
                by: 'Opinião por Ana Cristina Freitas 20/01/22',
            },
        },
    ],
} %}
<!-- END: REVIEWS -->

<!-- START: ICONS -->
{% include 'components/copy.twig' with {
    text: 'Na Equivalenza, concebemos produtos da <strong>mais alta qualidade</strong>, feitos com <strong>ingredientes naturais</strong>, amigos do ambiente e a preços muito <strong>acessíveis</strong>.',
} %}

{% include 'components/icon-gallery.twig' with {
    items: [
        {
            icon: 'icon-1.png',
            label: 'Embalagem reutilizável ',
        },
        {
            icon: 'icon-2.png',
            label: 'Ecodesign: packaging mínimo',
        },
        {
            icon: 'icon-3.png',
            label: 'Ingredientes de origem natural',
        },
        {
            icon: 'icon-4.png',
            label: 'Fórmulas adequadas para vegans',
        },
        {
            icon: 'icon-5.png',
            label: 'Ligamos com as suas emoções',
        },
        {
            icon: 'icon-6.png',
            label: 'Não realizamos testes em animais',
        },
    ],
} %}
<!-- END: ICONS -->

<!-- START: EQUILOVERS -->
<section class="eq-section eq-section--pink">
    <div class="eq-section__inner">
        <div class="eq-equilovers">
            <img src="{{basePath}}{{lang}}/logo-equilovers.png" alt="" class="pic" />
            <div class="content">
                <p class="title">O Beauty Club da Equivalenza</p>
                <p class="copy">Queremos estar perto de si. Junte-se ao nosso clube de beleza e desfrute de <strong>descontos, recargas gratuitas</strong> e outras <strong>recompensas</strong>.</p>
            </div>
            {% include 'common/button-white.twig' with { href: 'https://equivalenza.com/pt/equilovers/', text: 'TORNE-SE EQUILOVER' } %}
        </div>
    </div>
</section>
<!-- END: EQUILOVERS -->

<!-- START: FOOTER -->
{% include 'components/footer-landing.twig' with {
    items: [
        {
            image: {
                src: 'footer-1.png',
                alt: '',
            },
            title: '<strong>98 em 100 pessoas</strong> recomendariam a Equivalenza a um amigo',
        },
        {
            image: {
                src: 'footer-2.png',
                alt: '',
            },
            title: '<strong>4,8/5</strong> 38 000 opiniões de clientes reais',
        },
        {
            image: {
                src: 'footer-3.png',
                alt: '',
            },
            title: '<strong>+500.000</strong> lares usam a Equivalenza diariamente',
        },
    ]
} %}

{% include 'components/ventajas.twig' with {
    items: [
        {
            image: {
                src: 'ventajas-1.png',
                alt: '',
            },
            label: '<strong>Pagamento seguro</strong>',
        },
        {
            image: {
                src: 'ventajas-3.png',
                alt: '',
            },
            label: '<strong>Envios grátis</strong> a partir de 29,95 €',
        },
        {
            image: {
                src: 'ventajas-4.png',
                alt: '',
            },
            label: '<strong>Atendimento personalizado</strong>',
        },
    ]
} %} 
<!-- END: FOOTER -->

{% include 'components/popup-newsletter.twig' with {
    image: 'popup-newsletter-generic.jpg',
    title: 'OBTÉM 10% DE DESCONTO!',
    text: [
        'Queres manter-te a par de todas as nossas ofertas e novidades?',
        'Subscreve o nosso <strong>boletim informativo</strong> agora e <strong>recebe um desconto de 10%</strong> na tua próxima compra!'
    ],
    form: {
        inputPlaceholder: 'E-mail',
        button: 'RECEBER O MEU CUPÃO',
    },
    checkboxGroup: [
        {
            id: 'opt-out',
            label: 'Não mostrar esta mensagem novamente.',
            value: 'opt-out',
        },
    ]
} %}

{% include 'components/scripts-home-xmas-2022.twig' %}

{% endblock %}