{# landing-cosmetica.twig #}
{% extends 'layouts/default.twig' %}
{% set lang="pt" %}

{% block meta %}
    {{ parent() }}
    <title>Landing Cosmetica</title>
{% endblock %}

{% block content %}

{% include 'components/hero.twig' with {
    items: [
        {
            title: '<em>NOVA LINHA</em> COSMÉTICA CORPORAL',
            text: 'Sensorial, natural<br>e sustentável',
            srcset: {
                alt: '',
                src: 'cosmetica-hero-1-PT.png',
                sizes: '100vw',
                mobile: 'cosmetica-hero-1-mobile-PT.png'
            },
            button: {
                href: 'https://equivalenza.com/pt/cosmetica/cuidado-corporal/ ',
                text: 'Descubra-a',
            },
        },        
        {
            title: 'COSMÉTICA FACIAL',
            text: 'Cosmética natural pensada para si',
            srcset: {
                alt: '',
                src: 'cosmetica-hero-2-PT.png',
                sizes: '100vw',
                mobile: 'cosmetica-hero-2-mobile-PT.png'
            },
            button: {
                href: 'https://equivalenza.com/pt/cosmetics/',
                text: 'Descubra-a',
            },
        },        
        {
            title: '<em>NOVA LINHA</em> CUIDE DO PLANETA',
            text: 'Reutilize as suas embalagens',
            srcset: {
                alt: '',
                src: 'cosmetica-hero-3-PT.png',
                sizes: '100vw',
                mobile: 'cosmetica-hero-3-mobile-PT.png'
            },
            button: {
                href: 'https://equivalenza.com/pt/cosmetica/cuidado-corporal/#refill',
                text: 'Descubra-a',
            },
        },        
    ]
} %}

{% include 'components/copy.twig' with {
    text: 'Cosmética con ingredientes de <strong>origem natural</strong> que <strong>cuida do planeta e da sua pele</strong>.<br>Cosmética <strong>pensada para si</strong>.',
} %}

{% include 'components/icon-gallery.twig' with {
    items: [
        {
            icon: 'icon-1.png',
            label: 'Embalagem reutilizável',
        },
        {
            icon: 'icon-2.png',
            label: 'Ecodesign: packaging mínimo',
        },
        {
            icon: 'icon-3.png',
            label: 'Ingredientes de origem natural',
        },
        {
            icon: 'icon-4.png',
            label: 'Fórmulas adequadas para vegans',
        },
        {
            icon: 'icon-5.png',
            label: 'Ligamos com as suas emoções',
        },
    ],
} %}

{% include 'components/categorias.twig' with {
    items: [
        {
            className: 'grey',
            title: 'Cuide do seu corpo, cuide da sua pele',
            srcset: {
                alt: '',
                src: 'categoria-1.png',
                sizes: '100vw',
                mobile: 'categoria-1-mobile.png'
            },
        items: [
            {
                image: {
                    src: '300x300_Geles_Bano.jpg',
                    alt: '',
                },
                label: 'Geles<br />de banho',
                href: 'https://equivalenza.com/pt/cosmetica/cuidado-corporal/geis-de-banho',
            },
            {
                image: {
                    src: '300x300_Hidratantes.jpg',
                    alt: '',
                },
                label: 'Hidratantes',
                href: 'https://equivalenza.com/pt/cosmetica/cuidado-corporal/hidratantes',
            },
            {
                image: {
                    src: '300x300_Exfoliantes.jpg',
                    alt: '',
                },
                label: 'Esfoliantes',
                href: 'https://equivalenza.com/pt/cosmetica/cuidado-corporal/esfoliantes',
            },
            {
                image: {
                    src: '300x300_Tratamientos.jpg',
                    alt: '',
                },
                label: 'Tratamentos',
                href: 'https://equivalenza.com/pt/cosmetica/cuidado-corporal/tratamentos',
            },
            {
                image: {
                    src: '300x300_Desodorantes.jpg',
                    alt: '',
                },
                label: 'Desodorizantes',
                href: 'https://equivalenza.com/pt/cosmetica/cuidado-corporal/desodorizantes',
            },
            {
                image: {
                    src: '300x300_Crema_Manos.jpg',
                    alt: '',
                },
                label: 'CREMES DE MÃOS',
                href: 'https://equivalenza.com/pt/cosmetica/cuidado-corporal/creme-de-maos',
            },
            {
                image: {
                    src: '300x300_Crema_Pies.jpg',
                    alt: '',
                },
                label: 'CREMES DE PÉS',
                href: 'https://equivalenza.com/pt/cosmetica/cuidado-corporal/cremes-de-pes',
            },
            {
                image: {
                    src: '300x300_Limpieza_Manos.jpg',
                    alt: '',
                },
                label: 'LIMPEZA DAS MÃOS',
                href: 'https://equivalenza.com/pt/cosmetica/cuidado-corporal/limpeza-de-maos',
            },
            {
                image: {
                    src: '300x300_Body_mist.jpg',
                    alt: '',
                },
                label: 'Body Mist',
                href: 'https://equivalenza.com/pt/cosmetica/cuidado-corporal/body-mist/',
            },
            {
                image: {
                    src: '300x300_Black_Label.jpg',
                    alt: '',
                },
                label: 'Black Label',
                href: 'https://equivalenza.com/pt/cosmetica/cuidado-corporal/black-label/',
            },
            {
                image: {
                    src: '300x300_Accesorios_Corporal.jpg',
                    alt: '',
                },
                label: 'ACESSÓRIOS',
                href: 'https://equivalenza.com/pt/cosmetica/cuidado-corporal/accesorios',
            },
        ]
        },
        {
            className: 'brown',
            title: 'Ilumine o seu rosto, cuide da sua pele',
            srcset: {
                alt: '',
                src: 'categoria-2.png',
                sizes: '100vw',
                mobile: 'categoria-2-mobile.png'
            },
            items: [
                {
                    image: {
                        src: '300x300_Limpieza_facial.jpg',
                        alt: '',
                    },
                    label: 'LIMPEZA',
                    href: 'https://equivalenza.com/pt/cosmetica/cuidado-facial/limpieza-facial/',
                },
                {
                    image: {
                        src: '300x300_Exfoliante_facial.jpg',
                        alt: '',
                    },
                    label: 'Esfoliantes',
                    href: 'https://equivalenza.com/pt/cosmetica/cuidado-facial/exfoliantes-faciales/ ',
                },
                {
                    image: {
                        src: '300x300_Mascarillas.jpg',
                        alt: '',
                    },
                    label: 'Máscaras',
                    href: 'https://equivalenza.com/pt/mascarillas/',
                },
                {
                    image: {
                        src: '300x300_Contorno_Ojos.jpg',
                        alt: '',
                    },
                    label: 'CONTORNOS DE OLHOS',
                    href: 'https://equivalenza.com/pt/cosmetica/cuidado-facial/contornos-de-ojos/',
                },
                {
                    image: {
                        src: '300x300_Serums.jpg',
                        alt: '',
                    },
                    label: 'Séruns',
                    href: 'https://equivalenza.com/pt/cosmetica/cuidado-facial/serums/',
                },
                {
                    image: {
                        src: '300x300_Crema_hidratante.jpg',
                        alt: '',
                    },
                    label: 'CREMES HIDRATANTES',
                    href: 'https://equivalenza.com/pt/cosmetica/cuidado-facial/cremas-hidratantes/',
                },
                {
                    image: {
                        src: '300x300_Antiarrugas.jpg',
                        alt: '',
                    },
                    label: 'CREMES ANTIRRUGAS',
                    href: 'https://equivalenza.com/pt/cosmetica/cuidado-facial/cremas-antiarrugas/ ',
                },
                {
                    image: {
                        src: '300x300_Bruma_facial.jpg',
                        alt: '',
                    },
                    label: 'NÉVOA FACIAL',
                    href: 'https://equivalenza.com/pt/cosmetica/cuidado-facial/bruma-facial/ ',
                },
                {
                    image: {
                        src: '300x300_Accesorios_Facial.jpg',
                        alt: '',
                    },
                    label: 'ACESSÓRIOS',
                    href: 'https://equivalenza.com/pt/cosmetica/cuidado-facial/accesorios',
                },
            ]
        },
    ]
} %}

{% include 'components/copy.twig' with {
    title: 'Ligue a sua pele às suas emoções',
    text: 'Mergulhe no mundo das emoções positivas que tem em si através das texturas, fragrâncias e ingredientes principais dos nossos cosméticos. ',
} %}

{% include 'components/emociones.twig' with {
    items: [
        {
            image: {
                src: 'emociones-1.png',
                alt: '',
            },
            title: 'Alegría radiante',
            text: 'Texturas frescas e revitalizantes com o poder e a luminosidade da <strong>VITAMINA C</strong>.',
            button: {
                text: 'Ver todos os productos',
                href: 'https://equivalenza.com/pt/cosmetica/ingrediente-emocion/alegria-radiante/',
            },
            className: 'alegria-radiante',
        },
        {
            image: {
                src: 'emociones-2.png',
                alt: '',
            },
            title: 'Energia vital',
            text: 'Sinta a proteção e vitalidade do <strong>ALOÉ VERA</strong> através de suas texturas leves e energizantes.',
            button: {
                text: 'Ver todos os productos',
                href: 'https://equivalenza.com/pt/cosmetica/ingrediente-emocion/energia-vital/',
            },
            className: 'energia-vital',
        },
        {
            image: {
                src: 'emociones-3.png',
                alt: '',
            },
            title: 'SEDUÇÃO MAGNÉTICA',
            text: 'Texturas cremosas e nutritivas que acentuam a intensidade da nutrição dos <strong>ÓLEOS DE ELIXIR</strong>.',
            button: {
                text: 'Ver todos os productos',
                href: 'https://equivalenza.com/pt/cosmetica/ingrediente-emocion/seduccion-magnetica/',
            },
            className: 'seduccion-magnetica',
        },
        {
            image: {
                src: 'emociones-4.png',
                alt: '',
            },
            title: 'Equilíbrio interior',
            text: 'Encontre a calma com esta linha reconfortante que valoriza a força dada pelo <strong>ÁCIDO HIALURÓNICO</strong>.',
            button: {
                text: 'Ver todos os productos',
                href: 'https://equivalenza.com/pt/cosmetica/ingrediente-emocion/equilibrio-interior/',
            },
            className: 'equilibrio-interior',
        },
    ]
} %}

{% include 'components/refill.twig' with {
    className: 'eq-refill--single',
    items: [
        {
            srcset: {
                alt: '',
                src: 'sistema_refill_single.png',
                sizes: '100vw',
                mobile: 'sistema_refill_single-mobile.png'
            },
            title: '<strong>Sistema Refill</strong> Mais económico, mais ecológico',
            text: '<strong>Descubra o nosso inovador<br>sistema de recargas eco.</strong>',
            list: [
                '<strong>90%</strong> menos plásticos',
                '<strong>Poupe entre 1,50 € e 3 €</strong> em cada recarga',
            ],
        },
    ]
} %}

{% include 'components/best-sellers.twig' with {
    title: 'Os mais vendidos',
    content: '{{block class="MGS\Mpanel\Block\Products\Attributes" mgs_panel_title="" mgs_panel_note="" limit="15" ratio="1" category_ids="2066,2177,2181,1490,2065,1485" attribute="mas_vendido" use_slider="1" loadmore="0" template="products/attribute/category-tabs.phtml" perrow="4" autoplay="1" stop_auto="1" navigation="1" pagination="0" number_row="1"}}',
} %}

{% include 'components/footer-landing.twig' with {
    items: [
        {
            image: {
                src: 'footer-1.png',
                alt: '',
            },
            title: '<strong>98 em 100 pessoas</strong> recomendariam a Equivalenza a um amigo.',
        },
        {
            image: {
                src: 'footer-2.png',
                alt: '',
            },
            title: '<strong>4,8/5</strong> 38 000 opiniões de clientes reais.',
        },
        {
            image: {
                src: 'footer-3.png',
                alt: '',
            },
            title: '<strong>+500 000</strong> lares usam a Equivalenza diariamente.',
        },
    ]
} %}

{% include 'components/ventajas.twig' with {
    items: [
        {
            image: {
                src: 'ventajas-1.png',
                alt: '',
            },
            label: '<strong>Pagamento seguro</strong>',
        },
        {
            image: {
                src: 'ventajas-3.png',
                alt: '',
            },
            label: '<strong>Envios grátis</strong> a partir de 24,95€',
        },
        {
            image: {
                src: 'ventajas-4.png',
                alt: '',
            },
            label: '<strong>Atendimento personalizado</strong>',
        },
    ]
} %} 

{% include 'components/scripts-landings-cosmetica.twig' %}

{% endblock %}
