{# landing-sofiaribeiro.twig #}
{% extends 'layouts/default-blocks.twig' %}
{% set lang="pt" %}

{% block meta %}
    {{ parent() }}
    <title>Landing Sofia Ribeiro</title>
{% endblock %}

{% block content %}

{% include 'components/css-landing-sofiaribeiro.twig' %}

{% include 'components/hero.twig' with {
    items: [
        {
            title: 'Sofia <em>Ribeiro</em>',
            text: 'Embaixadora Equivalenza',
            srcset: {
                alt: '',
                src: 'hero-sofiaribeiro-1.jpg',
                sizes: '100vw',
                mobile: 'hero-sofiaribeiro-1--mobile.jpg'
            },
            button: {
                href: '#favoritos',
                text: 'Assim cuida do seu corpo',
            },
        },        
        {
            title: '<span>Just</span> <span>Bright</span>',
            text: 'by Sofia Ribeiro',
            srcset: {
                alt: '',
                src: 'hero-sofiaribeiro-2.jpg',
                sizes: '100vw',
                mobile: 'hero-sofiaribeiro-2--mobile.jpg'
            },
            button: {
                href: 'https://equivalenza.com/pt/just-bright/',
                text: 'Consiga o seu perfume',
            },
        },       
    ]
} %}

{% include 'components/copy.twig' with {
    className: 'eq-section--narrow',
    title: 'Descubra os favoritos de Sofia!',
    text: 'Maquilhagem, cremes, ambientadores... Sofia conhece o nosso catálogo em detalhe e escolheu os seus produtos estrela.',
} %}

<!-- START: CAROUSEL PRODUCTOS -->
<div class="eq-section eq-section--nopadding-top">
    <div class="eq-section__inner">
        <div class="eq-sofia-products eq-slider owl-carousel" id="products-1">
            <div class="eq-sofia-products__item item">
                <img src="{{basePath}}{{lang}}/producto-1.jpg" alt="" class="pic" />
                <div class="content">
                    <p class="title">BB Cream iluminante de tom médio</p>
                    <p class="price">9,95 €</p>
                    <a href="https://equivalenza.com/pt/bb-cream-iluminadora-tono-medio/" class="btn">Comprar</a>
                </div>
            </div>
            <!-- /.item -->
            <div class="eq-sofia-products__item item">
                <img src="{{basePath}}{{lang}}/producto-2.jpg" alt="" class="pic" />
                <div class="content">
                    <p class="title">Ambientador spray Classic Cologne (limão e tangerina)</p>
                    <p class="price">6,95 €</p>
                    <a href="https://equivalenza.com/pt/ambientador-domestico-odor-para-criancas/" class="btn">Comprar</a>
                </div>
            </div>
            <!-- /.item -->
            <div class="eq-sofia-products__item item">
                <img src="{{basePath}}{{lang}}/producto-3.jpg" alt="" class="pic" />
                <div class="content">
                    <p class="title">Creme hidratante 24h</p>
                    <p class="price">11,95 €</p>
                    <a href="https://equivalenza.com/pt/cosmetica/cuidado-facial/cremas-hidratantes/crema-hidratante-24h/" class="btn">Comprar</a>
                </div>
            </div>
            <!-- /.item -->
            <div class="eq-sofia-products__item item">
                <img src="{{basePath}}{{lang}}/producto-4.jpg" alt="" class="pic" />
                <div class="content">
                    <p class="title">Sérum de beleza</p>
                    <p class="price">13,95 €</p>
                    <a href="https://equivalenza.com/pt/serum-embellecedor/" class="btn">Comprar</a>
                </div>
            </div>
            <!-- /.item -->
        </div>          
    </div>
</div>
<!-- END: CAROUSEL PRODUCTOS -->


<!-- START: JUST BRIGHT -->
<div class="eq-section eq-section--nopadding">
    <div class="eq-section__inner">
        <div class="eq-sofia-jb">
            <div class="eq-sofia-jb__pic">
                {% include "common/image.twig" with {
                    alt: '',
                    src: 'sofiaribeiro-justbright.jpg',
                    sizes: '100vw',
                    mobile: 'sofiaribeiro-justbright--mobile.jpg'
                } %}         
            </div>
            <div class="eq-sofia-jb__content">
                <p class="title">
                    <strong>Just Bright</strong>
                    by Sofia Ribeiro
                </p>
                <p class="text">O perfume de Sofia reflete a sua essência: otimista, de bem com a vida, feliz.</p>
                <p class="text">Deixe-se seduzir por este Floral Oriental repleto de brilho e sofisticação, com notas de jasmim, coco e couro.</p>
                {% include "common/button-black.twig" with {
                    text: 'Compre o seu perfume',
                    href: 'https://equivalenza.com/pt/just-bright/',
                } %}
            </div>
        </div>
    </div>
</div>
<!-- END: JUST BRIGHT -->

{% include 'components/copy.twig' with {
    title: 'Ainda não conhece as nossas linhas de cosmética?',
    text: 'Criamos produtos pensados ​​para si: com ingredientes naturais e fórmulas testadas.',
} %}

<!-- START: BODY & FACE -->
<div class="eq-section eq-section--nopadding-top">
    <div class="eq-section__inner">
        <div class="eq-sofia-bf">
            <div class="eq-sofia-bf__item">
                <img src="{{basePath}}{{lang}}/sofiaribeiro-corpo.jpg" alt="" class="pic" />
                <div class="inner">
                    <p class="title">Cuide do seu corpo</p>
                    {% include "common/button-black.twig" with {
                        text: 'Cosmética Corporal',
                        href: 'https://equivalenza.com/pt/cosmetica/cuidado-corporal/',
                    } %}
                </div>
            </div>
            <div class="eq-sofia-bf__item">
                <img src="{{basePath}}{{lang}}/sofiaribeiro-rostro.jpg" alt="" class="pic" />
                <div class="inner">
                    <p class="title">Mime o seu rosto</p>
                    {% include "common/button-black.twig" with {
                        text: 'Cosmética Facial',
                        href: 'https://equivalenza.com/pt/cosmetics/ ',
                    } %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: BODY & FACE -->

{% include 'components/copy.twig' with {
    title: 'Assim é a sua rotina de cuidado corporal',
    text: 'Sofia revelou-nos os seus <strong>5 essenciais</strong>, para uma pele saudável e radiante, não os pode perder!',
    id: 'favoritos',
} %}

<!-- START: PRODUCTOS -->
<div class="eq-section eq-section--nopadding-bottom eq-section--nopadding-top">
    <div class="eq-section__inner">
        <div class="eq-sofia-products eq-slider owl-carousel">
            <div class="eq-sofia-products__item item">
                <img src="{{basePath}}{{lang}}/producto-corporal-1.jpg" alt="" class="pic" />
                <div class="content">
                    <p class="title">Mousse de duche sedoso</p>
                    <p class="text">Desfrute do duche com uma mousse que perfuma a pele.</p>
                    <p class="price">7,95 €</p>
                    <a href="https://equivalenza.com/pt/mousse-de-ducha-sedoso/" class="btn">Comprar</a>
                </div>
            </div>
            <!-- /.item -->
            <div class="eq-sofia-products__item item">
                <img src="{{basePath}}{{lang}}/producto-corporal-2.jpg" alt="" class="pic" />
                <div class="content">
                    <p class="title">Gel esfoliante corporal revitalizante</p>
                    <p class="text">Esfolia, revitaliza e tonifica a pele com Vitamina C.</p>
                    <p class="price">11,95 €</p>
                    <a href="https://equivalenza.com/pt/gel-exfoliante-corporal-revitalizante1/" class="btn">Comprar</a>
                </div>
            </div>
            <!-- /.item -->
            <div class="eq-sofia-products__item item">
                <img src="{{basePath}}{{lang}}/producto-corporal-3.jpg" alt="" class="pic" />
                <div class="content">
                    <p class="title">Spray corporal hidratante antipoluição</p>
                    <p class="text">Hidrata a pele com aloé vera e protege-a da poluição.</p>
                    <p class="price">7,95 €</p>
                    <a href="https://equivalenza.com/pt/espray-corporal-hidratante-antipolucion/" class="btn">Comprar</a>
                </div>
            </div>
            <!-- /.item -->
            <div class="eq-sofia-products__item item">
                <img src="{{basePath}}{{lang}}/producto-corporal-4.jpg" alt="" class="pic" />
                <div class="content">
                    <p class="title">Desodorizante sensitive</p>
                    <p class="text">Prepara-a para dias de trabalho frenéticos.</p>
                    <p class="price">4,45 €</p>
                    <a href="https://equivalenza.com/pt/desodorante-sensitive/" class="btn">Comprar</a>
                </div>
            </div>
            <!-- /.item -->
            <div class="eq-sofia-products__item item">
                <img src="{{basePath}}{{lang}}/producto-corporal-5.jpg" alt="" class="pic" />
                <div class="content">
                    <p class="title">Óleo corporal iluminador</p>
                    <p class="text">Dá o toque final para uma pele perfeita.</p>
                    <p class="price">9,95 €</p>
                    <a href="https://equivalenza.com/pt/aceite-corporal-iluminador/" class="btn">Comprar</a>
                </div>
            </div>
            <!-- /.item -->
        </div>        
    </div>
</div>
<!-- END: PRODUCTOS -->

<!-- START: EMBAJADORA -->
<div class="eq-section eq-section--nopadding eq-section--green">
    <div class="eq-section__inner">
        <div class="eq-sofia-embajadora">
            <div class="eq-sofia-embajadora__pic">
                <img src="{{basePath}}{{lang}}/sofiaribeiro-embajadora.png" alt="" />
            </div>
            <div class="eq-sofia-embajadora__content">
                <p class="title">Uma embaixadora de causas, que acredita na beleza de sentir</p>
                <p class="text">Atriz, influenciadora digital e empresária, a embaixadora Equivalenza conquista-nos pelo seu sorriso fácil.</p>
                <p class="text"><strong>Sofia é uma mulher de causas.</strong> Ativa na luta contra o cancro e na preservação do meio ambiente, reconhece a importância de pensarmos em cuidarmos mais de nós e dos que nos rodeiam.</p>
                <p class="text"><strong>Acredita na beleza de sentir:</strong> sentir emoções e sensações reais, ser ela mesma, com toda a confiança e alegria que a caraterizam.</p>
            </div>
        </div>
    </div>
</div>
<!-- END: EMBAJADORA -->

{% include 'components/copy.twig' with {
    title: 'Os valores que nos unem',
    text: 'Ela é <strong>lutadora, otimista, autêntica</strong> e <strong>divertida</strong>. Vive cada instante de forma intensa e apaixonada.',
} %}

<!-- START: VIDEO -->
<div class="eq-section eq-section--narrow eq-section--nopadding">
    <div class="eq-section__inner">
        <div id="video-sofia"></div>
        <div class="eq-video-sofia-quote">
            <p class="quote">“Tens o poder de escolher ser feliz. Confia em ti.”</p>
            <p class="byline">Sofia Ribeiro</p>
        </div>
    </div>
</div>
<!-- END: VIDEO -->

<!-- START: SUBSCRIBE FORM -->
<div class="eq-section eq-section--salmon">
    <div class="eq-section__inner">
        <div class="eq-sofiaform">
            <p class="eq-sofiaform__title">QUER SABER MAIS SOBRE A EQUIVALENZA E A SOFIA?</p>
            <form class="eq-sofiaform__form" novalidate="novalidate" action="https://equivalenza.com/pt/subscribe/" method="get" id="eq-sofiaform-form">
                <input type="hidden" name="referer" value="sofiaribeiro">
                <input name="email" type="email" id="email" placeholder="Email">
                <button type="submit">Subscreva</button>       
            </form> 
        </div>
    </div>
</div>
<!-- END: SUBSCRIBE FORM -->

{% include 'components/scripts-landing-sofiaribeiro.twig' %}

{% endblock %}