{# landing-lessecrets.twig #}
{% extends 'layouts/default.twig' %}
{% set lang="pt" %}

{% block meta %}
    {{ parent() }}
    <title>Landing Les Secrets</title>
{% endblock %}

{% block content %}

{% include 'components/css-landing-lessecrets.twig' %}

<section class="eq-section eq-section--nopadding eq-section--lessecrets">
    <div class="eq-section__inner">
        <div class="eq-lessecrets">
            <div class="eq-lessecrets__pic">
                {% include 'common/image.twig' with {
                    alt: '',
                    src: 'hero-desktop-2.jpg',
                    sizes: '100vw',
                    mobile: 'hero-mobile.jpg'
                } %}
            </div>
            {% include 'components/copy.twig' with {
                className: 'eq-lessecrets__content',
                title: 'Nova coleção premium',
                text: 'LES SECRETS é uma coleção premium, com personalidade e elegância, feita à medida para quem procura algo mais num perfume: <strong>exclusividade</strong>.<br />Ingredientes sofisticados, prestigiados e de tendência que criam <strong>fragrâncias sublimes, unissexo e não convencionais</strong>.',
            } %}
        </div>
    </div>
</section>

{% include 'components/copy.twig' with {
    title: 'DESCOBRE LES SECRETS',
    text: 'Um luxo ao teu alcance a partir de 18,95€',
} %}

<div class="eq-section eq-section--nopadding-top">
    <div class="eq-section__inner">
        <div class="eq-lessecrets-products">
            <div class="eq-lessecrets-products__item">
                <img src="{{basePath}}{{lang}}/oud-283.png" alt="" class="pic" />
                <div class="content">
                    <p class="title">OUD 283</p>
                    <p class="text">Uma fragrância oriental baseada no precioso oud e as especiarias.</p>
                    <p class="price">A partir de <strong>18,95 €</strong></p>
                    <a href="https://equivalenza.com/pt/catalog/product/view/id/6794/s/amaderado-ambarado-283-100ml/" class="btn">Comprar</a>
                </div>
            </div>
            <!-- /.item -->
            <div class="eq-lessecrets-products__item">
                <img src="{{basePath}}{{lang}}/cuir-383.png" alt="" class="pic" />
                <div class="content">
                    <p class="title">CUIR 383</p>
                    <p class="text">Um aroma que interpreta a essência de um couro delicado com um fondo defumado e sensual.</p>
                    <p class="price">A partir de <strong>18,95 €</strong></p>
                    <a href="https://equivalenza.com/pt/cuero-especiado-383/" class="btn">Comprar</a>
                </div>
            </div>
            <!-- /.item -->
            <div class="eq-lessecrets-products__item">
                <img src="{{basePath}}{{lang}}/fleur-d-orange-484.png" alt="" class="pic" />
                <div class="content">
                    <p class="title">FLEUR D'ORANGER 484</p>
                    <p class="text">Evoca a brisa fresca com notas cítricas, lavanda e alecrim.</p>
                    <p class="price">A partir de <strong>18,95 €</strong></p>
                    <a href="https://equivalenza.com/pt/fleur-oranger-484/" class="btn">Comprar</a>
                </div>
            </div>
            <!-- /.item -->
            <div class="eq-lessecrets-products__item">
                <img src="{{basePath}}{{lang}}/tonka-584.png" alt="" class="pic" />
                <div class="content">
                    <p class="title">TONKA 584</p>
                    <p class="text">Uma fragrância misteriosa com notas orientáis e a fava tonka como protagonista.</p>
                    <p class="price">A partir de <strong>18,95 €</strong></p>
                    <a href="https://equivalenza.com/pt/oriental-tonka-584/" class="btn">Comprar</a>
                </div>
            </div>
            <!-- /.item -->
            <div class="eq-lessecrets-products__item">
                <img src="{{basePath}}{{lang}}/vanille-noire-684.png" alt="" class="pic" />
                <div class="content">
                    <p class="title">VANILLE NOIRE 684</p>
                    <p class="text">Uma fragrância opulenta com toques de especiarias, notas abaunilhadas, ambaradas e de cacau.</p>
                    <p class="price">A partir de <strong>18,95 €</strong></p>
                    <a href="https://equivalenza.com/pt/vanille-noire-684/" class="btn">Comprar</a>
                </div>
            </div>
            <!-- /.item -->
            <div class="eq-lessecrets-products__item">
                <img src="{{basePath}}{{lang}}/cachemire-784.png" alt="" class="pic" />
                <div class="content">
                    <p class="title">CACHEMIRE 784</p>
                    <p class="text">Encantadora e doce com uma suave estela de madeira de cachemira.</p>
                    <p class="price">A partir de <strong>18,95 €</strong></p>
                    <a href="https://equivalenza.com/pt/cachemire784/" class="btn">Comprar</a>
                </div>
            </div>
            <!-- /.item -->
        </div>          
    </div>
</div>

{% include 'components/footer-landing.twig' with {
    items: [
        {
            image: {
                src: 'footer-1.png',
                alt: '',
            },
            title: '<strong>98 em 100 pessoas</strong> recomendariam a Equivalenza a um amigo',
        },
        {
            image: {
                src: 'footer-2.png',
                alt: '',
            },
            title: '<strong>4,8/5</strong> 38 000 opiniões de clientes reais',
        },
        {
            image: {
                src: 'footer-3.png',
                alt: '',
            },
            title: '<strong>+500.000</strong> lares usam a Equivalenza diariamente',
        },
    ]
} %}

{% include 'components/ventajas.twig' with {
    items: [
        {
            image: {
                src: 'ventajas-1.png',
                alt: '',
            },
            label: '<strong>Pagamento seguro</strong>',
        },
        {
            image: {
                src: 'ventajas-3.png',
                alt: '',
            },
            label: '<strong>Envios grátis</strong> a partir de 24,95€',
        },
        {
            image: {
                src: 'ventajas-4.png',
                alt: '',
            },
            label: '<strong>Atendimento personalizado</strong>',
        },
    ]
} %} 

{% endblock %}