{# landing-difusores.twig #}
{% extends 'layouts/default.twig' %}
{% set lang="pt" %}
{% set basePath='https://equivalenza.com/landings_media/images/difusores/' %}

{% block meta %}
    {{ parent() }}
    <title>Landing Difusores</title>
{% endblock %}

{% block content %}

{% include 'components/css-landing-difusores.twig' %}

<!-- START: HERO -->
<div class="eq-section eq-section--nopadding">
    <div class="eq-section__inner">
        <div class="eq-difusores-hero">
            <div class="eq-difusores-hero__pic">
                {% include "common/image.twig" with {
                    alt: '',
                    src: 'hero-difusores.jpg',
                    sizes: '100vw',
                    mobile: 'hero-difusores--mobile.jpg'
                } %}
            </div>
            <div class="eq-difusores-hero__content">
                <div class="inner">
                    <p class="title">Difusores de aroma</p>
                    <p class="text">Perfume o seu lar e sinta-se mais em casa do que nunca</p>
                    <div class="actions">
                        {% include 'common/button-black.twig' with {
                            text: 'Difusores',
                            href: '#difusores',
                        } %}
                        {% include 'common/button-black.twig' with {
                            text: 'Óleos',
                            href: '#oleos',
                        } %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: HERO -->

{% include 'components/copy.twig' with {
    title: 'Uma experiência sensorial completa',
    text: 'Com os nossos difusores e óleos perfumados, a sua casa respirará bem-estar e refletirá a sua personalidade.',
} %}

<!-- START: BENEFICIOS -->
<div class="eq-section eq-section--nopadding-top">
    <div class="eq-section__inner">
        <div class="eq-difusores-beneficios">
            <a href="#difusores-list" class="toggle">Todos os benefícios</a>
            <ul class="eq-difusores-beneficios__content" id="difusores-list">
                <li>
                    <strong>Relaxe o corpo e mente</strong>
                    <span>Rodear-se dos seus aromas favoritos pode libertá-lo da tensão e proporcionar-lhe calma.</span>
                </li>
                <li>
                    <strong>Humidifique o ar</strong>
                    <span>Manter uma humidade relativa de 40-60% tem efeitos antibacterianos e antivirais.</span>
                </li>
                <li>
                    <strong>Aumente o conforto térmico</strong>
                    <span>A regulação da humidade diminui a sensação de frio no inverno e de calor no verão.</span>
                </li>
                <li>
                    <strong>Melhore a qualidade do sono</strong>
                    <span>Os estudos demonstram que o olfato continua ativo enquanto dorme e influencia os seus sonhos e descanso.</span>
                </li>
                <li>
                    <strong>Estimule a atividade cerebral</strong>
                    <span>Aromas como o jasmim ou o eucalipto podem aumentar a sua concentração e a sua memória.</span>
                </li>
                <li>
                    <strong>Combine os benefícios da cromoterapia</strong>
                    <span>O seu programa de luz LED em 7 tonalidades fornece harmonia ao seu estado de ânimo.</span>
                </li>
            </ul>
            <div class="eq-difusores-beneficios__pic"><img src="{{basePath}}{{lang}}/experiencia-sensorial.jpg" alt="" /></div>
        </div>
    </div>
</div>
<!-- END: BENEFICIOS -->

<!-- START: COMO FUNCIONA -->
<div class="eq-section eq-section--nopadding">
    <div class="eq-section__inner">
        <div class="eq-difusores-funcionamiento">
            <div class="eq-difusores-funcionamiento__pic">
                {% include "common/image.twig" with {
                    alt: '',
                    src: 'como-funciona.jpg',
                    sizes: '100vw',
                    mobile: 'como-funciona--mobile.jpg'
                } %}
            </div>
            <div class="eq-difusores-funcionamiento__content">
                <p class="title">Como funciona um difusor de aroma?</p>
                <p class="text">Os nossos difusores são <strong>dispositivos eletrónicos</strong> que emanam a sua fragrância favorita a partir de <strong>óleos hidrossolúveis</strong>.</p>
                <p class="text">Ao diluir apenas algumas gotas no depósito de água, poderá aromatizar e dar personalidade aos seus espaços com uma suave brisa do <strong>vapor de água fria</strong>.</p>
                <div class="actions">
                    {% include 'common/button-black.twig' with {
                        text: 'Difusores',
                        href: '#difusores',
                    } %}
                    {% include 'common/button-black.twig' with {
                        text: 'Óleos',
                        href: '#oleos',
                    } %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: COMO FUNCIONA -->

{% include 'components/copy.twig' with {
    title: 'Onde colocar um difusor de aroma?',
    text: 'Os nossos difusores permitem adicionar personalidade a qualquer espaço. Pode tornar a sua <strong>sala de estar</strong> mais relaxante, criar um <strong>hall</strong> mais acolhedor, dar frescura às suas <strong>casas de banho</strong> ou tornar o seu <strong>local de trabalho</strong> mais dinâmico.',
} %}

<div class="eq-section eq-section--nopadding-top">
    <div class="eq-section__inner">
        <div class="eq-difusores-gallery eq-slider owl-carousel">
            <div class="eq-difusores-gallery_item item">
                <img src="{{basePath}}{{lang}}/donde-colocar-1.jpg" alt="" />
            </div>
            <div class="eq-difusores-gallery_item item">
                <img src="{{basePath}}{{lang}}/donde-colocar-2.jpg" alt="" />
            </div>
            <div class="eq-difusores-gallery_item item">
                <img src="{{basePath}}{{lang}}/donde-colocar-3-cacto.jpg" alt="" />
            </div>
        </div>
    </div>
</div>

{% include 'components/copy.twig' with {
    className: 'eq-section--grey',
    id: 'difusores',
    section: 'Difusores de aroma',
    title: 'Descubra o que melhor se adapta a si',
    text: 'Com coluna <em>bluetooth</em>, acabamento em cerâmica, com a suavidade da madeira ou tão compacto que poderá levá-lo para qualquer lugar. Qual é o seu difusor de aromas ideal?',
} %}

<div class="eq-section eq-section--grey">
    <div class="eq-section__inner">
        <div class="eq-difusores">
            <div class="eq-difusores-item eq-difusores-item--1">
                <a href="https://equivalenza.com/pt/ambientacion/difusor-de-aromas/drop-xs/"><img src="{{basePath}}{{lang}}/difusor-1.jpg" alt="" class="eq-difusores-item__pic" /></a>
                <p class="eq-difusores-item__title">Drop XS</p>
                <ul class="eq-difusores-item__specs">
                    <li>Capacidade: 20 m<sup>2</sup></li>
                    <li>Autonomia: 5 horas</li>
                    <li>Ideal pela sua portabilidade</li>
                </ul>
                <p class="eq-difusores-item__price">
                    <span class="price">23,95 €</span>
                </p>
                <a href="https://equivalenza.com/pt/ambientacion/difusor-de-aromas/drop-xs/" class="eq-btn">Comprar</a>
            </div><!-- /.eq-difusores-item -->
            <div class="eq-difusores-item eq-difusores-item--2">
                <a href="https://equivalenza.com/pt/ambientacion/difusor-de-aromas/drop/"><img src="{{basePath}}{{lang}}/difusor-2.jpg" alt="" class="eq-difusores-item__pic" /></a>
                <p class="eq-difusores-item__title">Drop</p>
                <ul class="eq-difusores-item__specs">
                    <li>Capacidade: 70 m<sup>2</sup></li>
                    <li>Autonomia: 13 horas</li>
                    <li>Ideal pela sua capacidade</li>
                </ul>
                <p class="eq-difusores-item__price">
                    <span class="tag">Envio grátis!</span>
                    <span class="price">41,95 €</span>
                </p>
                <a href="https://equivalenza.com/pt/ambientacion/difusor-de-aromas/drop/" class="eq-btn">Comprar</a>
            </div><!-- /.eq-difusores-item -->

            <div class="eq-difusores-item eq-difusores-item--3">
                <a href="https://equivalenza.com/pt/ambientacion/difusor-de-aromas/difusor-de-aromas/difusor-mix-deco-cactus2/"><img src="{{basePath}}{{lang}}/difusor-3-cacto.jpg" alt="" class="eq-difusores-item__pic" style="margin-top: 15px; margin-bottom: -5px;" /></a>
                <p class="eq-difusores-item__title">Mix&Deco Cacto</p>
                <ul class="eq-difusores-item__specs">
                    <li>Capacidade: 40 m<sup>2</sup></li>
                    <li>Autonomia: 7 horas</li>
                    <li>Ideal pelo seu design</li>
                </ul>
                <p class="eq-difusores-item__price">
                    <span class="tag">Envio grátis!</span>
                    <span class="price">49,95 €</span>
                </p>
                <a href="https://equivalenza.com/pt/ambientacion/difusor-de-aromas/difusor-de-aromas/difusor-mix-deco-cactus2/" class="eq-btn">Comprar</a>
            </div><!-- /.eq-difusores-item -->
            <div class="eq-difusores-item eq-difusores-item--4">
                <a href="https://equivalenza.com/pt/ambientacion/difusor-de-aromas/cube/"><img src="{{basePath}}{{lang}}/difusor-4.jpg" alt="" class="eq-difusores-item__pic" /></a>
                <p class="eq-difusores-item__title">Cube</p>
                <ul class="eq-difusores-item__specs">
                    <li>Capacidade: 50 m<sup>2</sup></li>
                    <li>Autonomia: 10 horas</li>
                    <li>Ideal pela sua coluna bluetooth</li>
                </ul>
                <p class="eq-difusores-item__price">
                    <span class="tag">Envio grátis!</span>
                    <span class="price">59,95 €</span>
                </p>
                <a href="https://equivalenza.com/pt/ambientacion/difusor-de-aromas/cube/" class="eq-btn">Comprar</a>
            </div><!-- /.eq-difusores-item -->
        </div>
    </div>
</div>

{% include 'components/copy.twig' with {
    className: 'eq-section--grey eq-section--nopadding',
    section: 'OS NOSSOS CLIENTES NÃO TÊM DÚVIDAS',
} %}

<div class="eq-section eq-section--grey eq-section--nopadding-top">
    <div class="eq-section__inner">
        <div class="eq-difusores-review eq-slider owl-carousel">
            <div class="eq-difusores-review-item item">
                <p class="text">Drop é fantástico, deixa um aroma incrível. Adorei, foi um presente. Uso-o muito, pois o aroma fica por toda a casa.</p>
                <img src="{{basePath}}{{lang}}/stars.png" alt="" class="stars" />
                <p class="byline">Virginia Buendía (23/04/21)</p>
            </div><!-- /.item -->
            <div class="eq-difusores-review-item item">
                <p class="text">Adoro o Drop. Normalmente uso a fragrância Oceano. A sensação é de frescura. Coloco o máximo de água e umas 8 gotas de óleo e dura muitíssimo.</p>
                <img src="{{basePath}}{{lang}}/stars.png" alt="" class="stars" />
                <p class="byline">Inmaculada (04/04/20)</p>
            </div><!-- /.item -->
            <div class="eq-difusores-review-item item">
                <p class="text">O modelo Cube parece-me ótimo!</p>
                <img src="{{basePath}}{{lang}}/stars.png" alt="" class="stars" />
                <p class="byline">Pnicola2001 (09/01/20)</p>
            </div><!-- /.item -->
            <div class="eq-difusores-review-item item">
                <p class="text">Adoro como difunde o aroma por toda a sala, o Drop é o segundo aparelho que compro. Tenho o Drop XS e adoro ter os dois a difundir este aroma maravilhoso. Recomendo.</p>
                <img src="{{basePath}}{{lang}}/stars.png" alt="" class="stars" />
                <p class="byline">Ana Oliveira (31/08/20)</p>
            </div><!-- /.item -->
        </div>
    </div>
</div>

{% include 'components/copy.twig' with {
    id: 'oleos',
    section: 'ÓLEOS PERFUMADOS HIDROSSOLÚVEIS',
    title: 'Escolha as fragrâncias que darão vida aos seus espaços',
    text: 'Os nossos óleos permitem criar o ambiente perfeito para cada recanto e momento. Relaxe com aromas de lavanda ou estimule a sua mente com o eucalipto. Com <strong>algumas gotas</strong> irá encher o espaço com personalidade transportando-o para as sensações desejadas.',
    image: 'todos-los-aceites.jpg',
} %}

<div class="eq-section eq-section--nopadding-top">
    <div class="eq-section__inner">
        <div class="eq-difusores-aceites">
            <ul class="eq-difusores-aceites__content">
                <li>Relaxantes, estimulantes ou românticos: escolha!</li>
                <li>Fragrâncias intensas e duradouras</li>
                <li>Nova linha com os aromas do seu perfume Equivalenza</li>
                <li>Um amplo catálogo com o nosso selo de qualidade</li>
            </ul>
            {% include 'common/button-black.twig' with {
                text: 'Todos os óleos',
                href: 'https://equivalenza.com/pt/ambientacion/difusor-de-aromas/aceite-perfumado-hidrosoluble/',
            } %}
        </div>
    </div>
</div>

{% include 'components/best-sellers.twig' with {
    title: 'Os óleos mais vendidos',
    content: '{{block class="MGS\Mpanel\Block\Products\Attributes" mgs_panel_title="" mgs_panel_note="" limit="15" ratio="1" category_ids="300" attribute="mas_vendido" use_slider="1" loadmore="0" template="products/attribute/category-tabs.phtml" perrow="4" autoplay="1" stop_auto="1" navigation="1" pagination="0" number_row="1"}}',
} %}

{% include 'components/footer-landing.twig' with {
    items: [
        {
            image: {
                src: 'footer-1.png',
                alt: '',
            },
            title: '<strong>98 em 100 pessoas</strong> recomendariam a Equivalenza a um amigo.',
        },
        {
            image: {
                src: 'footer-2.png',
                alt: '',
            },
            title: '<strong>4,8/5</strong> 38 000 opiniões de clientes reais.',
        },
        {
            image: {
                src: 'footer-3.png',
                alt: '',
            },
            title: '<strong>+500 000</strong> lares usam a Equivalenza diariamente.',
        },
    ]
} %}

{% include 'components/ventajas.twig' with {
    items: [
        {
            image: {
                src: 'ventajas-1.png',
                alt: '',
            },
            label: '<strong>Pagamento seguro</strong>',
        },
        {
            image: {
                src: 'ventajas-3.png',
                alt: '',
            },
            label: '<strong>Envios grátis</strong> a partir de 24,95€',
        },
        {
            image: {
                src: 'ventajas-4.png',
                alt: '',
            },
            label: '<strong>Atendimento personalizado</strong>',
        },
    ]
} %} 

{% include 'components/scripts-landing-difusores.twig' %}

{% endblock %}