{# landing-cosmetica.twig #}
{% extends 'layouts/default.twig' %}
{% set lang="pt" %}

{% block meta %}
    {{ parent() }}
    <title>Landing Cosmetica / Body</title>
{% endblock %}

{% block content %}

{% include 'components/hero.twig' with {
    items: [
        {
            title: '<em>NOVA LINHA</em> COSMÉTICA CORPORAL',
            text: 'Sensorial, natural<br/>e sustentável',
            srcset: {
                alt: '',
                src: 'body-hero-1-PT.png',
                sizes: '100vw',
                mobile: 'body-hero-1-mobile-PT.png'
            },
        },        
        {
            title: 'CUIDE DA SUA PELE',
            text: 'Deixe-se surpreender pelas<br/>nossas novas texturas.',
            srcset: {
                alt: '',
                src: 'body-hero-2-PT.png',
                sizes: '100vw',
                mobile: 'body-hero-2-mobile-PT.png'
            },
        },        
        {
            title: '<em>PROMOÇÃO DE LANÇAMENTO</em> ESPONJA DE OFERTA',
            text: 'Receba-a em compras superiores<br>a 15 € que incluam um cosmético<br>da nossa nova linha corporal.',
            srcset: {
                alt: '',
                src: 'body-hero-3-PT.png',
                sizes: '100vw',
                mobile: 'body-hero-3-mobile-PT.png'
            },
        },        
    ]
} %}

{% include 'components/copy.twig' with {
    text: 'Fórmulas de alta qualidade, <strong>com ingredientes de origem natural</strong>, dermatologicamente testadas e com <strong>eficácia comprovada</strong>.<br><br>Para que cuide da sua pele <strong>como merece</strong>.',
} %}

{% include 'components/categorias-icons.twig' with {
    title: 'O QUE PROCURA?',
    items: [
        {
            image: {
                src: '300x300_Geles_Bano.jpg',
                alt: '',
            },
            label: 'Geles<br />de banho',
            href: 'https://equivalenza.com/pt/cosmetica/cuidado-corporal/geis-de-banho',
        },
        {
            image: {
                src: '300x300_Hidratantes.jpg',
                alt: '',
            },
            label: 'Hidratantes',
            href: 'https://equivalenza.com/pt/cosmetica/cuidado-corporal/hidratantes',
        },
        {
            image: {
                src: '300x300_Exfoliantes.jpg',
                alt: '',
            },
            label: 'Esfoliantes',
            href: 'https://equivalenza.com/pt/cosmetica/cuidado-corporal/esfoliantes',
        },
        {
            image: {
                src: '300x300_Tratamientos.jpg',
                alt: '',
            },
            label: 'Tratamentos',
            href: 'https://equivalenza.com/pt/cosmetica/cuidado-corporal/tratamentos',
        },
        {
            image: {
                src: '300x300_Desodorantes.jpg',
                alt: '',
            },
            label: 'Desodorizantes',
            href: 'https://equivalenza.com/pt/cosmetica/cuidado-corporal/desodorizantes',
        },
        {
            image: {
                src: '300x300_Crema_Manos.jpg',
                alt: '',
            },
            label: 'CREMES DE MÃOS',
            href: 'https://equivalenza.com/pt/cosmetica/cuidado-corporal/creme-de-maos',
        },
        {
            image: {
                src: '300x300_Crema_Pies.jpg',
                alt: '',
            },
            label: 'CREMES DE PÉS',
            href: 'https://equivalenza.com/pt/cosmetica/cuidado-corporal/cremes-de-pes',
        },
        {
            image: {
                src: '300x300_Limpieza_Manos.jpg',
                alt: '',
            },
            label: 'LIMPEZA DAS MÃOS',
            href: 'https://equivalenza.com/pt/cosmetica/cuidado-corporal/limpeza-de-maos',
        },
        {
            image: {
                src: '300x300_Body_mist.jpg',
                alt: '',
            },
            label: 'Body Mist',
            href: 'https://equivalenza.com/pt/cosmetica/cuidado-corporal/body-mist/',
        },
        {
            image: {
                src: '300x300_Black_Label.jpg',
                alt: '',
            },
            label: 'Black Label',
            href: 'https://equivalenza.com/pt/cosmetica/cuidado-corporal/black-label/',
        },
        {
            image: {
                src: '300x300_Accesorios_Corporal.jpg',
                alt: '',
            },
            label: 'ACESSÓRIOS',
            href: 'https://equivalenza.com/pt/cosmetica/cuidado-corporal/accesorios',
        },
    ]
} %}

{% include 'components/refill.twig' with {
    items: [
        {
            srcset: {
                alt: '',
                src: 'sistema_refill.png',
                sizes: '100vw',
                mobile: 'sistema_refill-mobile.png'
            }, 
            title: '<strong>Sistema Refill</strong> Mais económico, mais ecológico',
            text: '<strong>Quer poupar enquanto cuida do planeta?</strong> Descubra o nosso inovador sistema de recargas eco.',
        },
        {
            srcset: {
                alt: '',
                src: 'envase_rollon_tarro.png',
                sizes: '100vw',
                mobile: 'envase_rollon_tarro-mobile.png'
            }, 
            text: '<strong>Compre o seu cosmético em</strong> <em>embalagem roll-on ou frasco 200 ml</em>.',
        },
        {
            srcset: {
                alt: '',
                src: 'envase_reutilizable.png',
                sizes: '100vw',
                mobile: 'envase_reutilizable-mobile.png'
            }, 
            text: '<strong>Guarde o recipiente reutilizável e volte para obter a sua</strong> <em>recarga eco</em>.',
        },
        {
            srcset: {
                alt: '',
                src: 'envase_tarro.png',
                sizes: '100vw',
                mobile: 'envase_tarro-mobile.png'
            }, 
            text: '<strong>Com cada recarga eco de frasco de 200 ml, reduzimos o consumo de plástico em quase 91%.</strong><br /><br /><em>E poupa 3 € em cada recarga!</em>',
        },
        {
            srcset: {
                alt: '',
                src: 'envase_rollon.png',
                sizes: '100vw',
                mobile: 'envase_rollon-mobile.png'
            }, 
            text: 'Cada vez que usa uma recarga eco de roll-on, <strong>reduzimos o consumo de plástico em quase 68%.</strong><br /><br /><em>E poupa 1,5 € em cada recarga!</em>',
        },
        {
            srcset: {
                alt: '',
                src: 'modelo_envases.png',
                sizes: '100vw',
                mobile: 'modelo_envases-mobile.png'
            }, 
            text: '<strong>Parabéns!</strong><br />Cuidando da sua pele com a Equivalenza está a proteger <em>o meio ambiente</em>.',
        },
    ]
} %}

{% include 'components/copy.twig' with {
    title: 'Ligue a sua pele às suas emoções',
    text: 'Mergulhe no mundo das emoções positivas que tem em si através das texturas, fragrâncias e ingredientes principais dos nossos cosméticos.',
} %}

{% include 'components/emociones.twig' with {
    items: [
        {
            image: {
                src: 'emociones-1.png',
                alt: '',
            },
            title: 'Alegría radiante',
            text: 'Texturas frescas e revitalizantes com o poder e a luminosidade da <strong>VITAMINA C</strong>.',
            button: {
                text: 'Ver todos os productos',
                href: 'https://equivalenza.com/pt/cosmetica/ingrediente-emocion/alegria-radiante/',
            },
            className: 'alegria-radiante',
        },
        {
            image: {
                src: 'emociones-2.png',
                alt: '',
            },
            title: 'Energia vital',
            text: 'Sinta a proteção e vitalidade do <strong>ALOÉ VERA</strong> através de suas texturas leves e energizantes.',
            button: {
                text: 'Ver todos os productos',
                href: 'https://equivalenza.com/pt/cosmetica/ingrediente-emocion/energia-vital/',
            },
            className: 'energia-vital',
        },
        {
            image: {
                src: 'emociones-3.png',
                alt: '',
            },
            title: 'SEDUÇÃO MAGNÉTICA',
            text: 'Texturas cremosas e nutritivas que acentuam a intensidade da nutrição dos <strong>ÓLEOS DE ELIXIR</strong>.',
            button: {
                text: 'Ver todos os productos',
                href: 'https://equivalenza.com/pt/cosmetica/ingrediente-emocion/seduccion-magnetica/',
            },
            className: 'seduccion-magnetica',
        },
        {
            image: {
                src: 'emociones-4.png',
                alt: '',
            },
            title: 'Equilíbrio interior',
            text: 'Encontre a calma com esta linha reconfortante que valoriza a força dada pelo <strong>ÁCIDO HIALURÓNICO</strong>.',
            button: {
                text: 'Ver todos os productos',
                href: 'https://equivalenza.com/pt/cosmetica/ingrediente-emocion/equilibrio-interior/',
            },
            className: 'equilibrio-interior',
        },
    ]
} %}

{% include 'components/best-sellers.twig' with {
    title: 'Os mais vendidos',
    content: '{{block class="MGS\Mpanel\Block\Products\Attributes" mgs_panel_title="" mgs_panel_note="" limit="15" ratio="1" category_ids="2066,2177,2181,2069,2187,2057" attribute="mas_vendido" use_slider="1" loadmore="0" template="products/attribute/category-tabs.phtml" perrow="4" autoplay="1" stop_auto="1" navigation="1" pagination="0" number_row="1"}}',
} %}

{% include 'components/footer-landing.twig' with {
    items: [
        {
            image: {
                src: 'footer-1.png',
                alt: '',
            },
            title: '<strong>98 em 100 pessoas</strong> recomendariam a Equivalenza a um amigo.',
        },
        {
            image: {
                src: 'footer-2.png',
                alt: '',
            },
            title: '<strong>4,8/5</strong> 38 000 opiniões de clientes reais.',
        },
        {
            image: {
                src: 'footer-3.png',
                alt: '',
            },
            title: '<strong>+500 000</strong> lares usam a Equivalenza diariamente.',
        },
    ]
} %}

{% include 'components/ventajas.twig' with {
    items: [
        {
            image: {
                src: 'ventajas-1.png',
                alt: '',
            },
            label: '<strong>Pagamento seguro</strong>',
        },
        {
            image: {
                src: 'ventajas-3.png',
                alt: '',
            },
            label: '<strong>Envios grátis</strong> a partir de 24,95€',
        },
        {
            image: {
                src: 'ventajas-4.png',
                alt: '',
            },
            label: '<strong>Atendimento personalizado</strong>',
        },
    ]
} %} 

{% include 'components/scripts-landings-cosmetica.twig' %}

{% endblock %}
