{# landing-justbright.twig #}
{% extends 'layouts/default.twig' %}
{% set lang="pt" %}
{% set basePath='https://equivalenza.com/landings_media/images/sofia-ribeiro/' %}

{% block meta %}
    {{ parent() }}
    <title>Landing Just Bright</title>
{% endblock %}

{% block content %}

{% include 'components/css-landing-justbright.twig' %}

<!-- START: HERO -->
<div class="eq-section eq-section--nopadding">
    <div class="eq-section__inner">
        <div class="eq-jb-hero">
            <div class="eq-jb-hero__pic">
                {% include "common/image.twig" with {
                    alt: '',
                    src: 'hero-justbright-20230327.jpg',
                    sizes: '100vw',
                    mobile: 'hero-justbright-20230329--mobile.jpg'
                } %}
            </div>
            <div class="eq-jb-hero__content">
                <p class="title">
                    <strong>Novo</strong>
                    <span>Gift set JUST BRIGHT</span>
                </p>
                <p class="text">Com loção corporal perfumada</p>
                <p class="claim">
                    <span>Confia! És única!</span>
                    <span>Brilha!</span>
                </p>
                <div class="actions">
                    {% include 'common/button-black.twig' with {
                        text: 'Comprar',
                        href: '#cards',
                    } %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: HERO -->

<div class="eq-section eq-section--nopadding-bottom eq-section--grey center">
    <div class="eq-section___inner">
        <img src="{{basePath}}{{lang}}/logo-justbright.png" alt="" class="eq-logo-jb" />
        {% include 'components/copy.twig' with {
            title: 'Uma fragrância luminosa, sensual e sofisticada',
            text: 'Just Bright é a Sofia: <strong>luminosa, confiante, otimista, de bem com a vida</strong>. O seu <strong>brilho interior</strong> é a sua maior força, e encontra na magia do pôr do sol, a sua grande inspiração.<br>Uma homenagem a todas as mulheres fortes.',
        } %}
    </div>
</div>

{% include 'components/copy.twig' with {
    className: 'eq-section--nopadding-bottom',
    section: 'Quer o seu?',
    title: 'Escolha o seu formato preferido!',
    id: 'cards',
} %}

<!-- START: PRODUCT CARDS -->
<div class="eq-section eq-section--nopadding-xs">
    <div class="eq-section__inner">
        <div class="eq-jb-cards">
            <div class="eq-jb-card eq-jb-card--reverse">
                <div class="eq-jb-card__pic">
                    <img src="{{basePath}}{{lang}}/sofiaribeiro-3.jpg" alt="" class="pic" />
                </div>
                <div class="eq-jb-card__content">
                    <p class="title">Realça o teu brilho interior com o novo Gift Set exclusivo</p>
                    <p class="text">Com <strong>Just Bright e uma suave loção corporal de 75 ml</strong> inspirada no perfume, com aloe vera e proteínas de arroz.</p>
                    <p class="price">PERFUME + LOÇÃO <strong>26,95 €</strong></p>
                    <a href="https://equivalenza.com/pt/gift-set-just-bright-locao-corporal/" class="btn">Comprar</a>
                </div>
            </div>
            <div class="eq-jb-card">
                <div class="eq-jb-card__pic">
                    <img src="{{basePath}}{{lang}}/sofiaribeiro-1.jpg" alt="" class="pic" />
                </div>
                <div class="eq-jb-card__content">
                    <p class="title">Deixe-se envolver pela sedução magnética</p>
                    <p class="text">A fragrância apresenta-se como um <strong>Floral Oriental</strong>, com <strong>notas de jasmim, coco e couro</strong>.</p>
                    <p class="price">PERFUME 50ml <strong>24,50 €</strong></p>
                    <a href="https://equivalenza.com/pt/just-bright-by-sofia/" class="btn">Comprar</a>
                </div>
            </div>
            <div class="eq-jb-card eq-jb-card--reverse">
                <div class="eq-jb-card__pic">
                    <img src="{{basePath}}{{lang}}/sofiaribeiro-2.jpg" alt="" class="pic" />
                </div>
                <div class="eq-jb-card__content">
                    <p class="title">Ofereça muito mais que uma fragrância</p>
                    <p class="text">O nosso pack inclui um estojo exclusivo, 50ml de Just Bright e um <strong>roll-on</strong> com 10ml para levar consigo na carteira.</p>
                    <p class="price">GIFT SET <strong>26,50 €</strong></p>
                    <a href="https://equivalenza.com/pt/gift-set-perfume-50ml-roll-on-10ml-just-bright-by-sofia-ribeiro/" class="btn">Comprar</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: PRODUCT CARDS -->


{% include 'components/copy.twig' with {
    className: 'eq-section--nopadding-bottom',
    title: 'Tão mágico como o pôr-do-sol',
    text: 'Para criar Just Bright, a nossa embaixadora inspirou-se no seu momento preferido do dia, o pôr-do-dol, e quis recordar todas as suas cores quentes. Não perca o spot da campanha!',
} %}

<!-- START: VIDEO -->
<div class="eq-section eq-section--narrow">
    <div class="eq-section__inner">
        <div id="video-jb"></div>
    </div>
</div>
<!-- END: VIDEO -->

<div class="eq-section eq-section--nopadding-top center">
    <div class="eq-section__inner">
        <img src="{{basePath}}{{lang}}/sofiaribeiro-quote.png" alt="" class="eq-jb-quote" />
    </div>
</div>

{% include 'components/copy.twig' with {
    section: 'Selecione o seu formato preferido',
} %}

<!-- START: FORMATOS -->
<div class="eq-section eq-section--nopadding-top">
    <div class="eq-section__inner">
        <div class="eq-jb-products">
            <div class="eq-jb-products__item">
                <div class="pic"><img src="{{basePath}}{{lang}}/product-justbright.png" alt="" /></div>
                <div class="content">
                    <p class="title">JUST BRIGHT 50ml</p>
                    <p class="price">24,50 €</p>
                    <a href="https://equivalenza.com/pt/just-bright-by-sofia/" class="btn">Comprar</a>
                </div>
            </div>
            <!-- /.item -->
            <div class="eq-jb-products__item">
                <div class="pic"><img src="{{basePath}}{{lang}}/product-set.png" alt="" /></div>
                <div class="content">
                    <p class="title">GIFT SET ROLL-ON</p>
                    <p class="price">26,50 €</p>
                    <a href="https://equivalenza.com/pt/gift-set-perfume-50ml-roll-on-10ml-just-bright-by-sofia-ribeiro/" class="btn">Comprar</a>
                </div>
            </div>
            <!-- /.item -->
            <div class="eq-jb-products__item">
                <div class="pic"><img src="{{basePath}}{{lang}}/product-set-body-lotion.png" alt="" /></div>
                <div class="content">
                    <p class="title">GIFT SET LOÇÃO CORPORAL</p>
                    <p class="price">26,95 €</p>
                    <a href="https://equivalenza.com/pt/gift-set-just-bright-locao-corporal/" class="btn">Comprar</a>
                </div>
            </div>
            <!-- /.item -->
        </div>
    </div>
</div>
<!-- END: FORMATOS -->

<!-- START: SUBSCRIBE FORM -->
<div class="eq-section eq-section--salmon">
    <div class="eq-section__inner">
        <div class="eq-sofiaform">
            <p class="eq-sofiaform__title">Quer saber mais sobre a Equivalenza e a Sofia?</p>
            <form class="eq-sofiaform__form" novalidate="novalidate" action="https://equivalenza.com/pt/subscribe/" method="get" id="eq-sofiaform-form">
                <input type="hidden" name="referer" value="sofiaribeiro">
                <input name="email" type="email" id="email" placeholder="Email">
                <button type="submit">Subscreva</button>       
            </form> 
        </div>
    </div>
</div>
<!-- END: SUBSCRIBE FORM -->

{% include 'components/scripts-landing-justbright.twig' %}

{% endblock %}