body {
    margin: 0;
    padding: 0;
}

* {
    &,
    &::before,
    &::after {
        box-sizing:border-box
    }
}

.eq-landing,
.page-layout-cms-full-width {

    p:empty,
    .page-title-wrapper {
        display: none;
    }

    .breadcrumbs {
        margin-bottom: 0;
    }

    #maincontent {
        padding: 0;
        width: 100% !important;
        max-width: 100% !important;

        > .row > .column {
            padding: 0 !important;
        }

        > .row > .main {
            padding: 0;
        }

        em {
            font-family: inherit;
            small {
                font-family: inherit;
                color: inherit;
            }
        }

    }

    .eq-section {
        padding: 40px 0;
        color: $neutral000;
        
        &--nopadding {
            padding: 0;
            .eq-section__inner {
                max-width: 100%;
                width: 100%;   
            }
        }
    
        &--nopadding-bottom {
            padding-bottom: 0;
        }
    
        &--nopadding-top {
            padding-top: 0;
        }
    
        &--nopadding-xs {
            @include bp(xs) {
                padding: 0;
                .eq-section__inner {
                    max-width: 100%;   
                }
            }
        }
    
        &--grey {
            background-color: #f5f5f5;
        }
    
        &--salmon {
            background-color: $salmon;
        }

        &__inner {
            width: 1200px;
            max-width: calc(100vw - 20px);
            margin: 0 auto;
        }

        &--narrow {
            .eq-section__inner {
                width: 760px;
            }
        }
    }

}
