// Layout fixes
.page-title-wrapper {
    display: none !important;
}

p {
    color: $neutral900;
}

#maincontent {
    width: auto !important;
    .container {
        max-width: 100% !important;
        padding: 0 !important;
    }
}

.eq-section {
    &--nopadding {
        padding: 0;
        .eq-section__inner {
            max-width: 100%;
            width: 100%;
        }
    }

    &--beige {
        background-color: #f7f1ec;
    }

    &--green {
        background-color: #e5f3ec;
    }

    &--narrow {
        .eq-section__inner {
            width: 762px;
        }
    }
}

.hidden-sm {
    @include bp(sm) {
        display: none !important;
    }
}

.hidden-xs {
    @include bp(xs) {
        display: none !important;
    }
}

.footer {
    margin-top: 0;
}

.owl-carousel .owl-item img {
    background-color: unset;
}

.breadcrumbs {
    display: none !important;
}

// Fix for grey shipping info bar in header
.top-header-content .hidden-sm {
    display: block !important;
}

// Hero
.eq-cs-hero {
    padding: 20px 20px 40px;
    text-align: center;

    &__video {
        display: block;
        margin: 0 auto;
        border: none;
        cursor: pointer;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    &__content {
        width: 1100px;
        max-width: calc(100vw - 40px);
        margin: 0 auto;

        p {
            margin: 0;
            font-family: $font-sans;
            font-size: 20px;
            font-weight: 200;
            line-height: calc(25 / 20);
            color: $neutral000;
        }

        p + p {
            margin-top: 20px;
        }

        .toggle {
            margin-top: 20px;
            display: inline-block;
            color: $neutral000;
            font-family: $font-sans;
            font-size: 18px;
            font-weight: 200;
            font-style: italic;
            line-height: calc(31 / 18);
            text-decoration: underline;
        }
    }

    #videoModal {
        .modal-content {
            padding: 0;
        }

        .modal-body {
            padding-top: 40px;
        }

        iframe {
            display: block;
            width: 100%;
            height: 100%;
            aspect-ratio: 16/9;
        }
    }

    @include bp(xs) {
        &__video {
            margin: -20px -20px 0;
        }
    }

    @include bp(sm) {
        padding: 40px;

        &__content {
            p {
                font-size: 22px;
                line-height: calc(31 / 22);
            }
        }
    }
}

// Manifesto
.eq-cs-manifesto {
    text-align: center;

    &__copy {
        padding: 40px;
        max-width: 980px;
        margin: 0 auto;

        p {
            margin: 0;
            color: $neutral000;
            font-family: $font-sans;
            font-size: 20px;
            font-weight: 200;
            font-style: italic;
            line-height: calc(22 / 20);
        }

        p + p {
            margin-top: 10px;
        }
    }

    &__logo {
        display: block;
        max-width: 100%;
        height: auto;

        &--manifesto {
            width: 198px;
        }

        &--equivalenza {
            width: 189px;
        }
    }

    @include bp(sm) {
        padding: 20px 0;
        &__copy {
            p {
                font-size: 22px;
                line-height: calc(24 / 22);
            }
        }
    }
}

// Icon gallery
.eq-cs-icons {
    display: flex;
    flex-flow: column nowrap;
    padding: 30px 0;

    @include bp(sm) {
        padding: 40px 0;
        flex-direction: row;
    }

    &__item {
        display: flex;
        padding: 0 40px;
        flex: 1;
        flex-flow: column nowrap;
        align-items: center;

        img {
            display: block;
            height: 45px;
            width: auto !important;
        }

        span {
            font-family: $font-sans;
            font-weight: 600;
            margin-top: 20px;
            font-size: 20px;
            line-height: calc(23 / 20);
            text-align: center;
        }

        @include bp(xs) {
            & + * {
                margin-top: 60px;
            }
        }
    }

    &--alt {
        max-width: 800px;
        margin: 0 auto;

        .eq-cs-icons__item {
            img {
                display: block;
                height: 65px;
                width: auto !important;
            }

            span {
                font-weight: 400;
            }
        }
    }
}

// Ambiente
.eq-cs-ambiente {
    padding: 20px 0;

    &__title {
        margin: 0;
        font-family: $font-sans;
        font-weight: 600;
        font-size: 42px;
        line-height: 0.8;
        text-align: center;
        color: #37a980;
        @include bp(sm) {
            font-size: 46px;
        }
    }

    &__pic {
        display: block;
        margin: 0 auto;
        max-width: 350px;
        height: auto;
    }

    .eq-copy {
        &__section {
            font-weight: 400;
            font-size: 20px;
            @include bp(sm) {
                font-size: 22px;
            }
        }
        &__text {
            font-size: 20px;
            @include bp(sm) {
                font-size: 20px;
                max-width: 1100px;
            }
        }
        &__title {
            margin: 0 auto 20px;
        }
    }

    .eq-cs-icons {
        margin-top: 20px;

        &__item {
            img {
                padding-top: 30px;
                height: 102px;
            }

            span {
                font-weight: 200;

                strong {
                    border-bottom: 6px solid #b6f4b3;
                }
            }

            &--2 {
                img {
                    padding-top: 0;
                    height: 102px;
                }
            }
        }
    }
}

// Valores
.eq-cs-valori {
    padding: 30px 0 0;

    &__items {
        display: flex;
        flex-flow: column nowrap;
    }

    &__title {
        font-family: $font-sans;
        font-size: 23px;
        font-weight: 600;
        line-height: calc(27 / 23);
        text-align: center;
        letter-spacing: -0.04em;
        margin: 0 auto 30px;
    }

    @include bp(xs) {
        &__slider {
            pointer-events: none;
            .owl-dots,
            .owl-nav {
                display: none;
            }
            .owl-stage {
                transform: none !important;
            }
        }
    }

    @include bp(sm) {
        &__slider {
            margin-bottom: 20px;

            .owl-dots {
                bottom: auto;
                top: calc(100% + 20px);
                margin: 0;
            }

            .owl-prev {
                left: -20px;
            }

            .owl-next {
                right: -20px;
            }

            .eq-cs-vslide {
                height: 100%;
            }
        }
    }

    @include bp(sm) {
        padding: 20px 0;

        &__items {
            flex-direction: row;
            > * {
                flex: 1;
            }
        }

        &__title {
            font-size: 36px;
            line-height: calc(40 / 36);
            margin: 0 auto 40px;
        }
    }
}

.eq-cs-valore {
    position: relative;

    * {
        font-family: $font-sans;
    }

    &__title {
        margin: 0 auto 10px;
        font-size: 22px;
        line-height: calc(24 / 22);
        font-weight: 400;

        @include bp(sm) {
            margin: 0 auto 30px;
            font-size: 27px;
            line-height: 1;
            cursor: pointer;
        }
    }

    &__content {
        height: 100%;

        > .toggle {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            background-color: $neutral000;
            position: absolute;
            right: 20px;
            bottom: 20px;
            pointer-events: initial;
            color: white;
            font-size: 20px;
            line-height: 1;
            font-weight: 200;
            text-decoration: none !important;

            &:after {
                content: '+';
            }

            @include bp(xs) {
                &.active {
                    transform: rotate(45deg);
                }
            }

            @include bp(sm) {
                right: 30px;
                bottom: 30px;
            }
        }

        > .toggable {
            display: none;
            padding: 20px 20px 60px;
        }
    }

    &__copy {
        font-weight: 200;
        font-size: 16px;
        line-height: calc(18 / 16);
        strong {
            font-weight: 600;
        }

        @include bp(sm) {
            margin-bottom: 30px;
        }
    }

    &__header {
        position: relative;
        height: 0;

        img:not([class]) {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
        }

        > .inner {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }

        @include bp(xs) {
            padding-top: 148%;

            > .inner {
                padding: 35px;
            }
        }

        @include bp(sm) {
            padding-top: 200%;

            > .inner {
                padding: 30px;
            }
        }
    }
}

.eq-cs-vslide {
    position: relative;
    display: flex;
    flex-flow: row nowrap;

    &--2,
    &--4 {
        flex-direction: row-reverse;
    }

    &--1 {
        background-color: #f2f7f9;
    }

    &--2 {
        background-color: #e8e4df;
    }

    &--3 {
        background-color: #f3efef;
    }

    &--4 {
        background-color: #e7e8ea;
    }

    &--5 {
        background-color: #e8e4df;
    }

    .eq-cs-valore__title {
        font-size: 27px;
        line-height: calc(28 / 27);
        &:after {
            display: none;
        }
    }

    .eq-cs-valore__copy {
        font-size: 19px;
        line-height: calc(24 / 19);
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    &__content {
        width: 69%;
        padding: 60px;
        display: flex;
        flex-flow: column nowrap;
        text-align: center;
        * {
            font-family: $font-sans;
        }
    }

    &__pic {
        width: 31%;
        > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

// Categories
.eq-cs-cat {
    padding: 40px 0;

    &__item {
        display: block;
        text-decoration: none;
        text-align: center;

        > img {
            display: block;
            max-width: 100%;
            height: auto;
            margin: 0 auto 20px;
        }

        > span {
            font-family: $font-sans;
            font-weight: 600;
            font-size: 20px;
            line-height: calc(20 / 20);
            color: $neutral000;
            text-transform: uppercase;
        }
    }
}
