// Layout fixes
#maincontent {
    width: auto !important;
}

.eq-section {
    &--nopadding {
        padding: 0;
        .eq-section__inner {
            max-width: 100%;
            width: 100%;
        }
    }

    &--salmon {
        background-color: $salmon;
    }

    &--narrow {
        .eq-section__inner {
            width: 762px;
        }
    }
}

.hidden-sm {
    @include bp(sm) {
        display: none !important;
    }
}

.hidden-xs {
    @include bp(xs) {
        display: none !important;
    }
}

.footer {
    margin-top: 0;
}

.owl-carousel .owl-item img {
    background-color: unset;
}

// Fix for grey shipping info bar in header
.top-header-content .hidden-sm {
    display: block !important;
}

// Overrides
.eq-btn-black {
    background-color: $neutral000;
    border-radius: 4px;
    span {
        font-family: $font-sans;
        font-weight: 600;
    }
}

// Hero
.eq-difusores-hero {
    position: relative;

    &__pic {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            @include bp(sm) {
                min-height: 480px;
            }
        }
    }

    &__content {
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        
        @include bp(xs) {
            align-items: stretch;
        }
    }

    .inner {
        flex: 1;
        width: 1200px;
        max-width: calc(100vw - 20px);
        display: flex;
        flex-flow: column nowrap;
        padding: 20px 30px;
        color: $neutral000;

        @include bp(xs) {
            padding: 20px 20px 40px;
            align-self: flex-end;
        }
    }

    .title,
    .text {
        font-family: $font-sans;

        @include bp(sm) {
            max-width: 520px;
        }
    }

    .title {
        margin: 0;
        font-family: $font-sans;
        font-weight: 700;
        font-size: calc(10px + 5vw);
        line-height: calc(74/72);
        text-transform: uppercase;

        @include bp(xs) {
            max-width: 60%;
        }

        @include bp(sm) {
            font-size: 50px;
        }
    }

    .text {
        margin: 10px 0 40px;
        font-family: $font-sans;
        font-weight: 300;
        font-size: calc(8px + 4vw);
        line-height: calc(70/64);
        
        @include bp(xs) {
            max-width: 60%;
        }

        @include bp(sm) {
            font-size: 40px;
        }
    }

    .actions {
        display: flex;
        flex-flow: row nowrap;
        align-self: stretch;

        @include bp(xs) {
            .eq-btn-black {
                min-width: 0;
                flex: 150px 0 1;
            }
            & > * + * {
                margin-left: 10px;
            }
        }

        @include bp(sm) {
            & > * + * {
                margin-left: 20px;
            }
        }
    }
}

// Checklist
.eq-difusores-beneficios__content,
.eq-difusores-aceites__content {
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
        font-family: $font-sans;
        font-size: 16px;
        font-weight: 200;
        line-height: calc(20 / 16);
        position: relative;
        padding-left: 50px;
        min-height: 28px;

        &:before {
            position: absolute;
            left: 0;
            top: 0;
            content: '';
            display: block;
            width: 30px;
            height: 28px;
            background-color: transparent;
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 38 36' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='landing' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Landing' transform='translate(-525.000000, -2742.000000)' fill='%23FF896F' fill-rule='nonzero'%3E%3Cg id='Group-13' transform='translate(525.000000, 2742.000000)'%3E%3Cpath d='M36.2524967,0.00881984884 C36.0596421,0.0368372758 35.8822419,0.131450713 35.7502645,0.276676992 C31.165585,5.13740556 20.4809474,16.7495356 15.5816782,21.9597213 L9.01301041,16.0802484 C8.78653149,15.8756685 8.46939406,15.8094064 8.18152776,15.9065199 C7.89366146,16.0036335 7.67900415,16.2493 7.61873129,16.5506175 C7.55845842,16.851935 7.66176962,17.1629125 7.88959641,17.3659498 L15.079446,23.7945641 C15.4214813,24.1015211 15.942244,24.077804 16.2557266,23.7409927 C20.9673027,18.7458213 32.2924502,6.42440556 36.9794116,1.45524842 C37.2321105,1.1922302 37.2914988,0.795361563 37.1271079,0.468253544 C36.962717,0.141145525 36.6110376,-0.0435918302 36.2524967,0.00881984884 L36.2524967,0.00881984884 Z' id='Path'%3E%3C/path%3E%3Cpath d='M17.1015912,0.879376992 C15.0215762,0.85494842 12.9315123,1.22356271 10.9294225,1.99096271 C2.20187977,5.33621985 -2.20497368,15.2452627 1.09624576,24.089207 C4.39749913,32.9331213 14.1761472,37.398707 22.9036942,34.0534927 C31.6312378,30.7082356 36.0248745,20.7991927 32.7236551,11.9552484 C32.6334798,11.6453513 32.3790163,11.4131548 32.0654516,11.3546414 C31.7518869,11.296128 31.4324907,11.4212383 31.2392909,11.6782557 C31.0460911,11.9352731 31.0119095,12.2805345 31.1508754,12.5713198 C34.1286193,20.5486927 30.1681245,29.4288641 22.2957289,32.4463498 C14.4233384,35.4637927 5.64677357,31.4504784 2.66902545,23.4731356 C-0.308722757,15.4957627 3.65177639,6.61559128 11.5241711,3.59810556 C16.3309282,1.75571985 21.7254723,2.48459128 25.8774371,5.55346271 C26.2534253,5.79870702 26.7527474,5.70580321 27.0182349,5.34120598 C27.2837225,4.97660874 27.2240499,4.46573664 26.8819014,4.17401985 C23.9996302,2.04363413 20.5682449,0.920005563 17.1015912,0.879376992 L17.1015912,0.879376992 Z' id='Path'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            background-size: cover;
        }

        strong {
            display: block;
            font-family: $font-sans;
            font-weight: 600;
        }

        @include bp(sm) {
            font-size: 20px;
            line-height: calc(26 / 20);
            padding-left: 64px;
            min-height: 36px;

            &:before {
                width: 38px;
                height: 36px;
            }
        }
    }
}

// Beneficios
.eq-difusores-beneficios {

    &__pic {
        img {
            width: 100%;
            max-width: 258px;
            height: auto;
        }
    }

    @include bp(xs) {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -20px;

        .toggle {
            font-family: $font-sans;
            font-size: 16px;
            color: $neutral000;
            text-decoration: underline;
        }

        &__pic {
            margin-top: 20px;
        }

        #difusores-list {
            max-width: calc(100% - 40px);
            padding: 20px 0;
            display: none;
            > li + li {
                margin-top: 10px;
            }
        }
    }

    @include bp(sm) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: calc(100vw - 40px);
        padding-bottom: 40px;
        margin: 0 auto;

        .toggle {
            display: none;
        }

        &__pic {
            grid-column: 2;
            grid-row: 1;
            align-self: top;
            justify-self: center;
            padding: 10px 20px;
        }

        #difusores-list {
            display: grid !important;
            grid-column: 1 / span 3;
            grid-row: 1;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-gap: 10px 33.3333333%;
            grid-auto-flow: column;
        }
    }

}

// Funcionamiento
.eq-difusores-funcionamiento {
    position: relative;

    &__pic {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {

        @include bp(xs) {
            background: #D1E5F4;
            padding: 20px;
        }

        @include bp(sm) {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 20px 20px 20px 50%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }

    }

    .title,
    .text {
        font-family: $font-sans;

        @include bp(xs) {
            text-align: center;
        }

        @include bp(sm) {
            max-width: 500px;
        }
    }

    .title {
        font-weight: 600;
        font-size: 26px;
        line-height: 30px;
        letter-spacing: -0.025em;

        @include bp(sm) {
            font-size: 36px;
            line-height: 40px;
            margin-bottom: 20px;
        }
    }

    .text {
        font-weight: 200;
        font-size: 18px;
        line-height: 25px;

        strong {
            font-weight: 600;
        }

        @include bp(sm) {
            font-size: 22px;
            line-height: 26px;
            margin-bottom: 20px;
        }
    }

    .actions {
        display: flex;
        flex-flow: row nowrap;
        align-self: stretch;

        @include bp(xs) {
            justify-content: center;
            margin-top: 20px;

            .eq-btn-black {
                min-width: 0;
                flex: 150px 0 1;
            }
            
            & > * + * {
                margin-left: 10px;
            }
        }

        @include bp(sm) {
            margin-top: 20px;
            & > * + * {
                margin-left: 20px;
            }
        }
    }
}

// Difusores
.eq-difusores {

    display: grid;

    @include bp(xs) {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: auto;
        grid-gap: 6px;
        padding: 0;
        margin-top: -40px;
    }

    @include bp(sm) {
        grid-template-columns: repeat(4, auto);
        grid-column-gap: 16px;
        padding: 0 10px 40px;
    }
}

.eq-difusores-item {
    background-color: $neutralBase;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

    &__pic {
        width: 100%;
        max-width: 150px;
        height: auto;
        margin-bottom: 10px;
    }

    * {
        font-family: $font-sans;
    }

    &__title {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
    }

    &__specs {
        list-style: none;
        padding: 0;
        margin: 0 auto 20px;
        text-align: center;
        li {
            font-weight: 200;
            font-size: 16px;
            line-height: 20px;
        }
    }

    &__price {
        margin: auto auto 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .tag {
            font-weight: 600;
            font-size: 12px;
            line-height: 19px;
            color: #34a853;
        }
        .price {
            font-weight: 600;
            font-size: 18px;
            line-height: 24px;
        }
    }

    .eq-btn {
        background-color: $magenta;
        color: $neutralBase;
        width: 100%;
        height: 34px;
        max-width: 140px;
        font-size: 15px;
        font-weight: 600;
        line-height: 21px;
        text-transform: uppercase;
        text-align: center;
        pointer-events: auto;
        transition: all .2s linear;
        border: none;
        border-radius: 4px;
        padding: 6px;

        &:hover {
            background: $neutral000;
            color: $neutralBase;
            border: none;
            text-decoration: none;
        }
    }

    @include bp(sm) {
        padding: 30px;
        &__pic {
            max-width: 218px;
        }
        &__title {
            font-size: 24px;
            line-height: 27px;
        }
        &__specs li {
            font-size: 17px;
            line-height: 21px;
        }
        &__price .tag {
            font-size: 15px;
        }
    }
}

// Reviews
.eq-difusores-review {
    padding-top: 20px;
}
.eq-difusores-review-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10px 40px;

    * {
        font-family: $font-sans;
    }

    .text {
        max-width: 700px;
        text-align: center;
        font-weight: 600;
        font-size: 20px;
        line-height: 22px;
        margin: 0 auto 15px;
    }

    .stars {
        width: 100%;
        max-width: 86px;
        margin: 0 auto 15px;
    }

    .byline {
        font-size: 16px;
        line-height: 24px;
        color: $neutral800;
    }

    @include bp(sm) {
        .text {
            font-size: 24px;
            line-height: 28px;
        }
    }
}

// ACEITES
.eq-difusores-aceites {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__content {
        display: grid;
        margin-bottom: 30px;

        @include bp(xs) {
            grid-template-rows: auto;
            grid-row-gap: 10px;
        }

        @include bp(sm) {
            margin-bottom: 40px;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            grid-auto-flow: column;
            grid-gap: 16px;
        }
    }

    .eq-btn-black {
        width: 100%;
        @include bp(sm) {
            max-width: 340px;
        }
    }
}