// Layout fixes
#maincontent {
    width: auto !important;
}

.columns .column.main {
    padding: 0;
    width: 100vw;

    @include bp(xs) {
        margin: 0 -10px;
    }

    @include bp(sm) {
        margin: 0 -40px;
    }
}

.eq-section {
    &--salmon {
        background-color: $salmon;
    }
}

.hidden-sm {
    @include bp(sm) {
        display: none !important;
    }
}

.hidden-xs {
    @include bp(xs) {
        display: none !important;
    }
}

.footer {
    margin-top: 0;
}

.owl-carousel .owl-item img {
    background-color: unset;
}

.owl-nav > div {
    background-color: transparent;
    &::before {
        display: none !important;
    }
}

.owl-dots .owl-dot {
    background-color: transparent;
}

// Fix for grey shipping info bar in header
.top-header-content .hidden-sm {
    display: block !important;
}

// Icon gallery
.eq-fr-icons {

    display: flex;
    flex-flow: column nowrap;

    @include bp(sm) {
        flex-direction: row;
    }

    &__item {

        display: flex;

        img {
            display: block;
            height: 45px;
            width: auto !important;
        }

        span {
            font-family: $font-sans;
            font-weight: 300;

            strong {
                font-family: inherit;
                font-weight: 600;
            }
        }

        @include bp(xs) {
            padding: 10px 0 10px 10px;
            flex-flow: row nowrap;

            img {
                height: 28px;
                margin-right: 20px;
            }

            span {
                font-size: 16px;
                line-height: calc(22/16);
            }
        }

        @include bp(sm) {
            padding: 0 40px;
            flex: 1;
            flex-flow: column nowrap;
            align-items: center;

            img {
                height: 45px;
            }

            span {
                margin-top: 20px;
                font-size: 20px;
                line-height: calc(23/20);
                text-align: center;
            }
        }




    }

}

// Banner
.eq-fr-banner {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: $salmon;
    padding: 20px;

    * {
        font-family: $font-sans;
    }

    > * + * {
        margin-top: 5px;
    }

    &__copy {
        font-size: 17px;
        font-weight: 600;
        line-height: calc(23/17);
        text-align: center;
        > span {
            font-weight: 200;
            font-size: 40px;
            line-height: calc(23/40);
            strong {
                font-weight: 600;
            }
        }
    }

    &__small {
        font-size: 13px;
        font-weight: 200;
        line-height: calc(24/13);
    }

    @include bp(sm) {
        padding: 20px 40px;

        &__copy {
            font-size: 24px;
            line-height: calc(29/24);
            > span {
                font-size: 55px;
                line-height: calc(29/55);
            }
        }
    }
}

// Banner + CTA
.eq-fr-banner-cta {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    > * + * {
        margin-top: 30px;
    }

    @include bp(xs) {
        [class*="eq-btn"] {
            display: block;
            width: 100%;
        }
    }

    @include bp(sm) {
        [class*="eq-btn"] {
            width: 400px;
        } 
    }
}

// Lara
.eq-fr-lara {

    display: flex;
    flex-flow: column nowrap;

    @include bp(sm) {
        flex-direction: row;
    }

    * {
        font-family: $font-sans;
    }

    &__copy {
        font-size: 16px;
        font-weight: 200;
        line-height: calc(22/16);
        margin: 0 auto 15px;
        color: $neutral000;
        strong {
            font-weight: 600;
        }
    }

    &__title {
        font-weight: 400;
        font-size: 25px;
        line-height: calc(28/24);
        color: $neutral000;
    }

    &__col--2 {
        img {
            mix-blend-mode: darken;
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            margin: 0 auto;
        }
    }

    @include bp(xs) {
        .logo-equivalenza {
            width: 172px;
            height: auto;
            margin-bottom: 10px;
        }
        
        &__col--1,
        &__col--3 {
            padding-left: 25px;
            padding-right: 25px;
        }

        &__col--1 {
            order: 0;
            padding-top: 25px;
        }
        &__col--2 {
            order: 2;
        }
        &__col--3 {
            order: 1;
            padding-bottom: 25px;
        }

        #more-info {
            display: none;
        }

        .toggle {
            color: $neutral000;
            font-size: 16px;
            line-height: calc(22/16);
            text-decoration: underline;
        }
    }

    @include bp(sm) {
        .logo-equivalenza {
            margin-bottom: 20px;
        }

        &__col--1,
        &__col--3 {
            flex: 1 0 28%;
            padding: 40px;
        }
        &__col--2 {
            flex: 1 0 44%; 
        }
        &__col--3 {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
        }

        &__title {
            font-size: 36px;
            line-height: calc(38/36);
            margin: 0 auto 20px;
            color: $neutral000;
        }

        &__copy {
            font-size: 20px;
            line-height: calc(27/20);
            color: $neutral000;
        }

        .toggle {
            display: none;
        }
    }

}

// Motivos
.eq-fr-motivos {
    padding: 30px 0 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    &__items {
        display: flex;
        flex-flow: column nowrap;
    }

    &__title {
        font-family: $font-sans;
        font-size: 23px;
        font-weight: 600;
        line-height: calc(27/23);
        text-align: center;
        letter-spacing: -.04em;
        margin: 0 auto 30px;
        color: $neutral000;
    }

    @include bp(xs) {
        &__slider {
            pointer-events: none;
            .owl-dots,
            .owl-nav {
                display: none !important;
            }
            .owl-stage {
                transform: none !important;
            }
        }
    }

    @include bp(sm) {
        &__slider {
            margin-bottom: 20px;

            .owl-dots {
                bottom: auto;
                top: calc(100%  + 20px);
                margin: 0;
            }

            .owl-prev {
                left: -20px;
            }

            .owl-next {
                right: -20px;
            }

            .eq-fr-mslide {
                height: 100%;
            }
        }
    }

    @include bp(sm) {
        padding: 20px 0;

        &__items {
            flex-direction: row;
            > * {
                flex: 1;
            }
        }

        &__title {
            font-size: 36px;
            line-height: calc(40/36);
            margin: 0 auto 40px;
        }
    }
}

.eq-fr-motivo {
    position: relative;

    @include bp(xs) {
        &.sostenibilidad {
            background: #FCF4F1;
        }
        &.smart {
            background: #FCF4F1;
        }
        &.empatia {
            background: #FCF4F1;
        }
        &.menosesmas {
            background: #FCF4F1;
        }
    }
    
    * {
        font-family: $font-sans;
    }

    &__title {
        margin: 0 auto 10px;
        font-size: 22px;
        line-height: calc(24/22);
        font-weight: 600;
        color: $neutral000;

        @include bp(sm) {
            font-size: 24px;
            line-height: calc(27/24);
            cursor: pointer;
            &:after {
                content: " \203A";
            }
        }
    }

    &__content {
        height: 100%;

        > .toggle {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            background-color: $neutral000;
            position: absolute;
            right: 20px;
            bottom: 20px;
            pointer-events: initial;

            &.active {
                transform: scaleY(-1);
            }

            &:after {
                content: "";
                display: block;
                width: 10px;
                height: 10px;
                border-right: 2px solid white;
                border-bottom: 2px solid white;
                transform: rotate(45deg);
                margin-top: -4px;
            }
        }

        > .toggable {
            display: none;
            padding: 20px 20px 60px;
        }
    }

    &__copy {
        font-weight: 200;
        font-size: 16px;
        line-height: calc(18/16);
        color: $neutral000;
        strong {
            font-weight: 600;
        }
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;

        @include bp(xs) {
            margin-top: 20px;
        }

        > li {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;

            > img {
                width: 20px;
                height: 19px;
                margin-right: 10px;
            }

            > span {
                font-weight: 200;
                font-size: 16px;
                line-height: calc(18/16);
                color: $neutral000;
                strong {
                    font-weight: 600;
                }
            }
        }

        > li + li {
            margin-top: 15px;
        }
    }

    &__header {
        position: relative;
        height: 0;

        img:not([class]) {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
        }

        > .inner {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }

        @include bp(xs) {
            padding-top: 60%;

            > .inner {
                padding: 20px 50% 20px 20px;
            }

            [class*="icon-"] {
                width: 60px;
                height: auto;
                margin: 0 0 10px;
            }
        }

        @include bp(sm) {
            padding-top: 154%;
            
            > .inner {
                padding: 20px;
            }

            [class*="icon-"] {
                width: 75px;
                height: auto;
                margin: 0 0 10px;
            }
        }
    }

    &:nth-child(even) {
        .eq-fr-motivo__header > .inner {
            @include bp(xs) {
                padding: 20px 20px 20px 50%;
            }
        }
    }
}

.eq-fr-mslide {
    position: relative;

    .eq-fr-motivo__title {
        font-size: 27px;
        line-height: calc(28/27);
        &:after { display: none; }
    }

    .eq-fr-motivo__copy {
        font-size: 19px;
        line-height: calc(24/19);
    }

    .eq-fr-motivo__list {
        margin-top: 30px;
        > li > span {
            font-size: 19px;
            line-height: calc(24/19);
        }
    }

    &--2,
    &--4 {
        .eq-fr-mslide__content {
            max-width: 94%;
            padding-left: 36%;
            [class*="icon-"] {
                position: absolute;
                left: 28%;
            }
        }
    }

    &__content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        padding: 60px 100px 0 180px;
        max-width: 65%;

        [class*="icon-"] {
            position: absolute;
            width: 85px;
            height: 85px;
            top: 40px;
            left: 54px;
        }

        * {
            font-family: $font-sans;
        }
    }

    > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.eq-fr-ofrecemos {
    * {
        font-family: $font-sans;
    }

    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    &__title {
        font-family: $font-sans;
        font-size: 23px;
        font-weight: 600;
        line-height: calc(27/23);
        text-align: center;
        text-transform: uppercase;
        letter-spacing: -.04em;
        margin: 0 auto 30px;
        color: $neutral000;
        @include bp(sm) {
            font-size: 36px;
            line-height: calc(40/36);
            margin: 0 auto 40px;
        }
    }

    .toggle {
        margin-bottom: 30px;
        color: $neutral000;
        font-size: 16px;
        line-height: calc(22/16);
        text-decoration: underline;
        @include bp(sm) {
            display: none;
        }
    }

    .eq-check-list {
        margin: 0 auto 10px;
        @include bp(xs) {
            max-width: calc(100% - 20px);
            .toggable{
                display: none;
            }
        }
        @include bp(sm) {

            margin-bottom: 40px;
            &,
            & > .toggable {
                display: grid !important;
                grid-template-columns: 1fr 1fr 1fr;
                grid-column-gap: 60px;
                align-items: flex-start;
            }

            .toggable {
                grid-column: 1 / span 3;
            }

        }
    }

    .eq-btn-border {
        margin-bottom: 20px;
        width: 400px;
        max-width: calc(100% - 20px);
    }
}

.eq-fr-buscamos {

    display: grid;

    * {
        font-family: $font-sans;
    }

    &__copy,
    &__small {
        font-weight: 600;
        color: $neutral000;
    }

    &__col--3 {
        text-align: center;
        display: flex;
        flex-flow: column nowrap;
    }

    .eq-arrow-black {
        margin: 10px auto 0;
    }

    @include bp(xs) {
        grid-template-rows: auto;
        grid-row-gap: 10px;

        &__copy {
            font-size: 22px;
            line-height: calc(22/18);
            text-align: center;
        }

        &__small {
            margin-top: 20px;
            font-size: 16px;
            line-height: calc(21/16);
            text-align: center;
        }
    }

    @include bp(sm) {
        max-width: 960px;
        margin: 0 auto;
        grid-template-rows: auto;
        grid-template-columns: 40% auto;
        grid-gap: 40px 60px;

        &__col--3 {
            grid-column: 1 / span 2;
        }

        &__copy {
            font-size: 22px;
            line-height: calc(32/22);
        }

        &__small {
            font-size: 16px;
            line-height: calc(21/16);
            text-align: center;
        }
    }

}

#franquicias-form {
    width: 600px;
    max-width: calc(100% - 40px);
    margin: 0 auto;

    @include bp(xs) {
        .eq-radiogroup {
            margin-top: 20px;
            margin-bottom: 30px;
        }

        [type="submit"] {
            margin-top: 30px;
        }
    }

    @include bp(sm) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px 10px;

        > * + * {
            margin-top: 0;
        }

        .eq-check,
        [type="submit"] {
            grid-column: 1 / span 2;
        }

        [type="submit"] {
            margin-top: 10px;
        }
    }
}

// GRACIAS POR PARTICIPAR
.eq-co-gracias {

    color: $neutral000;
    background-color: $salmon;
    max-width: 1128px;
    width: calc(100vw - 20px) !important;
    min-height: 400px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;

    .eq-icon-gift {
        width: 43px;
        height: auto;
        margin: 0 auto;
    }

    &__title,
    &__copy,
    &__follow {
        font-family: $font-sans;
        color: $neutral000;
    }

    &__divider {
        width: 100%;
        max-width: 500px;
        border: none;
        height: 1px;
        background-color: $neutral000;
    }

    &__title {
        margin: 20px auto;
        > span {
            display: block;
            &:first-child {
                font-size: 40px;
                line-height: 1;
                text-transform: uppercase;
            }

            &:last-child {
                font-size: 32px;
                line-height: 1;
            }
        }
    }

    &__copy {
        margin: 5px auto 0;
        font-weight: 200;
        font-size: 20px;
        line-height: calc(24/20);
    }

}