// Layout fixes
.page-title-wrapper {
    display: none !important;
}

p {
    color: $neutral900;
}

#maincontent {
    width: auto !important;
    .container {
        max-width: 100% !important;
        padding: 0 !important;
    }
}

.eq-section {
    &--nopadding {
        padding: 0;
        .eq-section__inner {
            max-width: 100%;
            width: 100%;   
        }
    }

    &--salmon {
        background-color: $salmon;
    }

    &--narrow {
        .eq-section__inner {
            width: 762px;
        }
    }
}

.hidden-sm {
    @include bp(sm) {
        display: none !important;
    }
}

.hidden-xs {
    @include bp(xs) {
        display: none !important;
    }
}

.footer {
    margin-top: 0;
}

.owl-carousel .owl-item img {
    background-color: unset;
}

// Overrides
.eq-btn-black {
    background-color: $neutral000;
    span {
        font-family: $font-sans;
        font-weight: 600;
    }
}

.breadcrumbs {
    display: none !important;
}

// Fix for grey shipping info bar in header
.top-header-content .hidden-sm {
    display: block !important;
}

// Hero
.eq-giorgia-hero {
    position: relative;

    &__pic {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            @include bp(sm) {
                aspect-ratio: 1920 / 680;
            }
        }
    }

    &__content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        opacity: 0;

        * {
            font-family: $font-sans;
        }

        .title {
            font-size: 46px;
            line-height: 1;
            font-weight: 700;
            text-transform: uppercase;
            color: #F26A4B;
            margin: 0 0 10px;

            strong {
                color: $neutral000;
            }

            strong, span {
                display: block;
            }

            @include bp(sm) {
                font-size: 70px;
            }
        }

        .text {
            font-size: 23px;
            line-height: calc(29/23);
            margin: 0 0 30px;

            @include bp(sm) {
                font-size: 38px;
            }
        }

        .actions {

            .eq-btn-black {
                border-radius: 4px;
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }

            @include bp(xs) {
                & > * + * {
                    margin-top: 10px;
                }
            }

            @include bp(sm) {
                display: flex;
                flex-flow: row nowrap;
                & > * + * {
                    margin-left: 20px;
                }
            }

        }

        @include bp(xs) {
            padding: 90px 30px;
            align-items: flex-start;
            justify-content: flex-end;
        }

        @include bp(sm) {
            align-items: flex-start;
            justify-content: center;
            padding: 30px 30px 30px 50%;
        }
    }
}

.eq-giorgia-favoritos {
    .eq-copy {
        max-width: 725px;
        margin: 0 auto;
    }
}

// Products
.eq-giorgia-products {

    max-width: 900px;
    margin: 0 auto;

    @include bp(xs) {
        padding-bottom: 40px;
    }

    @include bp(sm) {
        pointer-events: none;
    }

    .owl-stage {
        display: flex !important;

        .owl-item {
            float: none !important;
            display: flex;
            flex-flow: column nowrap;
            flex: 1;
        }
    }


    &__item {
        float: none !important;
        flex: 1;
        display: flex;
        flex-flow: column nowrap;


        .pic {
            max-width: 220px;
            margin: 0 auto;
        }

        .content {
            flex: 1;
            display: flex;
            padding: 15px;
            flex-flow: column nowrap;
            align-items: center;

            @include bp(sm) {
                padding: 20px;
            }

            * {
                font-family: $font-sans;
            }

            .title {
                font-weight: 400;
                font-size: 17px;
                line-height: calc(22/18);
                text-align: center;

                @include bp(sm) {
                    font-size: 18px;
                }
            }

            .text {
                font-weight: 200;
                font-size: 15px;
                line-height: calc(21/17);
                text-align: center;

                @include bp(sm) {
                    font-size: 17px;
                }
            }



            .price {
                margin: auto 0 10px;
                font-weight: 600;
                font-size: 18px;
                line-height: calc(24/18);
                color: $neutral000;
            }

            .btn {
                background-color: $magenta;
                color: $neutralBase;
                width: 100%;
                height: auto;
                max-width: 176px;
                font-size: 15px;
                font-weight: 600;
                text-transform: uppercase;
                pointer-events: auto;
                transition: all .2s linear;
                border: none;
                padding: 8px 18px;

                &:hover {
                    background: $neutral000;
                    color: $neutralBase;
                    border: none;
                }
            }
        }
    }
}

// Giorgia
.eq-giorgia {
    max-width: 1168px;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    background: rgba(#FF896F, .15);

    &__pic {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__copy {
        padding: 40px 25px;
        font-family: $font-sans;
        font-weight: 600;
        font-style: italic;
        font-size: 26px;
        line-height: calc(30/26);
    }

    @include bp(xs) {
        margin-top: 20px;
    }

    @include bp(sm) {
        flex-direction: row-reverse;
        align-items: center;
        margin: 60px auto;

        & > * {
            flex: 0 1 50%;
        }

        &__copy {
            padding: 60px;
            font-size: 32px;
            line-height: calc(38/32);
        }
    }
}

// Form
.eq-giorgiaform {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 0 10px;

    @include bp(sm) {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    &__title {
        font-family: $font-sans;
        font-weight: 400;
        font-size: 17px;
        line-height: calc(27 / 17);
        letter-spacing: 0.025em;
        text-transform: uppercase;
        margin: 0;

        @include bp(xs) {
            margin: 0 auto 10px;
            max-width: 300px;
            text-align: center;
        }

        @include bp(sm) {
            margin-right: 20px;
            text-align: left;
        }
    }

    &__form {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        background: $neutralBase;
        border: 1px solid $neutralBase;
        border-radius: 21px;
        width: 100%;
        max-width: 340px;

        label.error {
            position: absolute;
            left: 0;
            right: 0;
            top: 100%;
            padding: 2px 20px;
            color: $red;
            font-family: $font-sans;
            font-weight: 400;
            font-size: 13px;
        }

        [type='email'] {
            flex: 1;
            border: none;
            appearance: none;
            background: transparent;
            padding: 0 10px 0 20px;
            font-family: $font-sans;
            font-size: 16px;
            line-height: calc(24 / 16);
            color: $neutral000;
            width: auto;
            max-width: calc(100% - 132px);

            &::placeholder {
                color: rgba($neutral000, 0.4);
            }

            &:focus {
                outline: none;
            }
        }

        [type='submit'] {
            appearance: none;
            border: none;
            border-radius: 20px;
            background-color: $salmon;
            font-family: $font-sans;
            font-size: 16px;
            font-weight: 600;
            line-height: calc(18 / 16);
            text-transform: uppercase;
            width: 132px;
            height: 40px;
            flex-shrink: 1;
            transition: all .2s linear;
            &:hover {
                background: $neutral000;
                color: $neutralBase;
            }
        }
    }
}
