// Layout fixes
#maincontent {
    width: auto !important;
}

.eq-section {
    &--nopadding {
        padding: 0;
        .eq-section__inner {
            max-width: 100%;
            width: 100%;
        }
    }

    &--pink {
        background-color: rgba(#ff896f, 0.18);
    }

    &--green {
        background-color: rgba(#a1dbb4, 0.5);
        @include bp(sm) {
            margin-bottom: 60px;
        }
    }

    &--lessecrets {
        background-color: transparent;
        color: $neutralBase;
        margin-bottom: 40px;
    }
}

.hidden-sm {
    @include bp(sm) {
        display: none !important;
    }
}

.hidden-xs {
    @include bp(xs) {
        display: none !important;
    }
}

.footer {
    margin-top: 0;
}

.owl-carousel .owl-item img {
    background-color: unset;
}

.breadcrumbs {
    display: none !important;
}

// Fix for grey shipping info bar in header
.top-header-content .hidden-sm {
    display: block !important;
}

// Overrides
.eq-btn-black {
    background-color: $neutral000;
    span {
        font-family: $font-sans;
        font-weight: 600;
    }
}

.eq-slider .owl-dots {
    .owl-dot:not(.active) {
        background: $neutral000;
        opacity: 0.25;
    }
    @include bp(xs) {
        bottom: -40px;
    }
}

.eq-slider.owl-carousel .owl-nav {

    & > div.owl-prev {
        left: 5px !important;
    }

    & > div.owl-next {
        right: 5px !important;
    }

    & > div {
        opacity: 1 !important;
        &.disabled {
            opacity: .25 !important;
        }
    }

}

// NOVEDADES
.eq-new {
    @include bp(xs) {
        width: 100vw;
        margin-left: -10px;
        margin-right: -10px;

        &.owl-carousel.eq-slider .owl-nav {
            > div.owl-prev {
                left: 10px !important;
                visibility: visible;
            }
            > div.owl-next {
                right: 10px !important;
                visibility: visible;
            }
        }
    }
    @include bp(sm) {
        .owl-stage {
            display: flex;
            flex-flow: row nowrap;
        }
        .owl-item {
            display: flex;
        }
    }
}

.eq-new__item {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;

    img {
        display: block;
        width: 100%;
        margin: 0 auto 20px;
    }

    .title {
        font-family: $font-sans;
        font-size: 24px;
        line-height: calc(26 / 24);
        color: $neutral000;
        margin-bottom: 10px;
    }

    .description {
        font-family: $font-sans;
        font-weight: 200;
        font-size: 20px;
        line-height: calc(26 / 20);
        margin-bottom: 20px;
    }

    .eq-btn-black {
        margin-top: auto;
    }
}

// SEARCH
.eq-section--search {
    overflow: hidden;
    background-color: #f7f7f5;

    @include bp(sm) {
        .eq-section__inner {
            width: 1200px;
            max-width: calc(100vw - 20px);
        }
    }
}

.eq-search {
    display: flex;
    flex-flow: column nowrap;
    gap: 30px;

    @include bp(sm) {
        flex-direction: row;
        align-items: center;
        > * {
            flex: 1;
        }
    }

    &__pic {
        mix-blend-mode: darken;

        img {
            display: block;
            width: 100%;
            height: auto;
        }

        @include bp(sm) {
            position: relative;
            z-index: 1;
            flex: 1;

            &:before {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 40px;
                height: 100%;
                background-image: linear-gradient(to right, #f7f7f5, transparent);
            }

            &:after {
                content: '';
                display: block;
                position: absolute;
                right: 0;
                bottom: 0;
                width: 40px;
                height: 100%;
                background-image: linear-gradient(to left, #f7f7f5, transparent);
            }
        }
    }

    &__content {
        .title {
            font-family: $font-sans;
            font-weight: 600;
            font-size: 27px;
            line-height: calc(31 / 27);
            color: $neutral000;
            text-transform: uppercase;
            letter-spacing: -0.36px;
        }

        .copy,
        legend {
            font-family: $font-sans;
            font-weight: 200;
            font-size: 20px;
            line-height: calc(26 / 20);
            color: $neutral000;
            border: none;
            margin: 0 0 20px;
        }

        .copy {
            max-width: 24em;
        }

        ul {
            display: flex;
            flex-flow: column nowrap;
            gap: 5px;
            list-style: none;
            padding: 0;
            margin: 0 0 30px;

            li {
                font-family: $font-sans;
                font-size: 20px;
                line-height: calc(26 / 20);
                a {
                    color: $neutral000;
                    text-decoration: underline;
                }
            }
        }

        @include bp(xs) {
            padding: 0 20px 30px;
        }

        @include bp(sm) {
            .title {
                font-size: 36px;
            }
            ul {
                flex-direction: row;
                gap: 30px;
            }
        }
    }

    &__form {
        margin-bottom: 30px;

        #searchperfume {
            height: 40px;
            background-color: transparent;
            border: none;
            font-family: $font-sans;
            font-weight: 600;
            font-size: 16px;
            line-height: 1;
            width: 100%;
            padding: 0 22px;
            color: $neutral900;
            &:focus {
                outline: none;
                box-shadow: none;
            }
        }

        [type='submit'] {
            color: $neutral000;
            background-color: #ddb999;
            border: none;
            width: 100px;
            height: 40px;
            border-radius: 20px;
            font-family: $font-sans;
            font-weight: 600;
            font-size: 16px;
            text-transform: uppercase;
        }
    }

    &__field {
        position: relative;
        flex: 1;
    }

    &__group {
        display: flex;
        flex-flow: row nowrap;
        height: 44px;
        border: 1px solid $neutral700;
        border-radius: 22px;
        padding: 1px;
        width: 100%;

        @include bp(sm) {
            max-width: 300px;
        }
    }
}

// CATEGORIES
.eq-categories {
    &__inner {
        display: flex;
        flex-flow: row nowrap;
        gap: 25px;
    }

    &__item {
        flex: 1;
        display: flex;
        flex-flow: column nowrap;
        gap: 15px;
        align-items: center;

        &:hover {
            color: $neutral000;
            text-decoration: none;
        }

        .title {
            color: $neutral000;
            font-family: $font-sans;
            font-weight: 600;
            font-size: 21px;
            line-height: calc(27 / 21);
            text-transform: uppercase;
        }
    }

    &__pic {
        display: block;
        width: 100%;
        height: auto;
    }

    @include bp(xs) {
        overflow: auto;

        &__item {
            flex: 1 0 220px;
        }
    }

    @include bp(sm) {
        margin-top: 30px;
    }
}

// TOP SALES
.eq-topsales {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;

    &__item {
        flex: 1;
    }

    @include bp(md) {
        flex-direction: row;
        gap: 30px;
        &__item {
            width: calc(100%/3 - 20px);
            display: flex;
            flex-direction: column;
            flex: 1;
        }
    }
}

// Ajustos layout sliders "Más vendidos"
// --------------------------------------------------------------------------
.eq-topsales {
    display: flex;
    flex-flow: column nowrap;
    @include bp(sm) {
        margin-bottom: 60px;
    }
}

.eq-topsales .content-block,
.eq-topsales .content-block .tabbable,
.eq-topsales .content-block .tabbable .tab-content,
.eq-topsales .content-block .tabbable .tab-content .tab-pane,
.eq-topsales
.content-block
.tabbable
.tab-content
.tab-pane
.attribute-product-category-tab,
.eq-topsales
.content-block
.tabbable
.tab-content
.tab-pane
.attribute-product-category-tab
.products-grid,
.eq-topsales
.content-block
.tabbable
.tab-content
.tab-pane
.attribute-product-category-tab
.products-grid
.items,
.eq-topsales
.content-block
.tabbable
.tab-content
.tab-pane
.attribute-product-category-tab
.products-grid
.items
.owl-stage-outer {
    display: flex !important;
    flex-flow: column nowrap;
    flex: 1;
}

.eq-topsales .owl-stage {
    display: flex;
    flex-flow: row nowrap;
    flex: 1;
}

.eq-topsales .owl-stage .owl-item,
.eq-topsales .owl-stage .owl-item .product-item {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    flex: 1;
    width: 100%;

    .eq-fixed-label {
        display: inline-flex;
        white-space: nowrap;
    }
}

.eq-topsales .owl-stage .owl-item .product-item .btn {
    margin-top: auto;
}

// SLIDER "Top Ventas"
.content-block {
    > .tabbable {
        @include bp(xs) {
            .owl-carousel .owl-nav {
                > div {
                    &:hover {
                        background-color: transparent;
                        color: $magenta;
                    }
                }
                > div.owl-prev {
                    left: 0;
                }
                > div.owl-next {
                    right: 0;
                }
            } 
        }
        @include bp(sm) {
            padding: 0;

            .product-item {
                text-align: center;
            }

            .product-item-info {
                margin: 0 0 10px;
            }

            .product-item-name {
                a {
                    color: $neutral000;
                    font-family: $font-sans;
                    font-size: 17px;
                    line-height: calc(22 / 17);
                    color: $neutral000;
                    &:hover {
                        color: $magenta;
                    }
                }
            }

            .price-box .price {
                color: $neutral000;
                font-family: $font-sans;
                font-weight: 600;
                font-size: 18px;
                line-height: calc(25 / 18);
            }

            .owl-carousel .owl-nav {
                > div {
                    opacity: 1;
                    visibility: visible;
                    border-color: transparent;
                    width: 48px;
                    height: 48px;
                    line-height: 48px;
                    margin-top: -24px;
                    i {
                        font-size: 48px;
                    }

                    &:hover {
                        background-color: transparent;
                        color: $magenta;
                    }
                }
                > div.owl-prev {
                    left: 0;
                }
                > div.owl-next {
                    right: 0;
                }
            }
        }
    }
}

// NEW LINE
.eq-newline {
    > .owl-nav {
        position: absolute;

        .disabled {
            opacity: 0.25;
        }

        @include bp(xs) {
            top: 25px;
            right: 20px;
            width: 60px;
        }

        @include bp(sm) {
            top: 40px;
            right: 40px;
            width: 60px;
        }
    }

    .owl-dots {
        bottom: -40px;
    }

    .owl-stage {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .owl-item {
        display: flex;
    }

    @include bp(xs) {
        margin-left: -10px;
        margin-right: -10px;
        width: 100vw;
    }

    @include bp(sm) {
        border: 1px solid #d6d6d6;
        margin-bottom: 60px;
    }

    &__item {
        display: flex;
        flex-flow: column nowrap;
        width: 100%;

        .title {
            font-family: $font-sans;
            font-weight: 600;
            font-size: 27px;
            line-height: calc(43 / 27);
            letter-spacing: -0.47px;
            margin-bottom: 20px;
        }

        @include bp(xs) {
            .title {
                padding: 0 20px;
            }
        }

        @include bp(sm) {
            flex-direction: row;
            .title {
                font-size: 36px;
            }
        }
    }

    &__pic {
        img {
            display: block;
            width: 100%;
            height: auto;
        }

        @include bp(xs) {
            position: relative;
            height: 0;
            padding-top: 66.666666%;
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        @include bp(sm) {
            width: 40%;
            position: relative;

            &:before {
                content: '';
                display: block;
                padding-top: 78%;
            }

            > img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &__content {
        display: flex;
        flex-flow: column nowrap;

        .copy {
            font-family: $font-sans;
            font-weight: 200;
            font-size: 20px;
            line-height: calc(25 / 20);
            color: $neutral000;
            max-width: 30em;

            .highlight {
                font-weight: 600;
                color: $orange;
                &--green {
                    color: #50af86;
                }
                &--purple {
                    color: #92749d;
                }
                &--blue {
                    color: #60c5d5;
                }
            }
        }

        .lnk {
            font-family: $font-sans;
            font-size: 20px;
            line-height: calc(25 / 20);
            color: $neutral000;
            text-decoration: underline;
        }

        @include bp(xs) {
            padding: 20px 20px 60px;
        }

        @include bp(sm) {
            padding: 44px;
            width: 60%;
        }
    }

    &__products {
        margin-top: auto;

        .owl-stage {
            display: flex;
            flex-flow: row nowrap;
        }
        .owl-item {
            display: flex;
        }
        .disabled {
            opacity: 0;
        }
    }

    &__product {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        text-align: center;

        > * {
            font-family: $font-sans;
        }

        .name {
            font-weight: 400;
            font-size: 17px;
            line-height: calc(22 / 18);
            text-align: center;

            @include bp(sm) {
                font-size: 18px;
            }
        }

        .price {
            margin: auto 0 10px;
            font-weight: 600;
            font-size: 18px;
            line-height: calc(24 / 18);
            color: $neutral000;
        }

        .btn {
            background-color: $magenta;
            color: $neutralBase;
            width: 100%;
            height: auto;
            max-width: 176px;
            font-size: 15px;
            font-weight: 600;
            line-height: calc(20 / 15);
            text-transform: uppercase;
            pointer-events: auto;
            transition: all 0.2s linear;
            border: none;
            border-radius: 4px;
            text-decoration: none;
            text-align: center;
            padding: 10px;

            &:hover {
                background: $neutral000;
                color: $neutralBase;
                border: none;
            }
        }
    }
}

// SOSTENIBLE
.eq-sostenible {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    &__pic {
        margin-top: -40px;

        img {
            display: block;
            width: 100%;
            height: auto;
            mix-blend-mode: darken;
        }
    }

    &__content {
        > * {
            font-family: $font-sans;
        }

        .title {
            font-weight: 600;
            font-size: 27px;
            line-height: calc(32 / 27);
            letter-spacing: -0.36px;
            margin: 0 0 10px;
            .highlight {
                color: #00632b;
            }
        }

        .subtitle {
            margin: 0 0 20px;
            font-weight: 200;
            font-size: 20px;
            line-height: calc(26 / 20);
        }

        .items {
            list-style: none;
            padding: 0;
            margin: 0 0 40px;
            max-width: 30em;

            > li {
                display: flex;
                flex-flow: column nowrap;
                gap: 10px;

                > strong {
                    font-family: $font-sans;
                    font-weight: 600;
                    font-size: 22px;
                    line-height: calc(26 / 22);
                }

                > span {
                    font-family: $font-sans;
                    font-weight: 200;
                    font-size: 20px;
                    line-height: calc(26 / 20);
                }
            }

            > li + li {
                margin-top: 20px;
            }
        }
    }

    @include bp(xs) {
        &__content {
            padding: 20px 10px 0;
        }
    }

    @include bp(sm) {
        flex-direction: row;

        > * {
            flex: 1;
        }

        &__pic {
            margin-bottom: -40px;
        }

        &__content {
            .title {
                font-size: 36px;
            }

            .subtitle {
                font-size: 25px;
            }

            .items > li {
                > strong {
                    font-size: 25px;
                }
            }
        }
    }
}

// REVIEWS
.eq-reviews {
    .owl-stage {
        display: grid;
        grid-auto-flow: column dense;
    }
    .owl-item {
        display: flex;
    }

    .owl-nav .disabled {
        opacity: 0.25;
    }

    @include bp(xs) {
        margin-bottom: 60px;
    }

    @include bp(sm) {
        padding: 0 38px 60px;
    }

    &__item {
        border: 1px solid $neutral600;
        padding: 30px;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        gap: 15px;

        .product {
            display: flex;
            flex-flow: row nowrap;
            align-items: flex-start;
            gap: 22px;

            &:hover {
                text-decoration: none;
            }

            .pic {
                width: 84px;
                border: 1px solid $neutral300;
            }

            .content {
                flex: 1;
                display: flex;
                flex-flow: column nowrap;

                .name {
                    font-family: $font-sans;
                    font-size: 17px;
                    color: $neutral000;
                }

                .rating {
                    &:before {
                        font-size: 16px;
                        font-family: 'FontAwesome';
                        color: $magenta;
                    }

                    &--1:before {
                        content: '\f005''\f006''\f006''\f006''\f006';
                    }
                    &--2:before {
                        content: '\f005''\f005''\f006''\f006''\f006';
                    }
                    &--3:before {
                        content: '\f005''\f005''\f005''\f006''\f006';
                    }
                    &--4:before {
                        content: '\f005''\f005''\f005''\f005''\f006';
                    }
                    &--5:before {
                        content: '\f005''\f005''\f005''\f005''\f005';
                    }
                }
            }
        }

        .review {
            display: flex;
            flex-flow: column nowrap;

            > * {
                font-family: $font-sans;
            }

            .title,
            .text {
                font-size: 17px;
                line-height: calc(22/17);
                letter-spacing: 0.13px;
                color: $neutral000;
            }

            .title {
                font-weight: 600;
            }

            .by {
                margin-top: 20px;
                font-size: 14px;
                line-height: calc(22/14);
                letter-spacing: 0.11px;
                color: $neutral700;
            }
        }
    }
}

// EQUILOVERS
.eq-equilovers {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    > img {
        max-width: 200px;
        height: auto;
    }

    .content {
        max-width: 40em;

        > * {
            font-family: $font-sans;
        }

        .title {
            margin: 0 0 10px;
            font-weight: 600;
            font-size: 23px;
            line-height: calc(27 / 23);
            color: $neutral000;
        }

        .copy {
            margin: 0;
            font-weight: 200;
            font-size: 20px;
            line-height: calc(26 / 20);
            color: $neutral000;
        }
    }

    .eq-btn-white {
        width: 270px;
        background-color: #ff896f;
        color: $neutral000;
        box-shadow: none;
        &:hover {
            background-color: $neutral000;
            color: $neutralBase;
        }
    }

    @include bp(xs) {
        .content {
            margin: 30px auto;
            text-align: center;
        }
    }

    @include bp(sm) {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        gap: 30px;
    }
}

// Les Secrets
.eq-section--cn {
    margin-top: 40px;
    background-color: #EEBDB6;
}

.eq-cn {
    width: 1200px;
    max-width: calc(100vw - 20px);
    margin: 0 auto;

    .eq-cn__title {
        font-family: 'Moneta';
        font-weight: 700;
        font-size: 24px;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: -0.025em;
        text-align: center;
    }

    &__wrap {
        display: flex;
        flex-flow: row nowrap;
    }

    &__pic {
        flex: 1 0 50%;
        max-width: 50%;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: bottom;            
        }
    }

    &__content {
        flex: 1 0 50%;
        max-width: 50%;
    }

    @include bp(xs) {
        padding: 20px 0 0;

        &__pic {
            display: none;
        }

        &__content {
            flex: 1 0 100%;
            max-width: 100%;
        }
    }

    @include bp(sm) {
        padding: 40px 0 0;

        .eq-cn__title {
            font-size: 48px;
        }
    }
}

.eq-cn-slider {
    margin-bottom: 80px;

    &__item {
        position: relative;
    }

    .content {
        position: relative;
        z-index: 1;
        text-align: center;
        margin-top: -40px;
        
        .btn {
            background-color: $neutral000;
            color: $neutralBase;
            width: 100%;
            height: auto;
            max-width: 176px;
            font-family: $font-sans;
            font-size: 15px;
            font-weight: 600;
            text-transform: uppercase;
            pointer-events: auto;
            transition: all .2s linear;
            border: none;
            border-radius: 11px;

            &:hover {
                color: $neutral000;
                background-color: $neutralBase;
                border: none;
            }
        }
    }
    .pic {
        aspect-ratio: 1020/750;
        > img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .owl-dots {
        bottom: -50px;
    }
}

// Top ventas cosmetica
.eq-topventas-cosmetica {

    padding-bottom: 40px;

    @include bp(xs) {
        padding-bottom: 0;
    }

    .owl-stage {
        display: flex !important;

        .owl-item {
            float: none !important;
            display: flex;
            flex-flow: column nowrap;
            flex: 1;
        }
    }


    &__item {
        float: none !important;
        flex: 1;
        display: flex;
        flex-flow: column nowrap;

        .pic {
            aspect-ratio: 0.9;
            & > img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: bottom;
            }

            @include bp(xs) {
                aspect-ratio: 1.5;
            }
        }

        .content {
            flex: 1;
            display: flex;
            padding: 15px;
            flex-flow: column nowrap;
            align-items: center;

            @include bp(sm) {
                padding: 20px;
            }

            * {
                font-family: $font-sans;
            }

            .title {
                font-weight: 400;
                font-size: 17px;
                line-height: calc(22/18);
                text-align: center;

                @include bp(sm) {
                    font-size: 18px;
                }
            }

            .text {
                font-weight: 200;
                font-size: 15px;
                line-height: calc(21/17);
                text-align: center;

                @include bp(sm) {
                    font-size: 17px;
                }
            }

            .price {
                margin: auto 0 10px;
                font-weight: 200;
                font-size: 18px;
                line-height: calc(24/18);
            }

            .btn {
                background-color: $magenta;
                color: $neutralBase;
                width: 100%;
                height: auto;
                max-width: 176px;
                font-size: 15px;
                font-weight: 600;
                text-transform: uppercase;
                pointer-events: auto;
                transition: all .2s linear;
                border: none;
                border-radius: 4px;

                &:hover {
                    color: $neutralBase;
                    background-color: #f3587d;
                    border: none;
                }
            }
        }

        [lang="es"] &.item-2 .pic > img {
            transform: scale(0.9);
        }
        [lang="es"] &.item-4 .pic > img {
            transform: scale(1.1) translateY(-5%);
        }
        [lang="es"] &.item-6 .pic > img {
            transform: scale(1.1) translateY(-5%);
        }
    }
}

.eq-lessecrets-it {
    background-color: $neutral000;
    display: flex;
    flex-direction: column;

    &__pic {
        img {
            display: block;
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }

    &__content {
        background-color: $neutralBase;
        border: 1px solid $neutral000;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @include bp(xs) {
        margin: 0 -10px;
        &__content {
            border-left: none;
            border-right: none;
            padding-bottom: 10px;
        }
    }

    @include bp(sm) {
        flex-flow: row nowrap;
        &__pic {
            flex: 1 0 60%;
        }
    
        &__content {
            flex: 1 0 40%;
        }
    }
}

.eq-lessecrets-it__slider {
    color: $neutral000;
    max-width: 250px;
    margin: 0 auto;

    @include bp(xs) {
        padding-bottom: 0;
    }

    .owl-stage {
        display: flex !important;

        .owl-item {
            float: none !important;
            display: flex;
            flex-flow: column nowrap;
            flex: 1;
        }
    }


    &__item {
        float: none !important;
        flex: 1;
        display: flex;
        flex-flow: column nowrap;

        .pic {
            aspect-ratio: 1;
            & > img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: bottom;
            }

            @include bp(xs) {
                aspect-ratio: 1.5;
            }
        }

        .content {
            flex: 1;
            display: flex;
            padding: 15px;
            flex-flow: column nowrap;
            align-items: center;

            @include bp(sm) {
                padding: 20px;
            }

            * {
                font-family: $font-sans;
            }

            .title {
                font-weight: 400;
                font-size: 17px;
                line-height: calc(22/18);
                text-align: center;

                @include bp(sm) {
                    font-size: 18px;
                }
            }

            .text {
                font-weight: 200;
                font-size: 15px;
                line-height: calc(21/17);
                text-align: center;

                @include bp(sm) {
                    font-size: 17px;
                }
            }

            .price {
                margin: auto 0 20px;
                font-weight: 200;
                font-size: 18px;
                line-height: calc(24/18);
            }

            .btn {
                background-color: $neutral000;
                color: $neutralBase;
                width: 100%;
                height: auto;
                max-width: 176px;
                font-size: 15px;
                font-weight: 600;
                text-transform: uppercase;
                pointer-events: auto;
                transition: all .2s linear;
                border: none;
                border-radius: 11px;

                &:hover {
                    color: $neutralBase;
                    background-color: $neutral700;
                    border: none;
                }
            }
        }
    }
}

// Difusores
.eq-difusores {

    display: grid;

    @include bp(xs) {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: auto;
        grid-gap: 6px;
        padding: 0;
        margin-top: -40px;
    }

    @include bp(sm) {
        grid-template-columns: repeat(4, auto);
        grid-column-gap: 16px;
        padding: 0 10px 40px;
    }
}

.eq-difusores-item {
    background-color: $neutralBase;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

    &__pic {
        width: 100%;
        max-width: 150px;
        height: auto;
        margin-bottom: 10px;
    }

    * {
        font-family: $font-sans;
    }

    &__title {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
    }

    &__specs {
        list-style: none;
        padding: 0;
        margin: 0 auto 20px;
        text-align: center;
        li {
            font-weight: 200;
            font-size: 16px;
            line-height: 20px;
        }
    }

    &__price {
        margin: auto auto 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .tag {
            font-weight: 600;
            font-size: 12px;
            line-height: 19px;
            color: #34a853;
        }
        .price {
            font-weight: 600;
            font-size: 18px;
            line-height: 24px;
        }
    }

    .eq-btn {
        background-color: $magenta;
        color: $neutralBase;
        width: 100%;
        height: 34px;
        max-width: 140px;
        font-size: 15px;
        font-weight: 600;
        line-height: 21px;
        text-transform: uppercase;
        text-align: center;
        pointer-events: auto;
        transition: all .2s linear;
        border: none;
        border-radius: 4px;
        padding: 6px;

        &:hover {
            background: $neutral000;
            color: $neutralBase;
            border: none;
            text-decoration: none;
        }
    }

    @include bp(sm) {
        padding: 30px;
        &__pic {
            max-width: 218px;
        }
        &__title {
            font-size: 24px;
            line-height: 27px;
        }
        &__specs li {
            font-size: 17px;
            line-height: 21px;
        }
        &__price .tag {
            font-size: 15px;
        }
    }
}

// Reviews difusores
.eq-difusores-review-copy {
    .eq-copy__section {
        font-weight: 400;
    }
}
.eq-difusores-review {
    padding-top: 20px;
}
.eq-difusores-review-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10px 40px;

    * {
        font-family: $font-sans;
    }

    .text {
        max-width: 700px;
        text-align: center;
        font-weight: 600;
        font-size: 20px;
        line-height: 22px;
        margin: 0 auto 15px;
    }

    .stars {
        width: 100%;
        max-width: 86px;
        margin: 0 auto 15px;
    }

    .byline {
        font-size: 16px;
        line-height: 24px;
        color: $neutral800;
    }

    @include bp(sm) {
        .text {
            font-size: 24px;
            line-height: 28px;
        }
    }
}

// AMBIENTADORES
.eq-ambientadores {

    &__title {
        font-family: 'Moneta';
        font-size: 32px;
        font-weight: 700;
        letter-spacing: -0.025em;
        line-height: calc(58/46); 
        text-align: center;
        text-transform: uppercase;
        margin: 0 auto 20px;
    }

    &__subtitle {
        font-family: $font-sans;
        font-size: 22px;
        font-weight: 200;
        line-height: calc(32/22);
        text-align: center;
        margin: 0 auto 20px;
    }

    &__wrap {
        display: flex;
        flex-flow: column nowrap;
    }

    &__pic {
        display: none;
    }

    &__content .ambientadores {
        max-width: 600px;
        margin: 0 auto;

        .pic {
            background-color: #ffeae5;
            img {
                mix-blend-mode: multiply;
            }
        }

        .content {
            padding-top: 0;
            padding-bottom: 0;
            .price {
                margin: auto 0 20px;
            }
        }
    }

    @include bp(sm) {
        &__title {
            font-size: 46px;
        }


        &__wrap {
            flex-direction: row;
        }

        &__pic {
            display: block;
            flex: 0 1 40%;
            & > img {
                display: block;
                width: 100%;
                height: auto;
            }
        }

        &__content {
            flex: 0 1 60%;
            max-width: 60%;
        }
    }
}