// Layout fixes
.page-title-wrapper {
    display: none !important;
}

p {
    color: $neutral900;
}

#maincontent {
    width: auto !important;
    .container {
        max-width: 100% !important;
        padding: 0 !important;
    }
}

.eq-section {
    &--nopadding {
        padding: 0;
        .eq-section__inner {
            max-width: 100%;
            width: 100%;
        }
    }

    &--pink {
        background-color: rgba(#ff896f, 0.18);
    }

    &--xmas {
        background-color: #0B1C3F;
        margin-top: -1px;
    }

    &--les-secrets {
        //background-color: $neutral000;
        overflow: hidden;
    }

    &--glow-joy {
        overflow: hidden;
        margin-top: 40px;
    }

    &--search {
        @include bp(sm) { margin-bottom: 40px; }
    }
}

.hidden-sm {
    @include bp(sm) {
        display: none !important;
    }
}

.hidden-xs {
    @include bp(xs) {
        display: none !important;
    }
}

.footer {
    margin-top: 0;
}

.owl-carousel .owl-item img {
    background-color: unset;
}

.breadcrumbs {
    display: none !important;
}

// Fix for grey shipping info bar in header
.top-header-content .hidden-sm {
    display: block !important;
}

// Overrides
.eq-btn-black {
    background-color: $neutral000;
    span {
        font-family: $font-sans;
        font-weight: 600;
    }
}

.eq-slider .owl-dots {
    .owl-dot {
        margin-bottom: 0 !important;
    }

    .owl-dot:not(.active) {
        background: $neutral000;
        opacity: 0.25;
    }
    @include bp(xs) {
        bottom: -40px;
    }
}

.eq-slider.owl-carousel .owl-nav {

    & > div.owl-prev {
        left: 5px !important;
        background: transparent;
        &:before {
            content: none;
        }
    }

    & > div.owl-next {
        right: 5px !important;
        background: transparent;
        &:before {
            content: none;
        }
    }

    & > div {
        opacity: 1 !important;
        &.disabled {
            opacity: .25 !important;
        }
    }

}

@import "../modules/xmas/hero";
@import "../modules/xmas/ideas";
@import "../modules/xmas/featured";

// SEARCH
.eq-section--search {
    overflow: hidden;
    background-color: #f7f7f5;

    @include bp(sm) {
        .eq-section__inner {
            width: 1200px;
            max-width: calc(100vw - 20px);
        }
    }
}

.eq-search {
    display: flex;
    flex-flow: column nowrap;
    gap: 30px;

    @include bp(sm) {
        flex-direction: row;
        align-items: center;
        > * {
            flex: 1;
        }
    }

    fieldset {
        padding: 0;
        border: none;
    }

    &__pic {
        mix-blend-mode: darken;

        img {
            display: block;
            width: 100%;
            height: auto;
        }

        @include bp(sm) {
            position: relative;
            z-index: 1;
            flex: 1;

            &:before {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 40px;
                height: 100%;
                background-image: linear-gradient(to right, #f7f7f5, transparent);
            }

            &:after {
                content: '';
                display: block;
                position: absolute;
                right: 0;
                bottom: 0;
                width: 40px;
                height: 100%;
                background-image: linear-gradient(to left, #f7f7f5, transparent);
            }
        }
    }

    &__content {
        .title {
            margin: 0 0 20px;
            font-family: $font-sans;
            font-weight: 600;
            font-size: 27px;
            line-height: calc(31 / 27);
            color: $neutral000;
            text-transform: uppercase;
            letter-spacing: -0.36px;
        }

        .copy,
        legend {
            font-family: $font-sans;
            font-weight: 200;
            font-size: 20px;
            line-height: calc(26 / 20);
            color: $neutral000;
            border: none;
            margin: 0 0 20px;
        }

        .copy {
            max-width: 24em;
        }

        ul {
            display: flex;
            flex-flow: column nowrap;
            gap: 5px;
            list-style: none;
            padding: 0;
            margin: 0 0 30px;

            li {
                font-family: $font-sans;
                font-size: 20px;
                line-height: calc(26 / 20);
                a {
                    color: $neutral000;
                    text-decoration: underline;
                }
            }
        }

        @include bp(xs) {
            padding: 0 20px 30px;
        }

        @include bp(sm) {
            .title {
                font-size: 36px;
            }
            ul {
                flex-direction: row;
                gap: 30px;
            }
        }
    }

    &__form {
        margin-bottom: 30px;

        #searchperfume {
            height: 40px;
            background-color: transparent;
            border: none;
            font-family: $font-sans;
            font-weight: 600;
            font-size: 16px;
            line-height: 1;
            width: 100%;
            padding: 0 22px;
            color: $neutral900;
            &:focus {
                outline: none;
                box-shadow: none;
            }
        }

        [type='submit'] {
            color: $neutral000;
            background-color: #ddb999;
            border: none;
            width: 100px;
            height: 40px;
            border-radius: 20px;
            font-family: $font-sans;
            font-weight: 600;
            font-size: 16px;
            text-transform: uppercase;
            padding: 0;
        }
    }

    &__field {
        position: relative;
        flex: 1;
    }

    &__group {
        display: flex;
        flex-flow: row nowrap;
        height: 44px;
        border: 1px solid $neutral700;
        border-radius: 22px;
        padding: 1px;
        width: 100%;

        @include bp(sm) {
            max-width: 300px;
        }
    }
}

// NOVEDADES
.eq-new {
    @include bp(xs) {
        width: 100vw;
        margin-left: -10px;
        margin-right: -10px;
        
        &.owl-carousel.eq-slider .owl-nav {
            > div.owl-prev {
                left: 10px !important;
                visibility: visible;
            }
            > div.owl-next {
                right: 10px !important;
                visibility: visible;
            }
        }
    }
    @include bp(sm) {
        .owl-stage {
            display: flex;
            flex-flow: row nowrap;
        }
        .owl-item {
            display: flex;
        }
    }
}

.eq-new__item {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;

    img {
        display: block;
        width: 100%;
        margin: 0 auto 20px;
    }

    .title {
        font-family: $font-sans;
        font-size: 24px;
        line-height: calc(26 / 24);
        color: $neutral000;
        margin-bottom: 10px;
    }

    .description {
        font-family: $font-sans;
        font-weight: 200;
        font-size: 20px;
        line-height: calc(26 / 20);
        margin-bottom: 20px;
    }

    .eq-btn-black {
        margin-top: auto;
    }
}



