// Layout fixes
.page-title-wrapper {
    display: none !important;
}

// Banners
.eq-banners {

    display: grid;
    grid-gap: 30px;

    @include bp(xs) {
        grid-template-rows: auto;

    }

    @include bp(sm) {
        grid-template-columns: 1fr 1fr;
    }

    &__item {

        img {
            display: block;
            max-width: 100%;
            height: auto;
        }

    }

}

// Icon grid
.eq-icons {

    display: flex;

    // Fix for uneven heart icon image
    .eq-icons__item--4 img {
        max-width: 34px;
        height: 30px;
        margin: 7px auto 8px;
    }

    &__item {

        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        
        
        @include bp(xs) {
            padding: 10px;
            flex: 0 1 50%;
        }


        @include bp(sm) {
            padding: 0 20px;
            flex: 0 1 210px;
        }

        img {
            display: block;
            height: 45px;
            width: auto !important;
        }

        span {
            margin-top: 20px;
            font-family: $font-sans;
            font-weight: 300;
            font-size: 20px;
            line-height: calc(23/20);
            text-align: center;
        }

    }

    @include bp(xs) {
        flex-flow: row wrap;
    }

    @include bp(sm) {
        flex-flow: row nowrap;
        justify-content: center;
    }

}

// Categories
.eq-categories {

    @include bp(xs) {
        overflow: scroll;
    }

    &__inner {
        display: flex;
        flex-flow: row nowrap;
    }

    &__item + .eq-categories__item {
        margin-left: 25px;
    }

    &__item {
        flex: 1 0 220px;
        text-align: center;
        text-decoration: none;

        .pic {
            display: block;
            max-width: 100%;
            height: auto;
            margin: 0 auto 10px;
        }

        .text {
            font-family: $font-sans;
            font-weight: 600;
            font-size: 21px;
            line-height: calc(27/21);
            color: $neutral000;
            text-decoration: none;
            text-transform: uppercase;
        }
    }

}

// Carousel Productos
.eq-product-carousel {

    @include bp(xs) {
        padding-bottom: 40px;
    }

    @include bp(sm) {
        pointer-events: none;
    }

    .owl-stage {
        display: flex !important;

        .owl-item {
            float: none !important;
            display: flex;
            flex-flow: column nowrap;
            flex: 1;
        }
    }


    &__item {
        float: none !important;
        flex: 1;
        display: flex;
        flex-flow: column nowrap;

        img {
            max-width: 200px;
            margin: 0 auto;
        }

        .content {
            flex: 1;
            display: flex;
            padding: 15px;
            flex-flow: column nowrap;
            align-items: center;

            @include bp(sm) {
                padding: 20px;
            }

            * {
                font-family: $font-sans;
            }

            .title {
                font-weight: 400;
                font-size: 17px;
                line-height: calc(22/18);
                text-align: center;

                @include bp(sm) {
                    font-size: 18px;
                }
            }

            .text {
                font-weight: 200;
                font-size: 15px;
                line-height: calc(21/17);
                text-align: center;

                @include bp(sm) {
                    font-size: 17px;
                }
            }

            .price {
                margin: auto 0 10px;
                font-weight: 600;
                font-size: 18px;
                line-height: calc(24/18);
                color: $neutral000;
            }

            .btn {
                background-color: $magenta;
                color: $neutralBase;
                width: 100%;
                height: auto;
                max-width: 176px;
                font-size: 15px;
                font-weight: 600;
                line-height: calc(20/15);
                text-transform: uppercase;
                pointer-events: auto;
                transition: all .2s linear;
                border: none;
                border-radius: 4px;
                text-decoration: none;
                text-align: center;
                padding: 10px;

                &:hover {
                    background: $neutral000;
                    color: $neutralBase;
                    border: none;
                }
            }
        }
    }
}

// Featured
.eq-featured {

    padding-bottom: 40px;
    width: 1200px;
    max-width: calc(100vw - 20px);
    margin: 0 auto;

    @include bp(sm) {
        pointer-events: none;
    }

    .owl-stage {
        display: flex !important;

        .owl-item {
            float: none !important;
            display: flex;
            flex-flow: column nowrap;
            flex: 1;
        }
    }


    &__item {
        float: none !important;
        flex: 1;
        display: flex;
        flex-flow: column nowrap;

        .content {
            flex: 1;
            display: flex;
            padding: 15px;
            flex-flow: column nowrap;
            align-items: center;

            @include bp(sm) {
                padding: 20px;
            }

            * {
                font-family: $font-sans;
            }

            .title {
                margin: 0 auto 10px;
                font-weight: 400;
                font-size: 17px;
                line-height: calc(22/18);
                text-align: center;
                text-transform: uppercase;

                @include bp(sm) {
                    font-size: 18px;
                }
            }

            .text {
                margin: 0 auto 30px;
                font-weight: 200;
                font-size: 15px;
                line-height: calc(21/17);
                text-align: center;

                @include bp(sm) {
                    font-size: 17px;
                }
            }


            .eq-btn-black {
                margin-top: auto;
            }
        }
    }
}

// Subscribe form
.eq-subscribe-form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 0 10px;

    @include bp(sm) {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    &__copy {
        @include bp(xs) {
            padding: 0 20px;
            margin-bottom: 40px;
        }
    }

    &__title,
    &__text {
        font-family: $font-sans;
        font-weight: 400;
        font-size: 16px;
        line-height: calc(22 / 16);
        letter-spacing: 0.025em;
        text-transform: uppercase;
        margin: 0;
        text-align: left;
    }

    &__title {
        font-weight: 600;
    }

    &__form {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        background: $neutralBase;
        border: 1px solid $neutralBase;
        border-radius: 21px;
        width: 100%;
        max-width: 340px;
        margin: 0;

        label.error {
            position: absolute;
            left: 0;
            right: 0;
            top: 100%;
            padding: 2px 20px;
            color: $red;
            font-family: $font-sans;
            font-weight: 400;
            font-size: 13px;
        }

        [type='email'] {
            flex: 1;
            border: none;
            appearance: none;
            background: transparent;
            padding: 0 10px 0 20px;
            font-family: $font-sans;
            font-size: 16px;
            line-height: calc(24 / 16);
            color: $neutral000;
            width: auto;
            max-width: calc(100% - 132px);

            &::placeholder {
                color: rgba($neutral000, 0.4);
            }

            &:focus {
                outline: none;
            }
        }

        [type='submit'] {
            appearance: none;
            border: none;
            border-radius: 20px;
            background-color: #DDB999;
            font-family: $font-sans;
            font-size: 16px;
            font-weight: 600;
            line-height: calc(18 / 16);
            text-transform: uppercase;
            width: 132px;
            height: 40px;
            flex-shrink: 1;
            transition: all .2s linear;
            &:hover {
                background: $neutral000;
                color: $neutralBase;
            }
        }

        @include bp(sm) {
            margin-left: 20px;
        }
    }
}