// Layout fixes
#maincontent {
    width: auto !important;
}

// FOOTER
.eq-it-footer {
    background-color: $neutral200;
    padding: 60px 10px;
    text-align: center;

    &__instagram {
        color: $neutral000;
        display: block;
        margin: 0 auto;
        width: 30px;
        height: 30px;
    }

    &__terms,
    &__copy {
        margin: 20px auto 0;
        font-family: $font-sans;
    }

    &__terms {
        font-size: 14px;
        font-weight: 200;
        color: $neutral900;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        > a {
            font-weight: 600;
            color: inherit;
        }
    }

    &__copy {
        font-size: 15px;
        font-weight: 400;
        color: rgba($neutral900,.4);
    }
}

// GRACIAS POR PARTICIPAR
.eq-it-gracias {

    color: $neutral000;
    background-color: $salmon;
    max-width: 1128px;
    width: calc(100vw - 20px) !important;
    margin: 0 auto;
    padding: 40px;
    text-align: center;

    .eq-icon-gift {
        width: 43px;
        height: auto;
        margin: 0 auto;
    }

    &__title,
    &__copy,
    &__follow {
        font-family: $font-sans;
        color: $neutral000;
    }

    &__divider {
        width: 100%;
        max-width: 500px;
        border: none;
        height: 1px;
        background-color: $neutral000;
    }

    &__title {
        margin: 20px auto 0;
        > span {
            display: block;
            &:first-child {
                font-weight: 600;
                font-size: 36px;
                line-height: 1;
                text-transform: uppercase;
                margin: 0 auto 10px;
            }

            &:last-child {
                font-size: 24px;
                line-height: 1;
            }
        }
    }

    &__copy {
        margin: 40px auto;
        font-weight: 200;
        font-size: 20px;
        line-height: calc(24/20);
    }

    &__follow {
        font-size: 22px;
        line-height: 1;
        > a {
            font-weight: 600;
            color: inherit;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

// HEADER
.eq-it-header {
    border-bottom: 1px solid $neutral300;
    padding: 24px 0;
    text-align: center;

    a,
    a > img {
        display: block;
        margin: 0 auto;
    }
}

// PROMO EARLY BIRDS
.eq-it-pearly {

    background-color: $neutral200;
    color: $neutral000;

    @include bp(sm) {
        display: grid;
        grid-template-columns: 40% 60%;
    }

    &__copy {
        text-align: center;
        padding: 30px;

        .eq-icon-gift {
            width: 43px;
            height: auto;
        }

        @include bp(sm) {
            padding: 60px;
            text-align: left;
        }

        &__title,
        &__text {
            margin: 20px 0 0;
            font-family: $font-sans;
        }

        &__title {
            font-weight: 600;
            font-size: 23px;
            line-height: 1;

            @include bp(sm) {
                font-size: 30px;
            }
        }

        &__text {
            font-weight: 200;
            font-size: 18px;
            line-height: calc(22/18);

            @include bp(sm) {
                font-size: 20px;
            }
        }
    }

    &__pics {
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

// PROMO FOLLOWERS
.eq-it-pfollow {
    background-color: $salmon;
    color: $neutral000;
    padding: 30px;
    display: grid;
    max-width: 1200px;
    margin: 0 auto;

    .eq-radiogroup {
        margin: 20px auto 30px;
    }

    @include bp(xs) {
        grid-template-rows: auto;
        grid-row-gap: 30px;
    }

    @include bp(sm) {
        padding: 60px;
        grid-template-columns: 40% 34% 26%;
        grid-column-gap: 30px;
    }

    @include bp(md) {
        grid-template-columns: calc(40% - 60px) 30% auto;
        grid-column-gap: 60px;
    }

    &__copy {
        text-align: center;

        .eq-icon-gift {
            width: 43px;
            height: auto;
        }

        @include bp(sm) {
            text-align: left;
        }

        &__title,
        &__text {
            margin: 20px 0 0;
            font-family: $font-sans;
        }

        &__title {
            font-weight: 600;
            font-size: 23px;
            line-height: 1;

            @include bp(sm) {
                font-size: 30px;
            }
        }

        &__text {
            font-weight: 200;
            font-size: 18px;
            line-height: calc(22/18);

            @include bp(sm) {
                font-size: 20px;
            }
        }
    }

    &__instagram {
        text-align: center;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        padding: 30px 30px 0;

        &__icon {
            display: block;
            width: 32px;
            height: auto;
            margin: 0 auto 20px;
            color: inherit;
        }

        &__copy {
            font-family: $font-sans;
            font-size: 20px;
            line-height: 1;

            > * {
                display: block;
                color: inherit;
            }

            span {
                text-transform: uppercase;
            }

            a {
                font-weight: 600;
                text-decoration: none;
            }

            @include bp(sm) {
                font-size: 22px;
            }
        }

        @include bp(xs) {
            border-top: 1px solid $neutral000;
        }

        @include bp(sm) {
            border-left: 1px solid $neutral000;
        }

        @include bp(md) {
            margin-right: -60px;
        }
    }
}

// WELCOME
.eq-it-welcome {
    color: $neutral000;
    max-width: 960px;
    width: calc(100vw - 20px) !important;
    margin: 0 auto;
    padding: 24px 0;
    text-align: center;

    @include bp(sm) {
        padding: 40px 0;
    }

    &__section,
    &__title,
    &__copy {
        font-family: $font-sans;
        color: $neutral000;
    }

    &__section {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 22px;
        margin: 0 auto;
        @include bp(sm) {
            font-size: 24px;
        }
    }

    &__title {
        margin: 0 auto 20px;
        font-weight: 600;
        > span {
            display: block;
            &:first-child {
                font-size: 29px;
                line-height: 1;
                text-transform: uppercase;
            }

            &:last-child {
                font-size: 24px;
                line-height: calc(31/24);
            }

            @include bp(sm) {
                &:first-child {
                    font-size: 40px;
                }
    
                &:last-child {
                    font-size: 32px;
                }                
            }
        }
    }

    &__copy {
        font-weight: 200;
        font-size: 18px;
        line-height: calc(24/20);
        strong {
            font-weight: 700;
        }

        @include bp(sm) {
            font-size: 20px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.eq-legal {
    &__content {
        counter-reset: section;
        > div {
            h2::before {
                counter-increment: section;
                content: counter(section) ". ";
            }
        }
        

        > div + div {
            margin-top: 40px;
        }
    }
}