// Layout fixes
#maincontent {
    width: auto !important;
}

.eq-section {
    &--nopadding {
        padding: 0;
        .eq-section__inner {
            max-width: 100% !important;
            width: 100%;
        }
    }

    &--salmon {
        background-color: $salmon;
    }

    &--green {
        background-color: #D6E7D5;
    }

    &--narrow {
        .eq-section__inner {
            width: 762px;
        }
    }
}

.hidden-sm {
    @include bp(sm) {
        display: none !important;
    }
}

.hidden-xs {
    @include bp(xs) {
        display: none !important;
    }
}

.center {
    text-align: center;
}

.footer {
    margin-top: 0;
}

.owl-carousel .owl-item img {
    background-color: unset;
}

// Overrides
.eq-btn-black {
    background-color: $neutral000;
    span {
        font-family: $font-sans;
        font-weight: 600;
    }
}

.breadcrumbs {
    display: none !important;
}

// Fix for grey shipping info bar in header
.top-header-content .hidden-sm {
    display: block !important;
}

// Hero
.eq-jb-hero {
    position: relative;

    &__pic {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            @include bp(sm) {
                min-height: 480px;
            }
        }
    }

    &__content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;

        * {
            font-family: $font-sans;
        }

        .title {
            font-family: 'Moneta';
            font-size: 8vw;
            line-height: 1;
            text-transform: none;
            color: $neutral000;
            text-align: right;
            letter-spacing: .05em;

            > * {
                font-family: 'Moneta';
                display: block;
            }

            strong {
                font-weight: 700;
            }

            @include bp(xs) {
                max-width: 60%;
            }

            @include bp(sm) {
                font-size: 3.421vw;
                strong {
                    font-size: 1.29em;
                }
            }
        }

        .text {
            font-size: 3vw;
            font-weight: 600;
            line-height: 1;
            letter-spacing: .05em;

            @include bp(xs) {
                // max-width: 60%;
            }

            @include bp(sm) {
                font-size: 1.471vw;
            }
        }

        .claim {
            text-align: right;
            line-height: .8;
            letter-spacing: .05em;
            font-size: 8vw;

            > * {
                font-family: 'Summer Loving';
                display: block;
            }

            @include bp(sm) {
                font-size: 3.499vw;
                margin-top: calc(0.984vw * 2);
            }
        }

        .actions {

            .eq-btn-black {
                border-radius: 12px;
                width: 200px;
                @include bp(xs) {
                    font-size: 3vw;
                    width: auto;
                    min-width: 0;
                    &::after {
                        content: "";
                        display: block;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                    &:hover {
                        background-color: $neutral000;
                    }
                }
            }

            @include bp(xs) {
                margin-top: auto;

                & > * + * {
                    margin-top: 10px;
                }
            }

            @include bp(sm) {
                display: flex;
                flex-flow: row nowrap;
                & > * + * {
                    margin-left: 20px;
                }
            }

        }

        @include bp(xs) {
            padding: 20px;
            align-items: flex-end;
            justify-content: flex-end;
            gap: 10px;
        }

        @include bp(sm) {
            align-items: flex-end;
            justify-content: center;
            padding: 30px 60px 30px 50%;
            gap: 0.984vw;
        }
    }
}


// Logo
.eq-logo-jb {
    max-width: 222px;
    height: auto;

    @include bp(sm) {
        max-width: 247px;
    }
}

// Cards
.eq-jb-card {
    background-color: rgba(#FFC45D, .2);
    max-width: 1100px;
    margin: 0 auto;

    @include bp(xs) {
        &:first-child {
            margin-top: 20px;
        }
    }

    @include bp(sm) {

        & + .eq-jb-card {
            margin-top: 60px;
        }

        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        &--reverse {
            flex-direction: row-reverse;
        }

        > * {
            flex: 0 1 50%;
        }

    }


    &__pic {
        .pic {
            max-width: 100%;
            height: auto;
        }
    }

    &__content {
        text-align: center;
        padding: 30px 20px 40px;

        * {
            font-family: $font-sans;
        }

        .title {
            font-weight: 600;
            font-size: 26px;
            line-height: 31px;
            letter-spacing: -0.025em;
            margin: 0 auto 10px;
        }

        .text {
            font-weight: 200;
            font-size: 18px;
            line-height: 25px;
            margin: 0 auto 20px;
            strong {
                font-weight: 600;
            }
        }

        .price {
            font-weight: 200;
            font-size: 18px;
            strong {
                font-weight: 600;
            }
        }

        .btn {
            background-color: $magenta;
            color: $neutralBase;
            width: 142px;
            height: auto;
            max-width: 176px;
            font-family: $font-sans;
            font-size: 15px;
            font-weight: 600;
            text-transform: uppercase;
            pointer-events: auto;
            transition: all .2s linear;
            border: none;
            border-radius: 12px;

            &:hover {
                background: $neutral000;
                color: $neutralBase;
                border: none;
            }
        }

        @include bp(sm) {
            padding: 60px;

            .title {
                font-size: 32px;
                line-height: 36px;
            }

            .text {
                font-size: 23px;
                line-height: 31px;
            }

            .price {
                margin-top: 40px;
            }
        }
    }

}


// Video JB
#video-jb {
    position: relative;
    height: 0;
    padding-top: 56.25%;
}
.eq-video-jb {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

// Quote
.eq-jb-quote {
    max-width: 205px;
    height: auto;
    margin: 0 auto;

    @include bp(sm) {
        max-width: 256px;
    }
}

// Products
.eq-jb-products {
    display: flex;

    &__item {
        background-color: #F7F7F5;
        padding: 0 20px 40px;

        .pic {
            height: 200px;
        }

        .pic > img {
            object-fit: contain;
            height: 100%;
            max-width: 215px;
        }

        .content {
            text-align: center;
            .title {
                font-family: $font-sans;
                font-weight: 400;
                font-size: 21px;
                line-height: 30px;
                margin: 0;
            }

            .price {
                font-family: $font-sans;
                font-weight: 600;
                font-size: 18px;               
            }
        }

        .btn {
            background-color: $magenta;
            color: $neutralBase;
            width: 120px;
            height: auto;
            max-width: 176px;
            font-family: $font-sans;
            font-size: 15px;
            font-weight: 600;
            text-transform: uppercase;
            pointer-events: auto;
            transition: all .2s linear;
            border: none;
            border-radius: 12px;

            &:hover {
                background: $neutral000;
                color: $neutralBase;
                border: none;
            }
        }

        @include bp(xs) {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            padding: 0 20px 20px;
            .pic {
                max-width: 180px;
            }
        }

        @include bp(sm) {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            margin-bottom: 60px;

            .content {
                .title {
                    margin: 0 auto 10px;
                }
            }

            .pic {
                max-width: 200px;
            }
        }
    }

    @include bp(xs) {
        flex-direction: column;
        gap: 25px;
        margin-top: -20px;
    }

    @include bp(sm) {
        flex-flow: row nowrap;
        gap: 30px;
        justify-content: center;

        &__item {
            flex: 1;
            max-width: 345px;
        }
    }
}

// Form
.eq-sofiaform {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 0 10px;

    @include bp(sm) {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    &__title {
        font-family: $font-sans;
        font-weight: 400;
        font-size: 17px;
        line-height: calc(27 / 17);
        letter-spacing: 0.025em;
        text-transform: uppercase;
        margin: 0;

        @include bp(xs) {
            margin: 0 auto 10px;
            max-width: 300px;
            text-align: center;
        }

        @include bp(sm) {
            margin-right: 20px;
            text-align: left;
        }
    }

    &__form {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        background: $neutralBase;
        border: 1px solid $neutralBase;
        border-radius: 21px;
        width: 100%;
        max-width: 340px;

        label.error {
            position: absolute;
            left: 0;
            right: 0;
            top: 100%;
            padding: 2px 20px;
            color: $red;
            font-family: $font-sans;
            font-weight: 400;
            font-size: 13px;
        }

        [type='email'] {
            flex: 1;
            border: none;
            appearance: none;
            background: transparent;
            padding: 0 10px 0 20px;
            font-family: $font-sans;
            font-size: 16px;
            line-height: calc(24 / 16);
            color: $neutral000;
            width: auto;
            max-width: calc(100% - 132px);

            &::placeholder {
                color: rgba($neutral000, 0.4);
            }

            &:focus {
                outline: none;
            }
        }

        [type='submit'] {
            appearance: none;
            border: none;
            border-radius: 20px;
            background-color: $salmon;
            font-family: $font-sans;
            font-size: 16px;
            font-weight: 600;
            line-height: calc(18 / 16);
            text-transform: uppercase;
            width: 132px;
            height: 40px;
            flex-shrink: 1;
            transition: all .2s linear;
            &:hover {
                background: $neutral000;
                color: $neutralBase;
            }
        }
    }
}
