// Layout fixes
#maincontent {
    width: auto !important;
}

.eq-section {
    &--nopadding {
        padding: 0;
        .eq-section__inner {
            max-width: 100%;
            width: 100%;   
        }
    }

    &--salmon {
        background-color: $salmon;
    }

    &--narrow {
        .eq-section__inner {
            width: 762px;
        }
    }
}

.hidden-sm {
    @include bp(sm) {
        display: none !important;
    }
}

.hidden-xs {
    @include bp(xs) {
        display: none !important;
    }
}

.footer {
    margin-top: 0;
}

.owl-carousel .owl-item img {
    background-color: unset;
}

// Overrides
.eq-btn-black {
    background-color: $neutral000;
    span {
        font-family: $font-sans;
        font-weight: 600;
    }
}

.breadcrumbs {
    display: none !important;
}

// Hero
.eq-lara-hero {
    position: relative;

    &__pic {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            @include bp(sm) {
                min-height: 480px;
            }
        }
    }

    &__content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;

        * {
            font-family: $font-sans;
        }

        .title {
            font-size: 46px;
            line-height: 1;
            font-weight: 700;
            text-transform: uppercase;
            color: #F26A4B;
            margin: 0 0 10px;

            strong {
                color: $neutral000;
            }

            strong, span {
                display: block;
            }

            @include bp(sm) {
                font-size: 70px;
            }
        }

        .text {
            font-size: 23px;
            line-height: calc(29/23);
            margin: 0 0 30px;

            @include bp(sm) {
                font-size: 38px;
            }
        }

        .actions {

            .eq-btn-black {
                border-radius: 4px;
            }

            @include bp(xs) {
                & > * + * {
                    margin-top: 10px;
                }
            }

            @include bp(sm) {
                display: flex;
                flex-flow: row nowrap;
                & > * + * {
                    margin-left: 20px;
                }
            }

        }

        @include bp(xs) {
            padding: 30px;
            align-items: flex-start;
            justify-content: flex-end;
        }

        @include bp(sm) {
            align-items: flex-start;
            justify-content: center;
            padding: 30px 30px 30px 50%;
        }
    }
}

// Products
.eq-lara-products {

    @include bp(xs) {
        padding-bottom: 40px;
    }

    @include bp(sm) {
        pointer-events: none;
    }

    .owl-stage {
        display: flex !important;

        .owl-item {
            float: none !important;
            display: flex;
            flex-flow: column nowrap;
            flex: 1;
        }
    }


    &__item {
        float: none !important;
        flex: 1;
        display: flex;
        flex-flow: column nowrap;

        .content {
            flex: 1;
            display: flex;
            padding: 15px;
            flex-flow: column nowrap;
            align-items: center;

            @include bp(sm) {
                padding: 20px;
            }

            * {
                font-family: $font-sans;
            }

            .title {
                font-weight: 400;
                font-size: 17px;
                line-height: calc(22/18);
                text-align: center;

                @include bp(sm) {
                    font-size: 18px;
                }
            }

            .text {
                font-weight: 200;
                font-size: 15px;
                line-height: calc(21/17);
                text-align: center;

                @include bp(sm) {
                    font-size: 17px;
                }
            }

            .price {
                margin: auto 0 10px;
                font-weight: 600;
                font-size: 18px;
                line-height: calc(24/18);
            }

            .btn {
                background-color: $magenta;
                color: $neutralBase;
                width: 100%;
                height: auto;
                max-width: 176px;
                font-size: 15px;
                font-weight: 600;
                text-transform: uppercase;
                pointer-events: auto;
                transition: all .2s linear;
                border: none;

                &:hover {
                    background: $neutral000;
                    color: $neutralBase;
                    border: none;
                }
            }
        }
    }
}

// Body & Face
.eq-lara-bf {
    display: grid;

    @include bp(xs) {
        grid-template-rows: auto;
        grid-row-gap: 15px;
        padding: 10px;
    }

    @include bp(sm) {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
    }

    &__item {
        position: relative;

        .inner {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 20px;
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;
            justify-content: center;
        }

        .title {
            color: $neutral000;
            font-family: $font-sans;
            font-weight: 600;
            font-size: 26px;
            line-height: calc(30/26);

            @include bp(sm) {
                font-size: 32px;
                margin-bottom: 20px;
            }
        }

        .pic {
            max-width: 100%;
            height: auto;
        }
    }

}

// Wild Soul
.eq-lara-wildsoul {
    position: relative;

    &__pic {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            @include bp(sm) {
                min-height: 460px;
            }
        }
    }

    &__content {

        .title {

            color: #336961;
            text-transform: uppercase;

            strong {
                font-size: 40px;
                line-height: calc(32/40);
            }

            span {
                font-size: 29px;
                line-height: calc(32/29);
            }

            strong, span {
                display: block;
                font-family: $font-sans;
                letter-spacing: -0.025em;
            }

            @include bp(sm) {
                margin-bottom: 30px;
                strong {
                    font-size: 56px;
                }
                span {
                    font-size: 36px;
                }
            }
        }

        .text {
            font-family: $font-sans;
            font-size: 18px;
            font-weight: 200;
            line-height: calc(25/18);
            color: $neutral000;
            margin-bottom: 20px;

            @include bp(sm) {
                font-size: 22px;
                max-width: 500px;
                margin-bottom: 30px;
            }
        }

        @include bp(xs) {
            background: #F3F7F4;
            padding: 30px 20px;
        }

        @include bp(sm) {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;
            justify-content: center;
            padding: 20px 20px 20px 50%;
        }
    }
}

// Video Lara
.eq-video-lara {
    max-width: 100%;
}

// Lara Quotes
.eq-lara-quotes {
    padding-bottom: 60px;

    &__item {
        text-align: center;

        .title,
        .text {
            font-family: $font-sans;
        }

        .title {
            text-transform: uppercase;
            font-weight: 600;
            font-size: 26px;
            line-height: 1.1;
        }

        .text {
            margin: 0 auto;
            max-width: 900px;
            font-weight: 200;
            font-size: 18px;
            line-height: calc(25 / 18);
        }

        @include bp(sm) {
            .title {
                font-size: 32px;
            }
            .text {
                font-size: 22px;
            }
        }
    }
}

// Form
.eq-laraform {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 0 10px;

    @include bp(sm) {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    &__title {
        font-family: $font-sans;
        font-weight: 400;
        font-size: 17px;
        line-height: calc(27 / 17);
        letter-spacing: 0.025em;
        text-transform: uppercase;
        margin: 0;

        @include bp(xs) {
            margin: 0 auto 10px;
            max-width: 300px;
            text-align: center;
        }

        @include bp(sm) {
            margin-right: 20px;
            text-align: left;
        }
    }

    &__form {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        background: $neutralBase;
        border: 1px solid $neutralBase;
        border-radius: 21px;
        width: 100%;
        max-width: 340px;

        label.error {
            position: absolute;
            left: 0;
            right: 0;
            top: 100%;
            padding: 2px 20px;
            color: $red;
            font-family: $font-sans;
            font-weight: 400;
            font-size: 13px;
        }

        [type='email'] {
            flex: 1;
            border: none;
            appearance: none;
            background: transparent;
            padding: 0 10px 0 20px;
            font-family: $font-sans;
            font-size: 16px;
            line-height: calc(24 / 16);
            color: $neutral000;
            width: auto;
            max-width: calc(100% - 132px);

            &::placeholder {
                color: rgba($neutral000, 0.4);
            }

            &:focus {
                outline: none;
            }
        }

        [type='submit'] {
            appearance: none;
            border: none;
            border-radius: 20px;
            background-color: $salmon;
            font-family: $font-sans;
            font-size: 16px;
            font-weight: 600;
            line-height: calc(18 / 16);
            text-transform: uppercase;
            width: 132px;
            height: 40px;
            flex-shrink: 1;
            transition: all .2s linear;
            &:hover {
                background: $neutral000;
                color: $neutralBase;
            }
        }
    }
}
