// Layout fixes
#maincontent {
    width: auto !important;
}

.eq-section {
    &--nopadding {
        padding: 0;
        .eq-section__inner {
            max-width: 100%;
            width: 100%;
        }
    }
    &--lessecrets {
        background-color: $neutral000;
        color: $neutralBase;
    }
}

.hidden-sm {
    @include bp(sm) {
        display: none !important;
    }
}

.hidden-xs {
    @include bp(xs) {
        display: none !important;
    }
}

.footer {
    margin-top: 0;
}

.owl-carousel .owl-item img {
    background-color: unset;
}

.breadcrumbs {
    display: none !important;
}

// Fix for grey shipping info bar in header
.top-header-content .hidden-sm {
    display: block !important;
}

// HERO
.eq-lessecrets {
    width: 1200px;
    max-width: calc(100vw - 20px);
    margin: 0 auto;

    &__pic img {
        max-width: 100%;
        height: auto;
        display: block;
    }

    &__content .eq-copy {
        color: $neutralBase;
        max-width: 700px;
        margin: 0 auto;
        .eq-copy__title {
            text-transform: uppercase;
            font-family: 'Moneta';
            font-weight: normal;
            color: $neutralBase;
            letter-spacing: 0.025em;
        }
    }
}

// PRODUCTS
.eq-lessecrets-products {
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    margin-bottom: 30px;

    &__item {
        flex: 1;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    .pic {
        max-width: 350px;
        margin: 0 auto;
    }

    .content {
        text-align: center;
        max-width: 350px;
        flex: 1;
        display: flex;
        flex-flow: column nowrap;
    }

    .title,
    .text,
    .price {
        font-family: $font-sans;
    }

    .title {
        font-weight: 600;
        font-size: 24px;
        line-height: 1;
    }

    .text {
        font-weight: 200;
        font-size: 20px;
        line-height: 1.3;
    }

    .price {
        margin-top: auto;
        font-size: 15px;
        color: $neutral800;
        strong {
            color: $neutral000;
            font-weight: 600;
            font-size: 18px;
        }
    }

    .btn {
        appearance: none;
        border: none;
        font-family: $font-sans;
        background-color: $neutral000;
        color: $neutralBase;
        display: inline-block;
        font-size: rem(15);
        font-weight: 600;
        line-height: calc(20/15);
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        padding: rem(10) rem(20);
        transition: all .2s linear;
        min-width: 200px;
        text-align: center;
        cursor: pointer;
        max-width: 210px;
        margin: 0 auto;
        border-radius: 0;
    
        &:hover {
            color: $neutralBase;
            background-color: $neutral700;
        }
    }

    @include bp(sm) {
        &__item {
            flex: 1 0 calc(33.3333333% - 20px);
        }
    }
}
