// Layout fixes
#maincontent {
    width: auto !important;
}

.eq-section {
    &--nopadding {
        padding: 0;
        .eq-section__inner {
            max-width: 100% !important;
            width: 100%;
        }
    }

    &--salmon {
        background-color: $salmon;
    }

    &--green {
        background-color: #D6E7D5;
    }

    &--narrow {
        .eq-section__inner {
            width: 762px;
        }
    }
}

.hidden-sm {
    @include bp(sm) {
        display: none !important;
    }
}

.hidden-xs {
    @include bp(xs) {
        display: none !important;
    }
}

.footer {
    margin-top: 0;
}

.owl-carousel .owl-item img {
    background-color: unset;
}

// Overrides
.eq-btn-black {
    background-color: $neutral000;
    span {
        font-family: $font-sans;
        font-weight: 600;
    }
}

.breadcrumbs {
    display: none !important;
}

// Hero
.eq-hero__item--1 {
    .eq-hero__content {
        @include bp(sm) {
            padding-left: 50%;
        }
    }

    .eq-hero__inner {
        @include bp(xs) {
            align-items: flex-start;
            justify-content: center;
        }
    }

    .eq-hero__copy {
        font-weight: 400;
        font-size: 23px;
        line-height: 29px;
        margin: 0 0 20px;
        max-width: 100%;

        @include bp(sm) {
            font-size: 38px;
            line-height: 41px;
            margin: 0 0 30px;
        }
    }

    .eq-hero__title {
        font-size: 46px;
        line-height: 1;
        margin: 0 0 5px;
        em {
            font-size: inherit;
        }
        @include bp(xs) {
            margin-top: auto;
        }

        @include bp(sm) {
            margin: 0 0 20px;
            font-size: 70px;
            line-height: 66px;
        }
    }

    .eq-btn-black {
        margin-top: 0;

        @include bp(xs) {
            align-self: flex-start;
        }

        @include bp(sm) {
            align-self: flex-start;
        }
    }
}

.eq-hero__item--2 {

    .eq-hero__title {
        font-weight: 700;
        margin: 0;
    }

    .eq-hero__copy {
        font-weight: 400;
        max-width: 100%;
    }

    @include bp(xs) {
        .eq-hero__inner {
            padding-bottom: 50px;
        }

        .eq-hero__title {
            font-size: 46px;
            line-height: 1;
            span {
                display: block;
            }
        }
        .eq-hero__copy {
            font-size: 23px;
            line-height: 29px;
        }

        .eq-btn-black {
            align-self: flex-start;
        }
    }

    @include bp(sm) {
        .eq-hero__title {
            font-size: 55px;
            line-height: 66px;
        }
        .eq-hero__copy {
            font-size: 38px;
            line-height: 41px;
            margin: 0 0 20px;
        }
    }

}

// Just Bright
.eq-sofia-jb {
    position: relative;

    &__content {
        .title {
            font-family: $font-sans;
            font-weight: 200;
            font-size: 28px;
            line-height: 32px;
            margin: 0 0 20px;

            strong {
                display: block;
                font-weight: 400;
                font-size: 43px;
                line-height: 32px;
                letter-spacing: -0.025em;
                text-transform: uppercase;
            }

            @include bp(sm) {
                font-weight: 400;
                font-size: 36px;
                line-height: 40px;
                strong {
                    font-weight: 700;
                    font-size: 56px;
                    line-height: 40px;
                }
            }
        }

        .text {
            font-family: $font-sans;
            font-weight: 200;
            font-size: 18px;
            line-height: calc(23/18);
            margin: 0 0 10px;

            @include bp(sm) {
                font-size: 22px;
                line-height: calc(26/22);
            }
        }

        .eq-btn-black {
            @include bp(xs) {
                margin-top: 10px;
            }
            @include bp(sm) {
                margin-top: 20px;
            }
        }
    }

    &__pic {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    @include bp(xs) {
        display: flex;
        flex-flow: column nowrap;
    
        &__content {
            padding: 30px;
        }
    }

    @include bp(sm) {
        &__pic {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &__content {
            position: relative;
            z-index: 1;
            width: 50%;
            max-width: 600px;
            padding: 80px;
            margin: 0 auto 0 50%;
        }
    }
}

// Body & Face
.eq-sofia-bf {
    display: grid;

    @include bp(xs) {
        grid-template-rows: auto;
        grid-row-gap: 15px;
        padding: 10px;
    }

    @include bp(sm) {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
    }

    &__item {
        position: relative;

        .inner {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 20px;
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;
            justify-content: center;

            @include bp(sm) {
                padding: 20px 48px;
            }
        }

        .title {
            color: $neutral000;
            font-family: $font-sans;
            font-weight: 600;
            font-size: 26px;
            line-height: calc(30/26);

            @include bp(sm) {
                font-size: 32px;
                margin-bottom: 20px;
            }
        }

        .pic {
            max-width: 100%;
            height: auto;
        }
    }

}

// Products
.eq-sofia-products {

    @include bp(xs) {
        padding-bottom: 40px;
    }

    @include bp(sm) {
        pointer-events: none;
    }

    .owl-stage {
        display: flex !important;

        .owl-item {
            float: none !important;
            display: flex;
            flex-flow: column nowrap;
            flex: 1;
        }
    }


    &__item {
        float: none !important;
        flex: 1;
        display: flex;
        flex-flow: column nowrap;

        .content {
            flex: 1;
            display: flex;
            padding: 15px;
            flex-flow: column nowrap;
            align-items: center;

            @include bp(sm) {
                padding: 20px;
            }

            * {
                font-family: $font-sans;
            }

            .title {
                font-weight: 400;
                font-size: 17px;
                line-height: calc(22/18);
                text-align: center;

                @include bp(sm) {
                    font-size: 18px;
                }
            }

            .text {
                font-weight: 200;
                font-size: 15px;
                line-height: calc(21/17);
                text-align: center;

                @include bp(sm) {
                    font-size: 17px;
                }
            }

            .price {
                margin: auto 0 10px;
                font-weight: 600;
                font-size: 18px;
                line-height: calc(24/18);
            }

            .btn {
                background-color: $magenta;
                color: $neutralBase;
                width: 100%;
                height: auto;
                max-width: 176px;
                font-size: 15px;
                font-weight: 600;
                text-transform: uppercase;
                pointer-events: auto;
                transition: all .2s linear;
                border: none;

                &:hover {
                    background: $neutral000;
                    color: $neutralBase;
                    border: none;
                }
            }
        }
    }
}

#products-1 {
    img {
        max-width: 200px;
        margin: 0 auto;
    }
}

// Embajadora
.eq-sofia-embajadora {
    max-width: 1200px;
    margin: 20px auto 0;
    display: flex;
    flex-flow: column nowrap;

    @include bp(sm) {
        flex-direction: row-reverse;
        margin: 100px auto 60px;

        > * {
            flex: 1 0 50%;
        }
    }

    &__pic {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {

        .title,
        .text {
            font-family: $font-sans;
            color: $neutral000;
        }

        .title {
            font-weight: 600;
            font-size: 26px;
            line-height: calc(30/26);
            letter-spacing: -0.03em;
            margin-bottom: 20px;

            @include bp(sm) {
                font-size: 32px;
                line-height: calc(38/32);
            }
        }

        .text {
            font-family: $font-sans;
            font-size: 18px;
            font-weight: 200;
            line-height: calc(23/18);
            margin-bottom: 20px;

            strong {
                font-family: $font-sans;
                font-weight: 400;
            }

            @include bp(sm) {
                font-size: 22px;
                line-height: calc(26/22);
                margin-bottom: 30px;
            }
        }

        @include bp(xs) {
            padding: 25px;
        }

        @include bp(sm) {
            padding: 60px;
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;
            justify-content: center;
        }
    }
}

// Video sofia
#video-sofia {
    position: relative;
    height: 0;
    padding-top: 56.25%;
}
.eq-video-sofia {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.eq-video-sofia-quote {
    text-align: center;
    padding: 20px 0 60px;

    .quote,
    .byline {
        font-family: $font-sans;
        font-weight: 200;
        font-size: 18px;
        line-height: calc(25/18);
        margin: 0;
    }

    .byline {
        text-transform: uppercase;
    }

    @include bp(sm) {
        padding: 40px 0 80px;

        .quote {
            font-size: 22px;
            line-height: calc(28/22);
        }

        .byline {
            font-size: 16px;
            line-height: calc(28/16);
        }
    }
}

// Form
.eq-sofiaform {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 0 10px;

    @include bp(sm) {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    &__title {
        font-family: $font-sans;
        font-weight: 400;
        font-size: 17px;
        line-height: calc(27 / 17);
        letter-spacing: 0.025em;
        text-transform: uppercase;
        margin: 0;

        @include bp(xs) {
            margin: 0 auto 10px;
            max-width: 300px;
            text-align: center;
        }

        @include bp(sm) {
            margin-right: 20px;
            text-align: left;
        }
    }

    &__form {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        background: $neutralBase;
        border: 1px solid $neutralBase;
        border-radius: 21px;
        width: 100%;
        max-width: 340px;

        label.error {
            position: absolute;
            left: 0;
            right: 0;
            top: 100%;
            padding: 2px 20px;
            color: $red;
            font-family: $font-sans;
            font-weight: 400;
            font-size: 13px;
        }

        [type='email'] {
            flex: 1;
            border: none;
            appearance: none;
            background: transparent;
            padding: 0 10px 0 20px;
            font-family: $font-sans;
            font-size: 16px;
            line-height: calc(24 / 16);
            color: $neutral000;
            width: auto;
            max-width: calc(100% - 132px);

            &::placeholder {
                color: rgba($neutral000, 0.4);
            }

            &:focus {
                outline: none;
            }
        }

        [type='submit'] {
            appearance: none;
            border: none;
            border-radius: 20px;
            background-color: $salmon;
            font-family: $font-sans;
            font-size: 16px;
            font-weight: 600;
            line-height: calc(18 / 16);
            text-transform: uppercase;
            width: 132px;
            height: 40px;
            flex-shrink: 1;
            transition: all .2s linear;
            &:hover {
                background: $neutral000;
                color: $neutralBase;
            }
        }
    }
}
