<!-- START: BEST SELLERS -->
<section class="eq-section {{className}}">
    <div class="eq-section__inner">
        <div class="eq-best-sellers">
            <h2 class="eq-best-sellers__title">{{title}}</h2>
            <div class="eq-best-sellers__content">{{content}}</div>
        </div>
    </div>
</section>
<!-- END: BEST SELLERS -->