<!-- START: CATEGORIAS -->
<section class="eq-section {{className}}">
    <div class="eq-section__inner">
        <div class="eq-categoria-icons">
            <h2 class="eq-categoria-icons__title">{{title}}</h2>
            <ol class="eq-categoria__items">
            {% for item in items %}
                <li>
                    <a href="{{item.href}}">
                        <img src="{{basePath}}{{lang}}/{{item.image.src}}" alt="{{item.image.src}}" />
                        <span>{{item.label}}</span>
                    </a>
                </li>
            {% endfor %}
            </ol>
        </div>
    </div>
</section>
<!-- END: CATEGORIAS -->