<!-- START: CATEGORIAS -->
<section class="eq-section eq-section--nopadding-xs {{className}}">
    <div class="eq-section__inner">
        <div class="eq-categorias">
            {% for item in items %}
                <div class="eq-categoria">
                    <div class="eq-categoria__header eq-categoria__header--{{item.className}}">
                        <h2>{{item.title}}</h2>
                        {% include 'common/image.twig' with item.srcset %}
                    </div>
                    <ol class="eq-categoria__items">
                    {% for item in item.items %}
                        <li>
                            <a href="{{item.href}}">
                                <img src="{{basePath}}{{lang}}/{{item.image.src}}" alt="{{item.image.src}}" />
                                <span>{{item.label}}</span>
                            </a>
                        </li>
                    {% endfor %}
                    </ol>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- END: CATEGORIAS -->