<!-- START: CHECK LIST -->
<div class="eq-check-list">
    {% for item in items %}
    <div class="eq-check-list__item">
        {% include "common/check-pink.twig" %}
        <span>{{item}}</span>
    </div>
    {% endfor %}
    {% if moreItems %}
    <div id="read-more" class="toggable">
        {% for item in moreItems %}
        <div class="eq-check-list__item">
            {% include "common/check-pink.twig" %}
            <span>{{item}}</span>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% if moreItems %}
<a href="#read-more" class="toggle">Seguir leyendo</a>
{% endif %}
<!-- END: CHECK LIST -->