<!-- START: COPY -->
<section class="eq-section {{className}}"{% if id %} id="{{id}}"{% endif %}>
    <div class="eq-section__inner">
        <div class="eq-copy">
            {% if section %}<p class="eq-copy__section">{{section}}</p>{% endif %}
            {% if title %}<h2 class="eq-copy__title">{{title}}</h2>{% endif %}
            {% if image %}
                <img src="{{basePath}}/{{lang}}/{{image}}" alt="" class="eq-copy__image" />
            {% endif %}
            {% if text %}<p class="eq-copy__text">{{text}}</p>{% endif %}
        </div>
    </div>
</section>
<!-- END: COPY -->