<!-- START: EMOCIONES -->
<section class="eq-section {{className}}">
    <div class="eq-section__inner">
        <ol class="eq-emociones">
            {% for item in items %}
                <li class="eq-emociones__item eq-emociones__item--{{item.className}}">
                    <div class="pic">
                        <img src="{{basePath}}{{lang}}/{{item.image.src}}" alt="{{item.image.src}}" />
                    </div>
                    <div class="content">
                        <p class="title">{{item.title}}</p>
                        <p class="text">{{item.text}}</p>
                        {% include 'common/button-white.twig' with item.button %}
                    </div>
                </li>
            {% endfor %}
        </ol>
    </div>
</section>
<!-- END: EMOCIONES -->