<footer class="eq-co-footer">
    <a href="https://www.instagram.com/equivalenzaco" target="_blank" rel="noopener noreferrer" class="eq-co-footer__instagram">
        {% include "common/icon-instagram.twig" %}
    </a>
    <p class="eq-co-footer__terms">Conoce los <a href="https://equivalenza.com/co/terminos-y-condiciones">términos y condiciones</a></p>
    <p class="eq-co-footer__copy">© 2021 Equivalenza Retail. Todos los derechos reservados.</p>
</footer>