<footer class="eq-it-footer">
    <a href="https://www.instagram.com/equivalenzait" target="_blank" rel="noopener noreferrer" class="eq-it-footer__instagram">
        {% include "common/icon-instagram.twig" %}
    </a>
    <p class="eq-it-footer__terms">Consulta i <a href="https://equivalenza.com/it/termini-e-condizioni">termini e condizioni</a></p>
    <p class="eq-it-footer__terms">Tra il 10 giugno 2022 e il 15 luglio 2022 (inclusi) potrai usufruire di uno sconto del 20% a fronte di una spesa minima di 30 euro su qualsiasi prodotto, iscrivendoti alla newsletter di Equivalenza su www.equivalenza.com. Sconto valido su tutti i prodotti ed utilizzabile una volta sola. Non cumulabile con altre offerte o promozioni. Consulta le condizioni su <a href="//www.equivalenza.com/promozioni">www.equivalenza.com/promozioni</a>.</p>
    <p class="eq-it-footer__copy">© 2022 Equivalenza Retail. Tutti i diritti riservati.</p>
</footer>