<!-- START: FOOTER LANDING -->
<section class="eq-section eq-section--grey {{className}}">
    <div class="eq-section__inner">
        <ul class="eq-footer-landing">
            {% for item in items %}
                <li class="eq-footer-landing__item">
                    <img src="{{basePath}}{{lang}}/{{item.image.src}}" alt="{{item.image.src}}" />
                    <span>{{item.title}}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>
<!-- END: FOOTER LANDING -->