<!-- START: HERO -->
<div class="eq-hero {{className}} eq-slider owl-carousel">
    {% for item in items %}
    <div class="eq-hero__item eq-hero__item--{{loop.index}} item">
        <div class="eq-hero__bg">
            {% include "common/image.twig" with item.srcset %}
        </div>
        {% if item.title or item.text or item.button %}
        <div class="eq-hero__content">
            <div class="eq-hero__inner">
                <h1 class="eq-hero__title">{{item.title}}</h1>
                <p class="eq-hero__copy">{{item.text}}</p>
                {% if item.button and className %}
                {% include "common/button-white.twig" with item.button %}
                {% else %}
                {% include "common/button-black.twig" with item.button %}
                {% endif %}
                {% if className %}
                {% include "common/arrow-white.twig" %}
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% if item.link %}
        <a href="{{item.link}}" class="eq-hero__link"></a>
        {% endif %}
    </div>
    {% endfor %}
</div>
<!-- END: HERO -->