<!-- START: ICON GALLERY -->
<section class="eq-section eq-section--nopadding-top {{className}}">
    <div class="eq-section__inner">
        <div class="eq-icons">
            {% for item in items %}
            <div class="eq-icons__item eq-icons__item--{{loop.index}} item">
                <img src="{{basePath}}{{lang}}/{{item.icon}}" alt="{{item.label}}" />
                <span>{{item.label}}</span>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- END: ICON GALLERY -->