<!-- START: HERO -->
<div class="eq-image-slider {{className}} eq-slider owl-carousel">
    {% for item in items %}
    <div class="eq-image-slider__item eq-hero__item--{{loop.index}} item">
        {% include "common/image.twig" with item %}
    </div>
    {% endfor %}
</div>
<!-- END: HERO -->