<!-- START: NUEVA LINEA -->
<section class="eq-section eq-section--nopadding-top">
    <div class="eq-section__inner">
        <div class="eq-newline eq-slider owl-carousel">
            {% for slide in slides %}
            <div class="eq-newline__item eq-newline__item--{{loop.index}} item">
                <p class="title hidden-sm">{{slide.title}}</p>
                <div class="eq-newline__pic">
                    <img src="{{basePath}}{{lang}}/{{slide.img.src}}" alt="{{slide.img.alt}}" />
                </div>
                <div class="eq-newline__content">
                    <p class="title hidden-xs">{{slide.title}}</p>
                    <p class="copy">{{slide.copy}}</p>
                    <a href="{{slide.link.href}}" class="lnk">{{slide.link.text}}</a>
                    <div class="eq-newline__products eq-slider owl-carousel">
                    {% for product in slide.products %}
                        <div class="eq-newline__product eq-newline__product--{{loop.index}} item">
                            <img src="{{basePath}}{{lang}}/{{product.img.src}}" alt="{{product.img.alt}}" class="product-pic" />
                            <p class="name">{{product.title}}</p>
                            <p class="price">{{product.price}}</p>
                            <a href="{{product.btn.href}}" class="btn">{{product.btn.text}}</a>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- END: NUEVA LINEA -->