<!-- START: POPUP NEWSLETTER -->
<div class="eq-popup-newsletter__wrapper">
    <div class="eq-popup-newsletter" id="eq-popup-newsletter">
        <button type="button" class="eq-popup-newsletter__close">&#215;</button>
        <div class="eq-popup-newsletter__image">
            <img src="{{basePath}}{{lang}}/{{image}}" alt="" />
        </div>
        <form class="eq-popup-newsletter__content eq-form">
            <p class="title">{{title}}</p>
            {% for item in text %}
            <p class="text">{{item}}</p>
            {% endfor %}
            <button type="submit" class="eq-btn-black">{{form.button}}</button>
            <div class="eq-checkboxgroup">
                {% for item in checkboxGroup %}
                <div class="eq-check">
                    <input type="checkbox" id="{{item.id}}" name="{{item.id}}" value="{{item.value}}" />
                    <label for="{{item.id}}">{{item.label}}</label>
                </div>
                {% endfor %}
            </div>
        </form>
    </div>
</div>
<!-- END: POPUP NEWSLETTER -->