<!-- START: REFILL -->
<section class="eq-section eq-section--grey eq-section--nopadding {{className}}" id="refill">
    <div class="eq-section__inner">
        <div class="eq-refill eq-slider owl-carousel {{className}}">
            {% for item in items %}
                <div class="eq-refill__item eq-refill__item--{{loop.index}} item">
                    <div class="pic">
                        {% include "common/image.twig" with item.srcset %}
                    </div>
                    <div class="content">
                        {% if item.title %}<p class="title">{{item.title}}</p>{% endif %}
                        <p class="text">{{item.text}}</p>
                        {% if item.list %}
                        {% for itemList in item.list %}
                        <p class="small">{{itemList}}</p>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- END: REFILL -->