<!-- START: REVIEWS -->
<section class="eq-section eq-section--nopadding-top">
    <div class="eq-section__inner">
        <div class="eq-reviews eq-slider owl-carousel">
            {% for item in items %}
            <div class="eq-reviews__item eq-reviews__item--{{loop.index}} item">
                <a href="{{item.product.href}}" class="product">
                    <span class="pic">
                        <img src="{{basePath}}{{lang}}/{{item.product.img.src}}" alt="{{item.product.img.alt}}" />
                    </span>
                    <span class="content">
                        <span class="name">{{item.product.name}}</span>
                        <span class="rating rating--{{item.product.rating}}"></span>
                    </span>
                </a>
                <div class="review">
                    <div class="title">{{item.review.title}}</div>
                    <div class="text">{{item.review.text}}</div>
                    <div class="by">{{item.review.by}}</div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- END: REVIEWS -->