<script type="text/javascript">
    require(['jquery', 'mgs/owlcarousel'], function ($) {

        // Video Modal
        $('#iframeContainer').append('<iframe width="560" height="315" src="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>');
        var trigger = $("body").find('[data-toggle="modal"]');
        trigger.on('click', function () {
            var theModal = $(this).data("target"),
                videoSRC = $(this).attr("data-theVideo"),
                videoSRCauto = videoSRC + "?autoplay=1";
            var $modal = $(theModal);
            $(theModal + ' iframe').attr('src', videoSRCauto);
            $modal.addClass('show').fadeIn();
            $(theModal + ' button.close').click(function () {
                $(theModal + ' iframe').attr('src', videoSRC);
                $modal.removeClass('show').fadeOut();
            });
        });

        // Toggle extra content
        $('.toggle', '.eq-cs-hero').on('click', function (e) {
            e.preventDefault();
            var $this = $(this);
            var target = $this.attr('href');
            $this.hide();
            $(target).slideDown();
        });

        // Valores
        $('.eq-cs-valori__slider').owlCarousel({
            loop: false,
            margin: 0,
            responsiveClass: true,
            items: 1,
            nav: true,
            autoplay: false,
        });

        $('.eq-cs-valore__title').on('click', function (e) {
            e.preventDefault();
            var $this = $(this);
            var to = $this.attr('data-to');
            if (to) $('.eq-cs-valori__slider').trigger('to.owl.carousel', [to, 200, true]);
        })

        $(window).on('load resize', function() {
            if (window.matchMedia('(max-width: 767px)').matches) {
                $('.eq-cs-valori__slider').trigger('to.owl.carousel', [1, 0, true]);
            }
        });

        $('.toggle', '.eq-cs-valori').on('click', function (e) {
            e.preventDefault();
            e.stopPropagation();
            var $this = $(this);
            if (window.matchMedia('(max-width: 767px)').matches) {
                var target = $this.attr('href');
                $this.toggleClass('active');
                $(target).slideToggle();
            } else {
                var to = $this.attr('data-to');
                if (to) $('.eq-cs-valori__slider').trigger('to.owl.carousel', [to, 200, true]);
            }
        });

        // Categories
        $('.eq-cs-cat').owlCarousel({
            loop: true,
            margin: 20,
            responsiveClass: true,
            nav: false,
            dots: true,
            autoplay: false,
            responsive: {
                0: {
                    items: 1.5,
                },
                768: {
                    items: 5,
                },
            },
        });

    });
</script>