<script type="text/javascript">
    require(['jquery', 'jquery/validate', 'mgs/owlcarousel'], function ($) {
        var $laraProducts = $('.eq-lara-products');
        var $laraQuotes = $('.eq-lara-quotes');
        var $formLara = $('#eq-laraform-form');
        var $videoLara = $('#video-lara');

        $('a[href="#favoritos"], a[href="#wild-soul"]').on('click', function (e) {
            if (this.hash !== '') {
                e.preventDefault();
                var hash = this.hash;
                $('html, body').animate({
                    scrollTop: $(hash).offset().top - $('header.header').height()
                }, 800, function() {
                    window.location.hash = hash;
                });
            }
        });

        $laraProducts.owlCarousel({
            loop: true,
            margin: 2,
            responsiveClass: true,
            nav: false,
            autoplay: false,
            responsive: {
                0: {
                    items: 2,
                },
                768: {
                    items: 5,
                },
            },
        });

        $laraQuotes.owlCarousel({
            loop: true,
            margin: 0,
            responsiveClass: true,
            items: 1,
            nav: false,
            autoplay: false,
        });

        if ($formLara.length) {
            $formLara.validate({
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                },
                messages: {
                    email: {
                        required: "Campo obligatorio",
                        email: "Por favor, introduce un email válido.",
                    },
                },
            });
        }

        $videoLara.append('<video id="video" class="eq-video-lara" poster="https://equivalenza.com/laraalvarez/images/careta_video.jpg" controls="" controlslist="nodownload"><source src="https://equivalenza.com/laraalvarez/videos/laraalvarez.mp4" type="video/mp4"></video>');
    });
</script>