<script type="text/javascript">
    require(['jquery', 'mgs/owlcarousel'], function ($) {
        var $form = $('#eq-search');
        var $carrouselItems = $('.eq-topsales .product-item:not(.fixed)');
        var $newsletter = $('#eq-popup-newsletter');
        var lang = $('html').attr('lang');

        // Newsletter modal popup
        if ($newsletter.length && !localStorage.getItem('eq-popup-newsletter')) {
            var $optOut = $('#opt-out', $newsletter);
            var $close = $('.eq-popup-newsletter__close', $newsletter);
            var $form = $('.eq-form', $newsletter);
            var formURL;

            $('body').addClass('eq-popup-newsletter--show');

            $close.on('click', function () {
                $('body').removeClass('eq-popup-newsletter--show');
            });
            
            $optOut.on('click', function() {
                var $this = $(this);
                if ($this.is(':checked')) {
                    localStorage.setItem('eq-popup-newsletter', 'opt-out');
                } else {
                    localStorage.removeItem('eq-popup-newsletter');
                }
            });

            switch (lang) {
                case 'es':
                    formURL = 'https://equivalenza.com/es/welcome/';
                    break;
                case 'fr':
                    break;
                case 'it':
                    formURL = 'https://equivalenza.com/it/welcome/';
                    break;
                case 'pt':
                    break;
                default:
                    formURL = '#';                
            }

            $form.on('submit', function (e) {
                e.preventDefault();
                window.location.href = formURL;
            });
        }

        // Fix carrousel items layout
        if ($carrouselItems.length > 0) {
            $.each($carrouselItems, function (index, item) {
                var $el = $(item);
                var $cutreLabel = $('div[style*="float:left;margin-right: 4px;color: #696969;"]', $el);
                if ($cutreLabel.length) {
                    var $labelItems = $('div[style*="float:left;margin-right: 4px;color: #696969;"], .price-box', $el);
                    $labelItems.wrapAll('<div class="eq-fixed-label"></div>');
                    $el.addClass('fixed');
                }
            });
        }

        $('.eq-hero').owlCarousel({
            loop: true,
            margin: 0,
            responsiveClass: true,
            items: 1,
            nav: false,
            autoplay: false,
        });

        $('.eq-icons').owlCarousel({
            loop: true,
            margin: 0,
            responsiveClass: true,
            nav: false,
            dots: true,
            autoplay: false,
            responsive: {
                0: {
                    items: 2,
                },
                768: {
                    items: 6,
                },
            },
        });

        $('.eq-new').owlCarousel({
            loop: true,
            responsiveClass: true,
            autoplay: false,
            responsive: {
                0: {
                    items: 1,
                    margin: 0,
                    nav: true,
                    dots: true,
                },
                768: {
                    items: 3,
                    margin: 30,
                    nav: false,
                    dots: true,
                },
            },
        });

        $('.eq-newline').owlCarousel({
            loop: false,
            margin: 0,
            responsiveClass: true,
            items: 1,
            nav: true,
            autoplay: false,
            responsive: {
                0: {
                    dots: false,
                },
                768: {
                    dots: true,
                },
            },
        });

        $('.eq-newline__products').owlCarousel({
            loop: false,
            responsiveClass: true,
            nav: true,
            dots: true,
            autoplay: false,
            responsive: {
                0: {
                    items: 2,
                    margin: 20,
                },
                768: {
                    items: 3,
                    margin: 30,
                },
            },
        }).on('mousedown.owl.core', function(event) {
    	    event.preventDefault();
            event.stopPropagation();
   		 });

        $('.eq-reviews').owlCarousel({
            loop: false,
            responsiveClass: true,
            dots: true,
            autoplay: false,
            responsive: {
                0: {
                    items: 1,
                    margin: 0,
                    slideBy: 1,
                    nav: false,
                },
                768: {
                    items: 3,
                    margin: 30,
                    slideBy: 3,
                    nav: true,
                },
            },
        });

        $('.eq-topventas-cosmetica:not(.ambientadores)').owlCarousel({
            loop: true,
            margin: 0,
            responsiveClass: true,
            nav: true,
            autoplay: false,
            dots: false,
            responsive: {
                0: {
                    items: 1,
                },
                480: {
                    items: 2,
                },
                768: {
                    items: 6,
                },
            },
        });

        $('.eq-topventas-cosmetica.ambientadores').owlCarousel({
            loop: true,
            margin: 0,
            responsiveClass: true,
            nav: true,
            autoplay: false,
            dots: false,
            responsive: {
                0: {
                    items: 1,
                },
                480: {
                    items: 2,
                },
                768: {
                    items: 3,
                },
            },
        });

        $('.eq-cn-slider').owlCarousel({
            loop: true,
            margin: 0,
            responsiveClass: true,
            items: 1,
            nav: false,
            autoplay: false,
            dots: true,
        });

        $('.eq-lessecrets-it__slider').owlCarousel({
            loop: true,
            margin: 0,
            responsiveClass: true,
            items: 1,
            nav: true,
            autoplay: false,
            dots: false,
        });

        $('.eq-difusores-review').owlCarousel({
            loop: true,
            items: 1,
            margin: 12,
            responsiveClass: true,
            nav: false,
            autoplay: false,
        });

        if ($form.length) {
            var $fieldGroup = $('eq-search__group', $form);
            $(document).on('keypress', '#searchperfume', function (e) {
                if (e.which == 13) {
                    if ($(this).val().trim() != '') {
                        $('.spinsearchperf').css('display', 'block');
                        $('.errorsearchperf').css('display', 'none');
                        $fieldGroup.css('border', '1px solid black');
                        var numperfume = $('#searchperfume').val();
                        var pais = 1;
                        var dataperfume = { perfume: numperfume, country: pais };
                        $.ajax({
                            data: dataperfume,
                            url: '/procs/getUrlPerfumeHome.php',
                            method: 'post',
                            success: function (data) {
                                if (data != 'false') location.href = "/es/" + data;
                                else {
                                    $('.spinsearchperf').css('display', 'none');
                                    $fieldGroup.css('border', '1px solid red');
                                    $('.errorsearchperf').css('display', 'block');
                                }
                            }
                        });
                    }
                }
            });
            $(document).on('click', '#eq-search [type="submit"]', function (e) {
                e.preventDefault();
                if ($('#searchperfume').val().trim() != '') {
                    $('.spinsearchperf').css('display', 'block');
                    $('.errorsearchperf').css('display', 'none');
                    $fieldGroup.css('border', '1px solid black');
                    var numperfume = $('#searchperfume').val();
                    var pais = 1;
                    var dataperfume = { perfume: numperfume, country: pais };
                    $.ajax({
                        data: dataperfume,
                        url: '/procs/getUrlPerfumeHome.php',
                        method: 'post',
                        success: function (data) {
                            if (data != 'false') location.href = "/es/" + data;
                            else {
                                $('.spinsearchperf').css('display', 'none');
                                $fieldGroup.css('border', '1px solid red');
                                $('.errorsearchperf').css('display', 'block');
                            }
                        }
                    });
                }
            });
        };

    });
</script>