<script type="text/javascript">
    require(['jquery', 'jquery/validate', 'mgs/owlcarousel'], function ($) {
        var $sofiaCarousel = $('#products-1');
        var $sofiaProducts = $('.eq-sofia-products:not(#products-1)');
        var $sofiaQuotes = $('.eq-sofia-quotes');
        var $formsofia = $('#eq-sofiaform-form');
        var $videosofia = $('#video-sofia');

        $('a[href="#favoritos"]').on('click', function (e) {
            if (this.hash !== '') {
                e.preventDefault();
                var hash = this.hash;
                $('html, body').animate({
                    scrollTop: $(hash).offset().top - $('header.header').height()
                }, 800, function() {
                    window.location.hash = hash;
                });
            }
        });

        $('.eq-hero').owlCarousel({
            loop: true,
            margin: 0,
            responsiveClass: true,
            items: 1,
            nav: false,
            // autoplay: true,
        });

        $sofiaCarousel.owlCarousel({
            loop: true,
            margin: 0,
            responsiveClass: true,
            nav: false,
            autoplay: false,
            responsive: {
                0: {
                    items: 1,
                },
                480: {
                    items: 2,
                },
                768: {
                    items: 4,
                },
            },
        });

        $sofiaProducts.owlCarousel({
            loop: true,
            margin: 2,
            responsiveClass: true,
            nav: false,
            autoplay: false,
            responsive: {
                0: {
                    items: 2,
                },
                768: {
                    items: 5,
                },
            },
        });

        $sofiaQuotes.owlCarousel({
            loop: true,
            margin: 0,
            responsiveClass: true,
            items: 1,
            nav: false,
            autoplay: false,
        });

        if ($formsofia.length) {
            $formsofia.validate({
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                },
                messages: {
                    email: {
                        required: "Este é um campo obbrigatório",
                        email: "Por favor digite um email válido.",
                    },
                },
            });
        }

        $videosofia.append('<iframe id="video" class="eq-video-sofia" src="https://www.youtube.com/embed/XkjxdOkvz-E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>');
    });
</script>