<script type="text/javascript">
    require(['jquery', 'jquery/validate', 'mgs/owlcarousel'], function ($) {
        var $formsofia = $('#eq-sofiaform-form');
        var $videoEmbed = $('#video-jb');

        if ($videoEmbed.length) {
            $videoEmbed.append('<iframe class="eq-video-jb" src="https://player.vimeo.com/video/632069135?h=3fa13fcfa2" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>');
        }

        $('a[href="#cards"]').on('click', function (e) {
            if (this.hash !== '') {
                e.preventDefault();
                var hash = this.hash;
                $('html, body').animate({
                    scrollTop: $(hash).offset().top - $('header.header').height()
                }, 800, function() {
                    window.location.hash = hash;
                });
            }
        });

        $formsofia.validate({
            rules: {
                email: {
                    required: true,
                    email: true
                },
            },
            messages: {
                email: {
                    required: "Este é um campo obbrigatório",
                    email: "Por favor digite um email válido.",
                },
            },
        });
    });
</script>