<!-- START: VENTAJAS -->
<section class="eq-section {{className}}">
    <div class="eq-section__inner">
        <ul class="eq-ventajas">
            {% for item in items %}
                <li class="eq-ventajas__item eq-ventajas__item--{{loop.index}}">
                    <img src="{{basePath}}{{lang}}/{{item.image.src}}" alt="{{item.image.alt}}" />
                    <span>{{item.label}}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>
<!-- END: VENTAJAS -->