<div class="eq-xm-featured {{className}}">
    {% include 'common/image.twig' with {
        alt: '',
        src: images.bg,
        sizes: '100vw',
        mobile: images.bgRes,
        className: 'eq-xm-featured__bg',
    } %}
    <div class="eq-xm-featured__wrapper">
        <img src="{{basePath}}{{lang}}/{{images.title}}" alt="" class="title" />
        <img src="{{basePath}}{{lang}}/{{images.figure}}" alt="" class="figure" />
        {% if images.figure %}
        <img src="{{basePath}}{{lang}}/{{images.product}}" alt="" class="product-pic" />
        {% endif %}
        <div class="eq-xm-featured__content">
            <p class="claim">{{claim}}</p>
            {% if copy %}
            <p class="copy">{{copy}}</p>
            {% endif %}
            <div class="products eq-slider owl-carousel">
                {% for product in products %}
                <div class="product item">
                    <img src="{{basePath}}{{lang}}/{{product.imgSrc}}" alt="{{product.title}}" class="product__img" />
                    <span class="product__name">{{product.title}}</span>
                    <span class="product__price">{{product.price}} €</span>
                    <a href="{{product.btn.href}}" class="product__btn">{{product.btn.text}}</a>
                </div>
                {% endfor %}
            </div>
            <a href="{{link.href}}" class="more">{{link.text}}</a>

        </div>
    </div>
</div>