<div class="eq-xm-ideas__cards {{className}}">
    {% for card in cards %}
    <div class="eq-xm-ideas__card eq-xm-ideas__card--{{loop.index}}">
        {% include "common/image.twig" with card.srcset %}
        <div class="inner">
            {% if card.title %}
            <p class="title">{{card.title}}</p>
            {% endif %}
            <a href="{{card.btn.href}}" class="btn">{{card.btn.text}}</a>
        </div>
    </div>
    {% endfor %}
</div>