{# home.twig #}
{% extends 'layouts/default.twig' %}
{% set lang="it" %}
{% set basePath='https://equivalenza.com/landings_media/images/home-20230605/' %}

{% block meta %}
    {{ parent() }}
    <title>Home Equivalenza 2022 - IT</title>
{% endblock %}

{% block content %}

{% include 'components/css-home-2022.twig' %}

<section class="eq-section eq-section--nopadding">
    <div class="eq-section__inner">
    {{ '{{block class="Magento\Cms\Block\Block" block_id="banners"}}' | escape }}
    </div>
</section>

{% include 'components/copy.twig' with {
    text: 'In Equivalenza disegniamo prodotti di <strong>massima qualità</strong>, realizzati con <strong>ingredienti naturali</strong>, rispettosi dell\'ambiente e a prezzi molto <strong>accessibili</strong>.',
} %}

{% include 'components/icon-gallery.twig' with {
    items: [
        {
            icon: 'icon-1.png',
            label: 'Confezione riutilizzabile',
        },
        {
            icon: 'icon-2.png',
            label: 'Ecodesign: imballaggio minimo',
        },
        {
            icon: 'icon-3.png',
            label: 'Ingredienti di origine naturale',
        },
        {
            icon: 'icon-4.png',
            label: 'Formule adatte ai vegani',
        },
        {
            icon: 'icon-5.png',
            label: 'Ci mettiamo in contatto con le tue emozioni',
        },
        {
            icon: 'icon-6.png',
            label: 'Non effettuiamo test sugli animali',
        },
    ],
} %}

{% include 'components/copy.twig' with {
    className: 'eq-moneta',
    title: 'LA FORMA DELLE EMOZIONI',
    text: 'Una collezione elegante e di personalità, realizzata su misura per chi cerca qualcosa di più in un profumo: l\'esclusività. <strong>Les Secrets a partire da 21,90€.</strong>',
} %}

<!-- START: LES SECRETS ITALIA -->
<section class="eq-section eq-section--nopadding-top eq-section--nopadding-bottom eq-section--lessecrets">
    <div class="eq-section__inner">
        <div class="eq-lessecrets-it">
            <div class="eq-lessecrets-it__pic"><img src="{{basePath}}{{lang}}/les-secrets.jpg" alt="" /></div>
            <div class="eq-lessecrets-it__content">
                <div class="eq-lessecrets-it__slider eq-slider owl-carousel">
                    <div class="eq-lessecrets-it__slider__item item item-1">
                        <div class="pic"><img src="{{basePath}}{{lang}}/283.jpg" alt="" /></div>
                        <div class="content">
                            <p class="title">OUD 283</p>
                            <p class="price">A partire da <strong>18,95 €</strong></p>
                            <a href="https://equivalenza.com/it/oud-283/" class="btn">Acquista</a>
                        </div>
                    </div>
                    <!-- /.item -->
                    <div class="eq-lessecrets-it__slider__item item item-2">
                        <div class="pic"><img src="{{basePath}}{{lang}}/383.jpg" alt="" /></div>
                        <div class="content">
                            <p class="title">CUIR 383</p>
                            <p class="price">A partire da <strong>18,95 €</strong></p>
                            <a href="https://equivalenza.com/it/perfumes/les-secrets/cuir-383/" class="btn">Acquista</a>
                        </div>
                    </div>
                    <!-- /.item -->
                    <div class="eq-lessecrets-it__slider__item item item-3">
                        <div class="pic"><img src="{{basePath}}{{lang}}/484.jpg" alt="" /></div>
                        <div class="content">
                            <p class="title">FLEUR D'ORANGER 484</p>
                            <p class="price">A partire da <strong>18,95 €</strong></p>
                            <a href="https://equivalenza.com/it/perfumes/les-secrets/fleur-oranger-484/" class="btn">Acquista</a>
                        </div>
                    </div>
                    <!-- /.item -->
                    <div class="eq-lessecrets-it__slider__item item item-4">
                        <div class="pic"><img src="{{basePath}}{{lang}}/584.jpg" alt="" /></div>
                        <div class="content">
                            <p class="title">TONKA 584</p>
                            <p class="price">A partire da <strong>18,95 €</strong></p>
                            <a href="https://equivalenza.com/it/perfumes/les-secrets/oriental-tonka-584/" class="btn">Acquista</a>
                        </div>
                    </div>
                    <!-- /.item -->
                </div>              
            </div>
        </div>
    </div>
</section>
<!-- END: LES SECRETS ITALIA -->

{% include 'components/copy.twig' with {
    title: 'I NUOVI PROFUMI LES SECRETS',
    text: 'Un vortice di sensualità e passione a cui ci si arrende volentieri',
} %}

<!-- START: NOVEDADES -->
<section class="eq-section eq-section--nopadding-top">
    <div class="eq-section__inner">
        <div class="eq-new eq-slider owl-carousel">
            <div class="eq-new__item item">
                <a href="https://equivalenza.com/it/perfumes/les-secrets/marin-711/"><img src="{{basePath}}{{lang}}/marin.jpg" alt="" /></a>
                <p class="title">MARIN 711</p>
                <p class="description">Una miscela dolce e salata allo stesso tempo, con note verdi di alghe marine e note iodate che rivelano la pienezza del mare freddo.</p>
                {% include 'common/button-black.twig' with { href: 'https://equivalenza.com/it/perfumes/les-secrets/marin-711/', text: 'SCOPRIRE' } %}
            </div>
            <div class="eq-new__item item">
                <a href="https://equivalenza.com/it/perfumes/les-secrets/citrus-vert-713/"><img src="{{basePath}}{{lang}}/citrus-vert_2.jpg" alt="" /></a>
                <p class="title">CITHRUS VERT 713</p>
                <p class="description">Un’ode alla forza dirompente degli agrumi. Squisitamente effervescente grazie al connubio di bergamotto e cedro.</p>
                {% include 'common/button-black.twig' with { href: 'https://equivalenza.com/it/perfumes/les-secrets/citrus-vert-713/', text: 'PROVALI' } %}
            </div>
            <div class="eq-new__item item">
                <a href="https://equivalenza.com/it/perfumes/les-secrets/ethere-709-secrets/"><img src="{{basePath}}{{lang}}/e_the_re__2.jpg" alt="" /></a>
                <p class="title">ÉTHÉRÉ 709</p>
                <p class="description">Note che seguono l'istinto, non la ragione. Avvolgente viaggio interiore caratterizzato da una nota iper-moderna di legno di cedro e un pizzico di muschio.</p>
                {% include 'common/button-black.twig' with { href: 'https://equivalenza.com/it/perfumes/les-secrets/ethere-709-secrets/', text: 'WOW!' } %}
            </div>
        </div>
    </div>
</section>
<!-- END: NOVEDADES -->

{% include 'components/copy.twig' with {
    title: 'SCOPRI EQUIVALENZA',
    text: 'Prodotti unici alla portata di tutti.',
} %}

<!-- START: SEARCH -->
<section class="eq-section eq-section--nopadding eq-section--search">
    <div class="eq-section__inner">
        <div class="eq-search">
            <div class="eq-search__pic">
                <img src="{{basePath}}{{lang}}/EQZ_01_shorter.jpg" alt="" />
            </div>
            <div class="eq-search__content">
                <p class="title">FRAGRANZE CHE PARLANO DI TE</p>
                <p class="copy">I nostri profumieri hanno creato più di 130 fragranze indimenticabili a partire da ingredienti di altissima qualità. Trova il tuo preferito nel nostro catalogo!</p>
                <ul class="links">
                    <li><a href="https://equivalenza.com/it/perfumes/perfumes-mujer/ ">Profumi per donna </a></li>
                    <li><a href="https://equivalenza.com/it/perfumes/perfumes-hombre/">Profumi per uomo </a></li>
                </ul>
                <form id="eq-search" class="eq-search__form">
                    <fieldset>
                        <legend>Sei fedele al tuo profumo e sai quale numero ti definisce. <strong>Cercalo qui!</strong></legend>
                        <div class="eq-search__group">
                            <div class="eq-search__field">
                                <input class="form-control" id="searchperfume" name="search" placeholder="Il mio numero è..." type="search">
                                <div class="inner-addon right-addon spinsearchperf" style="display: none;">
                                    <i class="fa fa-spinner fa-pulse"></i>
                                </div>
                                <div class="inner-addon right-addon errorsearchperf" style="display: none; color: red;">
                                    <i class="fa fa-exclamation-circle"></i>
                                </div>
                            </div>
                            <button type="submit">Cerca</button>
                        </div>
                    </fieldset>
                </form>
                <p class="copy"><strong>Non sai quale scegliere?</strong> Non preoccuparti, ti aiuteremo a trovare il tuo profumo ideale.</p>
                {% include 'common/button-black.twig' with { href: 'https://equivalenza.com/it/buscador-perfumes/', text: 'SCOPRI IL TUO PROFUMO' } %}
            </div>
        </div>
    </div>
</section>
<!-- END: SEARCH -->

<!-- START: CATEGORIES -->
<section class="eq-section">
    <div class="eq-section__inner">
        <div class="eq-categories">
            <div class="eq-categories__inner">
                <a href="https://equivalenza.com/it/cosmetics/" class="eq-categories__item">
                    <img src="{{basePath}}{{lang}}/categorias-1.jpg" alt="" class="eq-categories__pic" />
                    <span class="title">VISO</span>
                </a>
                <a href="https://equivalenza.com/it/cosmetica/cuidado-corporal/" class="eq-categories__item">
                    <img src="{{basePath}}{{lang}}/categorias-2.jpg" alt="" class="eq-categories__pic" />
                    <span class="title">Corpo</span>
                </a>
                <a href="https://equivalenza.com/it/ambientacion/" class="eq-categories__item">
                    <img src="{{basePath}}{{lang}}/categorias-3.jpg" alt="" class="eq-categories__pic" />
                    <span class="title">Ambiente</span>
                </a>
                <a href="https://equivalenza.com/it/maquillaje/" class="eq-categories__item">
                    <img src="{{basePath}}{{lang}}/categorias-4.jpg" alt="" class="eq-categories__pic" />
                    <span class="title">Make-Up</span>
                </a>
                <a href="https://equivalenza.com/it/perfumes/" class="eq-categories__item">
                    <img src="{{basePath}}{{lang}}/categorias-5.jpg" alt="" class="eq-categories__pic" />
                    <span class="title">Profumi</span>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- END: CATEGORIES -->

{% include 'components/copy.twig' with {
    title: 'IL PIÙ VENDUTO',
    text: 'Questi sono i vostri preferiti!',
} %}

<!-- START: TOP VENTAS -->
<section class="eq-section eq-section--nopadding">
    <div class="eq-section__inner">
        <div class="eq-topsales">
            <div class="eq-topsales__item">{{ '{{block class="MGS\Mpanel\Block\Products\Attributes" mgs_panel_title="" mgs_panel_note="" limit="15" ratio="1" category_ids="298" attribute="mas_vendido" use_slider="1" loadmore="0" template="products/attribute/category-tabs.phtml" perrow="2" autoplay="1" stop_auto="1" navigation="1" pagination="0" number_row="1"}}' | escape }}</div>
            <div class="eq-topsales__item">{{ '{{block class="MGS\Mpanel\Block\Products\Attributes" mgs_panel_title="" mgs_panel_note="" limit="15" ratio="1" category_ids="320" attribute="mas_vendido" use_slider="1" loadmore="0" template="products/attribute/category-tabs.phtml" perrow="2" autoplay="1" stop_auto="1" navigation="1" pagination="0" number_row="1"}}' | escape }}</div>
            <div class="eq-topsales__item">{{ '{{block class="MGS\Mpanel\Block\Products\Attributes" mgs_panel_title="" mgs_panel_note="" limit="15" ratio="1" category_ids="385" attribute="mas_vendido" use_slider="1" loadmore="0" template="products/attribute/category-tabs.phtml" perrow="2" autoplay="1" stop_auto="1" navigation="1" pagination="0" number_row="1"}}' | escape }}</div>
        </div>
    </div>
</section>
<!-- END: TOP VENTAS -->

{% include 'components/copy.twig' with {
    title: 'NUOVA LINEA DI <span class="h">COSMETICA</span>',
    text: 'Sensoriale, naturale e sostenibile.',
} %}

{% include 'components/new-line.twig' with {
    slides: [
        {
            img: {
                src: 'slide-1.jpg',
                alt: '',
            },
            title: 'Pura allegria',
            copy: 'Texture fresche e rivitalizzanti con il potere e la luminosità della <span class="highlight" style="display:inline-block">VITAMINA C</span>.',
            link: {
                text: 'Vedi tutti i prodotti',
                href: 'https://equivalenza.com/it/cosmetica/ingrediente-emocion/alegria-radiante/',
            },
            products: [
                {
                    img: {
                        src: 'slide-1__1.jpg',
                        alt: '',
                    },
                    title: 'Crema leggera ringiovanente',
                    price: '15,90 €',
                    btn: {
                        text: 'Acquista',
                        href: 'https://equivalenza.com/it/catalog/product/view/id/4552/s/crema-ligera-rejuvenecedora/category/619/',
                    },
                },
                {
                    img: {
                        src: 'slide-1__3.jpg',
                        alt: '',
                    },
                    title: 'Pack di 5 fiale da 2 ml a base di Vitamina C e Proteoglicani',
                    price: '9,90 €',
                    btn: {
                        text: 'Acquista',
                        href: 'https://equivalenza.com/it/cosmetica/ingrediente-emocion/alegria-radiante/pack-de-5-ampollas-de-2ml-con-vitamina-c-y-proteoglicanos/',
                    },
                },
                {
                    img: {
                        src: 'slide-1__2.jpg',
                        alt: '',
                    },
                    title: 'Siero illuminante',
                    price: '13,90 €',
                    btn: {
                        text: 'Acquista',
                        href: 'https://equivalenza.com/it/catalog/product/view/id/4542/s/serum-iluminador/category/619/',
                    },
                },
            ]
        },
        {
            img: {
                src: 'slide-2.jpg',
                alt: '',
            },
            title: 'Energia vitale',
            copy: 'Prova la protezione e la vitalità dell\'<span class="highlight highlight--green">ALOE VERA</span> attraverso le sue texture leggere ed energizzanti.',
            link: {
                text: 'Vedi tutti i prodotti',
                href: 'https://equivalenza.com/it/cosmetica/ingrediente-emocion/energia-vital/',
            },
            products: [
                {
                    img: {
                        src: 'slide-2__1.jpg',
                        alt: '',
                    },
                    title: 'Crema esfoliante corpo detossificante',
                    price: '12,90 €',
                    btn: {
                        text: 'Acquista',
                        href: 'https://equivalenza.com/it/catalog/product/view/id/5895/s/crema-exfoliante-corporal-detoxificante/category/640/',
                    },
                },
                {
                    img: {
                        src: 'slide-2__2.jpg',
                        alt: '',
                    },
                    title: 'Roll-on Trattamento anticellulite idratante 75ml',
                    price: '10,40 €',
                    btn: {
                        text: 'Acquista',
                        href: 'https://equivalenza.com/it/cosmetica/ingrediente-emocion/energia-vital//roll-on-anticelulitico-detox-75ml/',
                    },
                },
                {
                    img: {
                        src: 'slide-2__3.jpg',
                        alt: '',
                    },
                    title: 'Detergente detossinante 3 in 1',
                    price: '7,90 €',
                    btn: {
                        text: 'Acquista',
                        href: 'https://equivalenza.com/it/catalog/product/view/id/4569/s/limpiador-detoxificante-3-en-1/category/640/',
                    },
                },
            ]
        },
        {
            img: {
                src: 'slide-3.jpg',
                alt: '',
            },
            title: 'Incantevole Seduzione',
            copy: 'Texture cremose e nutrienti che accentuano l\'intensità nutriente degli <span class="highlight highlight--purple" style="display:inline-block">OLI ELIXIR</span>.',
            link: {
                text: 'Vedi tutti i prodotti',
                href: 'https://equivalenza.com/it/cosmetica/ingrediente-emocion/seduccion-magnetica/',
            },
            products: [
                {
                    img: {
                        src: 'slide-3__1.jpg',
                        alt: '',
                    },
                    title: 'Olio da massaggio abbellente',
                    price: '10,90 €',
                    btn: {
                        text: 'Acquista',
                        href: 'https://equivalenza.com/it/catalog/product/view/id/5813/s/aceite-de-masaje-embellecedor/category/646/',
                    },
                },
                {
                    img: {
                        src: 'slide-3__2.jpg',
                        alt: '',
                    },
                    title: 'Crema setosa rassodante',
                    price: '15,90 €',
                    btn: {
                        text: 'Acquista',
                        href: 'https://equivalenza.com/it/catalog/product/view/id/4556/s/crema-sedosa-reafirmante/category/646/',
                    },
                },
                {
                    img: {
                        src: 'slide-3__3.jpg',
                        alt: '',
                    },
                    title: 'Contorno occhi rassodante',
                    price: '10,90 €',
                    btn: {
                        text: 'Acquista',
                        href: 'https://equivalenza.com/it/catalog/product/view/id/4567/s/contorno-de-ojos-reafirmante/category/646/',
                    },
                },
            ]
        },
        {
            img: {
                src: 'slide-4.jpg',
                alt: '',
            },
            title: 'Armonia Interiore',
            copy: 'Trova la calma con questa linea consolatoria che aumenta la forza fornita dall\'<span class="highlight highlight--blue">ACIDO IALURONICO</span>.',
            link: {
                text: 'Vedi tutti i prodotti',
                href: 'https://equivalenza.com/it/cosmetica/ingrediente-emocion/equilibrio-interior/',
            },
            products: [
                {
                    img: {
                        src: 'slide-4__1.jpg',
                        alt: '',
                    },
                    title: 'Burro esfoliante per il corpo equilibrante',
                    price: '12,90 €',
                    btn: {
                        text: 'Acquista',
                        href: 'https://equivalenza.com/it/catalog/product/view/id/5838/s/manteca-exfoliante-corporal-equilibrante/category/643/',
                    },
                },
                {
                    img: {
                        src: 'slide-4__2.jpg',
                        alt: '',
                    },
                    title: 'Crema doccia riconfortante',
                    price: '6,90 €',
                    btn: {
                        text: 'Acquista',
                        href: 'https://equivalenza.com/it/catalog/product/view/id/5816/s/crema-de-ducha-reconfortante/category/643/',
                    },
                },
                {
                    img: {
                        src: 'slide-4__3.jpg',
                        alt: '',
                    },
                    title: 'Siero ultraidratante aqua bomb',
                    price: '13,90 €',
                    btn: {
                        text: 'Acquista',
                        href: 'https://equivalenza.com/it/catalog/product/view/id/4564/s/serum-hidratante-aqua-bomb/category/643/',
                    },
                },
            ]
        },
    ]
} %}

<section class="eq-section eq-section--green">
    <div class="eq-section__inner">
        <div class="eq-sostenible">
            <div class="eq-sostenible__pic">
                <img src="{{basePath}}{{lang}}/sostenible.jpg" alt="" />
            </div>
            <div class="eq-sostenible__content">
                <p class="title">LA COSMETICA DEL FUTURO <span class="highlight">È SOSTENIBILE</span></p>
                <p class="subtitle">Ci prendiamo cura della tua pelle e dell’ambiente</p>
                <ul class="items">
                    <li>
                        <strong>NATURALE</strong>
                        <span>Fino al <strong>99% degli ingredienti sono di origine naturale</strong> e oltre l’80% delle formule sono adatte ai vegani.</span>
                    </li>
                    <li>
                        <strong>SOSTENIBILE</strong>
                        <span>Le innovative <strong>eco ricariche</strong> per le creme in vasetto <strong>riducono il consumo di plastica di quasi il 90% per ricarica</strong>.</span>
                    </li>
                </ul>
                {% include 'common/button-black.twig' with { href: 'https://equivalenza.com/it/cosmetica/', text: 'SCOPRI I COSMETICI SOSTENIBILI' } %}
            </div>
        </div>
    </div>
</section>

{% include 'components/copy.twig' with {
    title: 'CONSIGLIATECI',
    text: 'Ecco cosa dicono dei nostri prodotti',
} %}

{% include 'components/reviews.twig' with {
    items: [
        {
            product: {
                img: {
                    src: 'review-1.jpg',
                    alt: '',
                },
                name: 'Orientale Legnoso 033',
                rating: 5,
                href: 'https://equivalenza.com/it/catalog/product/view/id/3456/s/oriental-amaderado-033/category/540/',
            },
            review: {
                title: 'Top',
                text: 'Lo uso da anni ormai, buonissimo!',
                by: 'Recensione di Ilenia 24/02/22',
            },
        },
        {
            product: {
                img: {
                    src: 'review-2.jpg',
                    alt: '',
                },
                name: 'Chypre Floreale 054',
                rating: 5,
                href: 'https://equivalenza.com/it/perfumes/perfumes-mujer/alegria-radiante/chypre-floral-054/',
            },
            review: {
                title: 'Fantastico',
                text: 'È un profumo persistente e molto buono. Super soddisfatta.',
                by: 'Recensione di Leonia ANASTASIA 19/01/22',
            },
        },
        {
            product: {
                img: {
                    src: 'review-3.jpg',
                    alt: '',
                },
                name: 'Orientale Speziato 145',
                rating: 5,
                href: 'https://equivalenza.com/it/catalog/product/view/id/3624/s/oriental-especiado-145/',
            },
            review: {
                title: 'Ottimo!',
                text: 'Ottimo profumo, dura a lungo e quando lo metto ricevo complimenti.',
                by: 'Recensione di Mary 19/07/21',
            },
        },
        {
            product: {
                img: {
                    src: 'review-4.jpg',
                    alt: '',
                },
                name: 'Oud 283',
                rating: 5,
                href: 'https://equivalenza.com/it/perfumes/perfumes-hombre/equilibrio-interior/amaderado-ambarado-283-100ml/',
            },
            review: {
                title: 'Magnifico',
                text: 'Ho provato molti profumi a base oud più o meno costosi questo è uno dei più mettibili molto versatile e conveniente più maschile secondo me ma può andare bene anche su una donna magnifico profumo lo consiglio.',
                by: 'Recensione di Lorenzo 23/08/21',
            },
        },
        {
            product: {
                img: {
                    src: 'review-5.jpg',
                    alt: '',
                },
                name: 'Erbaceo Ambrato 251',
                rating: 5,
                href: 'https://equivalenza.com/it/catalog/product/view/id/4000/s/herbaceo-ambarado-251/category/541/',
            },
            review: {
                title: 'Bellissimo',
                text: 'Fenomenale, meraviglioso, unico nel suo genere.',
                by: 'Recensione di Ludovico D\'Alessandro 29/06/20',
            },
        },
        {
            product: {
                img: {
                    src: 'review-6.jpg',
                    alt: '',
                },
                name: 'Erbaceo Aromatico 305',
                rating: 5,
                href: 'https://equivalenza.com/it/perfumes/perfumes-hombre/energia-vital/seduccion-magnetica/herbaceo-aromatico-305/',
            },
            review: {
                title: 'Bellissimo',
                text: 'Ottimo profumo, intenso e inebriante.',
                by: 'Recensione di Marco 23/11/20',
            },
        },
        {
            product: {
                img: {
                    src: 'review-7.jpg',
                    alt: '',
                },
                name: 'Gel detergente micellare',
                rating: 5,
                href: 'https://equivalenza.com/it/cosmetica/cosmetics/limpieza-facial/gel-limpiador-micelar/',
            },
            review: {
                title: 'Prodotto ottimo',
                text: 'Prodotto davvero ottimo delicato e lascia la pelle pulita e liscia. Non brucia se accidentalmente tocca la parte oculare. Consigliatissimo e il profumo è delicato e fresco.',
                by: 'Recensione di Nietta 10/08/21',
            },
        },
        {
            product: {
                img: {
                    src: 'review-8.jpg',
                    alt: '',
                },
                name: 'Siero ultraidratante aqua bomb',
                rating: 5,
                href: 'https://equivalenza.com/it/cosmetica/cosmetics/serums/serum-hidratante-aqua-bomb/',
            },
            review: {
                title: 'Un ottimo siero!',
                text: 'Il siero si assorbe rapidamente. La grana della mia pelle è migliorata tantissimo, liscia compatta sofficissima e luminosa!',
                by: 'Recensione di Giulia 10/12/21',
            },
        },
        {
            product: {
                img: {
                    src: 'review-9.jpg',
                    alt: '',
                },
                name: 'Mikado Rainy Forest (iris e cedro)',
                rating: 5,
                href: 'https://equivalenza.com/it/ambientacion/hogar/mikados/mikado-rainy-forest-iris-y-cedro/',
            },
            review: {
                title: 'Ottimo prodotto',
                text: 'Ottimo prodotto,fresco ed elegante e da una sensazione di pulito. Lo adoro.',
                by: 'Recensione di ANNAMARIA 04/04/21',
            },
        },
    ],
} %}

<!-- START: EQUILOVERS -->
<section class="eq-section eq-section--pink">
    <div class="eq-section__inner">
        <div class="eq-equilovers">
            <img src="{{basePath}}{{lang}}/logo-equilovers.png" alt="" class="pic" />
            <div class="content">
                <p class="title">Il Beauty Club di Equivalenza</p>
                <p class="copy">Vogliamo essere vicini a te. Iscriviti al nostro club di bellezza e usufruisci di <strong>sconti, ricariche gratis</strong> e altri <strong>premi</strong>.</p>
            </div>
            {% include 'common/button-white.twig' with { href: 'https://equivalenza.com/it/equilovers/', text: 'DIVENTA EQUILOVER' } %}
        </div>
    </div>
</section>
<!-- END: EQUILOVERS -->

{% include 'components/footer-landing.twig' with {
    items: [
        {
            image: {
                src: 'footer-1.png',
                alt: '',
            },
            title: '<strong>98 persone su 100</strong> consiglierebbero Equivalenza ad un amico.',
        },
        {
            image: {
                src: 'footer-2.png',
                alt: '',
            },
            title: '<strong>4,8/5</strong> 38.000 recensioni di clienti reali',
        },
        {
            image: {
                src: 'footer-3.png',
                alt: '',
            },
            title: '<strong>+500.000</strong> famiglie usano Equivalenza quotidianamente',
        },
    ]
} %}

{% include 'components/ventajas.twig' with {
    items: [
        {
            image: {
                src: 'ventajas-1.png',
                alt: '',
            },
            label: '<strong>Pagamento sicuro</strong>',
        },
        {
            image: {
                src: 'ventajas-3.png',
                alt: '',
            },
            label: '<strong>Spedizione gratuita</strong> a partire da 29,95 €',
        },
        {
            image: {
                src: 'ventajas-4.png',
                alt: '',
            },
            label: '<strong>Attenzione personalizzata</strong>',
        },
    ]
} %} 

{% include 'components/popup-newsletter.twig' with {
    image: 'popup-newsletter-generic.jpg',
    title: 'OTTIENI UN 10% DI SCONTO!',
    text: [
        'Vuoi essere sempre aggiornato su tutte le nostre offerte e novità?',
        'Scopri la nostra <strong>newsletter</strong> ora e <strong>ottieni uno sconto del 10%</strong> sul tuo prossimo acquisto!'
    ],
    form: {
        inputPlaceholder: 'Email',
        button: 'RICEVERE IL MIO BUONO',
    },
    checkboxGroup: [
        {
            id: 'opt-out',
            label: 'Non mostrare più questo messaggio.',
            value: 'opt-out',
        },
    ]
} %}

{% include 'components/scripts-home-2022.twig' %}

{% endblock %}