{# home.twig #}
{% set lang="it" %}
{% set basePath='https://equivalenza.com/landings_media/images/home-xmas-2022/' %}

{% extends 'layouts/default.twig' %}

{% block meta %}
    {{ parent() }}
    <title>Home Xmas 2022 - IT</title>
{% endblock %}

{% block content %}

{% include 'components/css-home-xmas-2022.twig' %}

<!-- START: HERO -->
<section class="eq-section eq-section--nopadding">
    <div class="eq-section__inner">
        <div class="eq-xm-hero">
            <div class="eq-xm-hero__pic">
                {% include "common/image.twig" with {
                    alt: '',
                    src: 'magical-xmas/magical-christmas-20221207.png',
                    sizes: '100vw',
                    mobile: 'magical-xmas/res-magical-christmas.jpg'
                } %}
            </div>
            <div class="eq-xm-hero__wrapper">
                <div class="eq-xm-hero__content">
                    <img src="{{basePath}}{{lang}}/magical-xmas/logo-xmas.png" alt="Magical Christmas" class="logo" />
                    <p class="claim">Diffondi felicità e magia in questo periodo di festa</p>
                    <p class="text">Dai profumi esclusivi agli incredibili set di cosmetici naturali e di bellezza: trova il regalo perfetto dalla migliore selezione di idee e fai la differenza in questo periodo di festa.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END: HERO -->

<!-- START: IDEAS DE REGALO -->
<section class="eq-section eq-section--nopadding eq-section--xmas">
    <div class="eq-section__inner">
        <div class="eq-xm-ideas">
            <div class="eq-xm-ideas__header">
                <p class="title">Idee Regalo</p>
                <!-- <a href="#" class="more">Ver todos los regalos</a> -->
            </div>
            {% include "components/xmas-ideas.twig" with {
                className: 'eq-xm-ideas__cards--col3',
                cards: [
                    {
                        title: 'Per lei',
                        srcset: {
                            alt: '',
                            src: 'ideas/desktop-para-ella-IT-FR.jpg',
                            sizes: '100vw',
                            mobile: 'ideas/res-para-ella-2.jpg',
                        },
                        btn: {
                            text: 'Acquista',
                            href: 'https://equivalenza.com/it/magical-christmas/per-lei/',
                        }
                    },
                    {
                        title: 'Per lui',
                        srcset: {
                            alt: '',
                            src: 'ideas/desktop-para-el-IT-FR.jpg',
                            sizes: '100vw',
                            mobile: 'ideas/res-para-el-2.jpg',
                        },
                        btn: {
                            text: 'Acquista',
                            href: 'https://equivalenza.com/it/magical-christmas/per-lui/',
                        }
                    },
                    {
                        title: 'Cosmetica',
                        srcset: {
                            alt: '',
                            src: 'ideas/desktop-cosmetica-IT-FR.jpg',
                            sizes: '100vw',
                            mobile: 'ideas/res-cosmetica-2.jpg',
                        },
                        btn: {
                            text: 'Acquista',
                            href: 'https://equivalenza.com/it/magical-christmas/per-coccolarsi/',
                        }
                    },
                    {
                        title: 'Aromi',
                        srcset: {
                            alt: '',
                            src: 'ideas/desktop-aromatics-IT-FR.jpg',
                            sizes: '100vw',
                            mobile: 'ideas/res-aromatics-2.jpg',
                        },
                        btn: {
                            text: 'Acquista',
                            href: 'https://equivalenza.com/it/magical-christmas/per-lacasa/',
                        }
                    },
                    {
                        srcset: {
                            alt: '',
                            src: 'ideas/desktop-lessecrets-IT-FR.jpg',
                            sizes: '100vw',
                            mobile: 'ideas/res-lessecrets-2.jpg',
                        },
                        btn: {
                            text: 'Acquista',
                            href: 'https://equivalenza.com/it/magical-christmas/les-secrets/',
                        }
                    },
                    {
                        srcset: {
                            alt: '',
                            src: 'ideas/desktop-glow-joy-IT-FR.jpg',
                            sizes: '100vw',
                            mobile: 'ideas/res-glow-joy-2.jpg',
                        },
                        btn: {
                            text: 'Acquista',
                            href: 'https://equivalenza.com/it/magical-christmas/per-brillare/',
                        }
                    },
                ]
            } %}
        </div>
    </div>
</section>
{% include 'components/copy.twig' with {
    title: 'Regali magici',
    text: 'Set di bellezza e ambiente su misura e pronti da regalare',
} %}
<!-- END: IDEAS DE REGALO -->

<!-- START: LES SECRETS -->
<section class="eq-section eq-section--nopadding eq-section--les-secrets">
    <div class="eq-section__inner">
        {% include 'components/xmas-featured.twig' with {
            className: 'eq-xm-featured--les-secrets',
            images: {
                bg: 'les-secrets/les-secrets-bg-optim.jpg',
                bgRes: 'les-secrets/res-lesecrets-optim.jpg',
                title: 'les-secrets/les-secrets-logo.png',
                figure: 'les-secrets/les-secrets-producto-optim.png',
            },
            claim: 'REGALA ESCLUSIVITÀ AL MIGLIOR PREZZO',
            copy: 'Les Secrets. La collezione che farà la differenza.',
            link: {
                text: 'Scopri la nostra linea premium',
                href: 'https://equivalenza.com/pt/magical-christmas/les-secrets/',
            },
            products: [
                {
                    imgSrc: 'les-secrets/product-1-fixed.jpg',
                    title: 'Confezione Les Secrets - Profumo 50 ml + 100 ml',
                    price: '44,90',
                    btn: {
                        text: 'Acquista',
                        href: 'https://equivalenza.com/it/magical-christmas/les-secrets/pack-les-secrets-perfume-50-ml-100-ml/',
                    },
                },
                {
                    imgSrc: 'les-secrets/product-2.jpg',
                    title: 'Oud 283',
                    price: '21,90',
                    btn: {
                        text: 'Acquista',
                        href: 'https://equivalenza.com/it/perfumes/les-secrets/caf%C3%A9-985/',
                    },
                },
                                {
                    imgSrc: 'les-secrets/product-3.jpg',
                    title: 'Fleur d\'oranger 484',
                    price: '21,90',
                    btn: {
                        text: 'Acquista',
                        href: 'https://equivalenza.com/it/perfumes/les-secrets/fleur-oranger-484/',
                    },
                },
                {
                    imgSrc: 'les-secrets/product-4.jpg',
                    title: 'Vanille Noire 684',
                    price: '21,90',
                    btn: {
                        text: 'Acquista',
                        href: 'https://equivalenza.com/it/catalog/product/view/id/6547/s/cachemire-784-100ml/category/923/',
                    },
                },
                {
                    imgSrc: 'les-secrets/product-5.jpg',
                    title: 'Tonka 584',
                    price: '21,90',
                    btn: {
                        text: 'Acquista',
                        href: 'https://equivalenza.com/it/perfumes/les-secrets/oriental-tonka-584/',
                    },
                },
                {
                    imgSrc: 'les-secrets/product-6.jpg',
                    title: 'Cachemire 784',
                    price: '21,90',
                    btn: {
                        text: 'Acquista',
                        href: 'https://equivalenza.com/it/catalog/product/view/id/6071/s/cachemire-784-100ml/category/923/',
                    },
                },
                {
                    imgSrc: 'les-secrets/product-7.jpg',
                    title: 'Cuir 383',
                    price: '21,90',
                    btn: {
                        text: 'Acquista',
                        href: 'https://equivalenza.com/it/perfumes/les-secrets/cuero-especiado-383-100ml/',
                    },
                },
            ]
        } %}
    </div>
</section>
<!-- END: LES SECRETS -->

<!-- START: SEARCH -->
{% include 'components/copy.twig' with {
    title: 'SCOPRI EQUIVALENZA',
    text: 'Prodotti unici alla portata di tutti.',
} %}
<section class="eq-section eq-section--nopadding eq-section--search">
    <div class="eq-section__inner">
        <div class="eq-search">
            <div class="eq-search__pic">
                <img src="{{basePath}}{{lang}}/EQZ_01_shorter.jpg" alt="" />
            </div>
            <div class="eq-search__content">
                <p class="title">FRAGRANZE CHE PARLANO DI TE</p>
                <p class="copy">I nostri profumieri hanno creato più di 130 fragranze indimenticabili a partire da ingredienti di altissima qualità. Trova il tuo preferito nel nostro catalogo!</p>
                <ul class="links">
                    <li><a href="https://equivalenza.com/it/perfumes/perfumes-mujer/ ">Profumi per donna </a></li>
                    <li><a href="https://equivalenza.com/it/perfumes/perfumes-hombre/">Profumi per uomo </a></li>
                </ul>
                <form id="eq-search" class="eq-search__form">
                    <fieldset>
                        <legend>Sei fedele al tuo profumo e sai quale numero ti definisce. <strong>Cercalo qui!</strong></legend>
                        <div class="eq-search__group">
                            <div class="eq-search__field">
                                <input class="form-control" id="searchperfume" name="search" placeholder="Il mio numero è..." type="search">
                                <div class="inner-addon right-addon spinsearchperf" style="display: none;">
                                    <i class="fa fa-spinner fa-pulse"></i>
                                </div>
                                <div class="inner-addon right-addon errorsearchperf" style="display: none; color: red;">
                                    <i class="fa fa-exclamation-circle"></i>
                                </div>
                            </div>
                            <button type="submit">Cerca</button>
                        </div>
                    </fieldset>
                </form>
                <p class="copy"><strong>Non sai quale scegliere?</strong> Non preoccuparti, ti aiuteremo a trovare il tuo profumo ideale.</p>
                {% include 'common/button-black.twig' with { href: 'https://equivalenza.com/it/buscador-perfumes/', text: 'SCOPRI IL TUO PROFUMO' } %}
            </div>
        </div>
    </div>
</section>
<!-- END: SEARCH -->

<!-- START: NOVEDADES -->
{% include 'components/copy.twig' with {
    title: 'NOVITÀ LES SECRETS',
    text: 'Non perderti gli ultimi lanci!',
} %}
<section class="eq-section eq-section--nopadding-top">
    <div class="eq-section__inner">
        <div class="eq-new eq-slider owl-carousel">
            <div class="eq-new__item item">
                <a href="https://equivalenza.com/it/perfumes/les-secrets/"><img src="https://equivalenza.com/pub/media/wysiwyg/home_2022/Giorgia-Les-Secrets_5.jpg" alt="" /></a>
                <p class="title">3 NUOVI PROFUMI LES SECRETS</p>
                <p class="description">Marin, Bois d'or, Monoï... Esclusivi, intramontabili, indimenticabili...</p>
                {% include 'common/button-black.twig' with { href: 'https://equivalenza.com/it/perfumes/les-secrets/', text: 'SCROPIRE' } %}
            </div>
            <div class="eq-new__item item">
                <a href="https://equivalenza.com/it/perfumes/les-secrets/"><img src="https://equivalenza.com/pub/media/wysiwyg/home_2022/Mikados-Les-Secrets.jpg" alt="" /></a>
                <p class="title">MIKADO CAFÉ E CUIR</p>
                <p class="description">La tua fragranza preferita, ora per la tua casa. Due Mikado esclusivi che interpretano il delicato aroma del cuoio e del caffè sensuale.</p>
                {% include 'common/button-black.twig' with { href: 'https://equivalenza.com/it/perfumes/les-secrets/', text: 'PROVALI' } %}
            </div>
            <div class="eq-new__item item">
                <a href="https://equivalenza.com/it/perfumes/les-secrets/"><img src="https://equivalenza.com/pub/media/wysiwyg/home_2022/Les-Secrets-Aromatics.jpg" alt="" /></a>
                <p class="title">OLI IDROSOLUBILI PROFUMATI</p>
                <p class="description">Oli profumati per diffusore di aromi Les Secrets, ispirati ai nostri profumi esclusivi Café 984 e Cuir 383</p>
                {% include 'common/button-black.twig' with { href: 'https://equivalenza.com/it/perfumes/les-secrets/', text: 'ACQUISTA' } %}
            </div>
        </div>
    </div>
</section>
<!-- END: NOVEDADES -->

<!-- START: GLOW & JOY -->
<section class="eq-section eq-section--nopadding eq-section--glow-joy">
    <div class="eq-section__inner">
        {% include 'components/xmas-featured.twig' with {
            className: 'eq-xm-featured--glow-joy',
            images: {
                bg: 'glow-joy/glow-joy-bg-optim.jpg',
                bgRes: 'glow-joy/glow-joy-res-optim.jpg',
                title: 'glow-joy/glow-joy-logo.png',
                figure: 'glow-joy/glow-joy-girl-optim.png',
                product: 'glow-joy/glow-joy-product.png',
            },
            claim: 'Scopri il make-up che ti farà brillare questo Natale',
            link: {
                text: 'Nuova linea make-up: te ne innamorerai!',
                href: 'https://equivalenza.com/pt/magical-christmas/para-brilhar/',
            },
            products: [
                {
                    imgSrc: 'glow-joy/product-1.jpg',
                    title: 'Profumo 100 ml + Rossetto liquido + Illuminante',
                    price: '34,90',
                    btn: {
                        text: 'Acquista',
                        href: 'https://equivalenza.com/it/magical-christmas/per-brillare/pack-hidratacion-perfume-100-ml-crema-hidratante-2/',
                    },
                },
                {
                    imgSrc: 'glow-joy/product-2.jpg',
                    title: 'Eyeliner liquido + Mascara + Ombretto',
                    price: '21,90',
                    btn: {
                        text: 'Acquista',
                        href: 'https://equivalenza.com/it/magical-christmas/per-brillare/ojos-magicos-delineador-mascara-delineador-liquido-sombra/',
                    },
                },
            ]
        } %}
    </div>
</section>
<!-- END: GLOW & JOY -->

<!-- START: REVIEWS -->
{% include 'components/copy.twig' with {
    title: 'CONSIGLIATECI',
    text: 'Ecco cosa dicono dei nostri prodotti',
} %}

{% include 'components/reviews.twig' with {
    items: [
        {
            product: {
                img: {
                    src: 'review-1.jpg',
                    alt: '',
                },
                name: 'Orientale Legnoso 033',
                rating: 5,
                href: 'https://equivalenza.com/it/catalog/product/view/id/3456/s/oriental-amaderado-033/category/540/',
            },
            review: {
                title: 'Top',
                text: 'Lo uso da anni ormai, buonissimo!',
                by: 'Recensione di Ilenia 24/02/22',
            },
        },
        {
            product: {
                img: {
                    src: 'review-2.jpg',
                    alt: '',
                },
                name: 'Chypre Floreale 054',
                rating: 5,
                href: 'https://equivalenza.com/it/perfumes/perfumes-mujer/alegria-radiante/chypre-floral-054/',
            },
            review: {
                title: 'Fantastico',
                text: 'È un profumo persistente e molto buono. Super soddisfatta.',
                by: 'Recensione di Leonia ANASTASIA 19/01/22',
            },
        },
        {
            product: {
                img: {
                    src: 'review-3.jpg',
                    alt: '',
                },
                name: 'Orientale Speziato 145',
                rating: 5,
                href: 'https://equivalenza.com/it/catalog/product/view/id/3624/s/oriental-especiado-145/',
            },
            review: {
                title: 'Ottimo!',
                text: 'Ottimo profumo, dura a lungo e quando lo metto ricevo complimenti.',
                by: 'Recensione di Mary 19/07/21',
            },
        },
        {
            product: {
                img: {
                    src: 'review-4.jpg',
                    alt: '',
                },
                name: 'Oud 283',
                rating: 5,
                href: 'https://equivalenza.com/it/perfumes/perfumes-hombre/equilibrio-interior/amaderado-ambarado-283-100ml/',
            },
            review: {
                title: 'Magnifico',
                text: 'Ho provato molti profumi a base oud più o meno costosi questo è uno dei più mettibili molto versatile e conveniente più maschile secondo me ma può andare bene anche su una donna magnifico profumo lo consiglio.',
                by: 'Recensione di Lorenzo 23/08/21',
            },
        },
        {
            product: {
                img: {
                    src: 'review-5.jpg',
                    alt: '',
                },
                name: 'Erbaceo Ambrato 251',
                rating: 5,
                href: 'https://equivalenza.com/it/catalog/product/view/id/4000/s/herbaceo-ambarado-251/category/541/',
            },
            review: {
                title: 'Bellissimo',
                text: 'Fenomenale, meraviglioso, unico nel suo genere.',
                by: 'Recensione di Ludovico D\'Alessandro 29/06/20',
            },
        },
        {
            product: {
                img: {
                    src: 'review-6.jpg',
                    alt: '',
                },
                name: 'Erbaceo Aromatico 305',
                rating: 5,
                href: 'https://equivalenza.com/it/perfumes/perfumes-hombre/energia-vital/seduccion-magnetica/herbaceo-aromatico-305/',
            },
            review: {
                title: 'Bellissimo',
                text: 'Ottimo profumo, intenso e inebriante.',
                by: 'Recensione di Marco 23/11/20',
            },
        },
        {
            product: {
                img: {
                    src: 'review-7.jpg',
                    alt: '',
                },
                name: 'Gel detergente micellare',
                rating: 5,
                href: 'https://equivalenza.com/it/cosmetica/cosmetics/limpieza-facial/gel-limpiador-micelar/',
            },
            review: {
                title: 'Prodotto ottimo',
                text: 'Prodotto davvero ottimo delicato e lascia la pelle pulita e liscia. Non brucia se accidentalmente tocca la parte oculare. Consigliatissimo e il profumo è delicato e fresco.',
                by: 'Recensione di Nietta 10/08/21',
            },
        },
        {
            product: {
                img: {
                    src: 'review-8.jpg',
                    alt: '',
                },
                name: 'Siero ultraidratante aqua bomb',
                rating: 5,
                href: 'https://equivalenza.com/it/cosmetica/cosmetics/serums/serum-hidratante-aqua-bomb/',
            },
            review: {
                title: 'Un ottimo siero!',
                text: 'Il siero si assorbe rapidamente. La grana della mia pelle è migliorata tantissimo, liscia compatta sofficissima e luminosa!',
                by: 'Recensione di Giulia 10/12/21',
            },
        },
        {
            product: {
                img: {
                    src: 'review-9.jpg',
                    alt: '',
                },
                name: 'Mikado Rainy Forest (iris e cedro)',
                rating: 5,
                href: 'https://equivalenza.com/it/ambientacion/hogar/mikados/mikado-rainy-forest-iris-y-cedro/',
            },
            review: {
                title: 'Ottimo prodotto',
                text: 'Ottimo prodotto,fresco ed elegante e da una sensazione di pulito. Lo adoro.',
                by: 'Recensione di ANNAMARIA 04/04/21',
            },
        },
    ],
} %}
<!-- END: REVIEWS -->

<!-- START: ICONS -->
{% include 'components/copy.twig' with {
    text: 'In Equivalenza disegniamo prodotti di <strong>massima qualità</strong>, realizzati con <strong>ingredienti naturali</strong>, rispettosi dell\'ambiente e a prezzi molto <strong>accessibili</strong>.',
} %}

{% include 'components/icon-gallery.twig' with {
    items: [
        {
            icon: 'icon-1.png',
            label: 'Confezione riutilizzabile',
        },
        {
            icon: 'icon-2.png',
            label: 'Ecodesign: imballaggio minimo',
        },
        {
            icon: 'icon-3.png',
            label: 'Ingredienti di origine naturale',
        },
        {
            icon: 'icon-4.png',
            label: 'Formule adatte ai vegani',
        },
        {
            icon: 'icon-5.png',
            label: 'Ci mettiamo in contatto con le tue emozioni',
        },
        {
            icon: 'icon-6.png',
            label: 'Non effettuiamo test sugli animali',
        },
    ],
} %}
<!-- END: ICONS -->

<!-- START: EQUILOVERS -->
<section class="eq-section eq-section--pink">
    <div class="eq-section__inner">
        <div class="eq-equilovers">
            <img src="{{basePath}}{{lang}}/logo-equilovers.png" alt="" class="pic" />
            <div class="content">
                <p class="title">Il Beauty Club di Equivalenza</p>
                <p class="copy">Vogliamo essere vicini a te. Iscriviti al nostro club di bellezza e usufruisci di <strong>sconti, ricariche gratis</strong> e altri <strong>premi</strong>.</p>
            </div>
            {% include 'common/button-white.twig' with { href: 'https://equivalenza.com/it/equilovers/', text: 'DIVENTA EQUILOVER' } %}
        </div>
    </div>
</section>
<!-- END: EQUILOVERS -->

<!-- START: FOOTER -->
{% include 'components/footer-landing.twig' with {
    items: [
        {
            image: {
                src: 'footer-1.png',
                alt: '',
            },
            title: '<strong>98 persone su 100</strong> consiglierebbero Equivalenza ad un amico.',
        },
        {
            image: {
                src: 'footer-2.png',
                alt: '',
            },
            title: '<strong>4,8/5</strong> 38.000 recensioni di clienti reali',
        },
        {
            image: {
                src: 'footer-3.png',
                alt: '',
            },
            title: '<strong>+500.000</strong> famiglie usano Equivalenza quotidianamente',
        },
    ]
} %}

{% include 'components/ventajas.twig' with {
    items: [
        {
            image: {
                src: 'ventajas-1.png',
                alt: '',
            },
            label: '<strong>Pagamento sicuro</strong>',
        },
        {
            image: {
                src: 'ventajas-3.png',
                alt: '',
            },
            label: '<strong>Spedizione gratuita</strong> a partire da 29,95 €',
        },
        {
            image: {
                src: 'ventajas-4.png',
                alt: '',
            },
            label: '<strong>Attenzione personalizzata</strong>',
        },
    ]
} %} 
<!-- END: FOOTER -->

{% include 'components/popup-newsletter.twig' with {
    image: 'popup-newsletter-generic.jpg',
    title: 'OTTIENI UN 10% DI SCONTO!',
    text: [
        'Vuoi essere sempre aggiornato su tutte le nostre offerte e novità?',
        'Scopri la nostra <strong>newsletter</strong> ora e <strong>ottieni uno sconto del 10%</strong> sul tuo prossimo acquisto!'
    ],
    form: {
        inputPlaceholder: 'Email',
        button: 'RICEVERE IL MIO BUONO',
    },
    checkboxGroup: [
        {
            id: 'opt-out',
            label: 'Non mostrare più questo messaggio.',
            value: 'opt-out',
        },
    ]
} %}

{% include 'components/scripts-home-xmas-2022.twig' %}

{% endblock %}