{# gracias-por-participar.twig #}
{% extends 'layouts/default-blocks.twig' %}
{% set lang="it" %}

{% block meta %}
    {{ parent() }}
    <title>Gracias por participar</title>
{% endblock %}

{% block content %}

    {% include 'components/css-landing-italia.twig' %}
    {% include 'components/header-italia.twig' %}

    <section class="eq-section">
        <div class="eq-section__inner">
            <div class="eq-it-gracias">
                {% include 'common/icon-gift.twig' %}
                <p class="eq-it-gracias__title">
                    <span>IL TUO SCONTO È QUI!</span>
                    <span>Inizia il tuo viaggio olfattivo</span>
                </p>
                <hr class="eq-it-gracias__divider" />
                <p class="eq-it-gracias__copy">Entra, esplora, immagina e divertiti con il mondo Equivalenza</p>
                <p  class="eq-it-gracias__follow">Ti aspettiamo su <a href="https://www.instagram.com/equivalenzait" target="_blank" rel="noopener noreferrer">@equivalenzait</a></p>
            </div><!-- /.eq-it-gracias -->  
        </div><!-- /.eq-section__inner -->
    </section><!-- /.eq-section -->

    {% include 'components/footer-italia.twig' %}
    {% include 'components/scripts-landing-italia.twig' %}
{% endblock %}

