{# landing-cosmetica.twig #}
{% extends 'layouts/default.twig' %}
{% set lang="it" %}

{% block meta %}
    {{ parent() }}
    <title>Landing Cosmetica</title>
{% endblock %}

{% block content %}

{% include 'components/hero.twig' with {
    items: [
        {
            title: '<em>NUOVA LINEA</em> COSMETICA PER IL CORPO',
            text: 'Sensoriale, naturale<br />e sostenibile',
            srcset: {
                alt: '',
                src: 'cosmetica-hero-1-IT-FR.png',
                sizes: '100vw',
                mobile: 'cosmetica-hero-1-mobile-IT-FR.png'
            },
            button: {
                href: 'https://equivalenza.com/it/cosmetica/cuidado-corporal/',
                text: 'VIENI A SCOPRIRLA',
            },
        },        
        {
            title: 'COSMETICA PER IL VISO',
            text: 'Cosmetici naturali pensati per te',
            srcset: {
                alt: '',
                src: 'cosmetica-hero-2-IT-FR.png',
                sizes: '100vw',
                mobile: 'cosmetica-hero-2-mobile-IT-FR.png'
            },
            button: {
                href: 'https://equivalenza.com/it/cosmetics/',
                text: 'VIENI A SCOPRIRLA',
            },
        },        
        {
            title: '<em>NUOVA LINEA</em> PRENDITI CURA DEL PIANETA',
            text: 'Riutilizza le tue confezioni',
            srcset: {
                alt: '',
                src: 'cosmetica-hero-3-IT-FR.png',
                sizes: '100vw',
                mobile: 'cosmetica-hero-3-mobile-IT-FR.png'
            },
            button: {
                href: 'https://equivalenza.com/it/cosmetica/cuidado-corporal/#refill',
                text: 'SCOPRI LE RICARICHE ECO',
            },
        },        
    ]
} %}

{% include 'components/copy.twig' with {
    text: 'Cosmetici con ingredienti di <strong>origine naturale</strong> che <strong>si prendono cura del pianeta</strong> e della <strong>tua pelle</strong>.<br />Cosmetici <strong>pensati per te</strong>.',
} %}

{% include 'components/icon-gallery.twig' with {
    items: [
        {
            icon: 'icon-1.png',
            label: 'Confezione riutilizzabile',
        },
        {
            icon: 'icon-2.png',
            label: 'Ecodesign: imballaggio minimo',
        },
        {
            icon: 'icon-3.png',
            label: 'Ingredienti di origine naturale',
        },
        {
            icon: 'icon-4.png',
            label: 'Formule adatte ai vegani',
        },
        {
            icon: 'icon-5.png',
            label: 'Ci mettiamo in contatto con le tue emozioni',
        },
    ],
} %}

{% include 'components/categorias.twig' with {
    items: [
        {
            className: 'grey',
            title: 'Coccola il tuo corpo, prenditi cura della tua pelle',
            srcset: {
                alt: '',
                src: 'categoria-1.png',
                sizes: '100vw',
                mobile: 'categoria-1-mobile.png'
            },
            items: [
                {
                    image: {
                        src: '300x300_Geles_Bano.jpg',
                        alt: '',
                    },
                    label: 'Bagnischiuma',
                    href: 'https://equivalenza.com/it/cosmetica/cuidado-corporal/gel-de-bano',
                },
                {
                    image: {
                        src: '300x300_Hidratantes.jpg',
                        alt: '',
                    },
                    label: 'Idratante',
                    href: 'https://equivalenza.com/it/cosmetica/cuidado-corporal/idratanti',
                },
                {
                    image: {
                        src: '300x300_Exfoliantes.jpg',
                        alt: '',
                    },
                    label: 'ESFOLIANTI',
                    href: 'https://equivalenza.com/it/cosmetica/cuidado-corporal/esfolianti',
                },
                {
                    image: {
                        src: '300x300_Tratamientos.jpg',
                        alt: '',
                    },
                    label: 'TRATTAMENTI',
                    href: 'https://equivalenza.com/it/cosmetica/cuidado-corporal/trattamenti',
                },
                {
                    image: {
                        src: '300x300_Desodorantes.jpg',
                        alt: '',
                    },
                    label: 'DEODORANTI',
                    href: 'https://equivalenza.com/it/cosmetica/cuidado-corporal/deodoranti',
                },
                {
                    image: {
                        src: '300x300_Crema_Manos.jpg',
                        alt: '',
                    },
                    label: 'CREMA PER LE MANI',
                    href: 'https://equivalenza.com/it/cosmetica/cuidado-corporal/creme-per-le-mani',
                },
                {
                    image: {
                        src: '300x300_Crema_Pies.jpg',
                        alt: '',
                    },
                    label: 'CREMA PER I PIEDI',
                    href: 'https://equivalenza.com/it/cosmetica/cuidado-corporal/creme-per-i-piedi',
                },
                {
                    image: {
                        src: '300x300_Limpieza_Manos.jpg',
                        alt: '',
                    },
                    label: 'DETERGENTE PER LE MANI',
                    href: 'https://equivalenza.com/it/cosmetica/cuidado-corporal/pulizia-delle-mani',
                },
                {
                    image: {
                        src: '300x300_Body_mist.jpg',
                        alt: '',
                    },
                    label: 'Body Mist',
                    href: 'https://equivalenza.com/it/cosmetica/cuidado-corporal/body-mist/ ',
                },
                {
                    image: {
                        src: '300x300_Black_Label.jpg',
                        alt: '',
                    },
                    label: 'Black Label',
                    href: 'https://equivalenza.com/it/cosmetica/cuidado-corporal/black-label/ ',
                },
                {
                    image: {
                        src: '300x300_Les_Secrets.jpg',
                        alt: '',
                    },
                    label: 'Les Secrets',
                    href: 'https://equivalenza.com/it/cosmetica/cuidado-corporal/les-secrets/',
                },
                {
                    image: {
                        src: '300x300_Accesorios_Corporal.jpg',
                        alt: '',
                    },
                    label: 'Accessori',
                    href: 'https://equivalenza.com/it/cosmetica/cuidado-corporal/accessori',
                },
            ]
        },
        {
            className: 'brown',
            title: 'Fai risplendere il tuo viso, prenditi cura della tua pelle',
            srcset: {
                alt: '',
                src: 'categoria-2.png',
                sizes: '100vw',
                mobile: 'categoria-2-mobile.png'
            },
            items: [
                {
                    image: {
                        src: '300x300_Limpieza_facial.jpg',
                        alt: '',
                    },
                    label: 'Pulizia',
                    href: 'https://equivalenza.com/it/cosmetica/cuidado-facial/limpieza-facial/',
                },
                {
                    image: {
                        src: '300x300_Exfoliante_facial.jpg',
                        alt: '',
                    },
                    label: 'ESFOLIANTI',
                    href: 'https://equivalenza.com/it/cosmetica/cuidado-facial/exfoliantes-faciales/',
                },
                {
                    image: {
                        src: '300x300_Mascarillas.jpg',
                        alt: '',
                    },
                    label: 'MASCHERE',
                    href: 'https://equivalenza.com/it/mascarillas/ ',
                },
                {
                    image: {
                        src: '300x300_Contorno_Ojos.jpg',
                        alt: '',
                    },
                    label: 'CONTORNO OCCHI',
                    href: 'https://equivalenza.com/it/cosmetica/cuidado-facial/contornos-de-ojos/',
                },
                {
                    image: {
                        src: '300x300_Serums.jpg',
                        alt: '',
                    },
                    label: 'SIERI',
                    href: 'https://equivalenza.com/it/cosmetica/cuidado-facial/serums/',
                },
                {
                    image: {
                        src: '300x300_Crema_hidratante.jpg',
                        alt: '',
                    },
                    label: 'CREMA<br>IDRATANTE',
                    href: 'https://equivalenza.com/it/cosmetica/cuidado-facial/cremas-hidratantes/',
                },
                {
                    image: {
                        src: '300x300_Antiarrugas.jpg',
                        alt: '',
                    },
                    label: 'CREMA<br>ANTIRUGHE',
                    href: 'https://equivalenza.com/it/cosmetica/cuidado-facial/cremas-antiarrugas/',
                },
                {
                    image: {
                        src: '300x300_Bruma_facial.jpg',
                        alt: '',
                    },
                    label: 'MIST PER<br>IL VISO',
                    href: 'https://equivalenza.com/it/cosmetica/cuidado-facial/bruma-facial/',
                },
                {
                    image: {
                        src: '300x300_Accesorios_Facial.jpg',
                        alt: '',
                    },
                    label: 'ACCESSORI',
                    href: 'https://equivalenza.com/it/cosmetica/cuidado-facial/accessori',
                },
            ]
        },
    ]
} %}

{% include 'components/copy.twig' with {
    title: 'Metti in contatto la tua pelle con le tue emozioni',
    text: 'Immergiti nel mondo delle emozioni positive attraverso le texture, le fragranze e gli ingredienti principali dei nostri cosmetici.',
} %}

{% include 'components/emociones.twig' with {
    className: 'eq-section--nopadding-xs',
    items: [
        {
            image: {
                src: 'emociones-1.png',
                alt: '',
            },
            title: 'PURA ALLEGRIA',
            text: 'Texture fresche e rivitalizzanti con il potere e la luminosità della <strong>VITAMINA C</strong>.',
            button: {
                text: 'VEDI TUTTI I PRODOTTI',
                href: 'https://equivalenza.com/it/cosmetica/ingrediente-emocion/alegria-radiante/',
            },
            className: 'alegria-radiante',
        },
        {
            image: {
                src: 'emociones-2.png',
                alt: '',
            },
            title: 'ENERGIA VITALE',
            text: 'Prova la protezione e la vitalità dell\'<strong>ALOE VERA</strong> attraverso le sue texture leggere ed energizzanti.',
            button: {
                text: 'VEDI TUTTI I PRODOTTI',
                href: 'https://equivalenza.com/it/cosmetica/ingrediente-emocion/energia-vital/',
            },
            className: 'energia-vital',
        },
        {
            image: {
                src: 'emociones-3.png',
                alt: '',
            },
            title: 'INCANTEVOLE SEDUZIONE',
            text: 'Texture cremose e nutrienti che accentuano l\'intensità nutriente degli <strong>OLI ELIXIR</strong>.',
            button: {
                text: 'VEDI TUTTI I PRODOTTI',
                href: 'https://equivalenza.com/it/cosmetica/ingrediente-emocion/seduccion-magnetica/',
            },
            className: 'seduccion-magnetica',
        },
        {
            image: {
                src: 'emociones-4.png',
                alt: '',
            },
            title: 'ARMONIA INTERIORE',
            text: 'Trova la calma con questa linea consolatoria che aumenta la forza fornita dall\'<strong>ACIDO IALURONICO</strong>.',
            button: {
                text: 'VEDI TUTTI I PRODOTTI',
                href: 'https://equivalenza.com/it/cosmetica/ingrediente-emocion/equilibrio-interior/',
            },
            className: 'equilibrio-interior',
        },
    ]
} %}

{% include 'components/refill.twig' with {
    className: 'eq-refill--single',
    items: [
        {
            srcset: {
                alt: '',
                src: 'sistema_refill_single.png',
                sizes: '100vw',
                mobile: 'sistema_refill_single-mobile.png'
            },
            title: '<strong>SISTEMA REFILL</strong> Più economico, più ecologico',
            text: '<strong>Scopri il nostro sistema<br>innovatore di ricariche eco:</strong>',
            list: [
                '<strong>90%</strong> in meno di plastica',
                '<strong>Risparmia tra 1,50 € e 3 €</strong> su ogni ricarica!',
            ],
        },
    ]
} %}

{% include 'components/best-sellers.twig' with {
    title: 'VEDI TUTTI I PRODOTTI',
    content: '{{block class="MGS\Mpanel\Block\Products\Attributes" mgs_panel_title="" mgs_panel_note="" limit="15" ratio="1" category_ids="2066,2177,2181,1490,2065,1485" attribute="mas_vendido" use_slider="1" loadmore="0" template="products/attribute/category-tabs.phtml" perrow="4" autoplay="1" stop_auto="1" navigation="1" pagination="0" number_row="1"}}',
} %}

{% include 'components/footer-landing.twig' with {
    items: [
        {
            image: {
                src: 'footer-1.png',
                alt: '',
            },
            title: '<strong>98 persone su 100</strong> consiglierebbero Equivalenza ad un amico.',
        },
        {
            image: {
                src: 'footer-2.png',
                alt: '',
            },
            title: '<strong>4,8/5</strong> 38.000 recensioni di clienti reali.',
        },
        {
            image: {
                src: 'footer-3.png',
                alt: '',
            },
            title: '<strong>+500.000</strong> famiglie usano Equivalenza quotidianamente.',
        },
    ]
} %}

{% include 'components/ventajas.twig' with {
    items: [
        {
            image: {
                src: 'ventajas-1.png',
                alt: '',
            },
            label: '<strong>Pagamento sicuro</strong>',
        },
        {
            image: {
                src: 'ventajas-3.png',
                alt: '',
            },
            label: '<strong>Spedizione gratuita</strong> a partire da 39,90 €
',
        },
        {
            image: {
                src: 'ventajas-4.png',
                alt: '',
            },
            label: '<strong>Attenzione personalizzata</strong>',
        },
    ]
} %}

{% include 'components/scripts-landings-cosmetica.twig' %}

{% endblock %}
