{# landing-giorgiapalmas.twig #}
{% extends 'layouts/default-no-cro.twig' %}
{% set lang="it" %}
{% set basePath='https://equivalenza.com/landings_media/images/giorgia-palmas/' %}

{% block meta %}
    {{ parent() }}
    <title>Landing Giorgia Palmas</title>
{% endblock %}

{% block content %}

{% include 'components/css-landing-giorgiapalmas-2.twig' %}

<!-- START: HERO -->
<div class="eq-section eq-section--nopadding">
    <div class="eq-section__inner">
        <div class="eq-giorgia-hero">
            <div class="eq-giorgia-hero__pic">
                {% include "common/image.twig" with {
                    alt: '',
                    src: 'hero-giorgia-20230215.jpg',
                    sizes: '100vw',
                    mobile: 'hero-giorgia-20230215--mobile.jpg'
                } %}
            </div>
            <div class="eq-giorgia-hero__content">
                <p class="title">
                    <strong>Giorgia</strong>
                    <span>Palmas</span>
                </p>
                <p class="text">per Equivalenza</p>
                <div class="actions">
                    {% include 'common/button-black.twig' with {
                        text: 'Scopri i suoi preferiti',
                        href: '#favoritos',
                    } %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: HERO -->



{% include 'components/copy.twig' with {
    className: 'eq-giorgia-favoritos',
    title: 'Scopri i 3 prodotti top che Giorgia ha scelto e di cui
non può più fare a meno!',
    text: 'Fai come Giorgia Palmas e lasciati sedurre dal profumato mondo Equivalenza.',
    id: 'favoritos',
} %}

<!-- START: PRODUCTOS -->
<div class="eq-section eq-section--nopadding-bottom eq-section--nopadding-top">
    <div class="eq-section__inner">
        <div class="eq-giorgia-products eq-slider owl-carousel">
            <div class="eq-giorgia-products__item item">
                <img src="{{basePath}}{{lang}}/producto-1-monoi-710.jpg" alt="" class="pic" />
                <div class="content">
                    <p class="title">Monoi 710 100 ml</p>
                    <p class="text">Il profumo inebriante della gardenia tahitensis ornato da una ghirlanda di intensi e dolci fiori di gelsomino, ylang-ylang esotico e rose.</p>
                    <p class="price">29,90 €</p>
                    <a href="https://equivalenza.com/it/monoi-710/" class="btn">Provami</a>
                </div>
            </div>
            <!-- /.item -->
            <div class="eq-giorgia-products__item item">
                <img src="{{basePath}}{{lang}}/producto-2.jpg" alt="" class="pic" />
                <div class="content">
                    <p class="title">Mikado Black Vainilla 200 ml</p>
                    <p class="text">Sentori di cuoio e vaniglia si fondono in un’esperienza sensoriale inebriante.</p>
                    <p class="price">24,90 €</p>
                    <a href="https://equivalenza.com/it/catalog/product/view/id/5146/s/mikado-black-vainilla-vainilla-y-cuero/category/310/" class="btn">Provami</a>
                </div>
            </div>
            <!-- /.item -->
            <div class="eq-giorgia-products__item item">
                <img src="{{basePath}}{{lang}}/producto-3.jpg" alt="" class="pic" />
                <div class="content">
                    <p class="title">Crema sedosa rassodante 50 ml</p>
                    <p class="text">Con oli elixir e ibisco, ammorbidisce le linee di espressione e le rughe, esaltando la bellezza naturale del tuo viso.</p>
                    <p class="price">15,90 €</p>
                    <a href="https://equivalenza.com/it/cosmetica/cosmetics/cremas-antiarrugas/crema-sedosa-reafirmante/" class="btn">Provami</a>
                </div>
            </div>
            <!-- /.item -->
        </div>        
    </div>
</div>
<!-- END: PRODUCTOS -->

<!-- START: GIORGIA -->
<div class="eq-section eq-section--nopadding-xs">
    <div class="eq-section__inner">
        <div class="eq-giorgia">
            <div class="eq-giorgia__pic"><img src="{{basePath}}{{lang}}/giorgia.jpg" alt="Giorgia Palmas" /></div>
            <p class="eq-giorgia__copy">
                La bellezza è dentro di te.<br />
                Giorno dopo giorno,<br />
                ricordati di splendere!
            </p>
        </div>
    </div>
</div>
<!-- END: GIORGIA -->

<!-- START: SUBSCRIBE FORM -->
<div class="eq-section eq-section--salmon">
    <div class="eq-section__inner">
        <div class="eq-giorgiaform">
            <p class="eq-giorgiaform__title">Vuoi saperne di più su Equivalenza e Giorgia?</p>
            <form class="eq-giorgiaform__form" novalidate="novalidate" action="https://equivalenza.com/it/subscribe/" method="get" id="eq-giorgiaform-form">
                <input type="hidden" name="referer" value="giorgiapalmas">
                <input name="email" type="email" id="email" placeholder="Email">
                <button type="submit">Iscriviti</button>       
            </form> 
        </div>
    </div>
</div>
<!-- END: SUBSCRIBE FORM -->

{% include 'components/scripts-landing-giorgiapalmas.twig' %}

{% endblock %}