{# landing-chi-siamo.twig #}
{% extends 'layouts/default-no-cro.twig' %}
{% set lang="it" %}
{% set basePath='https://equivalenza.com/landings_media/images/chi-siamo/' %}

{% block meta %}
    {{ parent() }}
    <title>Landing Chi Siamo</title>
{% endblock %}

{% block content %}

{% include 'components/css-landing-chi-siamo-2.twig' %}

<!-- START: HERO -->
<div class="eq-section eq-section--nopadding eq-section--beige">
    <div class="eq-section__inner">
        <div class="eq-cs-hero">
            <div class="eq-cs-hero__video" data-toggle="modal" data-target="#videoModal" data-theVideo="http://www.youtube.com/embed/y_ysWH09yFs">
                {% include "common/image.twig" with {
                    alt: '',
                    src: 'hero-video.jpg',
                    sizes: '100vw',
                    mobile: 'hero-video--mobile.jpg'
                } %}
            </div>
            <div class="eq-cs-hero__content">
                <p>
                    <strong>Per Equivalenza la bellezza è un diritto essenziale.</strong><br> 
                    Sin dalla nostra nascita nel 2011, siamo il brand che ha rivoluzionato la bellezza, per sempre. Rendiamo democratico il mondo della profumeria, cosmetica e benessere attraverso un'offerta <strong>accessibile</strong>, di <strong>qualità</strong>, <strong>innovativa</strong> e un grande impegno per la <strong>sostenibilità</strong>, stabilendo una relazione <strong>stretta, onesta e personale con i nostri clienti</strong>. Crediamo che il <strong>meglio</strong> debba essere sempre più alla portata delle <strong>persone</strong>. <strong>Questo è il nostro proposito</strong>.
                </p>
                <p id="more" style="display: none">
                    Immaginiamo un mondo in cui la profumeria, la cosmetica e il benessere siano più vicini e più incentrati sul consumatore, dando vita a prodotti nati dalle sue reali esigenze.<br>
                    Crediamo in una bellezza <strong>democratica. Essenziale. Accessibile. Umana.</strong><br>
                    La nostra <strong>missione</strong> è essere al <strong>tuo fianco, senza dimenticarci del Pianeta</strong>.
                    Superiamo le barriere e accorciamo le distanze per guidarti alla ricerca della tua bellezza concentrandoci su ciò che è <strong>essenziale per te: questa è l'essenza di Equivalenza</strong>.
                </p>
                <a href="#more" class="toggle">Sopri di più</a>
            </div>
            <div class="modal fade" id="videoModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div id="iframeContainer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: HERO -->

<!-- START: MANIFESTO -->
<div class="eq-section">
    <div class="eq-section__inner">
        <div class="eq-cs-manifesto">
            <img src="{{basePath}}{{lang}}/logo-manifesto.png" alt="Manifesto" class="eq-cs-manifesto__logo--manifesto" />
            <div class="eq-cs-manifesto__copy">
                <p>Cos'è essenziale? Essenziale è così com’è, per come sei tu.</p> 
                <p>No agli eccessi. No agli ingredienti magici, sì a quelli che funzionano.</p>
                <p>No alle promesse irraggiungibili, sì alla qualità a prezzi intelligenti.</p>
                <p>Nessuna barriera, ma qualcuno che sta dalla tua parte.</p>
                <p>Essenziale è il tuo corpo che sa di cosa ha bisogno.</p>
                <p>Profumi. Cosmetica. Benessere.</p>
                <p>La bellezza che si prende cura di te, mentre insieme ci prendiamo cura del nostro Pianeta.</p>
                <p>Essenziale è il meglio a portata di mano.</p>
            </div>
            <img src="{{basePath}}{{lang}}/logo-equivalenza--manifesto.png" alt="Equivalenza" class="eq-cs-manifesto__logo--equivalenza" />
        </div>
    </div>
</div>
<!-- END: MANIFESTO -->

<!-- START: ICONS GREY -->
<div class="eq-section eq-section--grey">
    <div class="eq-section__inner">
        <div class="eq-cs-icons">
            <div class="eq-cs-icons__item eq-cs-icons__item--1">
                <img src="{{basePath}}{{lang}}/icon-shop.png" alt="" class="icon" />
                <span>630 punti vendita</span>
            </div>
            <div class="eq-cs-icons__item eq-cs-icons__item--2">
                <img src="{{basePath}}{{lang}}/icon-map.png" alt="" class="icon" />
                <span>26 paesi</span>
            </div>
            <div class="eq-cs-icons__item eq-cs-icons__item--3">
                <img src="{{basePath}}{{lang}}/icon-heart.png" alt="" class="icon" />
                <span>+300.000 clienti fidelizzati</span>
            </div>
        </div>
    </div>
</div>
<!-- END: ICONS GREY -->

<!-- START: MOTIVOS -->
<section class="eq-section eq-section--nopadding-xs">
    <div class="eq-section__inner">
        <div class="eq-cs-valori">
            <p class="eq-cs-valori__title">I nostri valori</p>
            <div class="eq-cs-valori__slider eq-slider owl-carousel">
                <div class="eq-cs-valori__items item">
                    <div class="eq-cs-valore eq-cs-valore--1">
                        <div class="eq-cs-valore__content">
                            <div class="eq-cs-valore__header">
                                <div class="inner">
                                    <p class="eq-cs-valore__title" data-to="1">Empatia</p>
                                    <p class="eq-cs-valore__copy">Il tuo sentire è la nostra linfa vitale. Allunga la mano e noi saremo sempre lì al tuo fianco.</p>
                                </div>
                                {% include "common/image.twig" with {
                                    src: 'valori-1.jpg',
                                    sizes: '100vw',
                                    mobile: 'valori-1--mobile.jpg'
                                } %}
                            </div>
                            <a href="#toggle-1" data-to="1" class="toggle"></a>
                            <div id="toggle-1" class="toggable hidden-sm">
                                <p class="eq-cs-valore__copy ">“Sappiamo cosa consigliarti e amiamo guidarti alla ricerca della tua bellezza”.</p>
                            </div>
                        </div>

                    </div><!-- /.eq-cs-valore -->
                    <div class="eq-cs-valore eq-cs-valore--2">
                        <div class="eq-cs-valore__content">
                            <div class="eq-cs-valore__header">
                                <div class="inner">
                                    <p class="eq-cs-valore__title" data-to="2">Semplicità</p>
                                    <p class="eq-cs-valore__copy">Rendiamo facile, vicino e semplice ciò che gli altri rendono complesso, distante e incomprensibile.</p>
                                </div>
                                {% include "common/image.twig" with {
                                    src: 'valori-2.jpg',
                                    sizes: '100vw',
                                    mobile: 'valori-2--mobile.jpg'
                                } %}
                            </div>
                            <a href="#toggle-2" data-to="2" class="toggle"></a>
                            <div id="toggle-2" class="toggable hidden-sm">
                                <p class="eq-cs-valore__copy">“Less is more: flaconi ricaricabili, minimal, senza fronzoli. Conta il contenuto, non il contenitore”.</p>
                            </div>
                        </div>
                    </div><!-- /.eq-cs-valore -->
                    <div class="eq-cs-valore eq-cs-valore--3">
                        <div class="eq-cs-valore__content">
                            <div class="eq-cs-valore__header">
                                <div class="inner">
                                    <p class="eq-cs-valore__title" data-to="3">Ingegnosità</p>
                                    <p class="eq-cs-valore__copy">Troviamo soluzioni dove ci sono barriere e offriamo uno shopping intelligente al servizio delle persone.</p>
                                </div>
                                {% include "common/image.twig" with {
                                    src: 'valori-3.png',
                                    sizes: '100vw',
                                    mobile: 'valori-3--mobile.jpg'
                                } %}
                            </div>
                            <a href="#toggle-3" data-to="3" class="toggle"></a>
                            <div id="toggle-3" class="toggable hidden-sm">
                                <p class="eq-cs-valore__copy">“Diamo nuova vita ai flaconi per abbassare notevolmente l’impatto ambientale del prodotto, ridurre i costi, mantenere inalterata la qualità e permetterti un risparmio ogni volta che opti per la ricarica”.</p>
                            </div>
                        </div>
                    </div><!-- /.eq-cs-valore -->
                    <div class="eq-cs-valore eq-cs-valore--4">
                        <div class="eq-cs-valore__content">
                            <div class="eq-cs-valore__header">
                                <div class="inner">
                                    <p class="eq-cs-valore__title" data-to="4">Sensibilità</p>
                                    <p class="eq-cs-valore__copy">Abbiamo a cuore le tue emozioni e ti offriamo prodotti attraverso i quali poterle esprimerle.</p>
                                </div>
                                {% include "common/image.twig" with {
                                    src: 'valori-4.jpg',
                                    sizes: '100vw',
                                    mobile: 'valori-4--mobile.jpg'
                                } %}
                            </div>
                            <a href="#toggle-4" data-to="4" class="toggle"></a>
                            <div id="toggle-4" class="toggable hidden-sm">
                                <p class="eq-cs-valore__copy">“Abbiamo mescolato sapientemente note olfattive ed ingredienti accuratamente selezionati, creando percorsi sensoriali che sappiano entrare in armonia con il tuo sentire. Per farlo, dividiamo i nostri prodotti di profumeria e cosmetica in 4 emozioni universali: pura allegria, energia vitale, incantevole seduzione ed armonia interiore”.</p>
                            </div>
                        </div>
                    </div><!-- /.eq-cs-valore -->
                    <div class="eq-cs-valore eq-cs-valore--5">
                        <div class="eq-cs-valore__content">
                            <div class="eq-cs-valore__header">
                                <div class="inner">
                                    <p class="eq-cs-valore__title" data-to="5">Responsabilità</p>
                                    <p class="eq-cs-valore__copy">Il nostro modo di essere vicini a te e a tutto ciò che ti sta a cuore è quello di creare un mondo decisamente più sostenibile. Siamo migliori quando siamo uniti.</p>
                                </div>
                                {% include "common/image.twig" with {
                                    src: 'valori-5.jpg',
                                    sizes: '100vw',
                                    mobile: 'valori-5--mobile.jpg'
                                } %}
                            </div>
                            <a href="#toggle-5" data-to="5" class="toggle"></a>
                            <div id="toggle-5" class="toggable hidden-sm">
                                <p class="eq-cs-valore__copy">“Tu, insieme a noi, fai parte dell'equazione. Prenditi cura di te rispettando l’ambiente”.</p>
                            </div>
                        </div>
                    </div><!-- /.eq-cs-valore -->
                </div>
                <div class="eq-cs-vslide eq-cs-vslide--1 hidden-xs">
                    <div class="eq-cs-vslide__pic"><img src="{{basePath}}{{lang}}/valori-1-slide.jpg" alt="" /></div>
                    <div class="eq-cs-vslide__content">
                        <p class="eq-cs-valore__title">Empatia</p>
                        <p class="eq-cs-valore__copy">Il tuo sentire è la nostra linfa vitale. Allunga la mano e noi saremo sempre lì al tuo fianco.</p>
                        <p class="eq-cs-valore__copy">“Sappiamo cosa consigliarti e amiamo guidarti alla ricerca della tua bellezza”.</p>
                    </div>
                </div>
                <div class="eq-cs-vslide eq-cs-vslide--2 hidden-xs">
                    <div class="eq-cs-vslide__pic"><img src="{{basePath}}{{lang}}/valori-2-slide.jpg" alt="" /></div>
                    <div class="eq-cs-vslide__content">
                        <p class="eq-cs-valore__title">Semplicità</p>
                        <p class="eq-cs-valore__copy">Rendiamo facile, vicino e semplice ciò che gli altri rendono complesso, distante e incomprensibile. </p>
                        <p class="eq-cs-valore__copy">“Less is more: flaconi ricaricabili, minimal, senza fronzoli. Conta il contenuto, non il contenitore”.</p>
                    </div>
                </div>
                <div class="eq-cs-vslide eq-cs-vslide--3 hidden-xs">
                    <div class="eq-cs-vslide__pic"><img src="{{basePath}}{{lang}}/valori-3-slide.jpg" alt="" /></div>
                    <div class="eq-cs-vslide__content">
                        <p class="eq-cs-valore__title">Ingegnosità</p>
                        <p class="eq-cs-valore__copy">Troviamo soluzioni dove ci sono barriere e offriamo uno shopping intelligente al servizio delle persone.</p>
                        <p class="eq-cs-valore__copy">“Diamo nuova vita ai flaconi per abbassare notevolmente l’impatto ambientale del prodotto, ridurre i costi, mantenere inalterata la qualità e permetterti un risparmio ogni volta che opti per la ricarica”.</p>
                    </div>
                </div>
                <div class="eq-cs-vslide eq-cs-vslide--4 hidden-xs">
                    <div class="eq-cs-vslide__pic"><img src="{{basePath}}{{lang}}/valori-4-slide.jpg" alt="" /></div>
                    <div class="eq-cs-vslide__content">               
                        <p class="eq-cs-valore__title">Sensibilità</p>
                        <p class="eq-cs-valore__copy">Abbiamo a cuore le tue emozioni e ti offriamo prodotti attraverso i quali poterle esprimerle.</p>
                        <p class="eq-cs-valore__copy">“Abbiamo mescolato sapientemente note olfattive ed ingredienti accuratamente selezionati, creando percorsi sensoriali che sappiano entrare in armonia con il tuo sentire. Per farlo, dividiamo i nostri prodotti di profumeria e cosmetica in 4 emozioni universali: pura allegria, energia vitale, incantevole seduzione ed armonia interiore”.</p>
                    </div>
                </div>
                <div class="eq-cs-vslide eq-cs-vslide--5 hidden-xs">
                    <div class="eq-cs-vslide__pic"><img src="{{basePath}}{{lang}}/valori-5-slide.jpg" alt="" /></div>
                    <div class="eq-cs-vslide__content">
                        <p class="eq-cs-valore__title">Responsabilità</p>
                        <p class="eq-cs-valore__copy">Il nostro modo di essere vicini a te e a tutto ciò che ti sta a cuore è quello di creare un mondo decisamente più sostenibile. Siamo migliori quando siamo uniti.</p>
                        <p class="eq-cs-valore__copy">“Tu, insieme a noi, fai parte dell'equazione. Prenditi cura di te rispettando l’ambiente”.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END: MOTIVOS -->

<!-- START: AMBIENTE -->
<div class="eq-section eq-section--green">
    <div class="eq-section__inner">
        <div class="eq-cs-ambiente">
            <p class="eq-cs-ambiente__title">Equivalenza e l'ambiente</p>
            {% include 'components/copy.twig' with {
                section: 'Riempi, usa, riutilizza!',
                title: 'Il sistema intelligente di refill',
                text: "Unisciti alla community sostenibile. La maggior parte dei prodotti <strong>Equivalenza</strong> contengono un sistema intelligente di refill: <strong>flaconi ricaricabili</strong> che puoi riutilizzare infinite volte! Questo sistema consente di ridurre il numero di confezioni e risparmiare sulle <strong>materie prime</strong>, ma soprattutto dimostra quanto possa essere semplice <strong>rispettare l'ambiente</strong> (e risparmiare!).",
            } %}
            <img src="{{basePath}}{{lang}}/350x350_refill_gif_fondoverde.gif" alt="" class="eq-cs-ambiente__pic" />
            <div class="eq-cs-icons">
                <div class="eq-cs-icons__item eq-cs-icons__item--1">
                    <img src="{{basePath}}{{lang}}/icon-ambiente-1.png" alt="" class="icon" />
                    <span><strong>653 tonnellate</strong> di vetro<br>risparmiate</span>
                </div>
                <div class="eq-cs-icons__item eq-cs-icons__item--2">
                    <img src="{{basePath}}{{lang}}/icon-ambiente-2.png" alt="" class="icon" />
                    <span>Ogni volta che acquisiti<br>l’ecoricarica della tua crema<br>risparmi fino <strong>-91% di plastica</strong></span>
                </div>
                <div class="eq-cs-icons__item eq-cs-icons__item--3">
                    <img src="{{basePath}}{{lang}}/icon-ambiente-3.png" alt="" class="icon" />
                    <span>Più di <strong>5,3 M</strong> di flaconi di<br>profumo riutilizzati dal 2017</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: AMBIENTE -->

{% include 'components/copy.twig' with {
    text: '<strong>CI PRENDIAMO CURA DI TE E DEL PIANETA</strong>',
} %}

<!-- START: ICONS -->
<div class="eq-section eq-section--nopadding">
    <div class="eq-section__inner">
        <div class="eq-cs-icons eq-cs-icons--alt">
            <div class="eq-cs-icons__item eq-cs-icons__item--1">
                <img src="{{basePath}}{{lang}}/icon-leaf.png" alt="" class="icon" />
                <span>Fino all'80% delle nostre formule<br>sono adatte ai vegani</span>
            </div>
            <div class="eq-cs-icons__item eq-cs-icons__item--2">
                <img src="{{basePath}}{{lang}}/icon-animals.png" alt="" class="icon" />
                <span>Non testiamo sugli animali<br>seguendo le direttive europee</span>
            </div>
        </div>
    </div>
</div>
<!-- END: ICONS -->

<!-- START: CATEGORIAS -->
<div class="eq-section">
    <div class="eq-section__inner">
        <div class="eq-cs-cat eq-slider owl-carousel">
            <a href="https://equivalenza.com/it/perfumes/" class="eq-cs-cat__item item">
                <img src="{{basePath}}{{lang}}/category-1.jpg" alt="Profumi" />
                <span>Profumi</span>
            </a>
            <a href="https://equivalenza.com/it/cosmetics/" class="eq-cs-cat__item item">
                <img src="{{basePath}}{{lang}}/category-2.jpg" alt="Viso" />
                <span>Viso</span>
            </a>
            <a href="https://equivalenza.com/it/cosmetica/cuidado-corporal/" class="eq-cs-cat__item item">
                <img src="{{basePath}}{{lang}}/category-3.jpg" alt="Corpo" />
                <span>Corpo</span>
            </a>
            <a href="https://equivalenza.com/it/maquillaje/" class="eq-cs-cat__item item">
                <img src="{{basePath}}{{lang}}/category-4-20230118.jpg" alt="Make-Up" />
                <span>Make-Up</span>
            </a>
            <a href="https://equivalenza.com/it/ambientacion/difusor-de-aromas/" class="eq-cs-cat__item item">
                <img src="{{basePath}}{{lang}}/category-5.jpg" alt="Profumatori d'ambiente" />
                <span>Profumatori<br>d'ambiente</span>
            </a>
        </div>
    </div>
</div>
<!-- END: CATEGORIAS -->

{% include 'components/footer-landing.twig' with {
    items: [
        {
            image: {
                src: 'footer-1.png',
                alt: '',
            },
            title: '<strong>98 persone su 100</strong> consiglierebbero Equivalenza ad un amico.',
        },
        {
            image: {
                src: 'footer-2.png',
                alt: '',
            },
            title: '<strong>4,8/5</strong> 38.000 recensioni di clienti reali.',
        },
        {
            image: {
                src: 'footer-3.png',
                alt: '',
            },
            title: '<strong>+500.000</strong> famiglie usano Equivalenza quotidianamente.',
        },
    ]
} %}

{% include 'components/ventajas.twig' with {
    items: [
        {
            image: {
                src: 'ventajas-1.png',
                alt: '',
            },
            label: '<strong>Pagamento sicuro</strong>',
        },
        {
            image: {
                src: 'ventajas-3.png',
                alt: '',
            },
            label: '<strong>Spedizione gratuita</strong> a partire da 39,90 €',
        },
        {
            image: {
                src: 'ventajas-4.png',
                alt: '',
            },
            label: '<strong>Attenzione personalizzata</strong>',
        },
    ]
} %} 

{% include 'components/scripts-landing-chi-siamo.twig' %}

{% endblock %}