{# landing-cosmetica.twig #}
{% extends 'layouts/default.twig' %}
{% set lang="it" %}

{% block meta %}
    {{ parent() }}
    <title>Landing Cosmetica / Body</title>
{% endblock %}

{% block content %}

{% include 'components/hero.twig' with {
    items: [
        {
            title: '<em>NUOVA LINEA</em> COSMETICA PER IL CORPO',
            text: 'Sensoriale, naturale<br />e sostenibile',
            srcset: {
                alt: '',
                src: 'body-hero-1-IT-FR.png',
                sizes: '100vw',
                mobile: 'body-hero-1-mobile-IT-FR.png'
            },
        },        
        {
            title: 'COCCOLA LA TUA PELLE',
            text: 'Lasciati sorprendere<br>dalle nostre nuove texture.',
            srcset: {
                alt: '',
                src: 'body-hero-2-IT-FR.png',
                sizes: '100vw',
                mobile: 'body-hero-2-mobile-IT-FR.png'
            },
        },        
        {
            title: '<em>PROMOZIONE DI LANCIO</em> SPUGNA IN REGALO',
            text: 'Ricevila per acquisti superiori<br>a 20 € che includono un cosmetico<br>della nostra nuova linea corpo.',
            srcset: {
                alt: '',
                src: 'body-hero-3-IT-FR.png',
                sizes: '100vw',
                mobile: 'body-hero-3-mobile-IT-FR.png'
            },
        },        
    ]
} %}

{% include 'components/copy.twig' with {
    text: 'Formule di alta qualità, <strong>con ingredienti di origine naturale</strong>, testate dermatologicamente e <strong>dall’efficacia provata</strong>.<br /><br />Per coccolare la tua pelle <strong>come te lo meriti</strong>.',
} %}

{% include 'components/categorias-icons.twig' with {
    title: 'Cosa cerchi?',
    items: [
        {
            image: {
                src: '300x300_Geles_Bano.jpg',
                alt: '',
            },
            label: 'Bagnischiuma',
            href: 'https://equivalenza.com/it/cosmetica/cuidado-corporal/gel-de-bano',
        },
        {
            image: {
                src: '300x300_Hidratantes.jpg',
                alt: '',
            },
            label: 'Idratante',
            href: 'https://equivalenza.com/it/cosmetica/cuidado-corporal/idratanti',
        },
        {
            image: {
                src: '300x300_Exfoliantes.jpg',
                alt: '',
            },
            label: 'ESFOLIANTI',
            href: 'https://equivalenza.com/it/cosmetica/cuidado-corporal/esfolianti',
        },
        {
            image: {
                src: '300x300_Tratamientos.jpg',
                alt: '',
            },
            label: 'TRATTAMENTI',
            href: 'https://equivalenza.com/it/cosmetica/cuidado-corporal/trattamenti',
        },
        {
            image: {
                src: '300x300_Desodorantes.jpg',
                alt: '',
            },
            label: 'DEODORANTI',
            href: 'https://equivalenza.com/it/cosmetica/cuidado-corporal/deodoranti',
        },
        {
            image: {
                src: '300x300_Crema_Manos.jpg',
                alt: '',
            },
            label: 'CREMA PER LE MANI',
            href: 'https://equivalenza.com/it/cosmetica/cuidado-corporal/creme-per-le-mani',
        },
        {
            image: {
                src: '300x300_Crema_Pies.jpg',
                alt: '',
            },
            label: 'CREMA PER I PIEDI',
            href: 'https://equivalenza.com/it/cosmetica/cuidado-corporal/creme-per-i-piedi',
        },
        {
            image: {
                src: '300x300_Limpieza_Manos.jpg',
                alt: '',
            },
            label: 'DETERGENTE PER LE MANI',
            href: 'https://equivalenza.com/it/cosmetica/cuidado-corporal/pulizia-delle-mani',
        },
        {
            image: {
                src: '300x300_Body_mist.jpg',
                alt: '',
            },
            label: 'Body Mist',
            href: 'https://equivalenza.com/it/cosmetica/cuidado-corporal/body-mist/ ',
        },
        {
            image: {
                src: '300x300_Black_Label.jpg',
                alt: '',
            },
            label: 'Black Label',
            href: 'https://equivalenza.com/it/cosmetica/cuidado-corporal/black-label/ ',
        },
        {
            image: {
                src: '300x300_Les_Secrets.jpg',
                alt: '',
            },
            label: 'Les Secrets',
            href: 'https://equivalenza.com/it/cosmetica/cuidado-corporal/les-secrets/',
        },
        {
            image: {
                src: '300x300_Accesorios_Corporal.jpg',
                alt: '',
            },
            label: 'Accessori',
            href: 'https://equivalenza.com/it/cosmetica/cuidado-corporal/accessori',
        },
    ]
} %}

{% include 'components/refill.twig' with {
    items: [
        {
            srcset: {
                alt: '',
                src: 'sistema_refill.png',
                sizes: '100vw',
                mobile: 'sistema_refill-mobile.png'
            }, 
            title: '<strong>Sistema Refill</strong> Più economico, più ecologico',
            text: '<strong>Vuoi risparmiare denaro e allo stesso tempo prenderti cura del pianeta?</strong> Scopri il nostro sistema innovatore di ricariche eco:',
        },
        {
            srcset: {
                alt: '',
                src: 'envase_rollon_tarro.png',
                sizes: '100vw',
                mobile: 'envase_rollon_tarro-mobile.png'
            }, 
            text: '<strong>Compra il tuo cosmetico in</strong> <em>confezione roll-on o vasetto da 200 ml</em>.',
        },
        {
            srcset: {
                alt: '',
                src: 'envase_reutilizable.png',
                sizes: '100vw',
                mobile: 'envase_reutilizable-mobile.png'
            }, 
            text: '<strong>Conserva la confezione riutilizzabile e ritorna per la tua</strong> <em>ricarica eco</em>.',
        },
        {
            srcset: {
                alt: '',
                src: 'envase_tarro.png',
                sizes: '100vw',
                mobile: 'envase_tarro-mobile.png'
            }, 
            text: '<strong>Con ogni ricarica eco del vasetto da 200 ml, riduciamo il consumo di plastica quasi del 91%.</strong><br /><br /><em>E tu risparmi 3 € su ogni ricarica!</em>',
        },
        {
            srcset: {
                alt: '',
                src: 'envase_rollon.png',
                sizes: '100vw',
                mobile: 'envase_rollon-mobile.png'
            }, 
            text: 'Ogni volta che usi una ricarica eco del roll-on, <strong>riduciamo il nostro consumo di plastica di quasi il 68%.</strong><br /><br /><em>E tu risparmi 1,5 € su ogni ricarica!</em>',
        },
        {
            srcset: {
                alt: '',
                src: 'modelo_envases.png',
                sizes: '100vw',
                mobile: 'modelo_envases-mobile.png'
            }, 
            text: '<strong>Congratulazioni!</strong><br />Prendendoti cura della tua pelle con Equivalenza stai proteggendo <em>l’ambiente</em>.',
        },
    ]
} %}

{% include 'components/copy.twig' with {
    title: 'Metti in contatto la tua pelle con le tue emozioni',
    text: 'Immergiti nel mondo delle emozioni positive attraverso le texture, le fragranze e gli ingredienti principali dei nostri cosmetici.',
} %}

{% include 'components/emociones.twig' with {
    className: 'eq-section--nopadding-xs',
    items: [
        {
            image: {
                src: 'emociones-1.png',
                alt: '',
            },
            title: 'PURA ALLEGRIA',
            text: 'Texture fresche e rivitalizzanti con il potere e la luminosità della <strong>VITAMINA C</strong>.',
            button: {
                text: 'VEDI TUTTI I PRODOTTI',
                href: 'https://equivalenza.com/it/cosmetica/ingrediente-emocion/alegria-radiante/',
            },
            className: 'alegria-radiante',
        },
        {
            image: {
                src: 'emociones-2.png',
                alt: '',
            },
            title: 'ENERGIA VITALE',
            text: 'Prova la protezione e la vitalità dell\'<strong>ALOE VERA</strong> attraverso le sue texture leggere ed energizzanti.',
            button: {
                text: 'VEDI TUTTI I PRODOTTI',
                href: 'https://equivalenza.com/it/cosmetica/ingrediente-emocion/energia-vital/',
            },
            className: 'energia-vital',
        },
        {
            image: {
                src: 'emociones-3.png',
                alt: '',
            },
            title: 'INCANTEVOLE SEDUZIONE',
            text: 'Texture cremose e nutrienti che accentuano l\'intensità nutriente degli <strong>OLI ELIXIR</strong>.',
            button: {
                text: 'VEDI TUTTI I PRODOTTI',
                href: 'https://equivalenza.com/it/cosmetica/ingrediente-emocion/seduccion-magnetica/',
            },
            className: 'seduccion-magnetica',
        },
        {
            image: {
                src: 'emociones-4.png',
                alt: '',
            },
            title: 'ARMONIA INTERIORE',
            text: 'Trova la calma con questa linea consolatoria che aumenta la forza fornita dall\'<strong>ACIDO IALURONICO</strong>.',
            button: {
                text: 'VEDI TUTTI I PRODOTTI',
                href: 'https://equivalenza.com/it/cosmetica/ingrediente-emocion/equilibrio-interior/',
            },
            className: 'equilibrio-interior',
        },
    ]
} %}

{% include 'components/best-sellers.twig' with {
    title: 'I più venduti',
    content: '{{block class="MGS\Mpanel\Block\Products\Attributes" mgs_panel_title="" mgs_panel_note="" limit="15" ratio="1" category_ids="2066,2177,2181,2069,2187,2057" attribute="mas_vendido" use_slider="1" loadmore="0" template="products/attribute/category-tabs.phtml" perrow="4" autoplay="1" stop_auto="1" navigation="1" pagination="0" number_row="1"}}',
} %}

{% include 'components/footer-landing.twig' with {
    items: [
        {
            image: {
                src: 'footer-1.png',
                alt: '',
            },
            title: '<strong>98 persone su 100</strong> consiglierebbero Equivalenza ad un amico.',
        },
        {
            image: {
                src: 'footer-2.png',
                alt: '',
            },
            title: '<strong>4,8/5</strong> 38.000 recensioni di clienti reali.',
        },
        {
            image: {
                src: 'footer-3.png',
                alt: '',
            },
            title: '<strong>+500.000</strong> famiglie usano Equivalenza quotidianamente.',
        },
    ]
} %}

{% include 'components/ventajas.twig' with {
    items: [
        {
            image: {
                src: 'ventajas-1.png',
                alt: '',
            },
            label: '<strong>Pagamento sicuro</strong>',
        },
        {
            image: {
                src: 'ventajas-3.png',
                alt: '',
            },
            label: '<strong>Spedizione gratuita</strong> a partire da 39,90 €
',
        },
        {
            image: {
                src: 'ventajas-4.png',
                alt: '',
            },
            label: '<strong>Attenzione personalizzata</strong>',
        },
    ]
} %}

{% include 'components/scripts-landings-cosmetica.twig' %}

{% endblock %}
