{# landing-lead-adquisition.twig #}
{% extends 'layouts/default-blocks.twig' %}
{% set lang="it" %}

{% block meta %}
    {{ parent() }}
    <title>Ehi, bellezza!</title>
{% endblock %}

{% block content %}

    {% include 'components/css-landing-italia.twig' %}
    {% include 'components/header-italia.twig' %}

    <section class="eq-section eq-section--nopadding">
        <div class="eq-section__inner">
            <div class="eq-it-welcome">
                <p class="eq-it-welcome__section">Ehi, Belleza!</p>
                <h1 class="eq-it-welcome__title">Questo sconto del 20% è solo per te</h1>
                <p class="eq-it-welcome__copy">
                    Esplora un universo di fragranze e prodotti sensoriali,<br>
                    libera l’immaginazione e che il viaggio abbia inizio 🚀.
                </p>
            </div><!-- /.eq-it-welcome -->
        </div><!-- /.eq-section__inner -->
    </section><!-- /.eq-section -->

    <section class="eq-section eq-section--nopadding">
        <div class="eq-section__inner">
            <div class="eq-it-pfollow">
                <div class="eq-it-pfollow__col eq-it-pfollow__copy">
                    {% include 'common/icon-gift.twig' %}
                    <p class="eq-it-pfollow__copy__title">
                        SBLOCCA IL<br />
                        <strong>20% SCONTO</strong>
                    </p>
                    <p class="eq-it-pfollow__copy__text">Compila il form!</p>
                </div><!-- /.eq-it-pfollow__col -->
                <div class="eq-it-pfollow__col">
                    <form
                        id="italia-form"
                        action="https://news.equivalenza.com/add_subscriber.html"
                        accept-charset="utf-8"
                        method="post"
                        class="eq-form"
                    >
                        <div class="eq-formgroup">
                            <label for="name">Nome e Cognome *</label>
                            <input type="text" id="name" name="name" />
                        </div>
                        <div class="eq-formgroup">
                            <label for="email">Email *</label>
                            <input type="email" id="email" name="email" />
                        </div>
                        <div class="eq-formgroup">
                            <label for="custom_celular">Cellulare *</label>
                            <input type="tel" id="custom_celular" name="custom_celular" />
                        </div>
                        <div class="eq-radiogroup">
                            <span class="eq-radiogroup__label">Genere *</span>
                            <div class="eq-radio">
                                <input type="radio" id="webform_genere_0" name="custom_genere" value="Male" />
                                <label for="webform_genere_">M</label>
                            </div>
                            <div class="eq-radio">
                                <input type="radio" id="webform_genere_1" name="custom_genere" value="Female" />
                                <label for="webform_genere_1">F</label>
                            </div>
                            <div class="eq-radio">
                                <input type="radio" id="webform_genere_2" name="custom_genere" value="Prefer not to say" />
                                <label for="webform_genere_2">Non dichiarato</label>
                            </div>
                        </div>
                        <div class="eq-check">
                            <input type="checkbox" id="webform_consent#f_0" name="webform[consent#f-ver#f]" value="true" />
                            <label for="webform_consent#f_0">Acceto i <a href="https://equivalenza.com/it/termini-e-condizioni" target="_blank">termini e le condizioni</a></label>
                        </div>
                        <!-- Get the token at: https://news.equivalenza.com/campaign_list.html -->
                        <input type="hidden" name="campaign_token" value="0m" />
                        <!-- Thank you page (optional) -->
	                    <input type="hidden" name="thankyou_url" value="https://equivalenza.com/it/il-tuo-squonto-e-qui"/>
                        <!-- Add subscriber to follow-up sequence -->
                        <input type="hidden" name="start_day" value="0" />
                        <button type="submit" class="eq-btn-black eq-btn-block">Confermo</button>
                    </form>
                </div><!-- /.eq-it-pfollow__col -->
            </div><!-- /.eq-it-pfollow -->
        </div><!-- /.eq-section__inner -->
    </section><!-- /.eq-section -->

    <section class="eq-section">
        <div class="eq-section__inner">
            <div class="eq-it-pearly">
                <div class="eq-it-pearly__col eq-it-pearly__copy">
                    {% include 'common/icon-gift.twig' %}
                    <p class="eq-it-pearly__copy__title">LA TUA PELLE È UNICA E IRRIPETIBILE E SI MERITA IL MEGLIO</p>
                    <p class="eq-it-pearly__copy__text">I nostri prodotti sono formulati selezionando materie prime di <strong>origine vegetale</strong> con i <strong>più elevati standard qualitativi</strong> - senza scendere a compromessi. Accendi i tuoi sensi e parti alla scoperta del mondo beauty Equivalenza.</p>
                </div><!-- /.eq-it-pfollow__col -->
                <div class="eq-it-pearly__col eq-it-pearly__pics">
                    <img src="//equivalenza.com/landings_media/images/giorgia-palmas/it/Giorgia01.jpg" alt="" />
                </div><!-- /.eq-it-pfollow__col -->
            </div><!-- /.eq-it-pfollow -->
        </div><!-- /.eq-section__inner -->
    </section><!-- /.eq-section -->

    {% include 'components/footer-italia.twig' %}
    {% include 'components/scripts-landing-italia.twig' %}
{% endblock %}

