{# terminos-y-condiciones.twig #}
{% extends 'layouts/default-blocks.twig' %}
{% set lang="it" %}

{% block meta %}
    {{ parent() }}
    <title>Términos y condiciones</title>
{% endblock %}

{% block content %}
    {% include 'components/css-landing-italia.twig' %}
    {% include 'components/header-italia.twig' %}

    <section class="eq-section">
        <div class="eq-section__inner">
            <h1 class="eq-legal__title">BASI GIURIDICHE PROMOZIONE WEB ACTION E-COMMERCE</h1>
        </div><!-- /.eq-section__inner -->
    </section><!-- /.eq-section -->
    <section class="eq-section eq-section--nopadding">
        <div class="eq-section__inner">
            <div class="eq-legal">
                <nav id="terms-nav" class="navbar">
                    <ul class="eq-legal__nav nav navbar-nav" data-spy="affix" data-offset-top="205">
                        <li class="active"><a href="#promotor-organizador">PROMOTORE / ORGANIZZATORE</a></li>
                        <li><a href="#objetivo">OBIETTIVO</a></li>
                        <li><a href="#condiciones">CONDIZIONI DI PARTECIPAZIONE</a></li>
                        <li><a href="#duracion">DURATA</a></li>
                        <li><a href="#mecanica">MECCANICA  DELLA PROMOZIONE</a></li>
                        <li><a href="#bases-legales">ACCETTAZIONE DELLE BASI GIURIDICHE</a></li>
                        <li><a href="#reclamaciones">RECLAMI</a></li>
                    </ul><!-- /.eq-legal__nav -->
                </nav>
                <div class="eq-legal__content">
                    <div id="promotor-organizador">
                        <h2>PROMOTORE / ORGANIZZATORE</h2>
                        <p>L'organizzazione della promozione <strong>"AZIONE WEB E-COMMERCE"</strong> (di seguito indicata come la <strong>"Promozione"</strong>) è promossa da <strong>EQUIVALENZA RETAIL, S.L.U.</strong> , con C.I.F.: B-99307324, con sede legale in C/ Salvador Espriu, n 13-15, 08908 di L'Hospitalet de Llobregat (Barcellona) (di seguito <strong>"Equivalenza"</strong>).</p>
                    </div> 
                    <div id="objetivo">
                        <h2>OBIETTIVO</h2>
                        <p>L'obiettivo principale della Promozione è quello di premiare l'acquisto di prodotti nell'e-commerce italiano.</p>
                    </div> 
                    <div id="condiciones">
                        <h2>CONDIZIONI DI PARTECIPAZIONE</h2>
                        <p>La Promozione sarà valida  nell'e-commerce www.equivalenza.com Italia e destinata a coloro che si iscriveranno alla newsletter  di Equivalenza con la promozione che verrà indicata di seguito. </p>
                        <p>Equivalenza si riserva il diritto di escludere, senza preavviso, tutti quei soggetti che facciano un uso fraudolento e/o contrario alla buona fede del presente Regolamento e/o della Promozione.</p>
                        <p>Equivalenza si riserva il diritto di annullare questa promozione in qualsiasi momento.</p>
                    </div> 
                    <div id="duracion">
                        <h2>DURATA</h2>
                        <p>La promozione inizierà il 6 giugno 2022 e terminerà il 15 luglio 2022, entrambi inclusi.</p>
                    </div> 
                    <div id="mecanica">
                        <h2>MECCANICA  DELLA PROMOZIONE</h2>
                        <p>Per <u>beneficiare della promozione nel <b>nostro negozio online in Italia</b></u>, il cliente deve iscriversi alla newsletter di Equivalenza, ricevere l'email inviata da Equivalenza con il buono sconto del 20% ed effettuare un acquisto minimo di 30 euro di qualsiasi prodotto, inserendo per la sua applicazione il coupon con uno sconto del 20% nel carrello sul sito di Equivalenza.</p>
                        <p>Il coupon sarà per uso una tantum e verrà inviato ai clienti all'indirizzo e-mail registrato.  La promozione include tutti i prodotti. Non cumulabile con altre offerte o promozioni.</p>
                    </div> 
                    <div id="bases-legales">
                        <h2>ACCETTAZIONE DELLE BASI GIURIDICHE</h2>
                        <p>La mera partecipazione alla Promozione implica la conoscenza e l'accettazione dell'intero contenuto delle basi giuridiche (di seguito, <strong>“Basi”</strong>).</p>
                        <p>La mancata accettazione di uno qualsiasi dei punti che compongono il presente Regolamento implica la non partecipazione alla Promozione.</p>
                        <p>Allo stesso modo, la violazione da parte di qualsiasi partecipante delle condizioni stabilite nelle Basi o la falsa indicazione o indicazione di falsa identità, voci multiple o frode, causerà l'immediato ritiro del partecipante.</p>
                        <h2>PROTEZIONE DEI DATI</h2>
                        <p>Equivalenza sarà responsabile del trattamento dei dati relativi all'acquisto online  in conformità con l'informativa sulla privacy che gli acquirenti accettano al momento dell'ordine, in base al consenso e al legittimo interesse a elaborare la spedizione dell'ordine. </p>
                    </div> 
                    <div id="reclamaciones">
                        <h2>RECLAMI</h2>
                        <p>Per qualsiasi domanda e informazione generale relativa a questa promozione o dubbi in merito è possibile contattare EQUIVALENZA RETAIL, S.L. o tramite l'e-mail communication@equivalenza.com.</p>
                        <p>Il periodo stabilito per ogni possibile reclamo è di 15 giorni lavorativi dalla fine della promozione, trascorso questo termine, non sarà più possibile notificare alcun reclamo relativo a questa promozione.</p>
                        <p>Barcellona, il 05 giugno 2022.</p>
                    </div> 
                </div><!-- /.eq-legal__content -->
            </div><!-- /.eq-legal -->
        </div><!-- /.eq-section__inner -->
    </section><!-- /.eq-section -->

    {% include 'components/footer-italia.twig' %}
    {% include 'components/scripts-landing-italia.twig' %}
{% endblock %}

