{# set basePath = 'https://equivalenza.com/landings_media/images/sensual-soul/' #}
{# set basePath = 'https://xbonell.com/clients/equivalenza/assets/images/' #}
{# set basePath = '/assets/images/' #}


<!DOCTYPE html>
<html lang="{{lang}}">
  <head>
    {% block meta %}
    {% include "common/meta.twig" %}
    {% endblock %}
  </head>
  <body class="cms-page-view">
    <main role="main" class="eq-landing">
        {% block content %}
        {% endblock %}
    </main>
    {# include "common/sprite-svg.twig" #}
    {# include "common/scripts.twig" #}
  </body>
</html>
