{# set basePath = 'https://equivalenza.com/landings_media/images/sensual-soul/' #}
{# set basePath = 'https://xbonell.com/clients/equivalenza/assets/images/' #}
{# set basePath = '/assets/images/' #}

{% block content %}
{% endblock %}
