{# set basePath='https://equivalenza.com/landings_media/images/home/' #}
{# set basePath = 'https://xbonell.com/clients/equivalenza/assets/images/' #}
{# set basePath = '/assets/images/' #}

<!DOCTYPE html>
<html lang="fr">
  <head>
    {% block meta %}
    {% include "common/meta-no-cro.twig" %}
    {% endblock %}
  </head>
  <body class="cms-home cms-page-view catalog-category-view full_width-layout">
    <main role="main" class="page-layout-cms-full-width ">
        {% block content %}
        {% endblock %}
    </main>
  </body>
</html>
