{# 404.twig #}
{% extends 'layouts/default-blocks.twig' %}
{% set lang="es" %}

{% block meta %}
    {{ parent() }}
    <title>Página no encontrada</title>
{% endblock %}

{% block content %}

    {% include 'components/css-landing-colombia.twig' %}
    {% include 'components/header-colombia.twig' %}

    <section class="eq-section">
        <div class="eq-section__inner">
            <div class="eq-co-gracias">
                <p class="eq-co-gracias__title">
                    <span>Error <strong>404</strong></span>
                    <span>Página no encontrada</span>
                </p>
            </div><!-- /.eq-co-gracias -->  
        </div><!-- /.eq-section__inner -->
    </section><!-- /.eq-section -->

    {% include 'components/footer-colombia.twig' %}
    {% include 'components/scripts-landing-colombia.twig' %}
{% endblock %}

