{# gracias-por-participar.twig #}
{% extends 'layouts/default-blocks.twig' %}
{% set lang="es" %}

{% block meta %}
    {{ parent() }}
    <title>Gracias por participar</title>
{% endblock %}

{% block content %}

    {% include 'components/css-landing-colombia.twig' %}
    {% include 'components/header-colombia.twig' %}

    <section class="eq-section">
        <div class="eq-section__inner">
            <div class="eq-co-gracias">
                {% include 'common/icon-gift.twig' %}
                <p class="eq-co-gracias__title">
                    <span><strong>Gracias</strong> por participar</span>
                    <span>¡Mucha suerte!</span>
                </p>
                <p class="eq-co-gracias__copy">Nos pondremos en contacto contigo si estás entre los 100 primeros inscritos y has seguido nuestro Instagram.</p>
                <hr class="eq-co-gracias__divider" />
                <p class="eq-co-gracias__copy">Recuerda que también puedes conseguir un obsequio siendo uno de los primeros 200 clientes que compra en nuestra tienda, en el Centro Comercial Parque La Colina (Local 218). <strong>¡Te esperamos!</strong></p>
                <p  class="eq-co-gracias__follow">Síguenos en <a href="https://www.instagram.com/equivalenzaco" target="_blank" rel="noopener noreferrer">@equivalenzaco</a></p>
            </div><!-- /.eq-co-gracias -->  
        </div><!-- /.eq-section__inner -->
    </section><!-- /.eq-section -->

    {% include 'components/footer-colombia.twig' %}
    {% include 'components/scripts-landing-colombia.twig' %}
{% endblock %}

