{# landing-colombia.twig #}
{% extends 'layouts/default.twig' %}
{% set lang="es" %}

{% block meta %}
    {{ parent() }}
    <title>Bienvenidos a Equivalenza Colombia</title>
{% endblock %}

{% block content %}

    {% include 'components/css-landing-colombia.twig' %}
    {% include 'components/header-colombia.twig' %}

    <section class="eq-section eq-section--nopadding">
        <div class="eq-section__inner">
            <div class="eq-co-welcome">
                <h1 class="eq-co-welcome__title">
                    <span><strong>Bienvenidos</strong> a Equivalenza Colombia</span>
                    <span>La belleza de sentir</span>
                </h1>
                <p class="eq-co-welcome__copy"><strong>Nueva apertura, primera semana de septiembre</strong></p>
                <p class="eq-co-welcome__copy">Las buenas noticias hay que celebrarlas. Por eso lanzamos <strong>dos promociones exclusivas</strong> para inaugurar nuestra nueva tienda en el Centro Comercial Parque La Colina (Local 218). <strong>¡Consigue tu regalo!</strong></p>
            </div><!-- /.eq-co-welcome -->
        </div><!-- /.eq-section__inner -->
    </section><!-- /.eq-section -->

    <section class="eq-section eq-section--nopadding">
        <div class="eq-section__inner">
            <div class="eq-co-pfollow">
                <div class="eq-co-pfollow__col eq-co-pfollow__copy">
                    {% include 'common/icon-gift.twig' %}
                    <p class="eq-co-pfollow__copy__title">PREMIAMOS A NUESTROS SEGUIDORES EN INSTAGRAM</p>
                    <p class="eq-co-pfollow__copy__text"><strong>Los 100 primeros</strong> en seguirnos e inscribirse a la promoción tendrán su obsequio. ¡Que no se te adelanten!</p>
                </div><!-- /.eq-co-pfollow__col -->
                <div class="eq-co-pfollow__col">
                    <form
                        id="colombia-form"
                        action="https://news.equivalenza.com/add_subscriber.html"
                        accept-charset="utf-8"
                        method="post"
                        class="eq-form"
                    >
                        <div class="eq-formgroup">
                            <label for="name">Nombre y Apellido *</label>
                            <input type="text" id="name" name="name" />
                        </div>
                        <div class="eq-formgroup">
                            <label for="email">Email *</label>
                            <input type="email" id="email" name="email" />
                        </div>
                        <div class="eq-formgroup">
                            <label for="custom_celular">Celular *</label>
                            <input type="tel" id="custom_celular" name="custom_celular" />
                        </div>
                        <div class="eq-formgroup">
                            <label for="custom_city">Ciudad</label>
                            <input type="text" id="custom_city" name="custom_city"/>
                        </div>
                        <div class="eq-formgroup">
                            <label for="custom_cedula">Cédula *</label>
                            <input type="text" id="custom_cedula" name="custom_cedula" />
                        </div>
                        <div class="eq-check">
                            <input type="checkbox" id="webform_consent#f_0" name="webform[consent#f-ver#f]" value="true" />
                            <label for="webform_consent#f_0">Acepto los <a href="https://equivalenza.com/co/terminos-y-condiciones" target="_blank">términos y condiciones</a></label>
                        </div>
                        <!-- Get the token at: https://news.equivalenza.com/campaign_list.html -->
                        <input type="hidden" name="campaign_token" value="6E" />
                        <!-- Thank you page (optional) -->
	                    <input type="hidden" name="thankyou_url" value="https://equivalenza.com/co/gracias-por-participar"/>
                        <!-- Add subscriber to follow-up sequence -->
                        <input type="hidden" name="start_day" value="0" />
                        <button type="submit" class="eq-btn-black eq-btn-block">Enviar</button>
                    </form>
                </div><!-- /.eq-co-pfollow__col -->
                <div class="eq-co-pfollow__col eq-co-pfollow__instagram">
                    <a class="eq-co-pfollow__instagram__icon" href="https://www.instagram.com/equivalenzaco" target="_blank" rel="noopener noreferrer">{% include 'common/icon-instagram.twig' %}</a>
                    <p class="eq-co-pfollow__instagram__copy">
                        <span>Síguenos en</span>
                        <a href="https://www.instagram.com/equivalenzaco" target="_blank" rel="noopener noreferrer">@equivalenzaco</a>
                    </p>
                </div><!-- /.eq-co-pfollow__col -->
            </div><!-- /.eq-co-pfollow -->
        </div><!-- /.eq-section__inner -->
    </section><!-- /.eq-section -->

    <section class="eq-section">
        <div class="eq-section__inner">
            <div class="eq-co-pearly">
                <div class="eq-co-pearly__col eq-co-pearly__copy">
                    {% include 'common/icon-gift.twig' %}
                    <p class="eq-co-pearly__copy__title">Y OBSEQUIAMOS A LOS 200 PRIMEROS CLIENTES</p>
                    <p class="eq-co-pearly__copy__text">Al realizar tu primera compra en nuestra nueva tienda recibirás un obsequio exclusivo. <strong>¡No te quedes sin el tuyo!</strong></p>
                </div><!-- /.eq-co-pfollow__col -->
                <div class="eq-co-pearly__col eq-co-pearly__pics">
                    <img src="//equivalenza.com/landings_media/images/colombia/pic-early-birds-colombia.jpg" alt="" />
                </div><!-- /.eq-co-pfollow__col -->
            </div><!-- /.eq-co-pfollow -->
        </div><!-- /.eq-section__inner -->
    </section><!-- /.eq-section -->

    {% include 'components/footer-colombia.twig' %}
    {% include 'components/scripts-landing-colombia.twig' %}
{% endblock %}

