{# terminos-y-condiciones.twig #}
{% extends 'layouts/default-blocks.twig' %}
{% set lang="es" %}

{% block meta %}
    {{ parent() }}
    <title>Términos y condiciones</title>
{% endblock %}

{% block content %}
    {% include 'components/css-landing-colombia.twig' %}
    {% include 'components/header-colombia.twig' %}

    <section class="eq-section">
        <div class="eq-section__inner">
            <h1 class="eq-legal__title">Términos y condiciones</h1>
        </div><!-- /.eq-section__inner -->
    </section><!-- /.eq-section -->
    <section class="eq-section eq-section--nopadding">
        <div class="eq-section__inner">
            <div class="eq-legal">
                <nav id="terms-nav" class="navbar">
                    <ul class="eq-legal__nav nav navbar-nav" data-spy="affix" data-offset-top="205">
                        <li class="active"><a href="#cambio-y-devoluciones">Política de garantía cambio y devoluciones</a></li>
                        <li><a href="#datos-personales">Política de protección de datos personales</a></li>
                        <li><a href="#obsequios-de-lanzamiento">Obsequios de lanzamiento</a></li>
                    </ul><!-- /.eq-legal__nav -->
                </nav>
                <div class="eq-legal__content">
                    <div id="cambio-y-devoluciones">
                        <h2>Política de Garantía, Cambio y Devoluciones</h2>
                        <h3>POLÍTICA DE GARANTÍA</h3>
                        <ul>
                            <li>El término de vigencia de la garantía de los artículos comprados a través de nuestra tienda por defectos de calidad, idoneidad y seguridad será de 30 días, contados a partir de la fecha de compra.</li>
                            <li>El término para solucionar el defecto del producto es de 30 días calendario a partir de que se realice la revisión y/o la recogida del producto.</li> 
                            <li>Esta solicitud puede realizarse en nuestras tiendas, escribiendo al email parquelacolina@equivalenza.com.co o a través de la línea celular (+ 57 318 3807786) en el cual se le darán instrucciones para procesar la reclamación y envío del producto.</li>
                            <li>Tenga en cuenta que, con independencia de la garantía aquí descrita, nuestros productos cuentan con una vida útil después de abiertos. Le recomendamos verificar la vida útil del producto después de abierto en la etiqueta posterior de cada envase, la que se expresa con un número y la letra M que representan los meses de vida útil.</li>
                            <li>Esta ilustración significa que el producto puede tener 3, 6 o 12 meses de vida útil después de abierto; esto aplica incluso si el producto no ha sido usado después de abrirlo.</li>
                            <li>El tiempo de la garantía siempre empieza cuando se recibe el producto, así sea el del cambio.</li>
                        </ul>
                        <h3>CASOS QUE EXCLUYEN LA GARANTÍA:</h3>
                        <ol>
                            <li>El término de vigencia de la garantía se encuentra vencido. El tiempo de garantía es 30 días calendario después de comprar el producto.</li>
                            <li>Uso indebido del producto y/o no atención a las instrucciones señaladas para su uso.</li>
                            <li>Fuerza mayor o caso fortuito.</li>
                        </ol> 
                        <h3>RECOMENDACIONES GENERALES:</h3>
                        <ul>
                            <li>De acuerdo con el régimen legal, para solicitar la efectividad de la garantía legal, se debe informar el daño que tiene el producto, la fecha de compra y poner el bien a disposición de Equivalenza, para estos efectos.</li>
                            <li>Cualquier reclamo por garantía debe ser analizado por el área encargada, la cual determinará la procedencia o no de la misma luego de analizar el bien objeto del reclamo. De acuerdo con la ley contamos con un término de 15 días hábiles para responder a la reclamación y en caso de ser procedente se atenderá la garantía mediante la reposición y serán entregados en el mismo sitio en donde solicitó la garantía legal.</li>
                        </ul> 
                        <h3>POLÍTICA DE CAMBIO</h3>
                        <ul>
                            <li>Le informamos que contamos con una política comercial de cambios – diferente a las garantías –el cual se efectuará por otro producto o mediante la devolución del dinero; para que aplique el cambio o devolución, su artículo debe estar en las mismas condiciones en que lo recibió; sin usar, en su empaque original y sellado donde corresponda, no se aceptaran cambios si el producto muestra deterioro o fue adquirido fuera del territorio colombiano o a un distribuidor diferente a Equivalenza. También necesitará alguna de esta información: la factura original, tiquete de cambio o datos del comprador como nombre, número de identificación o celular. Equivalenza no puede ofrecer cambios o devoluciones en cualquier producto abierto o usado.</li>
                            <li>La solicitud de cambio o devolución debe presentarse, dentro de los (2) dos meses siguientes a la compra y esta solicitud será evaluada por nuestra área encargada.</li>
                            <li>En caso de solicitar la devolución del dinero, y una vez aceptado el cambio se le reembolsará automáticamente a través del mismo método que utilizó para comprar los productos, a menos que acepte expresamente otra forma de pago con nosotros. Recuerde que su banco o la empresa emisora ​​de la tarjeta de crédito puede tardar algún tiempo en procesar el reembolso.</li>
                        </ul>
                    </div>
                    <!-- /#cambio-y-devoluciones -->
                    <div id="datos-personales">
                        <h2>POLÍTICA DE PROTECCIÓN DE DATOS PERSONALES RETAIL VALUE S.A.S</h2>
                        <h3>ANTECEDENTES Y OBJETO DE ESTA POLÍTICA.</h3>
                        <p>RETAIL VALUE S.A.S., es una empresa privada, constituida como persona jurídica de carácter mercantil.</p>
                        <p>RETAIL VALUE S.A.S es la entidad Responsable del tratamiento de Datos Personales y en cumplimiento a lo establecido en el artículo 13 del Decreto Reglamentario 1377 de 2013, adopta y hace público a todos los interesados el presente documento que contiene todos los elementos esenciales, sencillos y seguros para el cumplimiento de la legislación colombiana correspondiente a la Protección de Datos Personales. Así mismo, el presente documento servirá como referencia para todos los sectores de interés que sostengan algún tipo de relación con RETAIL VALUE S.A.S., contribuyendo al correcto conocimiento y garantía del derecho fundamental a la Protección de Datos Personales y para que esta Política pueda ser utilizada en diferentes ámbitos de aplicación. Sumado a ello, la adopción de esta Política de Protección de Datos Personales no implica un cambio sustancial en las políticas de Tratamiento de Datos Personales de RETAIL VALUE S.A.S., preservando el Responsable y Finalidades del Tratamiento definidos, como antes se señaló.</p>
                        <p>Eventualmente RETAIL VALUE S.A.S podrá tener la calidad de Encargado de Tratamiento de Datos personales.</p>
                        <p><strong>Datos de identificación:</strong> RETAIL VALUE S.A.S., opera el siguiente punto de venta a nivel nacional y se identifica con NIT 901422587-0:</p>
                        <p>Bogotá: La Colina · LC2018</p>
                        <p><strong>Datos de contacto:</strong> Calle 127C BIS No. 7B-45 de Bogotá, Teléfonos de contacto 3183807786, o personalmente en el punto de venta antes mencionado.</p>
                        <h3>DEFINICIONES.</h3>
                        <p><strong>Autorización:</strong> Se refiere al consentimiento previo, expreso e informado del Titular para que RETAIL VALUE S.A.S., o sus Encargados lleven a cabo el Tratamiento de los Datos Personales del Titular.</p>
                        <p><strong>Aviso de Privacidad:</strong> Se trata del documento físico, electrónico o en cualquier otro formato, generado por RETAIL VALUE S.A.S que ha sido puesto a disposición del Titular para el Tratamiento de sus Datos Personales, el cual comunica al Titular la información relativa a la existencia de las Políticas de Tratamiento de Datos Personales que le serán aplicables, la forma de acceder a las mismas y las características del Tratamiento que se pretende dar a los Datos Personales.</p>
                        <p><strong>Base de Datos:</strong> Consisten en un conjunto organizado de Datos Personales que sean objeto de Tratamiento, e incluye archivos físicos y electrónicos.
                        <p><strong>Dato Personal:</strong> Según la ley 1581 de 2012, es cualquier información vinculada o que pueda asociarse a una o varias personas naturales determinadas o determinables.</p>
                        <p><strong>Dato Público:</strong> Dato Personal calificado como público por la ley o la Constitución Política. Son públicos, entre otros, los datos relativos al estado civil de las personas, a su profesión u oficio, a su calidad de comerciante o de servidor público.</p>
                        <p><strong>Dato Sensible:</strong> Dato Personal cuyo uso afecta la intimidad del Titular o cuyo uso indebido puede generar su discriminación, tales como aquellos que revelen el origen racial o étnico, la orientación política, las convicciones religiosas o filosóficas, la pertenencia a sindicatos, organizaciones sociales, de derechos humanos o que promueva intereses de cualquier partido político o que garanticen los derechos y garantías de partidos políticos de oposición así como los datos relativos a la salud, a la vida sexual y los datos biométricos.</p>
                        <p><strong>Titular:</strong> Persona natural cuyos datos personales son objeto de Tratamiento.</p>
                        <p><strong>Tratamiento:</strong> Es cualquier operación o conjunto de operaciones sobre Datos Personales que realicen RETAIL VALUE S.A.S., o los Encargados del Tratamiento por cuenta de RETAIL VALUE S.A.S., tales como la recolección, almacenamiento, uso, circulación o supresión.</p>
                        <p><strong>Transferencia:</strong> Consiste en el envío de los Datos Personales a un receptor que, a su vez, es responsable del Tratamiento en los términos de la Ley 1581 de 2012.</p>
                        <p><strong>Transmisión:</strong> Es la comunicación de los Datos Personales al Encargado del Tratamiento, dentro o fuera del territorio de la República de Colombia, con la finalidad de la realización de un Tratamiento por el Encargado del Tratamiento por cuenta de RETAIL VALUE S.A.S.</p>
                        <h3>TRATAMIENTO AL QUE SERÁN SOMETIDOS LOS DATOS PERSONALES Y FINALIDADES.</h3>
                        <p>Los datos personales de Clientes, Proveedores, Contratistas, Colaboradores y terceros, que se recojan o que se encuentren registrados en las bases de datos de RETAIL VALUE S.A.S., serán tratados conforme a los principios rectores para el Tratamiento de Datos Personales y disposiciones contenidas en la Ley 1581 de 2012 y serán aplicables de igual forma a las bases de datos compartidas o transferidas a RETAIL VALUE S.A.S., por terceros.</p>
                        <p>Para las finalidades descritas a continuación, RETAIL VALUE S.A.S., podrá: Recoger, transmitir, almacenar, usar, procesar, compartir, transferir, transmitir y custodiar los datos personales de los Titulares, como Responsable, encargándose directamente del tratamiento de los mismos o encargando a un tercero que tenga vinculo comercial debidamente suscrito, sea que opere o no en otro país, para la prestación de cualquier servicio que pueda ser suministrado conforme a las finalidades siguientes y las que sean autorizadas por los Titulares.</p>
                        <h4>3.1. Finalidades del tratamiento de datos personales</h4>
                        <p><strong>RETAIL VALUE S.A.S. usará los datos personales del Titular –Cliente- con las siguientes finalidades:</strong></p>
                        <ul>
                            <li>Para el desarrollo de actividades comerciales y transaccionales vinculadas con la tienda de Equivalenza antes referida, comercio electrónico y ventas a través de ventas a distancia.</li>
                            <li>Para la expedición de cotizaciones, facturas, notas pedido y demás documentos como soporte de una transacción.</li>
                            <li>Para perfeccionar o concretar el pago de un producto o servicio adquirido por el Titular.</li>
                            <li>Para el despacho de pedidos y prestación de servicios contratados por el Titular. Así como el proceso de evaluación y posterior calificación de la calidad del servicio prestado.</li>
                            <li>Atención del trámite de garantías, derecho de retracto y devolución de productos.</li>
                            <li>Emisión de respuestas a las consultas acerca de productos y servicios ofrecidos, peticiones, quejas y reclamos.</li>
                            <li>Realización de estudios con fines estadísticos, medición del nivel de satisfacción del cliente y de conocimiento del Cliente.</li>
                            <li>Recibir información y ofertas sobre novedades, productos, servicios, concursos y eventos especiales propios del objeto social de RETAIL VALUE S.A.S., que puedan resultar atractivos o beneficiosos para sus clientes.</li>
                            <li>Para el desarrollo de actividades relacionadas con servicios computarizados.</li>
                            <li>La prestación de servicios de atención telefónica; cobranzas u otros de naturaleza similar.</li>
                            <li>La ejecución de procesos y procedimientos contables.</li>
                            <li>La realización y cumplimiento de los protocolos de seguridad establecidos por RETAIL VALUE S.A.S.</li>
                            <li>Adelantar el control y prevención de fraudes y lavado de activos, cuando aplique.</li>
                            <li>La creación de bases de datos de acuerdo con las características y perfiles de los titulares de Información personal.</li>
                            <li>El cumplimiento de obligaciones legales por parte de RETAIL VALUE S.A.S., entre ellas y sin limitarse a éstas: la interposición de denuncias en calidad de víctima; la reversión de transacciones en virtud de las normas de Protección al Consumidor; la celebración de contratos de transacción para precaver litigios, entre otros.</li>
                            <li>Respecto a los Clientes que adquieren bonos de regalo, RETAIL VALUE S.A.S. tratará sus datos personales para finalidades asociadas a Realizar la inscripción al Programa; hacer el envío de correos electrónicos y mensajes de texto sobre información y publicidad y las Tiendas PANDORA antes aludidas; Hacer contacto telefónico; entregar correspondencia, catálogos y productos; todo lo relacionado con ofertas al respecto.</li>
                            <li>Además, para cualquier finalidad adicional que sea debidamente autorizada por los Clientes.</li>
                        </ul>
                        <p><strong>RETAIL VALUE S.A.S. tratará los datos personales del Titular (Proveedor, Contratista y terceros) con las siguientes finalidades:</strong></p>
                        <ul>
                            <li>Para el normal desarrollo de la relación comercial y contractual sostenida con RETAIL VALUE S.A.S. y el cumplimiento de las obligaciones adquiridas en virtud de dicha relación.</li>
                            <li>Desarrollo de estudios de seguridad y financieros.</li>
                            <li>Desarrollo de servicios de seguridad electrónica, seguridad física, seguridad industrial.</li>
                            <li>Procesos contables, Tributarios, pago de facturas y demás.</li>
                            <li>Desarrollo de servicios de mantenimiento y soporte en la tienda mencionada.</li>
                            <li>Cumplimiento de los protocolos de Registro y control de ingreso de mercaderistas, promotores, personal de impulso, personal de servicios generales, seguridad, soporte tecnológico y demás terceros para la operación de la tienda EQUIVALENZA enunciada, en desarrollo de la relación contractual de los proveedores comerciales con RETAIL VALUE S.A.S.</li>
                            <li>Desarrollo de servicios de comunicaciones corporativas.</li>
                            <li>La representación judicial de la compañía.</li>
                            <li>Lo relacionado con la prestación de servicios de gestión ambiental.</li>
                            <li>Lo relacionado con la prestación de servicios tecnológicos.</li>
                            <li>El cumplimiento de obligaciones legales por parte de RETAIL VALUE S.A.S., entre ellas y sin limitarse a éstas: el registro de venta de sustancias controladas; el registro de Control para la venta de ácidos, álcalis y sustancias corrosivas; entre otros.</li>
                            <li>Además, para cualquier finalidad adicional que sea debidamente autorizada por el Proveedor, Contratista y terceros.</li>
                        </ul>
                        <p><strong>RETAIL VALUE S.A.S. usa los datos del Colaborador para el cumplimiento de las siguientes finalidades, que incluyen, pero no se limitan a:</strong></p>
                        <ul>
                            <li>El cumplimiento de obligaciones legales o contractuales del colaborador y RETAIL VALUE S.A.S., con terceros.</li>
                            <li>La debida ejecución del contrato de trabajo.</li>
                            <li>La participación en procesos de promoción, desarrollo y crecimiento del colaborador.</li>
                            <li>Trámites o seguimientos médicos.</li>
                            <li>El cumplimiento de las políticas internas del colaborador y el Reglamento de Trabajo.</li>
                            <li>El cumplimiento de las obligaciones legales y reglamentarias del colaborador.</li>
                            <li>La administración de sistemas de información y comunicaciones.</li>
                            <li>La generación de copias y archivos de seguridad de la información en los equipos proporcionados por RETAIL VALUE S.A.S.</li>
                            <li>El ofrecimiento de beneficios extralegales al colaborador.</li>
                            <li>El control y prevención de fraudes y lavado de activos.</li>
                            <li>Los mecanismos y protocolos de seguridad de las instalaciones de RETAIL VALUE S.A.S. La elaboración de encuestas (comerciales, académicas, o de cualquier otra clase)</li>
                            <li>Todas aquellas finalidades que sean compatibles con la ejecución del contrato de trabajo.</li>
                            <li>Además, para cualquier finalidad adicional que sea debidamente autorizada por el Colaborador.</li>
                        </ul>
                        <h4>3.2. Transferencia de Datos a Terceros Países</h4>
                        <p>Cuando se envíen o transfieran datos a otro país siempre deberá contarse con la autorización del Titular de la información que es objeto de transferencia. Salvo que la ley autorice lo contrario, es presupuesto necesario la existencia de dicha autorización para efectuar la circulación internacional de datos. En este sentido, antes de enviar datos personales a otro país, los obligados de cumplir esta política deberán verificar que se cuenta con la autorización previa, expresa e inequívoca del Titular que permita trasmitir sus datos personales.<br />
                        Dicha transferencia de los datos personales se realiza únicamente a terceros con quien RETAIL VALUE S.A.S., tenga vínculo contractual, comercial y/o legal.</p>
                        <h4>3.3. Manejo de datos sensibles</h4>
                        <p>RETAIL VALUE S.A.S., no recolectará, usará o tratará datos sensibles salvo que el Titular de los mismos emita una autorización expresa para dicho tratamiento o en los casos que la ley determina que no se requiere dicha autorización.</p>
                        <h3>DERECHOS DE LOS TITULARES.</h3>
                        <p>Los Titulares de los Datos Personales registrados en las Bases de Datos de RETAIL VALUE S.A.S.,  tienen los siguientes derechos, contenidos en la Ley 1581 de 2012 y sus Decretos Reglamentarios:</p>
                        <ol class="abc">
                            <li>Conocer, actualizar, corregir y/o suprimir sus datos personales. Estos derechos los podrán ejercer, entre otros, frente a Datos Personales parciales, inexactos, incompletos, fraccionados, que induzcan a error, o aquellos cuyo Tratamiento esté expresamente prohibido o no haya sido autorizado;</li>
                            <li>Solicitar prueba de la Autorización otorgada a RETAIL VALUE S.A.S. salvo cuando se exceptúe expresamente como requisito para el Tratamiento, de conformidad con lo previsto en el artículo 10 de la Ley 1581 de 2012;</li>
                            <li>Ser informado respecto del uso que se ha dado a sus Datos Personales por RETAIL VALUE S.A.S. o el Encargado del Tratamiento, previa solicitud;</li>
                            <li>Mediante reclamo presentado conforme al artículo 15 de la Ley 1581 de 2012, puede solicitar la revocatoria de la autorización y/o solicitar la supresión del Dato Personal cuando en el Tratamiento no se respeten los principios, derechos y garantías constitucionales y legales o en cualquier momento siempre que el Titular no tenga el deber legal o contractual de permanecer en las bases de datos de RETAIL VALUE S.A.S., y de acuerdo con el procedimiento para tal efecto, señalado en la presente Política.</li>
                            <li>Acceder en forma gratuita a sus Datos Personales que hayan sido objeto de Tratamiento, conforme al procedimiento dispuesto por RETAIL VALUE S.A.S., para tal efecto.</li>
                        </ol>
                        <h3>PROCEDIMIENTO DE CONSULTAS Y RECLAMOS.</h3>
                        <p>RETAIL VALUE S.A.S., garantiza el derecho de consulta, corrección, actualización y/o supresión de los datos personales del Titular, suministrando al mismo y cuando actúe en ejercicio de su derecho, toda la información contenida en su registro individual o que esté vinculada con la identificación del titular. Para la atención de solicitudes asociadas al ejercicio del derecho, el titular podrá dirigirse presencialmente a nuestra tienda para solicitar lo propio.</p>
                        <p>Recuerde que debe presentar o enviar; su tipo y número de identificación (como titular de los datos), la descripción de los hechos que dan lugar al reclamo, dirección de correspondencia para que RETAIL VALUE S.A.S., pueda notificarle, teléfono de contacto y cualquier documento que quiera hacer valer.</p>
                        <p>Se encuentra designada una persona que recibirá, procesara y canalizara las distintas solicitudes que se reciban, y las hará llegar a la respectiva dependencia que se encuentre como delegada para ejecutar dicha petición, dependencias que una vez reciban estas comunicaciones, entraran a cumplir con la función de protección de datos personales, y deberán dar trámite a las solicitudes de los Titulares, en los términos, plazos y condiciones establecidos por la normatividad vigente sobre protección de datos personales.</p>
                        <p>Las solicitudes serán atendidas en un término máximo de quince (15) días hábiles contados a partir de la fecha de su recibo.</p>
                        <p>Si la solicitud resulta incompleta, se emitirá la comunicación al Titular, solicitando requisitos pendientes que contempla un tiempo no mayor a los cinco (5) días siguientes a la recepción de la solicitud para que subsane las inconsistencias. Si transcurridos dos (2) meses desde la fecha del requerimiento, el Titular no presenta la información requerida, se entenderá que ha “Desistido” de la solicitud y se procederá a cerrarla con este estado.</p>
                        <p><strong>Para el ejercicio de los derechos de los Titulares:</strong> La solicitud de consulta, corrección, actualización y/o supresión debe ser presentada a través del medio ya mencionado y habilitado por RETAIL VALUE S.A.S. y debe contener, como mínimo, la siguiente información:</p>
                        <ol class="abc">
                            <li>El nombre, domicilio del Titular y medio de contacto para recibir la respuesta como teléfono, correo electrónico, dirección de residencia.</li>
                            <li>Los documentos que acrediten la identidad del Titular o la representación de su representante.</li>
                            <li>La descripción clara y precisa de los datos personales o hechos respecto de los cuales el Titular busca ejercer alguno de los derechos y que dan lugar a su solicitud.</li>
                        </ol>
                        <p><strong>Supresión De Datos.</strong> El Titular tiene el derecho, en todo momento, a solicitar a RETAIL VALUE S.A.S., la supresión (eliminación) de sus datos personales cuando:
                        Considere que los mismos no están siendo tratados conforme a los principios, deberes y obligaciones previstas en la Ley 1581 de 2012.
                        Hayan dejado de ser necesarios o pertinentes para la finalidad para la cual fueron recolectados.<br />
                        Se haya superado el periodo necesario para el cumplimiento de los fines para los que fueron recolectados.</p>
                        <p>Esta supresión implica la eliminación total, parcial ó inactivación de la información personal de acuerdo con lo solicitado por el Titular en los registros, archivos, bases de datos o tratamientos realizados por RETAIL VALUE S.A.S., el Titular debe advertir que el derecho de cancelación no es absoluto y el responsable puede negar el ejercicio del mismo cuando:</p>
                        <ol class="abc">
                            <li>Las solicitudes de supresión de la información no procederán cuando el Titular tenga un deber legal o contractual de permanecer en la base de datos.</li>
                            <li>Las solicitudes de supresión de la información no procederán cuando el Titular tenga un proceso transaccional en nuestras bases de datos.</li>
                            <li>La eliminación de datos obstaculice actuaciones judiciales o administrativas vinculadas a obligaciones fiscales, la investigación y persecución de delitos o la actualización de sanciones administrativas.</li>
                            <li>Los datos sean necesarios para proteger los intereses jurídicamente tutelados del Titular; para realizar una acción en función del interés público, o para cumplir con una obligación legalmente adquirida por el Titular.</li>
                        </ol>
                        <p>En caso de resultar procedente la cancelación de los datos personales, RETAIL VALUE S.A.S., debe realizar operativamente la supresión de tal manera que la eliminación no permita la recuperación de la información. También debe tenerse en cuenta que en algunos casos cierta información deberá permanecer en registros históricos por cumplimiento de deberes legales de la organización por lo que su supresión versará frente al tratamiento activo de los mismos y de acuerdo a la solicitud del Titular.</p>
                        <h3>IDENTIFICACIÓN DE LAS BASES DE DATOS Y PERIODO DE VIGENCIA.</h3>
                        <p>Las bases de datos bajo tratamiento por parte de RETAIL VALUE S.A.S. son las consagradas en sus procedimientos en materia de Protección de datos y estarán vigentes durante toda la duración del objeto social de la empresa.</p>
                        <h3>VIGENCIA Y ACTUALIZACIÓN DE LAS POLITICAS.</h3>
                        <p>Por regla general, el término de las autorizaciones sobre el uso de los datos personales por los clientes y/o usuarios se entiende por el término de la relación comercial o de la vinculación al servicio y durante el ejercicio del objeto social de la compañía.<br />
                        Las autorizaciones sobre los datos de los clientes y/o usuarios podrán terminar por voluntad de los mismos en cualquier momento. Si la persona es un cliente activo de RETAIL VALUE S.A.S. no se podrán usar sus datos para nada diferente a la prestación del producto o servicio y para el ofrecimiento de renovaciones posteriores cuando el servicio tenga esta modalidad.<br />
                        Cualquier cambio sustancial en las políticas de Tratamiento, se comunicará de forma oportuna a los Titulares de los datos a través de los medios habituales de contacto.<br />
                        Para los Titulares que no tengan acceso a medios electrónicos o aquellos a los que no sea posible contactar, se comunicará a través de medios verbales, escritos o medios digitales expuestos en cada tienda.</p>
                        <p>Las comunicaciones se enviarán antes de implementar las nuevas políticas y/o actualización sustancial de la misma.<br />
                        Esta política tiene vigencia a partir del 17 de julio del 2021.</p>
                    </div>
                    <!-- /#datos-personales -->
                    <div id="obsequios-de-lanzamiento">
                        <h2>ACTIVIDAD OBSEQUIOS DE LANZAMIENTO POR COMPRAS SEPTIEMBRE 2021</h2>
                        <p>Durante la primera semana de septiembre del 2021, en nuestra tienda física de Equivalenza a cargo de RETAIL VALUE S.A.S., estaremos entregando un (1) regalo sorpresa a aquellos clientes que realicen compras del inventario disponible a los primeros 200 compradores.</p>
                        <p>Los obsequios se entregarán a los clientes antes descritos, en el orden en que realicen sus compras y hasta agotar existencias. El inventario de obsequios sorpresa está aleatoriamente disperso, y se encuentra compuesto por 200 unidades de obsequios a entregar, entre geles de ducha, lociones corporales, exfoliantes para labios, crema después de afeitado y bolsas de tela de Equivalenza. Válido solo al momento de la compra y no es redimible por dinero. Los obsequios sorpresa no están disponibles para la venta al público y por ende, no poseen un valor comercial codificado en nuestro sistema. El cliente <strong>NO</strong> tiene la posibilidad de escoger un ítem específico de regalo, para lo cual deberá atenerse a aquel que aleatoriamente le corresponda al momento de la compra. El obsequio no se puede cambiar.</p>
                        <h2>ACTIVIDAD OBSEQUIOS DE LANZAMIENTO POR REGISTRO SEPTIEMBRE 2021</h2>
                        <p>Durante la primera semana de septiembre del 2021, en nuestra tienda física de Equivalenza a cargo de RETAIL VALUE S.A.S., estaremos entregando un (1) regalo que corresponde a una bolsa de tela del inventario disponible a las primeras 100 personas que se registren en nuestro landing page y nos sigan en nuestra cuenta oficial de Instagram @equivalenzaco.</p>
                        <p>Los obsequios se entregarán a los clientes antes descritos, en el orden en que realicen su registro y hasta agotar existencias. El inventario de bolsas de tela Equivalenza está compuesto por 100 unidades y es válido solo al momento de registrarse y seguirnos en nuestra cuenta oficial de Instagram @equivalenzaco.  No es redimible por dinero. Los obsequios no están disponibles para la venta al público y, por ende, no poseen un valor comercial codificado en nuestro sistema. El obsequio no se puede cambiar.</p>
                    </div>
                    <!-- /#obsequios-de-lanzamiento -->
                </div><!-- /.eq-legal__content -->
            </div><!-- /.eq-legal -->
        </div><!-- /.eq-section__inner -->
    </section><!-- /.eq-section -->

    {% include 'components/footer-colombia.twig' %}
    {% include 'components/scripts-landing-colombia.twig' %}
{% endblock %}

