@import 'utils/functions';
@import 'utils/variables';
@import 'utils/mixins';

@import 'base/webfonts';
@import 'base/layout';

[class*='catalog-category-view'] {
    margin: 0;

    @import 'base/typography';

    @import 'common/buttons';
    @import 'common/slider';

    // @import "modules/best-sellers";
    // @import "modules/categorias";
    @import 'modules/check-list';
    @import 'modules/copy';
    // @import "modules/emociones";
    @import 'modules/footer-landing';
    @import 'modules/forms';
    @import 'modules/hero';
    @import 'modules/icon-gallery';
    @import 'modules/image-slider';
    // @import "modules/legal";
    // @import "modules/product-slider";
    // @import "modules/refill";
    @import 'modules/ventajas';

    @import 'pages/chi-siamo';

    .modal {
        background: rgba(0, 0, 0, 0.4);
        .modal-dialog {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .modal-header {
            position: absolute;
            top: 0;
            z-index: 1;
            width: 100%;
            .close {
                border: none !important;
                background: none !important;
            }
        }
    }
}
