{# gracias-por-tu-interes.twig #}
{% extends 'layouts/default-blocks.twig' %}
{% set lang="es" %}

{% block meta %}
    {{ parent() }}
    <title>Gracias por tu interés</title>
{% endblock %}

{% block content %}

    {% include 'components/css-landing-franquicias.twig' %}

    <section class="eq-section eq-section--nopadding eq-section--salmon">
        <div class="eq-section__inner">
            <div class="eq-co-gracias">
                {% include 'common/icon-empatia.twig' %}
                <p class="eq-co-gracias__title">
                    <span><strong>Gracias por tu interés</strong></span>
                </p>
                <p class="eq-co-gracias__copy">Muy pronto recibirás un correo electrónico para iniciar la conversación sobre tu proyecto.</p>
                <p class="eq-co-gracias__copy">Estaremos encantados de conocerte mejor, asesorarte y ayudarte a hacer realidad tu negocio.</p>
            </div><!-- /.eq-co-gracias -->  
        </div><!-- /.eq-section__inner -->
    </section><!-- /.eq-section -->

{% endblock %}

