{# home.twig #}
{% extends 'layouts/default.twig' %}
{% set lang="es" %}
{% set basePath='https://equivalenza.com/landings_media/images/home-20230605/' %}

{% block meta %}
    {{ parent() }}
    <title>Home Equivalenza 2022 - ES</title>
{% endblock %}

{% block content %}

{% include 'components/css-home-2022.twig' %}

<section class="eq-section eq-section--nopadding">
    <div class="eq-section__inner">
    {{ '{{block class="Magento\Cms\Block\Block" block_id="banners"}}' | escape }}
    </div>
</section>

{% include 'components/copy.twig' with {
    text: 'En Equivalenza diseñamos productos de <strong>máxima calidad</strong>, realizados con <strong>ingredientes naturales</strong>, respetuosos con el medio ambiente y a precios muy <strong>asequibles</strong>.',
} %}

{% include 'components/icon-gallery.twig' with {
    items: [
        {
            icon: 'icon-1.png',
            label: 'Envase reutilizable',
        },
        {
            icon: 'icon-2.png',
            label: 'Ecodiseño, mínimo packaging',
        },
        {
            icon: 'icon-3.png',
            label: 'Ingredientes de origen natural',
        },
        {
            icon: 'icon-4.png',
            label: 'Fórmulas aptas para veganos',
        },
        {
            icon: 'icon-5.png',
            label: 'Conectamos con tus emociones',
        },
        {
            icon: 'icon-6.png',
            label: 'No testeamos en animales',
        },
    ],
} %}

<!-- START: COSMÉTICA FACIAL -->
<section class="eq-section eq-section--nopadding eq-section--cn">
    <div class="eq-section__inner">
        <div class="eq-cn">
            <p class="eq-cn__title">Cosmética natural, sensorial, sostenible</p>
            <div class="eq-cn__wrap">
                <div class="eq-cn__pic">
                    <img src="{{basePath}}{{lang}}/cn-pic-optimized.png" alt="" />
                </div>
                <div class="eq-cn__content">
                    <div class="eq-cn-slider eq-slider owl-carousel">
                        <div class="eq-cn-slider__item item item-1">
                            <div class="pic"><img src="{{basePath}}{{lang}}/cn-slide-1-fix.png" alt="" /></div>
                            <div class="content">
                                <a href="https://equivalenza.com/es/sorbete-hidratante/" class="btn">Comprar</a>
                            </div>
                        </div>
                        <!-- /.item -->
                        <div class="eq-cn-slider__item item item-2">
                            <div class="pic"><img src="{{basePath}}{{lang}}/cn-slide-2-fix.png" alt="" /></div>
                            <div class="content">
                                <a href="https://equivalenza.com/es/relax-mask/" class="btn">Comprar</a>
                            </div>
                        </div>
                        <!-- /.item -->
                        <div class="eq-cn-slider__item item item-3">
                            <div class="pic"><img src="{{basePath}}{{lang}}/cn-slide-3-fix.png" alt="" /></div>
                            <div class="content">
                                <a href="https://equivalenza.com/es/limpiador-detoxificante-3-en-1/" class="btn">Comprar</a>
                            </div>
                        </div>
                        <!-- /.item -->
                        <div class="eq-cn-slider__item item item-4">
                            <div class="pic"><img src="{{basePath}}{{lang}}/cn-slide-4-fix.png" alt="" /></div>
                            <div class="content">
                                <a href="https://equivalenza.com/es/limpiador-detoxificante-3-en-1/" class="btn">Comprar</a>
                            </div>
                        </div>
                        <!-- /.item -->
                        <div class="eq-cn-slider__item item item-5">
                            <div class="pic"><img src="{{basePath}}{{lang}}/cn-slide-5-fix.png" alt="" /></div>
                            <div class="content">
                                <a href="https://equivalenza.com/es/contorno-de-ojos-antifatiga/" class="btn">Comprar</a>
                            </div>
                        </div>
                        <!-- /.item -->
                        <div class="eq-cn-slider__item item item-6">
                            <div class="pic"><img src="{{basePath}}{{lang}}/cn-slide-6-fix.png" alt="" /></div>
                            <div class="content">
                                <a href="https://equivalenza.com/es/crema-sedosa-reafirmante/" class="btn">Comprar</a>
                            </div>
                        </div>
                        <!-- /.item -->
                    </div>   
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'components/copy.twig' with {
    title: 'TOP VENTAS COSMÉTICA FACIAL',
    text: '¡Estos son vuestros favoritos!',
    className: 'eq-section--nopadding-bottom',
} %}
<div class="eq-section eq-section--nopadding-top">
    <div class="eq-section__inner">
        <div class="eq-topventas-cosmetica eq-slider owl-carousel">
            <div class="eq-topventas-cosmetica__item item item-1">
                <div class="pic"><img src="{{basePath}}{{lang}}/top-cosmetica-1.jpg" alt="" /></div>
                <div class="content">
                    <p class="title">Sorbete hidratante</p>
                    <p class="price"><strong>13,95 €</strong></p>
                    <a href="https://equivalenza.com/es/sorbete-hidratante/" class="btn">Comprar</a>
                </div>
            </div>
            <!-- /.item -->
            <div class="eq-topventas-cosmetica__item item item-2">
                <div class="pic"><img src="{{basePath}}{{lang}}/top-cosmetica-2.jpg" alt="" /></div>
                <div class="content">
                    <p class="title">Sorbete Mascarilla de arcilla Relax</p>
                    <p class="price"><strong>4,95 €</strong></p>
                    <a href="https://equivalenza.com/es/relax-mask/" class="btn">Comprar</a>
                </div>
            </div>
            <!-- /.item -->
            <div class="eq-topventas-cosmetica__item item item-3">
                <div class="pic"><img src="{{basePath}}{{lang}}/top-cosmetica-3.jpg" alt="" /></div>
                <div class="content">
                    <p class="title">Limpiador detoxificante 3 en 1</p>
                    <p class="price"><strong>7,95 €</strong></p>
                    <a href="https://equivalenza.com/es/limpiador-detoxificante-3-en-1/" class="btn">Comprar</a>
                </div>
            </div>
            <!-- /.item -->
            <div class="eq-topventas-cosmetica__item item item-4">
                <div class="pic"><img src="{{basePath}}{{lang}}/top-cosmetica-4.jpg" alt="" /></div>
                <div class="content">
                    <p class="title">Contorno de ojos antifatiga</p>
                    <p class="price"><strong>11,45 €</strong></p>
                    <a href="https://equivalenza.com/es/limpiador-detoxificante-3-en-1/" class="btn">Comprar</a>
                </div>
            </div>
            <!-- /.item -->
            <div class="eq-topventas-cosmetica__item item item-5">
                <div class="pic"><img src="{{basePath}}{{lang}}/top-cosmetica-5.jpg" alt="" /></div>
                <div class="content">
                    <p class="title">Crema sedosa reafirmante</p>
                    <p class="price"><strong>11,45 €</strong></p>
                    <a href="https://equivalenza.com/es/contorno-de-ojos-antifatiga/" class="btn">Comprar</a>
                </div>
            </div>
            <!-- /.item -->
            <div class="eq-topventas-cosmetica__item item item-6">
                <div class="pic"><img src="{{basePath}}{{lang}}/top-cosmetica-6.jpg" alt="" /></div>
                <div class="content">
                    <p class="title">Sérum hidratante aqua bomb</p>
                    <p class="price"><strong>16,45 €</strong></p>
                    <a href="https://equivalenza.com/es/crema-sedosa-reafirmante/" class="btn">Comprar</a>
                </div>
            </div>
            <!-- /.item -->
        </div>          
    </div>
</div>
<!-- END: COSMÉTICA FACIAL -->


{% include 'components/copy.twig' with {
    title: 'TUS IMPRESCINDIBLES PARA EL VERANO',
    text: '¡No los dejes escapar!',
} %}

<!-- START: NOVEDADES -->
<section class="eq-section eq-section--nopadding-top">
    <div class="eq-section__inner">
        <div class="eq-new eq-slider owl-carousel">
            <div class="eq-new__item item">
                <a href="https://equivalenza.com/es/summer/aceite-corporal-iluminador/"><img src="{{basePath}}{{lang}}/aceite_corporal_lifestyle_1_.jpg" alt="" /></a>
                <p class="title">ACEITE CORPORAL ILUMINADOR</p>
                <p class="description">Sus perlitas son ideales para iluminar tu escote, brazos, piernas ¡y cualquier otra zona de la que quieras presumir!</p>
                {% include 'common/button-black.twig' with { href: 'https://equivalenza.com/es/summer/aceite-corporal-iluminador/', text: '¡WOW!' } %}
            </div>
            <div class="eq-new__item item">
                <a href="https://equivalenza.com/es/perfumes/body-mist/"><img src="{{basePath}}{{lang}}/MicrosoftTeams-image_49_.png" alt="" /></a>
                <p class="title">TUS ALIADOS PARA EL CALOR</p>
                <p class="description">Descubre nuestros body mist perfumados ¡y refrescáte este verano con los mejores aromas!</p>
                {% include 'common/button-black.twig' with { href: 'https://equivalenza.com/es/perfumes/body-mist/', text: '¡PARA MI!' } %}
            </div>
            <div class="eq-new__item item">
                <a href="https://equivalenza.com/es/summer/"><img src="{{basePath}}{{lang}}/autobronceadores.jpg" alt="" /></a>
                <p class="title">¡PRESUME DE PIEL BRONCEADA!</p>
                <p class="description">Autobronceadores de rostro y cuerpo para un bronceado natural y radiante sin necesidad de exposición solar.</p>
                {% include 'common/button-black.twig' with { href: 'https://equivalenza.com/es/summer/', text: 'DESCUBRIR' } %}
            </div>
        </div>
    </div>
</section>
<!-- END: NOVEDADES -->

{% include 'components/copy.twig' with {
    title: 'DESCUBRE EQUIVALENZA',
    text: 'Productos únicos al alcance de todos',
} %}

<!-- START: SEARCH -->
<section class="eq-section eq-section--nopadding eq-section--search">
    <div class="eq-section__inner">
        <div class="eq-search">
            <div class="eq-search__pic">
                <img src="{{basePath}}{{lang}}/EQZ_01_shorter.jpg" alt="" />
            </div>
            <div class="eq-search__content">
                <p class="title">Fragancias que hablan de ti</p>
                <p class="copy">Nuestros perfumistas han creado más de 130 fragancias inolvidables a partir de ingredientes de máxima calidad. ¡Encuentra tu favorita en nuestro catálogo!</p>
                <ul class="links">
                    <li><a href="https://equivalenza.com/es/perfumes/perfumes-mujer/ ">Perfumes para mujer</a></li>
                    <li><a href="https://equivalenza.com/es/perfumes/perfumes-hombre/">Perfumes para hombre</a></li>
                </ul>
                <form id="eq-search" class="eq-search__form">
                    <fieldset>
                        <legend>Eres fiel a tu perfume y sabes qué número te define. <strong>¡Búscalo aquí!</strong></legend>
                        <div class="eq-search__group">
                            <div class="eq-search__field">
                                <input class="form-control" id="searchperfume" name="search" placeholder="Mi número es..." type="search">
                                <div class="inner-addon right-addon spinsearchperf" style="display: none;">
                                    <i class="fa fa-spinner fa-pulse"></i>
                                </div>
                                <div class="inner-addon right-addon errorsearchperf" style="display: none; color: red;">
                                    <i class="fa fa-exclamation-circle"></i>
                                </div>
                            </div>
                            <button type="submit">Buscar</button>
                        </div>
                    </fieldset>
                </form>
                <p class="copy"><strong>¿No sabes cuál elegir?</strong> No te preocupes, te ayudamos a encontrar tu perfume ideal.</p>
                {% include 'common/button-black.twig' with { href: 'https://equivalenza.com/es/buscador-perfumes/', text: 'DESCUBRE TU PERFUME' } %}
            </div>
        </div>
    </div>
</section>
<!-- END: SEARCH -->

<!-- START: CATEGORIES -->
<section class="eq-section">
    <div class="eq-section__inner">
        <div class="eq-categories">
            <div class="eq-categories__inner">
                <a href="https://equivalenza.com/es/cosmetics/" class="eq-categories__item">
                    <img src="{{basePath}}{{lang}}/categorias-1.jpg" alt="" class="eq-categories__pic" />
                    <span class="title">Rostro</span>
                </a>
                <a href="https://equivalenza.com/es/cosmetica/cuidado-corporal/" class="eq-categories__item">
                    <img src="{{basePath}}{{lang}}/categorias-2.jpg" alt="" class="eq-categories__pic" />
                    <span class="title">Cuerpo</span>
                </a>
                <a href="https://equivalenza.com/es/ambientacion/" class="eq-categories__item">
                    <img src="{{basePath}}{{lang}}/categorias-3.jpg" alt="" class="eq-categories__pic" />
                    <span class="title">Ambientación</span>
                </a>
                <a href="https://equivalenza.com/es/maquillaje/" class="eq-categories__item">
                    <img src="{{basePath}}{{lang}}/categorias-4.jpg" alt="" class="eq-categories__pic" />
                    <span class="title">Maquillaje</span>
                </a>
                <a href="https://equivalenza.com/es/perfumes/" class="eq-categories__item">
                    <img src="{{basePath}}{{lang}}/categorias-5.jpg" alt="" class="eq-categories__pic" />
                    <span class="title">Perfumes</span>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- END: CATEGORIES -->

{% include 'components/copy.twig' with {
    title: 'TOP VENTAS',
    text: '¡Estos son nuestros favoritos!',
} %}

<!-- START: TOP VENTAS -->
<section class="eq-section eq-section--nopadding">
    <div class="eq-section__inner">
        <div class="eq-topsales">
            <div class="eq-topsales__item">{{ '{{block class="MGS\Mpanel\Block\Products\Attributes" mgs_panel_title="" mgs_panel_note="" limit="15" ratio="1" category_ids="298" attribute="mas_vendido" use_slider="1" loadmore="0" template="products/attribute/category-tabs.phtml" perrow="2" autoplay="1" stop_auto="1" navigation="1" pagination="0" number_row="1"}}' | escape }}</div>
            <div class="eq-topsales__item">{{ '{{block class="MGS\Mpanel\Block\Products\Attributes" mgs_panel_title="" mgs_panel_note="" limit="15" ratio="1" category_ids="320" attribute="mas_vendido" use_slider="1" loadmore="0" template="products/attribute/category-tabs.phtml" perrow="2" autoplay="1" stop_auto="1" navigation="1" pagination="0" number_row="1"}}' | escape }}</div>
            <div class="eq-topsales__item">{{ '{{block class="MGS\Mpanel\Block\Products\Attributes" mgs_panel_title="" mgs_panel_note="" limit="15" ratio="1" category_ids="385" attribute="mas_vendido" use_slider="1" loadmore="0" template="products/attribute/category-tabs.phtml" perrow="2" autoplay="1" stop_auto="1" navigation="1" pagination="0" number_row="1"}}' | escape }}</div>
        </div>
    </div>
</section>
<!-- END: TOP VENTAS -->

{% include 'components/copy.twig' with {
    title: 'NUEVA LÍNEA DE <span class="h">COSMÉTICA</span>',
    text: 'Sensorial, natural y sostenible',
} %}

{% include 'components/new-line.twig' with {
    slides: [
        {
            img: {
                src: 'slide-1.jpg',
                alt: '',
            },
            title: 'Alegría radiante',
            copy: 'Texturas frescas y revitalizantes con el poder y la luminosidad de la <span class="highlight">VITAMINA C</span>.',
            link: {
                text: 'Descubre toda la gama',
                href: 'https://equivalenza.com/es/cosmetica/ingrediente-emocion/alegria-radiante/',
            },
            products: [
                {
                    img: {
                        src: 'slide-1__1.jpg',
                        alt: '',
                    },
                    title: 'Crema ligera rejuvenecedora',
                    price: '17,95 €',
                    btn: {
                        text: 'Comprar',
                        href: 'https://equivalenza.com/es/catalog/product/view/id/4552/s/crema-ligera-rejuvenecedora/category/619/',
                    },
                },
                {
                    img: {
                        src: 'slide-1__2.jpg',
                        alt: '',
                    },
                    title: 'Sérum iluminador',
                    price: '15,95 €',
                    btn: {
                        text: 'Comprar',
                        href: 'https://equivalenza.com/es/catalog/product/view/id/4542/s/serum-iluminador/category/619/',
                    },
                },
                {
                    img: {
                        src: 'slide-1__3.jpg',
                        alt: '',
                    },
                    title: 'Pack de 5 ampollas de 2ml de Vitamina C y Proteoglicanos',
                    price: '9,95 €',
                    btn: {
                        text: 'Comprar',
                        href: 'https://equivalenza.com/es/cosmetica/ingrediente-emocion/alegria-radiante/pack-de-5-ampollas-de-2ml-con-vitamina-c-y-proteoglicanos/',
                    },
                },
            ]
        },
        {
            img: {
                src: 'slide-2.jpg',
                alt: '',
            },
            title: 'Energía vital',
            copy: 'Siente la protección y vitalidad del <span class="highlight highlight--green">ALOE VERA</span> a través de sus texturas ligeras y energizantes.',
            link: {
                text: 'Descubre toda la gama',
                href: 'https://equivalenza.com/es/cosmetica/ingrediente-emocion/energia-vital/',
            },
            products: [
                {
                    img: {
                        src: 'slide-2__1.jpg',
                        alt: '',
                    },
                    title: 'Crema exfoliante corporal detoxificante',
                    price: '11,95 €',
                    btn: {
                        text: 'Comprar',
                        href: 'https://equivalenza.com/es/catalog/product/view/id/5895/s/crema-exfoliante-corporal-detoxificante/category/640/',
                    },
                },
                {
                    img: {
                        src: 'slide-2__2.jpg',
                        alt: '',
                    },
                    title: 'Roll-on anticelulítico detox 75ml',
                    price: '9,45 €',
                    btn: {
                        text: 'Comprar',
                        href: 'https://equivalenza.com/es/cosmetica/ingrediente-emocion/energia-vital//roll-on-anticelulitico-detox-75ml/',
                    },
                },
                {
                    img: {
                        src: 'slide-2__3.jpg',
                        alt: '',
                    },
                    title: 'Limpiador detoxificante 3 en 1',
                    price: '7,95 €',
                    btn: {
                        text: 'Comprar',
                        href: 'https://equivalenza.com/es/catalog/product/view/id/4569/s/limpiador-detoxificante-3-en-1/category/640/',
                    },
                },
            ]
        },
        {
            img: {
                src: 'slide-3.jpg',
                alt: '',
            },
            title: 'Seducción magnética',
            copy: 'Texturas cremosas y nutritivas que acentúan la intensidad de nutrición de los <span class="highlight highlight--purple">ACEITES ELIXIR</span>.',
            link: {
                text: 'Descubre toda la gama',
                href: 'https://equivalenza.com/es/cosmetica/ingrediente-emocion/seduccion-magnetica/',
            },
            products: [
                {
                    img: {
                        src: 'slide-3__1.jpg',
                        alt: '',
                    },
                    title: 'Aceite de masaje embellecedor',
                    price: '9,95 €',
                    btn: {
                        text: 'Comprar',
                        href: 'https://equivalenza.com/es/catalog/product/view/id/5813/s/aceite-de-masaje-embellecedor/category/646/',
                    },
                },
                {
                    img: {
                        src: 'slide-3__2.jpg',
                        alt: '',
                    },
                    title: 'Crema sedosa reafirmante',
                    price: '11,95 €',
                    btn: {
                        text: 'Comprar',
                        href: 'https://equivalenza.com/es/catalog/product/view/id/4556/s/crema-sedosa-reafirmante/category/646/',
                    },
                },
                {
                    img: {
                        src: 'slide-3__3.jpg',
                        alt: '',
                    },
                    title: 'Contorno de ojos reafirmante',
                    price: '11,95 €',
                    btn: {
                        text: 'Comprar',
                        href: 'https://equivalenza.com/es/catalog/product/view/id/4567/s/contorno-de-ojos-reafirmante/category/646/',
                    },
                },
            ]
        },
        {
            img: {
                src: 'slide-4.jpg',
                alt: '',
            },
            title: 'Equilibrio interior',
            copy: 'Encuentra la calma con esta línea reconfortante que potencian la pureza que aporta el <span class="highlight highlight--blue">ÁCIDO HIALURÓNICO</span>.',
            link: {
                text: 'Equilibrio interior',
                href: 'https://equivalenza.com/es/cosmetica/ingrediente-emocion/equilibrio-interior/',
            },
            products: [
                {
                    img: {
                        src: 'slide-4__1.jpg',
                        alt: '',
                    },
                    title: 'Manteca exfoliante corporal equilibrante',
                    price: '11,95 €',
                    btn: {
                        text: 'Comprar',
                        href: 'https://equivalenza.com/es/catalog/product/view/id/5838/s/manteca-exfoliante-corporal-equilibrante/category/643/',
                    },
                },
                {
                    img: {
                        src: 'slide-4__2.jpg',
                        alt: '',
                    },
                    title: 'Crema de ducha reconfortante',
                    price: '5,95 €',
                    btn: {
                        text: 'Comprar',
                        href: 'https://equivalenza.com/es/catalog/product/view/id/5816/s/crema-de-ducha-reconfortante/category/643/',
                    },
                },
                {
                    img: {
                        src: 'slide-4__3.jpg',
                        alt: '',
                    },
                    title: 'Sérum hidratante aqua bomb',
                    price: '15,95 €',
                    btn: {
                        text: 'Comprar',
                        href: 'https://equivalenza.com/es/catalog/product/view/id/4564/s/serum-hidratante-aqua-bomb/category/643/',
                    },
                },
            ]
        },
    ]
} %}

<section class="eq-section eq-section--green">
    <div class="eq-section__inner">
        <div class="eq-sostenible">
            <div class="eq-sostenible__pic">
                <img src="{{basePath}}{{lang}}/sostenible.jpg" alt="" />
            </div>
            <div class="eq-sostenible__content">
                <p class="title">LA COSMÉTICA DEL FUTURO <span class="highlight">ES SOSTENIBLE</span></p>
                <p class="subtitle">Cuidamos de tu piel y del medio ambiente.</p>
                <ul class="items">
                    <li>
                        <strong>NATURAL</strong>
                        <span>Hasta <strong>un 99% de los ingredientes de nuestra cosmética son de origen natural</strong> y más del 80% de las fórmulas son aptas para veganos.</span>
                    </li>
                    <li>
                        <strong>SOSTENIBLE</strong>
                        <span>Las innovadoras <strong>recargas eco</strong> para las cremas en tarro <strong>reducen el consumo de plástico en casi un 90% por cada recarga</strong>.</span>
                    </li>
                </ul>
                {% include 'common/button-black.twig' with { href: 'https://equivalenza.com/es/cosmetica/', text: 'DESCUBRE LA COSMÉTICA SOSTENIBLE' } %}
            </div>
        </div>
    </div>
</section>

{% include 'components/copy.twig' with {
    title: 'NOS RECOMIENDAN',
    text: 'Esto es lo que dicen de nuestros productos.',
} %}

{% include 'components/reviews.twig' with {
    items: [
        {
            product: {
                img: {
                    src: 'review-1.jpg',
                    alt: '',
                },
                name: 'Frutal Marino 126',
                rating: 5,
                href: 'https://www.equivalenza.com/es/perfumes/perfumes-mujer/energia-vital/frutal-marino-126/',
            },
            review: {
                title: 'Ideal para primavera',
                text: 'Me la he comprado ahora de cara a la primavera, es una mezcla perfecta de cítricos y flores muy alegre y fácil de llevar, siempre repito',
                by: 'Opinión de Isabel 4/3/22',
            },
        },
        {
            product: {
                img: {
                    src: 'review-2.jpg',
                    alt: '',
                },
                name: 'Chypre Floral 140',
                rating: 5,
                href: 'https://www.equivalenza.com/es/perfumes/perfumes-mujer/seduccion-magnetica/perfume-chypre-floral-140/',
            },
            review: {
                title: 'Repetiré',
                text: 'Ha sido muy buena compra, todas mis amigas me comentan lo bien que huelo desde que la uso, repetiré seguro :)',
                by: 'Opinión de Sara 22/2/22',
            },
        },
        {
            product: {
                img: {
                    src: 'review-3.jpg',
                    alt: '',
                },
                name: 'Herbáceo Aromático 305',
                rating: 5,
                href: 'https://www.equivalenza.com/es/perfumes/perfumes-hombre/energia-vital/seduccion-magnetica/herbaceo-aromatico-305/',
            },
            review: {
                title: 'Maravilloso',
                text: 'Desde que lo uso, mucha gente me pregunta que perfume llevo porque huele muy bien.',
                by: 'Opinión de jose andres 8/9/21',
            },
        },
        {
            product: {
                img: {
                    src: 'review-4.jpg',
                    alt: '',
                },
                name: 'Amaderado Especiado 264',
                rating: 5,
                href: 'https://equivalenza.com/es/perfumes/perfumes-hombre/equilibrio-interior/amaderado-especiado-264/',
            },
            review: {
                title: 'Perfecto, muy masculino',
                text: 'Huele genial, como a almendras, y tiene una textura muy muy cremosa, parece mousse de verdad!',
                by: 'Opinión de Anabel 10/12/21',
            },
        },
        {
            product: {
                img: {
                    src: 'review-5.jpg',
                    alt: '',
                },
                name: 'Mousse de ducha sedoso',
                rating: 5,
                href: 'https://equivalenza.com/es/cosmetica/cuidado-corporal/geles-de-ba-o/mousse-de-ducha-sedoso/',
            },
            review: {
                title: 'Perfecta, muy cremosa',
                text: 'Huele genial, como a almendras, y tiene una textura muy muy cremosa, parece mousse de verdad!',
                by: 'Opinión de Anabel 10/12/21',
            },
        },
        {
            product: {
                img: {
                    src: 'review-6.jpg',
                    alt: '',
                },
                name: 'Sorbete hidratante',
                rating: 5,
                href: 'https://equivalenza.com/es/cosmetica/cosmetics/cremas-hidratantes/sorbete-hidratante/',
            },
            review: {
                title: 'Es fresquita y se absorbe muy bien',
                text: 'No me gustan las cremas muy densas que tienden a dejar como una sensación pegajosa en la piel, y con esta estoy encantada, si que parece un sorbete de lo fresquita que es. Se absorbe super bien sin dejar brillos y a la vez hidrata un montón. La recomiendo.',
            },
        },
        {
            product: {
                img: {
                    src: 'review-7.jpg',
                    alt: '',
                },
                name: 'Limpiador detoxificante 3 en 1',
                rating: 5,
                href: 'https://equivalenza.com/es/cosmetica/cosmetics/exfoliantes-faciales/limpiador-detoxificante-3-en-1/',
            },
            review: {
                title: '¡Es de color negro!',
                text: 'Cuando me la compré no sabía que era de color negro, me encanta el color y el aroma. La puedes aplicar como limpiador, exfoliante, o si la dejas un rato más, como mascarilla. Es increíble, estoy contenta con el resultado en la piel.',
                by: 'Opinión de Susana 20/12/21',
            },
        },
        {
            product: {
                img: {
                    src: 'review-8.jpg',
                    alt: '',
                },
                name: 'Difusor de aromas por ultrasonido Drop',
                rating: 5,
                href: 'https://equivalenza.com/es/ambientacion/difusor-de-aromas/drop/',
            },
            review: {
                title: 'Es fantástico deja un olor increíble',
                text: 'Me encanta fue un regalo, lo utilizo mucho ya que el olor queda por toda la casa.',
                by: 'Opinión de Virginia Buendía 3/4/21',
            },
        },
        {
            product: {
                img: {
                    src: 'review-9.jpg',
                    alt: '',
                },
                name: 'Aceite hidrosoluble perfumado White Flowers (jazmín e ylang-ylang)',
                rating: 5,
                href: 'https://equivalenza.com/es/ambientacion/difusor-de-aromas/aceite-perfumado-hidrosoluble/aceite-hidrosoluble-flores-blancas/',
            },
            review: {
                title: 'Elegante y fino',
                text: 'Me gusta, de los que he probado de Equivalenza es el más suave y elegante, lo utilizo para el salón y el dormitorio, es un aroma muy agradable.',
                by: 'Opinión de Paloma 23/12/21',
            },
        },
    ],
} %}

<!-- START: EQUILOVERS -->
<section class="eq-section eq-section--pink">
    <div class="eq-section__inner">
        <div class="eq-equilovers">
            <img src="{{basePath}}{{lang}}/logo-equilovers.png" alt="" class="pic" />
            <div class="content">
                <p class="title">El Beauty Club de Equivalenza</p>
                <p class="copy">Queremos estar cerca de ti. Únete a nuestro club de belleza y disfruta de <strong>descuentos, recargas gratis</strong> y otras <strong>recompensas</strong>.</p>
            </div>
            {% include 'common/button-white.twig' with { href: 'https://equivalenza.com/es/equilovers/', text: 'HAZTE EQUILOVER' } %}
        </div>
    </div>
</section>
<!-- END: EQUILOVERS -->

{% include 'components/footer-landing.twig' with {
    items: [
        {
            image: {
                src: 'footer-1.png',
                alt: '',
            },
            title: '<strong>98 de cada 100 personas</strong> recomendaría Equivalenza a un amigo',
        },
        {
            image: {
                src: 'footer-2.png',
                alt: '',
            },
            title: '<strong>4,8/5</strong> 38.000 opiniones de clientes reales',
        },
        {
            image: {
                src: 'footer-3.png',
                alt: '',
            },
            title: '<strong>+500.000</strong> hogares utilizan Equivalenza a diario',
        },
    ]
} %}

{% include 'components/ventajas.twig' with {
    items: [
        {
            image: {
                src: 'ventajas-1.png',
                alt: '',
            },
            label: '<strong>Pago seguro</strong>',
        },
        {
            image: {
                src: 'ventajas-3.png',
                alt: '',
            },
            label: '<strong>Envíos gratis</strong> desde 29,95€',
        },
        {
            image: {
                src: 'ventajas-4.png',
                alt: '',
            },
            label: '<strong>Atención personalizada</strong>',
        },
    ]
} %} 

{% include 'components/popup-newsletter.twig' with {
    image: 'popup-newsletter-generic.jpg',
    title: '¡CONSIGUE UN 10% DE DESCUENTO!',
    text: [
        '¿Quieres estar al día de todas nuestras ofertas y novedades?',
        '¡Suscríbete a nuestra <strong>newsletter</strong> ahora y <strong>llévate un 10%</strong> de descuento en tu próxima compra!'
    ],
    form: {
        inputPlaceholder: 'Email',
        button: 'Recibir mi cupón',
    },
    checkboxGroup: [
        {
            id: 'opt-out',
            label: 'No volver a mostrar este mensaje.',
            value: 'opt-out',
        },
    ]
} %}

{% include 'components/scripts-home-2022.twig' %}

{% endblock %}