{# home.twig #}
{% set lang="es" %}
{% set basePath='https://equivalenza.com/landings_media/images/home-xmas-2022/' %}

{% extends 'layouts/default.twig' %}

{% block meta %}
    {{ parent() }}
    <title>Home Xmas 2022 - ES</title>
{% endblock %}

{% block content %}

{% include 'components/css-home-xmas-2022.twig' %}

<!-- START: HERO -->
<section class="eq-section eq-section--nopadding">
    <div class="eq-section__inner">
        <div class="eq-xm-hero">
            <div class="eq-xm-hero__pic">
                {% include "common/image.twig" with {
                    alt: '',
                    src: 'magical-xmas/magical-christmas-20221207.png',
                    sizes: '100vw',
                    mobile: 'magical-xmas/res-magical-christmas.jpg'
                } %}
            </div>
            <div class="eq-xm-hero__wrapper">
                <div class="eq-xm-hero__content">
                    <img src="{{basePath}}{{lang}}/magical-xmas/logo-xmas.png" alt="Magical Christmas" class="logo" />
                    <p class="claim">Reparte felicidad y magia estas fiestas</p>
                    <p class="text">Desde exclusivos perfumes hasta increíbles sets de belleza y cosmética natural: encuentra tu regalo perfecto entre la mejor selección de ideas y marca la diferencia estas fiestas.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END: HERO -->

<!-- START: IDEAS DE REGALO -->
<section class="eq-section eq-section--nopadding eq-section--xmas">
    <div class="eq-section__inner">
        <div class="eq-xm-ideas">
            <div class="eq-xm-ideas__header">
                <p class="title">Ideas de regalo<p/>
                <!-- <a href="#" class="more">Ver todos los regalos</a> -->
            </div>
            {% include "components/xmas-ideas.twig" with {
                className: 'eq-xm-ideas__cards--col4',
                cards: [
                    {
                        title: 'Para ella',
                        srcset: {
                            alt: '',
                            src: 'ideas/desktop-para-ella-2.jpg',
                            sizes: '100vw',
                            mobile: 'ideas/res-para-ella-2.jpg',
                        },
                        btn: {
                            text: 'Comprar',
                            href: 'https://equivalenza.com/es/magical-christmas/para-ella/',
                        }
                    },
                    {
                        title: 'Para él',
                        srcset: {
                            alt: '',
                            src: 'ideas/desktop-para-el-2.jpg',
                            sizes: '100vw',
                            mobile: 'ideas/res-para-el-2.jpg',
                        },
                        btn: {
                            text: 'Comprar',
                            href: 'https://equivalenza.com/es/magical-christmas/para-el/',
                        }
                    },
                    {
                        title: 'Cosmética',
                        srcset: {
                            alt: '',
                            src: 'ideas/desktop-cosmetica-2.jpg',
                            sizes: '100vw',
                            mobile: 'ideas/res-cosmetica-2.jpg',
                        },
                        btn: {
                            text: 'Comprar',
                            href: 'https://equivalenza.com/es/magical-christmas/para-cuidarse/',
                        }
                    },
                    {
                        title: 'Ambientación',
                        srcset: {
                            alt: '',
                            src: 'ideas/desktop-aromatics-2.jpg',
                            sizes: '100vw',
                            mobile: 'ideas/res-aromatics-2.jpg',
                        },
                        btn: {
                            text: 'Comprar',
                            href: 'https://equivalenza.com/es/magical-christmas/para-el-hogar/',
                        }
                    },
                    {
                        title: 'Top ventas',
                        srcset: {
                            alt: '',
                            src: 'ideas/desktop-topventas-2.jpg',
                            sizes: '100vw',
                            mobile: 'ideas/res-topventas-2.jpg',
                        },
                        btn: {
                            text: 'Comprar',
                            href: 'https://equivalenza.com/es/magical-christmas/top-ventas/',
                        }
                    },
                    {
                        srcset: {
                            alt: '',
                            src: 'ideas/desktop-sensual-soul-2.jpg',
                            sizes: '100vw',
                            mobile: 'ideas/res-sensual-soul-2.jpg',
                        },
                        btn: {
                            text: 'Comprar',
                            href: 'https://equivalenza.com/es/sensual-soul-by-lara-alvarez',
                        }
                    },
                    {
                        srcset: {
                            alt: '',
                            src: 'ideas/desktop-lessecrets-2.jpg',
                            sizes: '100vw',
                            mobile: 'ideas/res-lessecrets-2.jpg',
                        },
                        btn: {
                            text: 'Comprar',
                            href: 'https://equivalenza.com/es/magical-christmas/les-secrets/',
                        }
                    },
                    {
                        srcset: {
                            alt: '',
                            src: 'ideas/desktop-glow-joy-2.jpg',
                            sizes: '100vw',
                            mobile: 'ideas/res-glow-joy-2.jpg',
                        },
                        btn: {
                            text: 'Comprar',
                            href: 'https://equivalenza.com/es/magical-christmas/para-brillar/',
                        }
                    },
                ]
            } %}
        </div>
    </div>
</section>
{% include 'components/copy.twig' with {
    title: 'Ideas de Navidad que adorarán',
    text: 'Regala nuestras últimas novedades en perfumería y cosmética',
} %}
<!-- END: IDEAS DE REGALO -->

<!-- START: BRAND AMBASSADOR -->
<section class="eq-section eq-section--nopadding">
    <div class="eq-section__inner">
        {% include 'components/xmas-featured.twig' with {
            className: 'eq-xm-featured--sensual-soul',
            images: {
                bg: 'sensual-soul/sensual-soul-bg.jpg',
                bgRes: 'sensual-soul/res-sensual-soul.jpg',
                title: 'sensual-soul/sensual-soul-logo.png',
                figure: 'sensual-soul/sensual-soul-lara-optim.png',
            },
            claim: 'Regala Sensual Soul',
            copy: 'Para mujeres auténticas, femeninas y sensuales',
            link: {
                text: 'Descubre el nuevo perfume de Lara Álvarez',
                href: 'https://equivalenza.com/es/sensual-soul-by-lara-alvarez',
            },
            products: [
                {
                    imgSrc: 'sensual-soul/product-1-optim.jpg',
                    title: 'Sensual Soul by Lara Álvarez 50ml',
                    price: '17,95',
                    btn: {
                        text: 'Comprar',
                        href: 'https://equivalenza.com/es/sensual-soul-lara-alvarez/',
                    },
                },
                {
                    imgSrc: 'sensual-soul/product-2-optim.jpg',
                    title: 'Estuche regalo Sensual Soul by Lara Álvarez',
                    price: '19,95',
                    btn: {
                        text: 'Comprar',
                        href: 'https://equivalenza.com/es/estuche-regalo-sensual-soul/',
                    },
                },
            ]
        } %}
    </div>
</section>
<!-- END: BRAND AMBASSADOR -->

<!-- START: LES SECRETS -->
<section class="eq-section eq-section--nopadding eq-section--les-secrets">
    <div class="eq-section__inner">
        {% include 'components/xmas-featured.twig' with {
            className: 'eq-xm-featured--les-secrets',
            images: {
                bg: 'les-secrets/les-secrets-bg-optim.jpg',
                bgRes: 'les-secrets/res-lesecrets-optim.jpg',
                title: 'les-secrets/les-secrets-logo.png',
                figure: 'les-secrets/les-secrets-producto-optim.png',
            },
            claim: 'Regala exclusividad al mejor precio',
            copy: 'Les Secrets: la colección con la que marcarás la diferencia.',
            link: {
                text: 'Conoce nuestra línea premium',
                href: 'https://equivalenza.com/es/magical-christmas/les-secrets/',
            },
            products: [
                {
                    imgSrc: 'les-secrets/product-1.jpg',
                    title: 'Pack Les Secrets Perfume 50ml + Perfume 100ml',
                    price: '31,95',
                    btn: {
                        text: 'Comprar',
                        href: 'https://equivalenza.com/es/magical-christmas/les-secrets/set-les-secrets-perfume-50ml-perfume-100ml-1/',
                    },
                },
                {
                    imgSrc: 'les-secrets/product-2.jpg',
                    title: 'Oud 283',
                    price: '18,95',
                    btn: {
                        text: 'Comprar',
                        href: 'https://equivalenza.com/es/catalog/product/view/id/6794/s/amaderado-ambarado-283-100ml/category/950/',
                    },
                },
                                {
                    imgSrc: 'les-secrets/product-3.jpg',
                    title: 'Fleur d\'oranger 484',
                    price: '21,95',
                    btn: {
                        text: 'Comprar',
                        href: 'https://equivalenza.com/es/magical-christmas/les-secrets/fleur-oranger-484/',
                    },
                },
                {
                    imgSrc: 'les-secrets/product-4.jpg',
                    title: 'Vanille Noire 684',
                    price: '18,95',
                    btn: {
                        text: 'Comprar',
                        href: 'https://equivalenza.com/es/catalog/product/view/id/6547/s/vanille-noire-684/category/950/',
                    },
                },
                {
                    imgSrc: 'les-secrets/product-5.jpg',
                    title: 'Tonka 584',
                    price: '18,95',
                    btn: {
                        text: 'Comprar',
                        href: 'https://equivalenza.com/es/magical-christmas/les-secrets/oriental-tonka-584/',
                    },
                },
                {
                    imgSrc: 'les-secrets/product-6.jpg',
                    title: 'Cachemire 784',
                    price: '18,95',
                    btn: {
                        text: 'Comprar',
                        href: 'https://equivalenza.com/es/catalog/product/view/id/6071/s/cachemire-784-100ml/category/950/',
                    },
                },
                {
                    imgSrc: 'les-secrets/product-7.jpg',
                    title: 'Cuir 383',
                    price: '18,95',
                    btn: {
                        text: 'Comprar',
                        href: 'https://equivalenza.com/es/magical-christmas/les-secrets/cuero-especiado-383-100ml/',
                    },
                },
            ]
        } %}
    </div>
</section>
<!-- END: LES SECRETS -->

<!-- START: SEARCH -->
{% include 'components/copy.twig' with {
    title: 'DESCUBRE EQUIVALENZA',
    text: 'Productos únicos al alcance de todos',
} %}
<section class="eq-section eq-section--nopadding eq-section--search">
    <div class="eq-section__inner">
        <div class="eq-search">
            <div class="eq-search__pic">
                <img src="{{basePath}}{{lang}}/EQZ_01_shorter.jpg" alt="" />
            </div>
            <div class="eq-search__content">
                <p class="title">Fragancias que hablan de ti</p>
                <p class="copy">Nuestros perfumistas han creado más de 130 fragancias inolvidables a partir de ingredientes de máxima calidad. ¡Encuentra tu favorita en nuestro catálogo!</p>
                <ul class="links">
                    <li><a href="https://equivalenza.com/es/perfumes/perfumes-mujer/ ">Perfumes para mujer</a></li>
                    <li><a href="https://equivalenza.com/es/perfumes/perfumes-hombre/">Perfumes para hombre</a></li>
                </ul>
                <form id="eq-search" class="eq-search__form">
                    <fieldset>
                        <legend>Eres fiel a tu perfume y sabes qué número te define. <strong>¡Búscalo aquí!</strong></legend>
                        <div class="eq-search__group">
                            <div class="eq-search__field">
                                <input class="form-control" id="searchperfume" name="search" placeholder="Mi número es..." type="search">
                                <div class="inner-addon right-addon spinsearchperf" style="display: none;">
                                    <i class="fa fa-spinner fa-pulse"></i>
                                </div>
                                <div class="inner-addon right-addon errorsearchperf" style="display: none; color: red;">
                                    <i class="fa fa-exclamation-circle"></i>
                                </div>
                            </div>
                            <button type="submit">Buscar</button>
                        </div>
                    </fieldset>
                </form>
                <p class="copy"><strong>¿No sabes cuál elegir?</strong> No te preocupes, te ayudamos a encontrar tu perfume ideal.</p>
                {% include 'common/button-black.twig' with { href: 'https://equivalenza.com/es/buscador-perfumes/', text: 'DESCUBRE TU PERFUME' } %}
            </div>
        </div>
    </div>
</section>
<!-- END: SEARCH -->

<!-- START: NOVEDADES -->
{% include 'components/copy.twig' with {
    title: 'REGALA MAGIA ESTA NAVIDAD',
    text: '¡Nuestros sets de belleza a precios irresistibles!',
} %}
<section class="eq-section eq-section--nopadding-top">
    <div class="eq-section__inner">
        <div class="eq-new eq-slider owl-carousel">
            <div class="eq-new__item item">
                <a href="https://equivalenza.com/es/%3Chttps://equivalenza.com/es/magical-christmas/para-ella/ritual-de-belleza-para-ella-perfume-100-ml-locion-black-label/"><img src="https://equivalenza.com/pub/media/wysiwyg/home_2022/Christmas-1-MUJER-perfume100ml-Locion-GelMujer.jpg" alt="" /></a>
                <p class="title">RITUAL DE BELLEZA PARA ELLA</p>
                <p class="description">Perfume 100 ml + Gel de baño + Loción corporal Black Label. AHORA 31,95 €</p>
                {% include 'common/button-black.twig' with { href: 'https://equivalenza.com/es/%3Chttps://equivalenza.com/es/magical-christmas/para-ella/ritual-de-belleza-para-ella-perfume-100-ml-locion-black-label/', text: 'DESCUBRIR' } %}
            </div>
            <div class="eq-new__item item">
                <a href="https://equivalenza.com/es/magical-christmas/para-el-hogar/para-casas-minimalistas/"><img src="https://equivalenza.com/pub/media/wysiwyg/home_2022/christmas17.jpg" alt="" /></a>
                <p class="title">DIFUSOR DROP + DOS ACEITES PERFUMADOS</p>
                <p class="description">Un difusor elegante y minimalista y dos aceites perfumados a escoger. AHORA 50,95€</p>
                {% include 'common/button-black.twig' with { href: 'https://equivalenza.com/es/magical-christmas/para-el-hogar/para-casas-minimalistas/', text: '¡LO QUIERO!' } %}
            </div>
            <div class="eq-new__item item">
                <a href="https://equivalenza.com/es/estuche-regalo-sensual-soul/"><img src="https://equivalenza.com/pub/media/wysiwyg/home_2022/GIFT-SET-SENSUAL-SOUL.jpg" alt="" /></a>
                <p class="title">BEAUTY SET SENSUAL SOUL</p>
                <p class="description">Incluye el perfume Sensual Soul 50ml y el perfume en formato roll-on10ml para llevar a donde quieras por 19,95€</p>
                {% include 'common/button-black.twig' with { href: 'https://equivalenza.com/es/estuche-regalo-sensual-soul/', text: 'QUIERO EL MIO' } %}
            </div>
        </div>
    </div>
</section>
<!-- END: NOVEDADES -->

<!-- START: GLOW & JOY -->
<section class="eq-section eq-section--nopadding eq-section--glow-joy">
    <div class="eq-section__inner">
        {% include 'components/xmas-featured.twig' with {
            className: 'eq-xm-featured--glow-joy',
            images: {
                bg: 'glow-joy/glow-joy-bg-optim.jpg',
                bgRes: 'glow-joy/glow-joy-res-optim.jpg',
                title: 'glow-joy/glow-joy-logo.png',
                figure: 'glow-joy/glow-joy-girl-optim.png',
                product: 'glow-joy/glow-joy-product.png',
            },
            claim: 'Descubre el maquillaje con el que<br>brillarás estas Navidades.',
            link: {
                text: 'Enamórate de nuestra gama de maquillaje',
                href: 'https://equivalenza.com/es/magical-christmas/para-brillar/',
            },
            products: [
                {
                    imgSrc: 'glow-joy/product-1.jpg',
                    title: 'Perfume 100ml + Labial líquido + Iluminador',
                    price: '29,95',
                    btn: {
                        text: 'Comprar',
                        href: 'https://equivalenza.com/es/magical-christmas/para-brillar/pack-hidratacion-perfume-100-ml-crema-hidratante-2/',
                    },
                },
                {
                    imgSrc: 'glow-joy/product-2.jpg',
                    title: 'Delineador líquido + Máscara + Sombra de ojos',
                    price: '21,95',
                    btn: {
                        text: 'Comprar',
                        href: 'https://equivalenza.com/es/magical-christmas/para-brillar/ojos-magicos-delineador-mascara-delineador-liquido-sombra/',
                    },
                },
            ]
        } %}
    </div>
</section>
<!-- END: GLOW & JOY -->

<!-- START: REVIEWS -->
{% include 'components/copy.twig' with {
    title: 'NOS RECOMIENDAN',
    text: 'Esto es lo que dicen de nuestros productos.',
} %}

{% include 'components/reviews.twig' with {
    items: [
        {
            product: {
                img: {
                    src: 'review-1.jpg',
                    alt: '',
                },
                name: 'Frutal Marino 126',
                rating: 5,
                href: 'https://www.equivalenza.com/es/perfumes/perfumes-mujer/energia-vital/frutal-marino-126/',
            },
            review: {
                title: 'Ideal para primavera',
                text: 'Me la he comprado ahora de cara a la primavera, es una mezcla perfecta de cítricos y flores muy alegre y fácil de llevar, siempre repito',
                by: 'Opinión de Isabel 4/3/22',
            },
        },
        {
            product: {
                img: {
                    src: 'review-2.jpg',
                    alt: '',
                },
                name: 'Chypre Floral 140',
                rating: 5,
                href: 'https://www.equivalenza.com/es/perfumes/perfumes-mujer/seduccion-magnetica/perfume-chypre-floral-140/',
            },
            review: {
                title: 'Repetiré',
                text: 'Ha sido muy buena compra, todas mis amigas me comentan lo bien que huelo desde que la uso, repetiré seguro :)',
                by: 'Opinión de Sara 22/2/22',
            },
        },
        {
            product: {
                img: {
                    src: 'review-3.jpg',
                    alt: '',
                },
                name: 'Herbáceo Aromático 305',
                rating: 5,
                href: 'https://www.equivalenza.com/es/perfumes/perfumes-hombre/energia-vital/seduccion-magnetica/herbaceo-aromatico-305/',
            },
            review: {
                title: 'Maravilloso',
                text: 'Desde que lo uso, mucha gente me pregunta que perfume llevo porque huele muy bien.',
                by: 'Opinión de jose andres 8/9/21',
            },
        },
        {
            product: {
                img: {
                    src: 'review-4.jpg',
                    alt: '',
                },
                name: 'Amaderado Especiado 264',
                rating: 5,
                href: 'https://equivalenza.com/es/perfumes/perfumes-hombre/equilibrio-interior/amaderado-especiado-264/',
            },
            review: {
                title: 'Perfecto, muy masculino',
                text: 'Huele genial, como a almendras, y tiene una textura muy muy cremosa, parece mousse de verdad!',
                by: 'Opinión de Anabel 10/12/21',
            },
        },
        {
            product: {
                img: {
                    src: 'review-5.jpg',
                    alt: '',
                },
                name: 'Mousse de ducha sedoso',
                rating: 5,
                href: 'https://equivalenza.com/es/cosmetica/cuidado-corporal/geles-de-ba-o/mousse-de-ducha-sedoso/',
            },
            review: {
                title: 'Perfecta, muy cremosa',
                text: 'Huele genial, como a almendras, y tiene una textura muy muy cremosa, parece mousse de verdad!',
                by: 'Opinión de Anabel 10/12/21',
            },
        },
        {
            product: {
                img: {
                    src: 'review-6.jpg',
                    alt: '',
                },
                name: 'Sorbete hidratante',
                rating: 5,
                href: 'https://equivalenza.com/es/cosmetica/cosmetics/cremas-hidratantes/sorbete-hidratante/',
            },
            review: {
                title: 'Es fresquita y se absorbe muy bien',
                text: 'No me gustan las cremas muy densas que tienden a dejar como una sensación pegajosa en la piel, y con esta estoy encantada, si que parece un sorbete de lo fresquita que es. Se absorbe super bien sin dejar brillos y a la vez hidrata un montón. La recomiendo.',
            },
        },
        {
            product: {
                img: {
                    src: 'review-7.jpg',
                    alt: '',
                },
                name: 'Limpiador detoxificante 3 en 1',
                rating: 5,
                href: 'https://equivalenza.com/es/cosmetica/cosmetics/exfoliantes-faciales/limpiador-detoxificante-3-en-1/',
            },
            review: {
                title: '¡Es de color negro!',
                text: 'Cuando me la compré no sabía que era de color negro, me encanta el color y el aroma. La puedes aplicar como limpiador, exfoliante, o si la dejas un rato más, como mascarilla. Es increíble, estoy contenta con el resultado en la piel.',
                by: 'Opinión de Susana 20/12/21',
            },
        },
        {
            product: {
                img: {
                    src: 'review-8.jpg',
                    alt: '',
                },
                name: 'Difusor de aromas por ultrasonido Drop',
                rating: 5,
                href: 'https://equivalenza.com/es/ambientacion/difusor-de-aromas/drop/',
            },
            review: {
                title: 'Es fantástico deja un olor increíble',
                text: 'Me encanta fue un regalo, lo utilizo mucho ya que el olor queda por toda la casa.',
                by: 'Opinión de Virginia Buendía 3/4/21',
            },
        },
        {
            product: {
                img: {
                    src: 'review-9.jpg',
                    alt: '',
                },
                name: 'Aceite hidrosoluble perfumado White Flowers (jazmín e ylang-ylang)',
                rating: 5,
                href: 'https://equivalenza.com/es/ambientacion/difusor-de-aromas/aceite-perfumado-hidrosoluble/aceite-hidrosoluble-flores-blancas/',
            },
            review: {
                title: 'Elegante y fino',
                text: 'Me gusta, de los que he probado de Equivalenza es el más suave y elegante, lo utilizo para el salón y el dormitorio, es un aroma muy agradable.',
                by: 'Opinión de Paloma 23/12/21',
            },
        },
    ],
} %}
<!-- END: REVIEWS -->

<!-- START: ICONS -->
{% include 'components/copy.twig' with {
    text: 'En Equivalenza diseñamos productos de <strong>máxima calidad</strong>, realizados con <strong>ingredientes naturales</strong>, respetuosos con el medio ambiente y a precios muy <strong>asequibles</strong>.',
} %}

{% include 'components/icon-gallery.twig' with {
    items: [
        {
            icon: 'icon-1.png',
            label: 'Envase reutilizable',
        },
        {
            icon: 'icon-2.png',
            label: 'Ecodiseño, mínimo packaging',
        },
        {
            icon: 'icon-3.png',
            label: 'Ingredientes de origen natural',
        },
        {
            icon: 'icon-4.png',
            label: 'Fórmulas aptas para veganos',
        },
        {
            icon: 'icon-5.png',
            label: 'Conectamos con tus emociones',
        },
        {
            icon: 'icon-6.png',
            label: 'No testeamos en animales',
        },
    ],
} %}
<!-- END: ICONS -->

<!-- START: EQUILOVERS -->
<section class="eq-section eq-section--pink">
    <div class="eq-section__inner">
        <div class="eq-equilovers">
            <img src="{{basePath}}{{lang}}/logo-equilovers.png" alt="" class="pic" />
            <div class="content">
                <p class="title">El Beauty Club de Equivalenza</p>
                <p class="copy">Queremos estar cerca de ti. Únete a nuestro club de belleza y disfruta de <strong>descuentos, recargas gratis</strong> y otras <strong>recompensas</strong>.</p>
            </div>
            {% include 'common/button-white.twig' with { href: 'https://equivalenza.com/es/equilovers/', text: 'HAZTE EQUILOVER' } %}
        </div>
    </div>
</section>
<!-- END: EQUILOVERS -->

<!-- START: FOOTER -->
{% include 'components/footer-landing.twig' with {
    items: [
        {
            image: {
                src: 'footer-1.png',
                alt: '',
            },
            title: '<strong>98 de cada 100 personas</strong> recomendaría Equivalenza a un amigo',
        },
        {
            image: {
                src: 'footer-2.png',
                alt: '',
            },
            title: '<strong>4,8/5</strong> 38.000 opiniones de clientes reales',
        },
        {
            image: {
                src: 'footer-3.png',
                alt: '',
            },
            title: '<strong>+500.000</strong> hogares utilizan Equivalenza a diario',
        },
    ]
} %}

{% include 'components/ventajas.twig' with {
    items: [
        {
            image: {
                src: 'ventajas-1.png',
                alt: '',
            },
            label: '<strong>Pago seguro</strong>',
        },
        {
            image: {
                src: 'ventajas-3.png',
                alt: '',
            },
            label: '<strong>Envíos gratis</strong> desde 29,95€',
        },
        {
            image: {
                src: 'ventajas-4.png',
                alt: '',
            },
            label: '<strong>Atención personalizada</strong>',
        },
    ]
} %} 
<!-- END: FOOTER -->

{% include 'components/popup-newsletter.twig' with {
    image: 'popup-newsletter-generic.jpg',
    title: '¡CONSIGUE UN 10% DE DESCUENTO!',
    text: [
        '¿Quieres estar al día de todas nuestras ofertas y novedades?',
        '¡Suscríbete a nuestra <strong>newsletter</strong> ahora y <strong>llévate un 10%</strong> de descuento en tu próxima compra!'
    ],
    form: {
        inputPlaceholder: 'Email',
        button: 'Recibir mi cupón',
    },
    checkboxGroup: [
        {
            id: 'opt-out',
            label: 'No volver a mostrar este mensaje.',
            value: 'opt-out',
        },
    ]
} %}

{% include 'components/scripts-home-xmas-2022.twig' %}

{% endblock %}