{# landing-cosmetica.twig #}
{% extends 'layouts/default.twig' %}
{% set lang="es" %}

{% block meta %}
    {{ parent() }}
    <title>Landing Cosmetica / Body</title>
{% endblock %}

{% block content %}

{% include 'components/hero.twig' with {
    items: [
        {
            title: '<em>Nueva linea</em> cosmética corporal',
            text: 'Sensorial, natural<br />y sostenible',
            srcset: {
                alt: '',
                src: 'body-hero-1-ES.png',
                sizes: '100vw',
                mobile: 'body-hero-1-mobile-ES.png'
            },
        },        
        {
            title: 'Mima tu piel',
            text: 'Déjate sorprender por<br />nuestras nuevas texturas.',
            srcset: {
                alt: '',
                src: 'body-hero-2-ES.png',
                sizes: '100vw',
                mobile: 'body-hero-2-mobile-ES.png'
            },
        },        
        {
            title: '<em>Promoción de lanzamiento</em> Esponja de regalo',
            text: 'Consíguela por compras<br />superiores a 20€ que<br />incluyan un cosmético de<br />nuestra nueva línea corporal.',
            srcset: {
                alt: '',
                src: 'body-hero-3-ES.png',
                sizes: '100vw',
                mobile: 'body-hero-3-mobile-ES.png'
            },
        },        
    ]
} %}

{% include 'components/copy.twig' with {
    text: 'Fórmulas de alta calidad, <strong>con ingredientes de origen natural</strong>, dermatológicamente testadas y con <strong>eficacia probada</strong>.<br /><br />Para que mimes tu piel <strong>como te mereces</strong>.',
} %}

{% include 'components/categorias-icons.twig' with {
    title: '¿Qué estás buscando?',
    items: [
        {
            image: {
                src: '300x300_Geles_Bano.jpg',
                alt: '',
            },
            label: 'Geles<br />de baño',
            href: 'https://equivalenza.com/es/cosmetica/cuidado-corporal/geles-de-bano',
        },
        {
            image: {
                src: '300x300_Hidratantes.jpg',
                alt: '',
            },
            label: 'Hidratantes',
            href: 'https://equivalenza.com/es/cosmetica/cuidado-corporal/hidratantes',
        },
        {
            image: {
                src: '300x300_Exfoliantes.jpg',
                alt: '',
            },
            label: 'Exfoliantes',
            href: 'https://equivalenza.com/es/cosmetica/cuidado-corporal/exfoliantes',
        },
        {
            image: {
                src: '300x300_Tratamientos.jpg',
                alt: '',
            },
            label: 'Tratamientos',
            href: 'https://equivalenza.com/es/cosmetica/cuidado-corporal/tratamientos',
        },
        {
            image: {
                src: '300x300_Desodorantes.jpg',
                alt: '',
            },
            label: 'Desodorantes',
            href: 'https://equivalenza.com/es/cosmetica/cuidado-corporal/desodorantes',
        },
        {
            image: {
                src: '300x300_Crema_Manos.jpg',
                alt: '',
            },
            label: 'Cremas de manos',
            href: 'https://equivalenza.com/es/cosmetica/cuidado-corporal/crema-de-manos',
        },
        {
            image: {
                src: '300x300_Crema_Pies.jpg',
                alt: '',
            },
            label: 'Cremas de pies',
            href: 'https://equivalenza.com/es/cosmetica/cuidado-corporal/cremas-de-pies',
        },
        {
            image: {
                src: '300x300_Limpieza_Manos.jpg',
                alt: '',
            },
            label: 'Limpieza de manos',
            href: 'https://equivalenza.com/es/cosmetica/cuidado-corporal/limpieza-de-manos',
        },
        {
            image: {
                src: '300x300_Body_mist.jpg',
                alt: '',
            },
            label: 'Body Mist',
            href: 'https://equivalenza.com/es/cosmetica/cuidado-corporal/body-mist/',
        },
        {
            image: {
                src: '300x300_Black_Label.jpg',
                alt: '',
            },
            label: 'Black Label',
            href: 'https://equivalenza.com/es/cosmetica/cuidado-corporal/black-label/',
        },
        {
            image: {
                src: '300x300_Accesorios_Corporal.jpg',
                alt: '',
            },
            label: 'Accesorios',
            href: 'https://equivalenza.com/es/cosmetica/cuidado-corporal/accesorios',
        },
    ]
} %}

{% include 'components/refill.twig' with {
    items: [
        {
            srcset: {
                alt: '',
                src: 'sistema_refill.png',
                sizes: '100vw',
                mobile: 'sistema_refill-mobile.png'
            },            
            title: '<strong>Sistema Refill</strong> Más económico, más ecológico',
            text: '<strong>¿Quieres ahorrar a la vez que cuidas el planeta?</strong> Descubre nuestro innovador sistema de recargas eco.',
        },
        {
            srcset: {
                alt: '',
                src: 'envase_rollon_tarro.png',
                sizes: '100vw',
                mobile: 'envase_rollon_tarro-mobile.png'
            }, 
            text: '<strong>Compra tu cosmético en</strong> <em>envase roll-on o tarro 200ml</em>.',
        },
        {
            srcset: {
                alt: '',
                src: 'envase_reutilizable.png',
                sizes: '100vw',
                mobile: 'envase_reutilizable-mobile.png'
            }, 
            text: '<strong>Guarda el envase reutilizable y vuelve a por tu</strong> <em>recarga eco</em>.',
        },
        {
            srcset: {
                alt: '',
                src: 'envase_tarro.png',
                sizes: '100vw',
                mobile: 'envase_tarro-mobile.png'
            }, 
            text: '<strong>Con cada recarga eco de tarro 200 ml, reducimos el consumo de plástico en casi un 91%.</strong><br /><br /><em>¡Y tú ahorras 3€ en cada recarga!</em>',
        },
        {
            srcset: {
                alt: '',
                src: 'envase_rollon.png',
                sizes: '100vw',
                mobile: 'envase_rollon-mobile.png'
            }, 
            text: 'Cada vez que utilizas una recarga eco de roll-on, <strong>reducimos casi un 68% el consumo de plástico.</strong><br /><br /><em>¡Y tú ahorras 1,5€ en cada recarga!</em>',
        },
        {
            srcset: {
                alt: '',
                src: 'modelo_envases.png',
                sizes: '100vw',
                mobile: 'modelo_envases-mobile.png'
            }, 
            text: '<strong>¡Felicidades!</strong><br />Cuidando tu piel con Equivalenza estás protegiendo <em>el medio ambiente</em>.',
        },
    ]
} %}

{% include 'components/copy.twig' with {
    title: 'Conecta tu piel con tus emociones',
    text: 'Sumérgete en el mundo de las emociones positivas que llevas dentro a través de las texturas, fragancias e ingredientes principales de nuestra cosmética.',
} %}

{% include 'components/emociones.twig' with {
    className: 'eq-section--nopadding-xs',
    items: [
        {
            image: {
                src: 'emociones-1.png',
                alt: '',
            },
            title: 'Alegría radiante',
            text: 'Texturas frescas y revitalizantes con el poder y la luminosidad de la <strong>VITAMINA C</strong>.',
            button: {
                text: 'Ver todos los productos',
                href: 'https://equivalenza.com/es/cosmetica/ingrediente-emocion/alegria-radiante/',
            },
            className: 'alegria-radiante',
        },
        {
            image: {
                src: 'emociones-2.png',
                alt: '',
            },
            title: 'Energía vital',
            text: 'Siente la protección y vitalidad del <strong>ALOE VERA</strong> a través de sus texturas ligeras y energizantes.',
            button: {
                text: 'Ver todos los productos',
                href: 'https://equivalenza.com/es/cosmetica/ingrediente-emocion/energia-vital/',
            },
            className: 'energia-vital',
        },
        {
            image: {
                src: 'emociones-3.png',
                alt: '',
            },
            title: 'Seducción magnética',
            text: 'Texturas cremosas y nutritivas que acentúan la intensidad de nutrición de los <strong>ACEITES ELIXIR</strong>.',
            button: {
                text: 'Ver todos los productos',
                href: 'https://equivalenza.com/es/cosmetica/ingrediente-emocion/seduccion-magnetica/',
            },
            className: 'seduccion-magnetica',
        },
        {
            image: {
                src: 'emociones-4.png',
                alt: '',
            },
            title: 'Equilibrio interior',
            text: 'Encuentra la calma con esta línea reconfortante que potencian la pureza que aporta el <strong>ÁCIDO HIALURÓNICO</strong>.',
            button: {
                text: 'Ver todos los productos',
                href: 'https://equivalenza.com/es/cosmetica/ingrediente-emocion/equilibrio-interior/',
            },
            className: 'equilibrio-interior',
        },
    ]
} %}

{% include 'components/best-sellers.twig' with {
    title: 'Los más vendidos',
    content: '{{block class="MGS\Mpanel\Block\Products\Attributes" mgs_panel_title="" mgs_panel_note="" limit="15" ratio="1" category_ids="2066,2177,2181,2069,2187,2057" attribute="mas_vendido" use_slider="1" loadmore="0" template="products/attribute/category-tabs.phtml" perrow="4" autoplay="1" stop_auto="1" navigation="1" pagination="0" number_row="1"}}',
} %}

{% include 'components/footer-landing.twig' with {
    items: [
        {
            image: {
                src: 'footer-1.png',
                alt: '',
            },
            title: '<strong>98 de cada 100 personas</strong> recomendaría Equivalenza a un amigo',
        },
        {
            image: {
                src: 'footer-2.png',
                alt: '',
            },
            title: '<strong>4,8/5</strong> 38.000 opiniones de clientes reales',
        },
        {
            image: {
                src: 'footer-3.png',
                alt: '',
            },
            title: '<strong>+500.000</strong> hogares utilizan Equivalenza a diario',
        },
    ]
} %}

{% include 'components/ventajas.twig' with {
    items: [
        {
            image: {
                src: 'ventajas-1.png',
                alt: '',
            },
            label: '<strong>Pago seguro</strong>',
        },
        {
            image: {
                src: 'ventajas-3.png',
                alt: '',
            },
            label: '<strong>Envíos gratis</strong> desde 29,95€',
        },
        {
            image: {
                src: 'ventajas-4.png',
                alt: '',
            },
            label: '<strong>Atención personalizada</strong>',
        },
    ]
} %} 

{% include 'components/scripts-landings-cosmetica.twig' %}

{% endblock %}

