{# landing-cosmetica.twig #}
{% extends 'layouts/default.twig' %}
{% set lang="es" %}

{% block meta %}
    {{ parent() }}
    <title>Landing Cosmetica</title>
{% endblock %}

{% block content %}

{% include 'components/hero.twig' with {
    items: [
        {
            title: '<em>Nueva linea</em> cosmética corporal',
            text: 'Sensorial, natural<br />y sostenible',
            srcset: {
                alt: '',
                src: 'cosmetica-hero-1-ES.png',
                sizes: '100vw',
                mobile: 'cosmetica-hero-1-mobile-ES.png'
            },
            button: {
                href: 'https://equivalenza.com/es/cosmetica/cuidado-corporal/',
                text: 'Descúbrela',
            },
        },        
        {
            title: 'Cosmética facial',
            text: 'Cosmética natural pensada para ti',
            srcset: {
                alt: '',
                src: 'cosmetica-hero-2-ES.png',
                sizes: '100vw',
                mobile: 'cosmetica-hero-2-mobile-ES.png'
            },
            button: {
                href: 'https://equivalenza.com/es/cosmetics/',
                text: 'Descúbrela',
            },
        },        
        {
            title: '<em>Nueva linea</em> Cuida del planeta',
            text: 'Reutiliza tus envases',
            srcset: {
                alt: '',
                src: 'cosmetica-hero-3-ES.png',
                sizes: '100vw',
                mobile: 'cosmetica-hero-3-mobile-ES.png'
            },
            button: {
                href: 'https://equivalenza.com/es/cosmetica/cuidado-corporal/#refill',
                text: 'Descúbrela',
            },
        },        
    ]
} %}

{% include 'components/copy.twig' with {
    text: 'Cosmética con ingredientes de <strong>origen natural</strong> que <strong>cuida del planeta</strong> y de <strong>tu piel</strong>.<br />Cosmética <strong>pensada en ti</strong>.',
} %}

{% include 'components/icon-gallery.twig' with {
    items: [
        {
            icon: 'icon-1.png',
            label: 'Envase reutilizable',
        },
        {
            icon: 'icon-2.png',
            label: 'Ecodiseño: mínimo packaging',
        },
        {
            icon: 'icon-3.png',
            label: 'Ingredientes de origen natural',
        },
        {
            icon: 'icon-4.png',
            label: 'Fórmulas aptas para veganos',
        },
        {
            icon: 'icon-5.png',
            label: 'Conectamos con tus emociones',
        },
    ],
} %}

{% include 'components/categorias.twig' with {
    items: [
        {
            className: 'grey',
            title: 'Mima tu cuerpo, cuida tu piel',
            srcset: {
                alt: '',
                src: 'categoria-1.png',
                sizes: '100vw',
                mobile: 'categoria-1-mobile.png'
            },
            items: [
                {
                    image: {
                        src: '300x300_Geles_Bano.jpg',
                        alt: '',
                    },
                    label: 'Geles<br />de baño',
                    href: 'https://equivalenza.com/es/cosmetica/cuidado-corporal/geles-de-bano',
                },
                {
                    image: {
                        src: '300x300_Hidratantes.jpg',
                        alt: '',
                    },
                    label: 'Hidratantes',
                    href: 'https://equivalenza.com/es/cosmetica/cuidado-corporal/hidratantes',
                },
                {
                    image: {
                        src: '300x300_Exfoliantes.jpg',
                        alt: '',
                    },
                    label: 'Exfoliantes',
                    href: 'https://equivalenza.com/es/cosmetica/cuidado-corporal/exfoliantes',
                },
                {
                    image: {
                        src: '300x300_Tratamientos.jpg',
                        alt: '',
                    },
                    label: 'Tratamientos',
                    href: 'https://equivalenza.com/es/cosmetica/cuidado-corporal/tratamientos',
                },
                {
                    image: {
                        src: '300x300_Desodorantes.jpg',
                        alt: '',
                    },
                    label: 'Desodorantes',
                    href: 'https://equivalenza.com/es/cosmetica/cuidado-corporal/desodorantes',
                },
                {
                    image: {
                        src: '300x300_Crema_Manos.jpg',
                        alt: '',
                    },
                    label: 'Cremas de manos',
                    href: 'https://equivalenza.com/es/cosmetica/cuidado-corporal/crema-de-manos',
                },
                {
                    image: {
                        src: '300x300_Crema_Pies.jpg',
                        alt: '',
                    },
                    label: 'Cremas de pies',
                    href: 'https://equivalenza.com/es/cosmetica/cuidado-corporal/cremas-de-pies',
                },
                {
                    image: {
                        src: '300x300_Limpieza_Manos.jpg',
                        alt: '',
                    },
                    label: 'Limpieza de manos',
                    href: 'https://equivalenza.com/es/cosmetica/cuidado-corporal/limpieza-de-manos',
                },
                {
                    image: {
                        src: '300x300_Body_mist.jpg',
                        alt: '',
                    },
                    label: 'Body Mist',
                    href: 'https://equivalenza.com/es/cosmetica/cuidado-corporal/body-mist/',
                },
                {
                    image: {
                        src: '300x300_Black_Label.jpg',
                        alt: '',
                    },
                    label: 'Black Label',
                    href: 'https://equivalenza.com/es/cosmetica/cuidado-corporal/black-label/',
                },
                {
                    image: {
                        src: '300x300_Accesorios_Corporal.jpg',
                        alt: '',
                    },
                    label: 'Accesorios',
                    href: 'https://equivalenza.com/es/cosmetica/cuidado-corporal/accesorios',
                },
            ]
        },
        {
            className: 'brown',
            title: 'Luce tu rostro, cuida tu piel',
            srcset: {
                alt: '',
                src: 'categoria-2.png',
                sizes: '100vw',
                mobile: 'categoria-2-mobile.png'
            },
            items: [
                {
                    image: {
                        src: '300x300_Limpieza_facial.jpg',
                        alt: '',
                    },
                    label: 'Limpieza',
                    href: 'https://equivalenza.com/es/cosmetica/cuidado-facial/limpieza-facial/',
                },
                {
                    image: {
                        src: '300x300_Exfoliante_facial.jpg',
                        alt: '',
                    },
                    label: 'Exfoliantes',
                    href: 'https://equivalenza.com/es/cosmetica/cuidado-facial/exfoliantes-faciales/',
                },
                {
                    image: {
                        src: '300x300_Mascarillas.jpg',
                        alt: '',
                    },
                    label: 'Mascarillas',
                    href: 'https://equivalenza.com/es/mascarillas/',
                },
                {
                    image: {
                        src: '300x300_Contorno_Ojos.jpg',
                        alt: '',
                    },
                    label: 'Contornos de ojos',
                    href: 'https://equivalenza.com/es/cosmetica/cuidado-facial/contornos-de-ojos/',
                },
                {
                    image: {
                        src: '300x300_Serums.jpg',
                        alt: '',
                    },
                    label: 'Serums',
                    href: 'https://equivalenza.com/es/cosmetica/cuidado-facial/serums/',
                },
                {
                    image: {
                        src: '300x300_Crema_hidratante.jpg',
                        alt: '',
                    },
                    label: 'Cremas hidratantes',
                    href: 'https://equivalenza.com/es/cosmetica/cuidado-facial/cremas-hidratantes/',
                },
                {
                    image: {
                        src: '300x300_Antiarrugas.jpg',
                        alt: '',
                    },
                    label: 'Cremas antiarrugas',
                    href: 'https://equivalenza.com/es/cosmetica/cuidado-facial/cremas-antiarrugas/',
                },
                {
                    image: {
                        src: '300x300_Bruma_facial.jpg',
                        alt: '',
                    },
                    label: 'Bruma facial',
                    href: 'https://equivalenza.com/es/cosmetica/cuidado-facial/bruma-facial/',
                },
                {
                    image: {
                        src: '300x300_Accesorios_Facial.jpg',
                        alt: '',
                    },
                    label: 'Accesorios',
                    href: 'https://equivalenza.com/es/cosmetica/cuidado-facial/accesorios/',
                },
            ]
        },
    ]
} %}

{% include 'components/copy.twig' with {
    title: 'Conecta tu piel con tus emociones',
    text: 'Sumérgete en el mundo de las emociones positivas que llevas dentro a través de las texturas, fragancias e ingredientes principales de nuestra cosmética.',
} %}

{% include 'components/emociones.twig' with {
    className: 'eq-section--nopadding-xs',
    items: [
        {
            image: {
                src: 'emociones-1.png',
                alt: '',
            },
            title: 'Alegría radiante',
            text: 'Texturas frescas y revitalizantes con el poder y la luminosidad de la <strong>VITAMINA C</strong>.',
            button: {
                text: 'Ver todos los productos',
                href: 'https://equivalenza.com/es/cosmetica/ingrediente-emocion/alegria-radiante/',
            },
            className: 'alegria-radiante',
        },
        {
            image: {
                src: 'emociones-2.png',
                alt: '',
            },
            title: 'Energía vital',
            text: 'Siente la protección y vitalidad del <strong>ALOE VERA</strong> a través de sus texturas ligeras y energizantes.',
            button: {
                text: 'Ver todos los productos',
                href: 'https://equivalenza.com/es/cosmetica/ingrediente-emocion/energia-vital/',
            },
            className: 'energia-vital',
        },
        {
            image: {
                src: 'emociones-3.png',
                alt: '',
            },
            title: 'Seducción magnética',
            text: 'Texturas cremosas y nutritivas que acentúan la intensidad de nutrición de los <strong>ACEITES ELIXIR</strong>.',
            button: {
                text: 'Ver todos los productos',
                href: 'https://equivalenza.com/es/cosmetica/ingrediente-emocion/seduccion-magnetica/',
            },
            className: 'seduccion-magnetica',
        },
        {
            image: {
                src: 'emociones-4.png',
                alt: '',
            },
            title: 'Equilibrio interior',
            text: 'Encuentra la calma con esta línea reconfortante que potencian la pureza que aporta el <strong>ÁCIDO HIALURÓNICO</strong>.',
            button: {
                text: 'Ver todos los productos',
                href: 'https://equivalenza.com/es/cosmetica/ingrediente-emocion/equilibrio-interior/',
            },
            className: 'equilibrio-interior',
        },
    ]
} %}

{% include 'components/refill.twig' with {
    className: 'eq-refill--single',
    items: [
        {
            srcset: {
                alt: '',
                src: 'sistema_refill_single.png',
                sizes: '100vw',
                mobile: 'sistema_refill_single-mobile.png'
            },
            title: '<strong>Sistema Refill</strong> Más económico, más ecológico',
            text: '<strong>Descubre nuestro innovador<br>sistema de recargas eco.</strong>',
            list: [
                '<strong>90%</strong> menos de plástico',
                '<strong>Ahorra entre 1,50€ y 3€</strong> en cada recarga',
            ],
        },
    ]
} %}

{% include 'components/best-sellers.twig' with {
    title: 'Los más vendidos',
    content: '{{block class="MGS\Mpanel\Block\Products\Attributes" mgs_panel_title="" mgs_panel_note="" limit="15" ratio="1" category_ids="2066,2177,2181,1490,2065,1485" attribute="mas_vendido" use_slider="1" loadmore="0" template="products/attribute/category-tabs.phtml" perrow="4" autoplay="1" stop_auto="1" navigation="1" pagination="0" number_row="1"}}',
} %}

{% include 'components/footer-landing.twig' with {
    items: [
        {
            image: {
                src: 'footer-1.png',
                alt: '',
            },
            title: '<strong>98 de cada 100 personas</strong> recomendaría Equivalenza a un amigo',
        },
        {
            image: {
                src: 'footer-2.png',
                alt: '',
            },
            title: '<strong>4,8/5</strong> 38.000 opiniones de clientes reales',
        },
        {
            image: {
                src: 'footer-3.png',
                alt: '',
            },
            title: '<strong>+500.000</strong> hogares utilizan Equivalenza a diario',
        },
    ]
} %}

{% include 'components/ventajas.twig' with {
    items: [
        {
            image: {
                src: 'ventajas-1.png',
                alt: '',
            },
            label: '<strong>Pago seguro</strong>',
        },
        {
            image: {
                src: 'ventajas-3.png',
                alt: '',
            },
            label: '<strong>Envíos gratis</strong> desde 29,95€',
        },
        {
            image: {
                src: 'ventajas-4.png',
                alt: '',
            },
            label: '<strong>Atención personalizada</strong>',
        },
    ]
} %} 

{% include 'components/scripts-landings-cosmetica.twig' %}

{% endblock %}
