{# landing-franquicias.twig #}
{% extends 'layouts/default-blocks.twig' %}
{% set lang="es" %}
{% set basePath='https://equivalenza.com/landings_media/images/laraalvarez/' %}

{% block meta %}
    {{ parent() }}
    <title>Landing Lara Álvarez</title>
{% endblock %}

{% block content %}

{% include 'components/css-landing-laraalvarez.twig' %}

<!-- START: HERO -->
<div class="eq-section eq-section--nopadding">
    <div class="eq-section__inner">
        <div class="eq-lara-hero">
            <div class="eq-lara-hero__pic">
                {% include "common/image.twig" with {
                    alt: '',
                    src: 'hero-lara.jpg',
                    sizes: '100vw',
                    mobile: 'hero-lara--mobile.jpg'
                } %}
            </div>
            <div class="eq-lara-hero__content">
                <p class="title">
                    <strong>Lara</strong>
                    <span>Álvarez</span>
                </p>
                <p class="text">El reflejo de Equivalenza</p>
                <div class="actions">
                    {% include 'common/button-black.twig' with {
                        text: 'Conoce sus favoritos',
                        href: '#favoritos',
                    } %}
                    {% include 'common/button-black.twig' with {
                        text: 'Wild Soul By Lara',
                        href: '#wild-soul',
                    } %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: HERO -->



{% include 'components/copy.twig' with {
    title: '¡Te presentamos los favoritos de Lara!',
    text: 'No te pierdas los 5 básicos imprescindibles en su <strong>rutina de cuidado corporal</strong>:',
    id: 'favoritos',
} %}

<!-- START: PRODUCTOS -->
<div class="eq-section eq-section--nopadding-bottom eq-section--nopadding-top">
    <div class="eq-section__inner">
        <div class="eq-lara-products eq-slider owl-carousel">
            <div class="eq-lara-products__item item">
                <img src="{{basePath}}producto-01.jpg" alt="" class="pic" />
                <div class="content">
                    <p class="title">Mousse de ducha sedoso</p>
                    <p class="text">Disfruta de la ducha con un mousse que perfuma la piel.</p>
                    <p class="price">7,95 €</p>
                    <a href="https://equivalenza.com/es/mousse-de-ducha-sedoso/" class="btn">Comprar</a>
                </div>
            </div>
            <!-- /.item -->
            <div class="eq-lara-products__item item">
                <img src="{{basePath}}producto-02.jpg" alt="" class="pic" />
                <div class="content">
                    <p class="title">Gel exfoliante corporal revitalizante</p>
                    <p class="text">Exfolia, revitaliza y tonifica la piel con vitamina C.</p>
                    <p class="price">11,95 €</p>
                    <a href="https://equivalenza.com/es/gel-exfoliante-corporal-revitalizante1/" class="btn">Comprar</a>
                </div>
            </div>
            <!-- /.item -->
            <div class="eq-lara-products__item item">
                <img src="{{basePath}}producto-03.jpg" alt="" class="pic" />
                <div class="content">
                    <p class="title">Spray corporal hidratante antipolución</p>
                    <p class="text">Hidrata la piel con aloe vera y la protege de la polución.</p>
                    <p class="price">7,95 €</p>
                    <a href="https://equivalenza.com/es/espray-corporal-hidratante-antipolucion/" class="btn">Comprar</a>
                </div>
            </div>
            <!-- /.item -->
            <div class="eq-lara-products__item item">
                <img src="{{basePath}}producto-04.jpg" alt="" class="pic" />
                <div class="content">
                    <p class="title">Desodorante sensitive</p>
                    <p class="text">Te prepara para jornadas de trabajo frenéticas.</p>
                    <p class="price">4,45 €</p>
                    <a href="https://equivalenza.com/es/desodorante-sensitive/" class="btn">Comprar</a>
                </div>
            </div>
            <!-- /.item -->
            <div class="eq-lara-products__item item">
                <img src="{{basePath}}producto-05.jpg" alt="" class="pic" />
                <div class="content">
                    <p class="title">Aceite corporal iluminador</p>
                    <p class="text">Aporta el toque final para una piel perfecta.</p>
                    <p class="price">9,95 €</p>
                    <a href="https://equivalenza.com/es/aceite-corporal-iluminador/" class="btn">Comprar</a>
                </div>
            </div>
            <!-- /.item -->
        </div>        
    </div>
</div>
<!-- END: PRODUCTOS -->

{% include 'components/copy.twig' with {
    title: '¡Y hay mucho más!',
    text: 'Conoce nuestros  productos naturales y con fórmulas testadas.',
} %}

<!-- START: BODY & FACE -->
<div class="eq-section eq-section--nopadding-top">
    <div class="eq-section__inner">
        <div class="eq-lara-bf">
            <div class="eq-lara-bf__item">
                <img src="{{basePath}}cuida-tu-cuerpo.jpg" alt="" class="pic" />
                <div class="inner">
                    <p class="title">Cuida tu cuerpo</p>
                    {% include "common/button-black.twig" with {
                        text: 'Cosmética Corporal',
                        href: 'https://equivalenza.com/es/cosmetica/cuidado-corporal/',
                    } %}
                </div>
            </div>
            <div class="eq-lara-bf__item">
                <img src="{{basePath}}mima-tu-cara.jpg" alt="" class="pic" />
                <div class="inner">
                    <p class="title">Mima tu cara</p>
                    {% include "common/button-black.twig" with {
                        text: 'Cosmética facial',
                        href: 'https://equivalenza.com/es/cosmetics/',
                    } %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: BODY & FACE -->

<!-- START: WILD SOUL -->
<div class="eq-section eq-section--nopadding" id="wild-soul">
    <div class="eq-section__inner">
        <div class="eq-lara-wildsoul">
            <div class="eq-lara-wildsoul__pic">
                {% include "common/image.twig" with {
                    alt: '',
                    src: 'wild-soul.jpg',
                    sizes: '100vw',
                    mobile: 'wild-soul--mobile.jpg'
                } %}
            </div>
            <div class="eq-lara-wildsoul__content">
                <p class="title">
                    <strong>Wild Soul</strong>
                    <span>By Lara</span>
                </p>
                <p class="text">El perfume de Lara huele a libertad, optimismo, sencillez y pureza. Descubre una fragancia floral para mujeres espontáneas y aventureras.</p>
                {% include 'common/button-black.twig' with {
                    text: 'Consigue su perfume',
                    href: 'https://equivalenza.com/es/wild-soul-by-lara-perfume/',
                } %}
            </div>
        </div>
    </div>
</div>
<!-- END: WILD SOUL -->

{% include 'components/copy.twig' with {
    className: 'eq-section--narrow',
    title: 'Los valores que nos unen',
    text: '<strong>Lara es energía, sencillez y cercanía.</strong> Junto a ella queremos darte a conocer quiénes somos y cuáles son nuestros valores.',
} %}

<!-- START: VIDEO -->
<div class="eq-section eq-section--narrow eq-section--nopadding">
    <div class="eq-section__inner" id="video-lara"></div>
</div>
<!-- END: VIDEO -->

<!-- START: LARA QUOTES -->
<div class="eq-section">
    <div class="eq-section__inner">
        <div class="eq-lara-quotes eq-slider owl-carousel">
            <div class="eq-lara-quotes__item item">
                <p class="title">Sostenibilidad</p>
                <p class="text">“Debemos cuidar del planeta y los pequeños gestos cuentan. ¿Por qué no darle más de una utilidad a nuestro envase de perfume o aromatización? La posibilidad de perfumar mi casa con diferentes aromas en cada época del año sin usar múltiples envases me encanta.”</p>
            </div>
            <div class="eq-lara-quotes__item item">
                <p class="title">Empatía</p>
                <p class="text">“Recuperar el servicio al cliente personalizado. Apoyar las compras en las tiendas de barrio donde Equivalenza está presente. Sentir que es fácil conectar con ellos.”</p>
            </div>
            <div class="eq-lara-quotes__item item">
                <p class="title">Menos es más</p>
                <p class="text">“La vida es suficientemente complicada como para que nuestras elecciones del día a día la compliquen. Y más, cuando lo verdaderamente importante es el producto.”</p>
            </div>
            <div class="eq-lara-quotes__item item">
                <p class="title">Elección inteligente</p>
                <p class="text">“Una marca de perfume y cosmética de calidad a precios asequibles para todo el mundo. Porque cuidarse y sentirse bien está al alcance de todos y puede hacerse de una forma divertida.”</p>
            </div>
        </div>
    </div>
</div>
<!-- END: LARA QUOTES -->

<!-- START: SUBSCRIBE FORM -->
<div class="eq-section eq-section--salmon">
    <div class="eq-section__inner">
        <div class="eq-laraform">
            <p class="eq-laraform__title">¿Quieres saber más sobre Equivalenza y Lara?</p>
            <form class="eq-laraform__form" novalidate="novalidate" action="https://equivalenza.com/es/subscribe/" method="get" id="eq-laraform-form">
                <input type="hidden" name="referer" value="laraalvarez">
                <input name="email" type="email" id="email" placeholder="Email">
                <button type="submit">Suscríbete</button>       
            </form> 
        </div>
    </div>
</div>
<!-- END: SUBSCRIBE FORM -->

{% include 'components/scripts-landing-laraalvarez.twig' %}

{% endblock %}