{# landing-lessecrets.twig #}
{% extends 'layouts/default.twig' %}
{% set lang="es" %}

{% block meta %}
    {{ parent() }}
    <title>Landing Les Secrets</title>
{% endblock %}

{% block content %}

{% include 'components/css-landing-lessecrets.twig' %}

<section class="eq-section eq-section--nopadding eq-section--lessecrets">
    <div class="eq-section__inner">
        <div class="eq-lessecrets">
            <div class="eq-lessecrets__pic">
                {% include 'common/image.twig' with {
                    alt: '',
                    src: 'hero-desktop-2.jpg',
                    sizes: '100vw',
                    mobile: 'hero-mobile.jpg'
                } %}
            </div>
            {% include 'components/copy.twig' with {
                className: 'eq-lessecrets__content',
                title: 'Nueva colección premium',
                text: 'Con personalidad y elegante, hecha a medida para quienes buscan algo más en un perfume: <strong>la exclusividad</strong>.<br />Ingredientes sofisticados, prestigiosos y en tendencia que crean <strong>fragancias sublimes, unisex y poco convencionales</strong>.',
            } %}
        </div>
    </div>
</section>

{% include 'components/copy.twig' with {
    title: 'DESCUBRE LES SECRETS',
    text: 'El lujo a tu alcance desde 18,95€.',
} %}

<div class="eq-section eq-section--nopadding-top">
    <div class="eq-section__inner">
        <div class="eq-lessecrets-products">
            <div class="eq-lessecrets-products__item">
                <img src="{{basePath}}{{lang}}/oud-283.png" alt="" class="pic" />
                <div class="content">
                    <p class="title">OUD 283</p>
                    <p class="text">Una fragancia intensa y misteriosa basada en el preciado oud y lujosas especias.</p>
                    <p class="price">A partir de <strong>18,95 €</strong></p>
                    <a href="https://equivalenza.com/es/catalog/product/view/id/6794/s/amaderado-ambarado-283-100ml/" class="btn">Comprar</a>
                </div>
            </div>
            <!-- /.item -->
            <div class="eq-lessecrets-products__item">
                <img src="{{basePath}}{{lang}}/cuir-383.png" alt="" class="pic" />
                <div class="content">
                    <p class="title">CUIR 383</p>
                    <p class="text">Un aroma que interpreta el olor de un cuero delicado con un fondo ahumado y sensual de ámbar gris.</p>
                    <p class="price">A partir de <strong>18,95 €</strong></p>
                    <a href="https://equivalenza.com/es/cuero-especiado-383/" class="btn">Comprar</a>
                </div>
            </div>
            <!-- /.item -->
            <div class="eq-lessecrets-products__item">
                <img src="{{basePath}}{{lang}}/fleur-d-orange-484.png" alt="" class="pic" />
                <div class="content">
                    <p class="title">FLEUR D'ORANGER 484</p>
                    <p class="text">Un perfume limpio y refinado que evoca la brisa fresca con notas cítricas, lavanda y romero.</p>
                    <p class="price">A partir de <strong>18,95 €</strong></p>
                    <a href="https://equivalenza.com/es/fleur-oranger-484/" class="btn">Comprar</a>
                </div>
            </div>
            <!-- /.item -->
            <div class="eq-lessecrets-products__item">
                <img src="{{basePath}}{{lang}}/tonka-584.png" alt="" class="pic" />
                <div class="content">
                    <p class="title">TONKA 584</p>
                    <p class="text">Una fragancia misteriosa con notas orientales y el haba tonka como protagonista.</p>
                    <p class="price">A partir de <strong>18,95 €</strong></p>
                    <a href="https://equivalenza.com/es/oriental-tonka-584/" class="btn">Comprar</a>
                </div>
            </div>
            <!-- /.item -->
            <div class="eq-lessecrets-products__item">
                <img src="{{basePath}}{{lang}}/vanille-noire-684.png" alt="" class="pic" />
                <div class="content">
                    <p class="title">VANILLE NOIRE 684</p>
                    <p class="text">Una fragancia opulenta con toques especiados, notas avainilladas, ambaradas y de cacao.</p>
                    <p class="price">A partir de <strong>18,95 €</strong></p>
                    <a href="https://equivalenza.com/es/vanille-noire-684/" class="btn">Comprar</a>
                </div>
            </div>
            <!-- /.item -->
            <div class="eq-lessecrets-products__item">
                <img src="{{basePath}}{{lang}}/cachemire-784.png" alt="" class="pic" />
                <div class="content">
                    <p class="title">CACHEMIRE 784</p>
                    <p class="text">Un perfume dulce y sofisticado cuyo ingrediente principal es la madera de cachemira.</p>
                    <p class="price">A partir de <strong>18,95 €</strong></p>
                    <a href="https://equivalenza.com/es/cachemire784/" class="btn">Comprar</a>
                </div>
            </div>
            <!-- /.item -->
        </div>          
    </div>
</div>

{% include 'components/footer-landing.twig' with {
    items: [
        {
            image: {
                src: 'footer-1.png',
                alt: '',
            },
            title: '<strong>98 de cada 100 personas</strong> recomendaría Equivalenza a un amigo',
        },
        {
            image: {
                src: 'footer-2.png',
                alt: '',
            },
            title: '<strong>4,8/5</strong> 38.000 opiniones de clientes reales',
        },
        {
            image: {
                src: 'footer-3.png',
                alt: '',
            },
            title: '<strong>+500.000</strong> hogares utilizan Equivalenza a diario',
        },
    ]
} %}

{% include 'components/ventajas.twig' with {
    items: [
        {
            image: {
                src: 'ventajas-1.png',
                alt: '',
            },
            label: '<strong>Pago seguro</strong>',
        },
        {
            image: {
                src: 'ventajas-3.png',
                alt: '',
            },
            label: '<strong>Envíos gratis</strong> desde 29,95€',
        },
        {
            image: {
                src: 'ventajas-4.png',
                alt: '',
            },
            label: '<strong>Atención personalizada</strong>',
        },
    ]
} %} 

{% endblock %}