{# landing-justbright.twig #}
{% extends 'layouts/default-blocks.twig' %}
{% set lang="es" %}

{% block meta %}
    {{ parent() }}
    <title>Landing Sensual Soul</title>
{% endblock %}

{% block content %}

{% include 'components/css-landing-sensualsoul.twig' %}

<!-- START: HERO -->
<div class="eq-section eq-section--nopadding">
    <div class="eq-section__inner">
        <div class="eq-ss-hero">
            <div class="eq-ss-hero__pic">
                {% include "common/image.twig" with {
                    alt: '',
                    src: 'hero-desktop.jpg',
                    sizes: '100vw',
                    mobile: 'hero-mobile.jpg'
                } %}
            </div>
            <div class="eq-ss-hero__content">
                <img src="{{basePath}}{{lang}}/logo-color.png" alt="" class="pic" />
                <div class="actions">
                    {% include 'common/button-black.twig' with {
                        text: 'Comprar',
                        href: '#cards',
                    } %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: HERO -->

<div class="eq-section eq-section--nopadding-bottom eq-section--grey center">
    <div class="eq-section___inner">
        <img src="{{basePath}}{{lang}}/logo-black.png" alt="" class="eq-logo-ss" />
        {% include 'components/copy.twig' with {
            title: 'Una fragancia femenina, carismática y atrevida',
            text: 'Lara nos enseñó que una mujer puede ser aventurera libre y salvaje... pero también tiene diferentes facetas y momentos. Sensual Soul es Lara: <strong>auténtica, femenina, fuerte</strong> y sobre todo <strong>orgullosa de ser mujer</strong>.',
            className: 'eq-section--nopadding-top',
        } %}
    </div>
</div>

{% include 'components/copy.twig' with {
    className: 'eq-section--nopadding-bottom',
    section: '¿Quieres el tuyo?',
    title: '¡Escoge tu formato favorito!',
    id: 'cards',
} %}

<!-- START: PRODUCT CARDS -->
<div class="eq-section eq-section--nopadding-xs">
    <div class="eq-section__inner">
        <div class="eq-ss-cards">
            <div class="eq-ss-card">
                <div class="eq-ss-card__pic">
                    <img src="{{basePath}}{{lang}}/formato-1.jpg" alt="" class="pic" />
                </div>
                <div class="eq-ss-card__content">
                    <p class="title">Déjate envolver por la feminidad más sensual</p>
                    <p class="text">Una fragancia <strong>Oriental Frutal</strong>, con notas de <strong>rosa, café y frutas rojas</strong>.</p>
                    <p class="price">SENSUAL SOUL 50ml <strong>17,95 €</strong></p>
                    <a href="https://equivalenza.com/es/sensual-soul-lara-alvarez/" class="btn">Comprar</a>
                </div>
            </div>
            <div class="eq-ss-card eq-ss-card--reverse">
                <div class="eq-ss-card__pic">
                    <img src="{{basePath}}{{lang}}/formato-2.jpg" alt="" class="pic" />
                </div>
                <div class="eq-ss-card__content">
                    <p class="title">Ofrece mucho más que una fragancia</p>
                    <p class="text">Nuestro pack exclusivo incluye el perfume <strong>Sensual Soul 50ml</strong> y el perfume en formato <strong>roll-on 10ml</strong>, para llevarte a donde quieras.</p>
                    <p class="price">SET DE REGALO <strong>19,95 €</strong></p>
                    <a href="https://equivalenza.com/es/estuche-regalo-sensual-soul/" class="btn">Comprar</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: PRODUCT CARDS -->


{% include 'components/copy.twig' with {
    className: 'eq-section--nopadding-bottom',
    title: 'It’s time to show your Sensual Soul',
    text: 'Para crear Sensual Soul, nuestra embajadora se inspiró en su lado más femenino, seductor y empoderado.  Un homenaje a todas las mujeres que iluminan su propio camino y escriben sus propias normas. ¡No te pierdas el spot de la campaña!',
} %}

<!-- START: VIDEO -->
<div class="eq-section eq-section--narrow">
    <div class="eq-section__inner">
        <div id="video-jb">
            <iframe class="eq-video-jb" src="https://www.youtube.com/embed/fYvVenyyxIc?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>
<!-- END: VIDEO -->

{% include 'components/copy.twig' with {
    className: 'eq-section--nopadding-top',
    text: '<em>"La vida se entiende por momentos de felicidad donde tu alma se libera y el corazón late más fuerte. Donde te sientes libre y segura de ti misma. Espero que Sensual Soul te acompañe en estos instantes donde tú, y solo tú, pones los límites."</em>',
} %}

<div class="eq-section eq-section--nopadding-top center">
    <div class="eq-section__inner">
        <img src="{{basePath}}{{lang}}/firma-lara.png" alt="" class="eq-ss-quote" />
    </div>
</div>

{% include 'components/copy.twig' with {
    section: 'Escoge tu formato favorito',
} %}

<!-- START: VIDEO -->
<div class="eq-section eq-section--nopadding-top">
    <div class="eq-section__inner">
        <div class="eq-ss-products">
            <div class="eq-ss-products__item">
                <img src="{{basePath}}{{lang}}/sensual-soul-50.png" alt="" class="pic" />
                <div class="content">
                    <p class="title">SENSUAL SOUL 50ml</p>
                    <p class="price">17,95 €</p>
                    <a href="https://equivalenza.com/es/sensual-soul-lara-alvarez/" class="btn">Comprar</a>
                </div>
            </div>
            <!-- /.item -->
            <div class="eq-ss-products__item">
                <img src="{{basePath}}{{lang}}/set-de-regalo.png" alt="" class="pic" />
                <div class="content">
                    <p class="title">SET DE REGALO</p>
                    <p class="price">19,95 €</p>
                    <a href="https://equivalenza.com/es/estuche-regalo-sensual-soul/" class="btn">Comprar</a>
                </div>
            </div>
            <!-- /.item -->
        </div>
    </div>
</div>
<!-- END: VIDEO -->

<!-- START: SUBSCRIBE FORM -->
<div class="eq-section eq-section--salmon">
    <div class="eq-section__inner">
        <div class="eq-subscribe">
            <p class="eq-subscribe__title">¿Quieres saber más sobre Equivalenza y Lara?</p>
            <form class="eq-subscribe__form" novalidate="novalidate" action="https://equivalenza.com/pt/subscribe/" method="get" id="eq-subscribe-form">
                <input type="hidden" name="referer" value="sensualsoul">
                <input name="email" type="email" id="email" placeholder="Email">
                <button type="submit">Suscribir</button>       
            </form> 
        </div>
    </div>
</div>
<!-- END: SUBSCRIBE FORM -->

{% include 'components/scripts-landing-sensualsoul.twig' %}

{% endblock %}