{# landing-cosmetica.twig #}
{% extends 'layouts/default.twig' %}
{% set lang="es" %}
{% set basePath='https://equivalenza.com/landings_media/images/franquicias/' %}

{% block meta %}
    {{ parent() }}
    <title>Landing Franquicias</title>
{% endblock %}

{% block content %}

{% include 'components/css-landing-franquicias.twig' %}

{% include 'components/hero.twig' with {
    className: 'eq-hero--alt',
    items: [
        {
            title: 'Abre tu tienda Equivalenza',
            text: 'Únete a una cadena de perfumería y cosmética líder',
            srcset: {
                alt: '',
                src: 'hero-franquicias.jpg',
                sizes: '100vw',
                mobile: 'hero-franquicias--mobile.jpg'
            },
            button: {
                href: '#informate',
                text: 'Infórmate',
            },
        },     
    ]
} %}

{% include 'components/copy.twig' with {
    text: 'En Equivalenza somos especialistas en <strong>perfumes, cosmética</strong> y <strong>fragancias</strong> para el hogar de <strong>máxima calidad</strong> realizados con <strong>ingredientes naturales</strong>, respetuosos con el medio ambiente y sorprendentemente <strong>asequibles</strong>.',
} %}

<!-- START: ICON GALLERY -->
<section class="eq-section eq-section--nopadding">
    <div class="eq-section__inner">
        <div class="eq-fr-icons">
            <div class="eq-fr-icons__item">
                {% include "common/icon-inversion.twig" %}
                <span>Inversión desde <strong>30.000€</strong></span>
            </div>
            <div class="eq-fr-icons__item">
                {% include "common/icon-rentabilidad.twig" %}
                <span>Modelo de negocio consolidado con <strong>alta rentabilidad</strong></span>
            </div>
            <div class="eq-fr-icons__item">
                {% include "common/icon-tiendas.twig" %}
                <span>Más de <strong>600 tiendas</strong> en <strong>22 países</strong> y <strong>75M€</strong> de facturación</span>
            </div>
        </div>
    </div>
</section>
<!-- END: ICON GALLERY -->

<!-- START: BANNER -->
<section class="eq-section">
    <div class="eq-section__inner">
        <div class="eq-fr-banner-cta">
            <div class="eq-fr-banner">
                <span class="eq-fr-banner__copy"><span>Nº<strong>1</strong></span> en España en perfumería monomarca por superficie comercial </span>
                <span class="eq-fr-banner__small">(Revista Alimarket, abril 2019)</span>
            </div>
            {% include "common/button-border.twig" with {
                href: '#informate',
                text: 'Forma parte de nuestro equipo',
            } %}
            {% include "common/arrow-black.twig" %}
        </div>
    </div>
</section>
<!-- END: BANNER -->

<!-- START: LARA -->
<section class="eq-section eq-section--grey eq-section--nopadding">
    <div class="eq-section__inner">
        <div class="eq-fr-lara">
            <div class="eq-fr-lara__col eq-fr-lara__col--1">
                <img class="logo-equivalenza" src="https://equivalenza.com/pub/media/logo/default/logoequivalenza.png" alt="Equivalenza" />
                <p class="eq-fr-lara__title">La revolución en<br />perfume y cosmética</p>
                <p class="eq-fr-lara__copy"><strong>Fundamos Equivalenza en 2011 para revolucionar el mundo de la perfumería:</strong> queríamos poner al alcance de todos perfumes de alta calidad a precios asequibles.</p>
            </div><!-- /.eq-fr-lara__col -->
            <div class="eq-fr-lara__col eq-fr-lara__col--2">
                <img src="{{basePath}}franquicias-lara.jpg" alt="" />
            </div><!-- /.eq-fr-lara__col -->
            <div class="eq-fr-lara__col eq-fr-lara__col--3">
                <div id="more-info">
                    <p class="eq-fr-lara__copy">Además, <strong>concienciados con el medioambiente</strong>, ya desde nuestros inicios fomentamos la reutilización del <strong>envase de vidrio</strong> de nuestras <strong>más de 130 fragancias</strong>.</p>
                    <p class="eq-fr-lara__copy">Esa filosofía basada en la <strong>máxima calidad y la preocupación por el planeta</strong> continua siendo la base de las nuevas líneas de producto de cosmética que hemos incorporado en los últimos años.</p>
                </div>
                <a href="#more-info" class="toggle">Seguir leyendo</a>
            </div><!-- /.eq-fr-lara__col -->
        </div>
    </div>
</section>
<!-- END: LARA -->

<!-- START: MOTIVOS -->
<section class="eq-section eq-section--nopadding-xs">
    <div class="eq-section__inner">
        <div class="eq-fr-motivos">
            <p class="eq-fr-motivos__title">QUERRÁS ABRIR UNA FRANQUICIA EQUIVALENZA POR...</p>
            <div class="eq-fr-motivos__slider eq-slider owl-carousel">
                <div class="eq-fr-motivos__items item">
                    <div class="eq-fr-motivo sostenibilidad">
                        <div class="eq-fr-motivo__content">
                            <div class="eq-fr-motivo__header">
                                <div class="inner">
                                    {% include "common/icon-sostenibilidad.twig" %}
                                    <p class="eq-fr-motivo__title" data-to="1">Sostenibilidad</p>
                                    <p class="eq-fr-motivo__copy">Un modelo de negocio respetuoso con el medio ambiente.</p>
                                </div>
                                {% include "common/image.twig" with {
                                    src: 'franquicias-motivo-1.jpg',
                                    sizes: '100vw',
                                    mobile: 'franquicias-motivo-1--mobile.png'
                                } %}
                            </div>
                            <a href="#toggle-1" class="toggle hidden-sm"></a>
                            <div id="toggle-1" class="toggable hidden-sm">
                                <p class="eq-fr-motivo__copy ">La sociedad cada vez da más valor a las <strong>políticas responsables</strong> de las marcas a la hora de realizar las compras, e incluso al uso de embalajes <strong>más sostenibles</strong>. Sobre eso precisamente se apoya nuestro modelo de negocio:</p>
                                <ul class="eq-fr-motivo__list">
                                    <li>
                                        {% include "common/check-pink.twig" %}
                                        <span><strong>Venta a granel</strong> de perfume</span>
                                    </li>
                                    <li>
                                        {% include "common/check-pink.twig" %}
                                        <span>Cosmética con <strong>sistema de recarga</strong></span>
                                    </li>
                                    <li>
                                        {% include "common/check-pink.twig" %}
                                        <span><strong>No testamos en animales</strong></span>
                                    </li>
                                    <li>
                                        {% include "common/check-pink.twig" %}
                                        <span><strong>Evitamos los químicos perjudiciales</strong></span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div><!-- /.eq-fr-motivo -->
                    <div class="eq-fr-motivo smart">
                        <div class="eq-fr-motivo__content">
                            <div class="eq-fr-motivo__header">
                                <div class="inner">
                                    {% include "common/icon-smartchoice.twig" %}
                                    <p class="eq-fr-motivo__title" data-to="2">Elección inteligente</p>
                                    <p class="eq-fr-motivo__copy">Productos de alta calidad a precios asequibles.</p>
                                </div>
                                {% include "common/image.twig" with {
                                    src: 'franquicias-motivo-2.jpg',
                                    sizes: '100vw',
                                    mobile: 'franquicias-motivo-2--mobile.jpg'
                                } %}
                            </div>
                            <a href="#toggle-2" class="toggle hidden-sm"></a>
                            <div id="toggle-2" class="toggable hidden-sm">
                                <p class="eq-fr-motivo__copy">Buscamos la <strong>excelencia</strong> en nuestros productos y procesos pensando siempre en mantener un <strong>precio asequible</strong>.</p>
                                <ul class="eq-fr-motivo__list">
                                    <li>
                                        {% include "common/check-pink.twig" %}
                                        <span>Invertimos en <strong>investigación, desarrollo e innovación</strong>.</span>
                                    </li>
                                    <li>
                                        {% include "common/check-pink.twig" %}
                                        <span>Contamos con profesionales y proveedores fieles a nuestro <strong>estándar de calidad</strong>.</span>
                                    </li>
                                    <li>
                                        {% include "common/check-pink.twig" %}
                                        <span>Seguimos los criterios de la International Fragrance Association para el <strong>uso seguro de las fragancias</strong>.</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- /.eq-fr-motivo -->
                    <div class="eq-fr-motivo empatia">
                        <div class="eq-fr-motivo__content">
                            <div class="eq-fr-motivo__header">
                                <div class="inner">
                                    {% include "common/icon-empatia.twig" %}
                                    <p class="eq-fr-motivo__title" data-to="3">Empatía</p>
                                    <p class="eq-fr-motivo__copy">Nos compremetemos con nuestros clientes y licenciatarios.</p>
                                </div>
                                {% include "common/image.twig" with {
                                    src: 'franquicias-motivo-3.jpg',
                                    sizes: '100vw',
                                    mobile: 'franquicias-motivo-3--mobile.jpg'
                                } %}
                            </div>
                            <a href="#toggle-3" class="toggle hidden-sm"></a>
                            <div id="toggle-3" class="toggable hidden-sm">
                                <p class="eq-fr-motivo__copy">Ofrecemos a nuestros licenciatarios <strong>todo lo que necesitan</strong> en cada momento: desde la puesta en marcha de la franquicia hasta el día a día de su gestión.</p>
                                <ul class="eq-fr-motivo__list">
                                    <li>
                                        {% include "common/check-pink.twig" %}
                                        <span><strong>Soporte</strong> a través del departamento de Atención al Cliente y los Area Managers.</span>
                                    </li>
                                    <li>
                                        {% include "common/check-pink.twig" %}
                                        <span><strong>Formación contínua</strong> en perfumería, producto, ventas y dirección y gestión de equipos.</span>
                                    </li>
                                    <li>
                                        {% include "common/check-pink.twig" %}
                                        <span><strong>Campañas de marketing</strong> con promociones y apariciones en los medios.</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- /.eq-fr-motivo -->
                    <div class="eq-fr-motivo menosesmas">
                        <div class="eq-fr-motivo__content">
                            <div class="eq-fr-motivo__header">
                                <div class="inner">
                                    {% include "common/icon-menosesmas.twig" %}
                                    <p class="eq-fr-motivo__title" data-to="4">Menos es más</p>
                                    <p class="eq-fr-motivo__copy">Invertimos en el producto, no en lo superficial.</p>
                                </div>
                                {% include "common/image.twig" with {
                                    src: 'franquicias-motivo-4.jpg',
                                    sizes: '100vw',
                                    mobile: 'franquicias-motivo-4--mobile.jpg'
                                } %}
                            </div>
                            <a href="#toggle-4" class="toggle hidden-sm"></a>
                            <div id="toggle-4" class="toggable hidden-sm">
                                <p class="eq-fr-motivo__copy">La calidad es lo que realmente nos importa y por eso tenemos un <strong>revolucionario concepto de negocio</strong> dentro del sector de la belleza que une la <strong>excelencia</strong> y la <strong>sostenibilidad</strong> con una amplia gama de productos capaz de dar respuesta a las necesidades de cada cliente.</p>
                                <ul class="eq-fr-motivo__list">
                                    <li>
                                        {% include "common/check-pink.twig" %}
                                        <span>Prescindimos de recipientes exclusivos: preferimos <strong>invertir en la calidad</strong> de nuestras esencias y envases reutilizables.</span>
                                    </li>
                                    <li>
                                        {% include "common/check-pink.twig" %}
                                        <span><strong>Más de 130 fragancias</strong> para hombres y mujeres y fragancias para el hogar.</span>
                                    </li>
                                    <li>
                                        {% include "common/check-pink.twig" %}
                                        <span>Nuevas líneas de <strong>cosmética facial y corporal</strong>.</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- /.eq-fr-motivo -->
                </div>
                <div class="eq-fr-mslide eq-fr-mslide--1 hidden-xs">
                    <div class="eq-fr-mslide__content">
                        {% include "common/icon-sostenibilidad.twig" %}
                        <p class="eq-fr-motivo__title">Sostenibilidad</p>
                        <p class="eq-fr-motivo__copy">Un modelo de negocio respetuoso con el medio ambiente.</p>
                        <p class="eq-fr-motivo__copy">La sociedad cada vez da más valor a las <strong>políticas responsables</strong> de las marcas a la hora de realizar las compras, e incluso al uso de embalajes <strong>más sostenibles</strong>. Sobre eso precisamente se apoya nuestro modelo de negocio:</p>
                        <ul class="eq-fr-motivo__list">
                            <li>
                                {% include "common/check-pink.twig" %}
                                <span><strong>Venta a granel</strong> de perfume</span>
                            </li>
                            <li>
                                {% include "common/check-pink.twig" %}
                                <span>Cosmética con <strong>sistema de recarga</strong></span>
                            </li>
                            <li>
                                {% include "common/check-pink.twig" %}
                                <span><strong>No testamos en animales</strong></span>
                            </li>
                            <li>
                                {% include "common/check-pink.twig" %}
                                <span><strong>Evitamos los químicos perjudiciales</strong></span>
                            </li>
                        </ul>
                    </div>
                    <img src="{{basePath}}franquicias-motivo-1-slide.jpg" alt="" class="eq-fr-mslide__pic" />
                </div>
                <div class="eq-fr-mslide eq-fr-mslide--2 hidden-xs">
                    <div class="eq-fr-mslide__content">
                        {% include "common/icon-smartchoice.twig" %}
                        <p class="eq-fr-motivo__title">Elección inteligente</p>
                        <p class="eq-fr-motivo__copy">Productos de alta calidad a precios asequibles.</p>
                        <p class="eq-fr-motivo__copy">Buscamos la <strong>excelencia</strong> en nuestros productos y procesos pensando siempre en mantener un <strong>precio asequible</strong>.</p>
                        <ul class="eq-fr-motivo__list">
                            <li>
                                {% include "common/check-pink.twig" %}
                                <span>Invertimos en <strong>investigación, desarrollo e innovación</strong>.</span>
                            </li>
                            <li>
                                {% include "common/check-pink.twig" %}
                                <span>Contamos con profesionales y proveedores fieles a nuestro <strong>estándar de calidad</strong>.</span>
                            </li>
                            <li>
                                {% include "common/check-pink.twig" %}
                                <span>Seguimos los criterios de la International Fragrance Association para el <strong>uso seguro de las fragancias</strong>.</span>
                            </li>
                        </ul>
                    </div>
                    <img src="{{basePath}}franquicias-motivo-2-slide.jpg" alt="" class="eq-fr-mslide__pic" />
                </div>
                <div class="eq-fr-mslide eq-fr-mslide--3 hidden-xs">
                    <div class="eq-fr-mslide__content">
                        {% include "common/icon-empatia.twig" %}
                        <p class="eq-fr-motivo__title">Empatía</p>
                        <p class="eq-fr-motivo__copy">Nos compremetemos con nuestros clientes y licenciatarios.</p>
                        <p class="eq-fr-motivo__copy">Ofrecemos a nuestros licenciatarios <strong>todo lo que necesitan</strong> en cada momento: desde la puesta en marcha de la franquicia hasta el día a día de su gestión.</p>
                        <ul class="eq-fr-motivo__list">
                            <li>
                                {% include "common/check-pink.twig" %}
                                <span><strong>Soporte</strong> a través del departamento de Atención al Cliente y los Area Managers.</span>
                            </li>
                            <li>
                                {% include "common/check-pink.twig" %}
                                <span><strong>Formación contínua</strong> en perfumería, producto, ventas y dirección y gestión de equipos.</span>
                            </li>
                            <li>
                                {% include "common/check-pink.twig" %}
                                <span><strong>Campañas de marketing</strong> con promociones y apariciones en los medios.</span>
                            </li>
                        </ul>
                    </div>
                    <img src="{{basePath}}franquicias-motivo-3-slide.jpg" alt="" class="eq-fr-mslide__pic" />
                </div>
                <div class="eq-fr-mslide eq-fr-mslide--4 hidden-xs">
                    <div class="eq-fr-mslide__content">
                        {% include "common/icon-menosesmas.twig" %}
                        <p class="eq-fr-motivo__title">Menos es más</p>
                        <p class="eq-fr-motivo__copy">Invertimos en el producto, no en lo superficial.</p>
                        <p class="eq-fr-motivo__copy">La calidad es lo que realmente nos importa y por eso tenemos un <strong>revolucionario concepto de negocio</strong> dentro del sector de la belleza que une la <strong>excelencia</strong> y la <strong>sostenibilidad</strong> con una amplia gama de productos capaz de dar respuesta a las necesidades de cada cliente.</p>
                        <ul class="eq-fr-motivo__list">
                            <li>
                                {% include "common/check-pink.twig" %}
                                <span>Prescindimos de recipientes exclusivos: preferimos <strong>invertir en la calidad</strong> de nuestras esencias y envases reutilizables.</span>
                            </li>
                            <li>
                                {% include "common/check-pink.twig" %}
                                <span><strong>Más de 130 fragancias</strong> para hombres y mujeres y fragancias para el hogar.</span>
                            </li>
                            <li>
                                {% include "common/check-pink.twig" %}
                                <span>Nuevas líneas de <strong>cosmética facial y corporal</strong>.</span>
                            </li>
                        </ul>
                    </div>
                    <img src="{{basePath}}franquicias-motivo-4-slide.jpg" alt="" class="eq-fr-mslide__pic" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END: MOTIVOS -->

<!-- START: QUE TE OFRECEMOS -->
<section class="eq-section eq-section--salmon">
    <div class="eq-section__inner">
        <div class="eq-fr-ofrecemos">
            <p class="eq-fr-ofrecemos__title">¿Qué te ofrecemos?</p>
            {% include "components/check-list.twig" with {
                items: [
                    '<strong>El apoyo</strong> de una empresa en expansión <strong>líder en el sector</strong> y con presencia en más de <strong>22 países.</strong>',
                    'Un modelo de negocio consolidado y en <strong>constante crecimiento</strong>.',
                    '<strong>Artículos de alta calidad</strong> para todos los bolsillos y <strong>clientela fácilmente fidelizable</strong>.',
                ],
                moreItems: [
                    'Renovación y lanzamiento de <strong>nuevos productos</strong> de forma periódica gracias a nuestra <strong>inversión en I+D+i</strong>.',
                    '<strong>Recupera tu inversión inicial</strong> en una media de 2 años.',
                    '<strong>Mayor margen comercial</strong> que otros sectores de retail.',
                    'Contrato inicial de <strong>5 años</strong> que puede ser prorrogable.',
                    'Pon en marcha <strong>tu tienda en 6-8 semanas</strong>.',
                    '<strong>Formación 360º</strong> continua gratuita.',
                ],
            } %}
            {% include "common/button-border.twig" with {
                text: '¡Hablemos!',
                href: '#informate',
            } %}
            {% include "common/arrow-black.twig" %}
        </div>
    </div>
</section>
<!-- END: QUE TE OFRECEMOS -->

<!-- START: ¿QUE ESTAMOS BUSCANDO? -->
{% include 'components/copy.twig' with {
    title: '¿QUÉ ESTAMOS BUSCANDO?',
    text: 'Si te apasiona el <strong>mundo de la belleza</strong> y compartes <strong>nuestros valores</strong>, nos gustaría que formaras parte de nuestro equipo y te unieras a este proyecto.',
} %}
<section class="eq-section eq-section--nopadding">
    <div class="eq-section__inner">
        {% include "components/image-slider.twig" with {
            items: [
                {
                    alt: '',
                    src: 'franquicias-local.jpg',
                    sizes: '100vw',
                    mobile: 'franquicias-local--mobile.jpg'                    
                },
            ]
        } %}
    </div>
</section>
<section class="eq-section">
    <div class="eq-section__inner">
        <div class="eq-fr-buscamos">
            <div class="eq-fr-buscamos__col eq-fr-buscamos__col--1">
                <p class="eq-fr-buscamos__copy">Buscamos emprendedores apasionados por el mundo de la belleza y con habilidades comerciales.</p>
            </div>
            <div class="eq-fr-buscamos__col eq-fr-buscamos__col--2">
                {% include "components/check-list.twig" with {
                    items: [
                        '<strong>Inversión inicial sobre los 30.000€ + IVA</strong>, que incluye el <strong>diseño</strong> de tu tienda, el <strong>mobiliario</strong> e <strong>imagen corporativa</strong>, el <strong>stock inicial</strong> de producto y el <strong>equipo informático</strong> (TPV) y la <strong>licencia</strong>.',
                        '<strong>Locales entre 20 y 50 m2 en calles estratégicas y centros comerciales de poblaciones de más de 30.000 habitantes</strong> o con alguna característica diferenciadora.',
                    ]
                } %}
            </div>
            <div class="eq-fr-buscamos__col eq-fr-buscamos__col--3">
                <p class="eq-fr-buscamos__copy eq-fr-buscamos__small">SI TIENES ESPÍRITU EMPRENDEDOR Y TE GUSTA NUESTRO PROYECTO ¡VAMOS A SER EL EQUIPO PERFECTO!</p>
                {% include "common/arrow-black.twig" %}
            </div>
        </div>
    </div>
</section>
<!-- END: ¿QUE ESTAMOS BUSCANDO? -->

<!-- START: FORM -->
<section  id="informate">
    {% include "components/copy.twig" with {
        className: 'eq-section--salmon',
        title: 'CONTACTA CON NOSOTROS',
        text: 'Explícanos tu caso particular y te acompañaremos en todas las fases del proceso, desde la búsqueda de local hasta la apertura. <strong>Contamos contigo.</strong>'
    } %}
    <section class="eq-section eq-section--nopadding eq-section--salmon">
        <div class="eq-section__inner">
            <form
                id="franquicias-form"
                action="https://news.equivalenza.com/add_subscriber.html"
                accept-charset="utf-8"
                method="post"
                class="eq-form"
            >
                <div class="eq-formgroup">
                    <label for="first_name">Nombre *</label>
                    <input type="text" id="first_name" name="first_name" />
                </div>
                <div class="eq-formgroup">
                    <label for="last_name">Apellidos *</label>
                    <input type="text" id="last_name" name="last_name" />
                </div>
                <div class="eq-formgroup">
                    <label for="custom_telefono">Teléfono</label>
                    <input type="tel" id="custom_telefono" name="custom_telefono" />
                </div>
                <div class="eq-formgroup">
                    <label for="email">Email *</label>
                    <input type="email" id="email" name="email" />
                </div>
                <div class="eq-formgroup">
                    <label for="custom_ciudad">Ciudad de interés *</label>
                    <input type="text" id="custom_ciudad" name="custom_ciudad" />
                </div>
                <div class="eq-radiogroup">
                    <span class="eq-radiogroup__label">¿Dispones de local? *</span>
                    <div class="eq-radio">
                        <input type="radio" id="local-0" name="custom_local" value="Sí" />
                        <label for="local-0">Sí</label>
                    </div>
                    <div class="eq-radio">
                        <input type="radio" id="local-1" name="custom_local" value="No" />
                        <label for="local-1">No</label>
                    </div>
                </div>
                <div class="eq-check">
                    <input type="checkbox" id="webform_consent#f_0" name="webform[consent#f-ver#f]" value="true" />
                    <label for="webform_consent#f_0">Acepto los <a href="https://equivalenza.com/es/politica-de-privacidad/" target="_blank">términos y condiciones</a></label>
                </div>
                <!-- Get the token at: https://news.equivalenza.com/campaign_list.html -->
                <input type="hidden" name="campaign_token" value="69" />
                <!-- Thank you page (optional) -->
                <input type="hidden" name="thankyou_url" value="https://equivalenza.com/es/gracias-por-contactar"/>
                <!-- Add subscriber to follow-up sequence -->
                <input type="hidden" name="start_day" value="0" />
                <button type="submit" class="eq-btn-black eq-btn-block">Enviar</button>
            </form>
        </div>
    </section>
    {% include "components/copy.twig" with {
        className: 'eq-section--salmon',
        text: 'También puedes contactar con nosotros a través del teléfono <a href="tel:+34932635733">932 635 733</a> o enviarnos un email a <a href="mailto:expansion@equivalenza.com">expansion@equivalenza.com</a>'
    } %}
</section>
<!-- END: FORM -->

{% include 'components/scripts-landing-franquicias.twig' %}

{% endblock %}