.eq-xm-featured {
    position: relative;

    &__wrapper {
        position: relative;
        width: 1160px;
        max-width: calc(100% - 20px);
        margin: 0 auto;
    }

    &__content {
        position: relative;
        z-index: 1;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        gap: 10px;
        padding-bottom: 40px;

        .claim,
        .copy,
        .more {
            color: $neutralBase;
            font-family: $font-sans;
            margin: 0;
        }

        .claim {
            font-size: 23px;
            font-weight: 600;
            line-height: calc(25 / 23);
        }

        .copy {
            font-size: 16px;
            font-weight: 200;
            line-height: calc(21 / 16);
        }

        .more {
            font-size: 20px;
            font-weight: 600;
            line-height: calc(31 / 20);
            text-decoration: underline;
            text-align: center;
        }

        .products {
            padding: 20px 0;
            .owl-stage {
                display: flex;
                flex-flow: row nowrap;
                > .owl-item {
                    display: flex;
                    flex-flow: column nowrap;
                    > .product {
                        flex: 1;
                    }
                }
            }
        }

        .product {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            gap: 10px;
            padding: 10px 10px 20px;
            background-color: $neutralBase;

            &__img {
                display: block;
                width: 100%;
                aspect-ratio: 1;
            }

            &__name {
                font-family: $font-sans;
                font-weight: 400;
                font-size: 17px;
                line-height: calc(22 / 17);
                text-align: center;
            }

            &__price {
                margin-top: auto;
                font-family: $font-sans;
                font-weight: 600;
                font-size: 18px;
            }

            &__btn {
                background-color: $magenta;
                color: $neutralBase;
                width: 100%;
                height: auto;
                max-width: 176px;
                font-family: $font-sans;
                font-size: 15px;
                font-weight: 600;
                line-height: calc(20 / 15);
                text-transform: uppercase;
                pointer-events: auto;
                transition: all 0.2s linear;
                border: none;
                border-radius: 4px;
                text-decoration: none;
                text-align: center;
                padding: 4px 10px;

                &:hover {
                    background: $neutral000;
                    color: $neutralBase;
                    border: none;
                }
            }
        }
    }

    @include bp(xs) {
        &__bg {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    @include bp(sm) {
        &__bg {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &__content {
            padding-top: 50px;
            padding-bottom: 50px;
            align-items: flex-start;

            .claim {
                font-size: 32px;
                line-height: calc(35 / 32);
                text-align: left;
            }

            .copy {
                font-size: 22px;
                line-height: calc(31 / 22);
            }

            .products {
                max-width: 530px;
            }
        }
    }

    // SENSUAL SOUL
    &--sensual-soul {
        .claim {
            text-transform: uppercase;
        }

        @include bp(xs) {
            background-color: #c43e57;
            .title,
            .figure {
                display: none;
            }
            .eq-xm-featured__content {
                margin-top: -50px;
            }
        }

        @include bp(sm) {
            .title {
                position: absolute;
                width: 240px;
                height: auto;
                top: 90px;
                left: -20px;
            }

            .figure {
                display: block;
                position: absolute;
                top: 0;
                left: -50px;
                height: 100%;
                width: auto;
                z-index: 0;
            }

            .eq-xm-featured__content {
                padding-left: 50%;
            }
        }
    }

    // JUST BRIGHT
    &--just-bright {
        .claim {
            text-transform: uppercase;
        }

        @include bp(xs) {
            background-color: #062750;
            .title,
            .figure {
                display: none;
            }
            .eq-xm-featured__content {
                margin-top: -100px;
            }
        }

        @include bp(sm) {
            .title {
                position: absolute;
                width: 240px;
                height: auto;
                top: 90px;
                left: -20px;
            }

            .figure {
                display: block;
                position: absolute;
                bottom: 0;
                left: 70px;
                height: 90%;
                width: auto;
                z-index: 0;
            }

            .eq-xm-featured__content {
                padding-left: 50%;
            }
        }
    }


    // LES SECRETS
    &--les-secrets {
        .claim {
            text-transform: uppercase;
        }

        @include bp(xs) {
            background-color: $neutral000;
            .title,
            .figure {
                display: none;
            }
            .eq-xm-featured__content {
                margin-top: -20px;
                text-align: center;
            }
        }

        @include bp(sm) {
            .title {
                position: absolute;
                width: 160px;
                height: auto;
                top: 70px;
                right: 20%;
                z-index: 1;
            }

            .figure {
                display: block;
                position: absolute;
                bottom: 0;
                right: -236px;
                height: 722px;
                width: auto;
                z-index: 0;
            }

            .eq-xm-featured__content {
                padding-right: 50%;
                text-align: center;
            }
        }
    }

    // GLOW & JOY
    &--glow-joy {
        .eq-xm-featured__content {
            .claim,
            .more {
                color: $neutral000;
            }
            .owl-nav {
                display: none;
            }
        }

        @include bp(xs) {
            background-color: #cebdce;
            .title,
            .figure,
            .product-pic {
                display: none;
            }
            .eq-xm-featured__content {
                text-align: center;
                .claim br {
                    display: none;
                }
            }
        }

        @include bp(sm) {
            .title {
                position: absolute;
                width: 320px;
                height: auto;
                top: 80px;
                left: 220px;
            }

            .figure {
                display: block;
                position: absolute;
                top: 0;
                left: -330px;
                height: 100%;
                width: auto;
                z-index: 0;
            }

            .product-pic {
                position: absolute;
                width: 334px;
                height: auto;
                top: 247px;
                left: 267px;
            }

            .eq-xm-featured__content {
                padding-left: 50%;
            }
        }
    }
}
