.eq-xm-hero {
    position: relative;
    background-color: #061F3D;

    &__wrapper {
        width: 1160px;
        max-width: 100%;
        margin: 0 auto;
    }

    &__content {
        display: flex;
        flex-flow: column nowrap;
        text-align: center;

        .logo {
            display: block;
            max-width: 178px;
            height: auto;
            margin: 0 auto;
        }

        .claim,
        .text {
            font-family: $font-sans;
            font-weight: 200;
            font-size: 21px;
            line-height: calc(31/21);
            margin: 0;
        }

        .claim {
            color: $gold;
        }

        .text {
            color: $neutralBase;
        }
    }

    @include bp(xs) {
        display: flex;
        flex-direction: column-reverse;

        &__content {
            padding: 20px 40px 0;
            gap: 10px;
        }

        &__pic {
            img {
                display: block;
                width: 100%;
                height: auto;    
            }
        }
    }

    @include bp(sm) {
        background: linear-gradient(to bottom, #013a60, #0B1C3F);

        &__pic {
            position: absolute;
            z-index: 0;
            top: 0;
            bottom: -80px;
            left: 48%;

            img {
                display: block;
                height: 100%;
                width: auto;
            }

        }

        &__content {
            position: relative;
            z-index: 1;
            padding: 2.7vw 0;
            max-width: 50%;
            margin-right: auto;

            .logo {
                max-width: 305px;
            }

            .text {
                margin-top: 20px;
            }
        }
    }
}