.eq-xm-ideas {
    width: 1160px;
    max-width: calc(100% - 20px);
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    padding-bottom: 30px;

    &__header {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        // .title {
        //     display: block;
        //     max-width: 191px;
        //     height: auto;
        // }

        .title {
            font-family: $font-sans;
            font-size: 32px;
            line-height: 1;
            text-transform: uppercase;
            color: $neutralBase;
            margin: 0;
        }

        .more {
            color: $neutralBase;
            font-family: $font-sans;
            font-size: 14px;
            font-weight: 600;
            line-height: calc(31 / 14);
            text-decoration: underline;
        }
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    &__card {
        position: relative;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 0.84;
        }

        .inner {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 10px;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
        }

        .title {
            color: $neutralBase;
            font-family: $font-sans;
            font-size: 23px;
            line-height: calc(31/23);
            margin: 0;
        }

        .btn {
            height: auto;
            margin-top: auto;
            padding: 2px 12px;
            color: $neutralBase;
            border: 1px solid $neutralBase;
            font-family: $font-sans;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            transition: all .2s linear;

            &:after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            &:hover {
                color: $neutral000;
                background-color: $neutralBase;
            }
        }
    }

    @include bp(sm) {
        padding-top: 30px;
        padding-bottom: 60px;
        gap: 30px;

        &__header {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px;

            // .title {
            //     max-width: 247px;
            // }

            .more {
                font-size: 18px;
                font-weight: 700;
                line-height: calc(31 / 18);
            }
        }

        &__card {
            .inner {
                align-items: flex-start;
                padding: 20px;
            }
        }

        &__cards--col3 {
            grid-template-columns: repeat(3, 1fr);
            .eq-xm-ideas__card img {
                aspect-ratio: 2.03;
            }
        }

        &__cards--col4 {
            grid-template-columns: repeat(4, 1fr);
            .eq-xm-ideas__card img {
                aspect-ratio: 1.53;
            }
        }
    }
}
